<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>






    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
        <h:form id="masivo-form">
            <div class="card">
                <div class="card-body">
                    <p:commandLink id="downloadLink"  ajax="false">
                        <i class="fas fa-file-csv fa-3x" style="color: green;"></i>
                        <p:fileDownload value="#{productoCargaMasiva.loadProductoCarga}" />
                    </p:commandLink>&nbsp;
                    <h:outputLabel value="Formato para la carga masiva de productos"></h:outputLabel>
                </div>
            </div>

        </h:form>
    </div>
    <br/>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group" >


            <h:form enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <p:growl id="msgs" showDetail="true"/>
                        <label><b>Doc de carga masiva(*):</b></label>
                        <br/>
                        <p:fileUpload  mode="simple"
                                       allowTypes="/(\.|\/)(csv)$/"
                                       sizeLimit="3000000"
                                       value="#{productoCargaMasiva.file}"
                                       label="Seleccionar" 
                                       cancelLabel="Quitar" 
                                       uploadLabel="Subir" 
                                       invalidFileMessage="Formato de archivo incorrecto, formato correcto: csv"
                                       />

                        <p:commandButton value="ENVIAR" 
                                         ajax="false"
                                         update="msgs form-data:descarga:btn-descargar"
                                         icon="fas fa-file-upload"
                                         action="#{productoCargaMasiva.upload()}" 
                                         styleClass="btn btn-primary"/>
                    </div>
                </div>

            </h:form>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
        <h:form id="descarga">

            <div class="card">
                <div class="card-body">
                    <p:commandButton value="DESCARGAR"
                                     id="btn-descargar"
                                     disabled="#{productoCargaMasiva.downloadBtn eq false}"
                                     ajax="false" 
                                     styleClass="btn btn-primary"
                                     onclick="PrimeFaces.monitorDownload(start, stop);" 
                                     icon="fas fa-download">
                        <p:fileDownload value="#{productoCargaMasiva.download()}" />
                    </p:commandButton>
                </div>
            </div>

        </h:form>
    </div>
</ui:composition>
