<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{devolucionList.devolucionAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="talonario-form:form-data:data-list-talonario 
                                 talonario-form:paginator:paginator-panel"
                                 listener="#{devolucionList.getDevoluciones()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{devolucionList.devolucionAdapterList.data}"
                 var="data"
                 id="data-list-talonario"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.codigoEstado eq 'CONFIRMADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.estado}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               onclick="$('#modalDevolucionDetalle').modal('show')"
                               action="#{devolucionList.filterOperacionInvetarioDetalle(data.id)}"
                               update="talonario-form:form-data:modalDevolucionDetalle:data-list-operacion-detalle talonario-form:form-data:modalDevolucionDetalle:paginator-operacion-detalle:paginator-panel"
                               title="Ver Detalles"
                               >
                    <i class="fas fa-file-alt"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>
    <sepsa:loading></sepsa:loading>

    <sepsa:modal-panel id="modalDevolucionDetalle" title="Detalles de Devolución" sizePanel="modal-xxl">
        <f:facet name="content">

            <p:dataTable value="#{devolucionList.devolucionDetalleAdapter.data}"
                         var="ddData"
                         id="data-list-operacion-detalle"
                         rowIndexVar="index"
                         paginator="false"
                         emptyMessage="Lista vacia">

                <p:column headerText="Depósito">
                    <h:outputText value="#{ddData.depositoLogistico}"/>
                </p:column>

                <p:column headerText="Producto">
                    <h:outputText value="#{ddData.producto}"/>
                </p:column>

                <p:column headerText="Código Interno">
                    <h:outputText value="#{ddData.codigoInterno}"/>
                </p:column>

                <p:column headerText="Código GTIN">
                    <h:outputText value="#{ddData.codigoGtin}"/>
                </p:column>

                <p:column headerText="Cantidad Facturada">
                    <h:outputText value="#{ddData.cantidadFacturada}"/>
                </p:column>

                <p:column headerText="Cantidad Devolución">
                    <h:outputText value="#{ddData.cantidadDevolucion}"/>
                </p:column>

                <p:column headerText="Fecha Vto">
                    <h:outputText value="#{ddData.fechaVencimiento}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Estado">
                    <div align="center">
                        <h:panelGroup rendered="#{ddData.codigoEstadoInventario eq 'CUARENTENA'}">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert" align="center">
                                    <h:outputText value="#{ddData.estadoInventario}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>
                </p:column>

                <p:column headerText="Motivo de Devolución">
                    <h:outputText value="#{ddData.motivo}"/>
                </p:column>

            </p:dataTable>
            <br/>

            <sepsa:paginator adapter="#{devolucionList.devolucionDetalleAdapter}"
                             searchData="#{devolucionList.devolucionDetalle}"
                             id="paginator-operacion-detalle"
                             updatePage="talonario-form:form-data:modalDevolucionDetalle:data-list-operacion-detalle 
                             talonario-form:form-data:modalDevolucionDetalle:paginator-operacion-detalle:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>

        </f:facet>
    </sepsa:modal-panel>
</ui:composition>