<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Estado</b></label>
                        <p:selectOneMenu id="estado" 
                                         class="form-control" 
                                         value="#{devolucionList.devolucionFilter.idEstado}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{devolucionList.estadoAdapterList.data}" var="estado"
                                           itemLabel="#{estado.descripcion}" itemValue="#{estado.id}"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Fecha Inserción Desde</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionDesde" 
                                    value="#{devolucionList.devolucionFilter.fechaInsercionDesde}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Fecha Inserción Hasta</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionHasta" 
                                    value="#{devolucionList.devolucionFilter.fechaInsercionHasta}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>

                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{devolucionList.getDevoluciones()}"
                           update="talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{devolucionList.clear()}"
                           update="talonario-form:form-data:filter:filter-data
                           talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>