<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class=" form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>N° de Documento Asociado</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{operacionList.operacionFilter.nroDocumentoAsociado}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo De Operación</b></label>
                            <p:autoComplete id="tipoOperacion"
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{operacionList.completeQueryTipoOperacion}"
                                            value="#{operacionList.tipoOperacionFilter}"
                                            maxResults="10"
                                            forceSelection="true"
                                            var="ObjVariable"
                                            itemLabel="#{ObjVariable.descripcion}"
                                            itemValue="#{ObjVariable}"
                                            converter="tipoOperacionPojoConverter"
                                            size="25"
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectTipoOperacionFilter}"/>
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Motivo De Operación</b></label>
                            <p:autoComplete id="motivoOperacion"
                                            cache="true"
                                            cacheTimeout="30000" 
                                            completeMethod="#{operacionList.completeQueryMotivoOperacion}"
                                            value="#{operacionList.motivoOperacionFilter}"
                                            maxResults="10"
                                            forceSelection="true"
                                            var="ObjVariable"
                                            itemLabel="#{ObjVariable.descripcion}"
                                            itemValue="#{ObjVariable}"
                                            converter="motivoOperacionPojoConverter"
                                            size="25"
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectMotivooperacionFilter}"/>
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Fecha Inserción Desde</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionDesde" 
                                    value="#{operacionList.operacionFilter.fechaInsercionDesde}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Fecha Inserción Hasta</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionHasta" 
                                    value="#{operacionList.operacionFilter.fechaInsercionHasta}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Cliente</b></label>&nbsp;
                        <p:autoComplete id="cliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{operacionList.completeQuery}"
                                        value="#{operacionList.cliente}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cli" 
                                        itemLabel="#{cli.razonSocial}" 
                                        itemValue="#{cli}" 
                                        converter="clientePojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectCliente}"/>
                        </p:autoComplete>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Proveedor</b></label>
                        <p:autoComplete id="proveedor" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{operacionList.completeQueryProveedor}"
                                        value="#{operacionList.proveedor}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="pro" 
                                        itemLabel="#{pro.razonSocial}" 
                                        itemValue="#{pro}" 
                                        converter="clientePojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectProveedor}"/>
                        </p:autoComplete>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Local Origen</b></label><br/>
                        <p:autoComplete id="local1" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{operacionList.completeQueryLocalOrigen}"
                                        value="#{operacionList.localOrigenFilter}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="local" 
                                        itemLabel="#{local.descripcion}" 
                                        itemValue="#{local}" 
                                        converter="localPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectLocalOrigen}"/>
                        </p:autoComplete>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Local Destino</b></label><br/>
                        <p:autoComplete id="local2" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{operacionList.completeQueryLocalDestino}"
                                        value="#{operacionList.localDestinoFilter}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="local" 
                                        itemLabel="#{local.descripcion}" 
                                        itemValue="#{local}" 
                                        converter="localPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{operacionList.onItemSelectLocalDestino}"/>
                        </p:autoComplete>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{operacionList.getOperaciones()}"
                           update="talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{operacionList.clear()}"
                           update="talonario-form:form-data:filter:filter-data
                           talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>