<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{operacionList.operacionAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="talonario-form:form-data:data-list-talonario 
                                 talonario-form:paginator:paginator-panel"
                                 listener="#{operacionList.getOperaciones()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{operacionList.operacionAdapterList.data}"
                 var="data"
                 id="data-list-talonario"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="Nª de Documento Asociado">
            <h:outputText value="#{data.nroDocumentoAsociado  eq null ? '--': data.nroDocumentoAsociado}"/>
        </p:column>
        <p:column headerText="Tipo de Operación">
            <div align="center">
                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'ENTRADA'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'SALIDA'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'AJUSTE_CONTROL_INVENTARIO'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'AJUSTE_INVENTARIO'}">
                    <div class="form-group col">
                        <div class="alert alert-primary" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'AJUSTE_ORDEN_COMPRA'}">
                    <div class="form-group col">
                        <div class="alert alert-secondary" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                                <h:panelGroup rendered="#{data.codigoTipoOperacion eq 'MOVIMIENTO_INTERNO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center">
                            <h:outputText value="#{data.tipoOperacion}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Motivo de Operación">
            <h:outputText value="#{data.motivo}"/>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Local Origen">
            <h:outputText value="#{data.localOrigen eq null ? '--': data.localOrigen}"/>
        </p:column>
        <p:column headerText="Local Destino">
            <h:outputText value="#{data.localDestino eq null ? '--': data.localDestino}"/>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.estado eq 'Confirmado'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.estado}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="#{data.estado}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <!--p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{operacionList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column-->

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               onclick="$('#modalOperacionDetalle').modal('show')"
                               action="#{operacionList.filterOperacionInvetarioDetalle(data.id)}"
                               update="talonario-form:form-data:modalOperacionDetalle:data-list-operacion-detalle talonario-form:form-data:modalOperacionDetalle:paginator-operacion-detalle:paginator-panel"
                               title="Ver Detalles"
                               >
                    <i class="fas fa-file-alt"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>
    <sepsa:loading></sepsa:loading>

    <sepsa:modal-panel id="modalOperacionDetalle" title="Detalles de Operación" sizePanel="modal-xxl">
        <f:facet name="content">

            <p:dataTable value="#{operacionList.operacionDetalleAdapter.data}"
                         var="opData"
                         id="data-list-operacion-detalle"
                         rowIndexVar="index"
                         paginator="false"
                         emptyMessage="Lista vacia">

                <p:column headerText="Descripción de producto">
                    <h:outputText value="#{opData.producto}"/>
                </p:column>

                <p:column headerText="Código Interno">
                    <h:outputText value="#{opData.codigoInterno}"/>
                </p:column>

                <p:column headerText="Estado">
                    <div align="center">
                        <h:panelGroup rendered="#{opData.estadoInventarioDestino eq 'Disponible'}">
                            <div class="form-group col">
                                <div class="alert alert-success" role="alert" align="center">
                                    <h:outputText value="#{opData.estadoInventarioDestino}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{opData.estadoInventarioDestino eq 'Cuarentena'}">
                            <div class="form-group col">
                                <div class="alert alert-warning" role="alert" align="center">
                                    <h:outputText value="#{opData.estadoInventarioDestino}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{opData.estadoInventarioDestino eq 'Bloqueado'}">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert" align="center">
                                    <h:outputText value="#{opData.estadoInventarioDestino}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>
                </p:column>
                <p:column headerText="Cantidad">
                    <h:outputText value="#{opData.cantidad}"/>
                </p:column>
            </p:dataTable>
            <br/>

            <sepsa:paginator adapter="#{operacionList.operacionDetalleAdapter}"
                             searchData="#{operacionList.operacionDetalle}"
                             id="paginator-operacion-detalle"
                             updatePage="talonario-form:form-data:modalOperacionDetalle:data-list-operacion-detalle 
                             talonario-form:form-data:modalOperacionDetalle:paginator-operacion-detalle:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>

        </f:facet>
    </sepsa:modal-panel>
</ui:composition>