<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:erpy="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
        
    <div class="form-row">

        <div class="form-group col-6">
            <label>Dato 1</label>
            <p:inputText id="data1"
                         styleClass="form-control" 
                         placeholder="Dato 1" 
                         value="#{testEdit.test.data1}"
                         required="true"
                         requiredMessage="Se requiere dato 1"/>

            <small class="form-text text-muted">
                (*) Dato 1 mandatorio
            </small>
        </div>
        
        <div class="form-group col-6">
            <label>Dato 2</label>
            <p:inputText id="data2"
                         styleClass="form-control" 
                         placeholder="Dato 2" 
                         value="#{testEdit.test.data2}"
                         required="true"
                         requiredMessage="Se requiere dato 2"/>
        </div>

    </div>

</ui:composition>