<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >

    <p:dataTable value="#{testList.adapter.data}"
                 var="data" 
                 paginator="false"
                 id="data-list"
                 tableStyle="table-layout: auto;"
                 tableStyleClass="table"
                 paginatorAlwaysVisible="false"
                 emptyMessage="No existen datos"
                 reflow="true"
                 rowIndexVar="index">
        
        <p:column headerText="#">
            <h:outputText value="#{index + 1}"/>
        </p:column>

        <p:column headerText="Dato 1">
            <h:outputText value="#{data.data1}"/>
        </p:column>

        <p:column headerText="Dato 2">
            <h:outputText value="#{data.data2}"/>
        </p:column>

        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{testList.getEditUrl(data.id)}">
                    <i class="fas fa-edit"></i> Editar
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>
    
</ui:composition>