<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        
        <f:facet name="filterBody" id="fiter-body">
            
            <h:panelGroup id="filter-data">
                
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Dato 1</label>
                            <p:inputText styleClass="form-control" 
                                         placeholder="Código" 
                                         value="#{testList.searchData.data1}"/>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Dato 2</label>
                            <p:inputText styleClass="form-control" 
                                         placeholder="Descripción" 
                                         value="#{testList.searchData.data2}"/>
                        </div>
                    </div>

                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{testList.search()}"
                           update="
                           :list-form:data-list 
                           :list-form:paginator:paginator-panel
                           ">
                
                <i class="fas fa-search"></i>
                BUSCAR
                
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{testList.clear()}"
                           update="
                           :list-form:data-list 
                           :list-form:paginator:paginator-panel">
                
                <i class="fas fa-broom"></i>
                LIMPIAR
                
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>
    
</ui:composition>