<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Cliente</b></label><br/>
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{descuentoCreate.completeQuery}"
                                    value="#{descuentoCreate.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cliDesc" 
                                    itemLabel="#{cliDesc.razonSocial}" 
                                    itemValue="#{cliDesc}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{descuentoCreate.onItemSelectClienteFilter}"/>
                    </p:autoComplete>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Fecha Desde</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaDesde" 
                                    value="#{descuentoCreate.descuento.fechaDesde}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Fecha Hasta</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaHasta" 
                                    value="#{descuentoCreate.descuento.fechaHasta}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Valor Del Descuento(*)</b></label>
                    <p:inputText id="valor"
                                 styleClass="form-control"
                                 placeholder="Valor"
                                 value="#{descuentoCreate.descuento.valorDescuento}"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Tipo De Descuento(*)</b></label>
                        <p:selectOneMenu id="tipoDescuento" class="form-control" value="#{descuentoCreate.descuento.idTipoDescuento}">
                            <f:selectItems value="#{descuentoCreate.tipoDescuentoAdapter.data}" var="dato"
                                           itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Estado(*)</b></label>
                        <p:selectOneMenu id="estado" class="form-control" value="#{descuentoCreate.descuento.idEstado}">
                            <f:selectItems value="#{descuentoCreate.estadoAdapter.data}" var="datos2"
                                           itemLabel="#{datos2.descripcion}" itemValue="#{datos2.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Servicio</b></label>
                        <p:selectOneMenu id="servicio" class="form-control" value="#{descuentoCreate.descuento.idServicio}">
                            <f:selectItems value="#{descuentoCreate.servicioAdapter.data}" var="dato"
                                           itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Excedente(*)</b></label>
                    <p:selectOneMenu id="excedente"
                                     value="#{descuentoCreate.descuento.excedente}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Porcentual(*)</b></label>
                    <p:selectOneMenu id="porcentual"
                                     value="#{descuentoCreate.descuento.porcentual}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
