
/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /*background: #fafafa;*/
}

.ui-menu{
    background: #ffffff;
}

.ui-menuitem-icon
{
    margin-right: 5px !important;
}

.wrapper {
    padding: 40px !important;
}

.ui-widget-overlay{
    background: rgba(0, 0, 0, 0.4) !important;
}

.header-pretitle {
    text-transform: uppercase !important;
    letter-spacing: .08em !important;
    color: #163240 !important;
}

.header-title {
    margin-bottom: 0 !important;
    color: #FFB100!important;
}

.header {
    padding-bottom: 1.0rem !important;
    border-bottom: 1px solid #e3ebf6 !important;
    margin-bottom: 0.5rem !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /*color: #999;*/
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    OVERRIDE
----------------------------------------------------- */

/* Pantallas medias en adelante. */
@media (min-width: 769px) {
    .dialog-centered {
        transform: translate(-50%, -50%) !important;
    }

}

/* Pantallas pequeñas. */
@media (max-width: 768px) {

    .dialog-centered {
        transform: translate(-50%, -50%) !important;
    }
}

.modal-xxl {
    max-width: 80%;
}

.ui-datatable thead th {
    padding: .75rem !important;
    overflow: hidden;
    border-top: 1px solid !important;
    border-color: #dee2e6 !important;
    border-bottom: 2px solid;
}

.ui-datatable tbody td {
    padding: .75rem !important;
    /*padding: .99rem !important;*/
    overflow: hidden;
    border-color: #dee2e6 !important;
    border-top: 1px solid !important;
}

.ui-selectonemenu {
    width: 100% !important;
}

.ui-inputfield.ui-state-error {
    border-color: #dc3545;
}

.ui-message-error {
    background-color: #f8d7da !important;
    position: relative !important;
    padding: .75rem 1.25rem !important;
    margin-bottom: 1rem !important;
    border: 1px solid transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-radius: .25rem !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ui-message-error-detail {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    margin-left: 0px !important;
}

.ui-selectonemenu-filter-container {
    width: 98% !important; 
}
.ui-selectonemenu-filter-container > input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.number-type-column {
    float: right;
}
/* ---------------------------------------------------
    LOGIN
----------------------------------------------------- */
.login {
    margin: 20px auto;
    width: 500px;
}
.login-screen {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}
.app-title {
    text-align: center;
    /*color:#0396A6;*/
    color: #161616;
}
/* ---------------------------------------------------
    CHECK
----------------------------------------------------- */

.ui-datepicker {
    background-color: white !important;
    border: 1px solid #c8c8c8;
    padding: 0.857em !important;
    border-radius: 3px;
    text-align: center !important;
}

.ui-datepicker-prev::after {
    content: "\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #a6a6a6;
}

.ui-datepicker-next::before {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #a6a6a6;
}

.ui-chkbox {
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    padding: 2px !important;
}

.ui-chkbox-box {
    display: block !important;
}

.ui-chkbox::hover {
    border-color: #212121;
}

.ui-chkbox::focus {
    border-color: #007ad9;
}

.ui-icon {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-size: 12px;
    text-indent: 0 !important;
    background: none repeat scroll 0 0 transparent !important;
}

.ui-icon-triangle-1-s::before  {
    content: "\f107";
}

.ui-spinner .ui-spinner-button.ui-button.ui-spinner-up .ui-icon:before{
    content: "\f106";
}

.ui-icon-triangle-1-e::before {
    content: "\f054";
}

.ui-icon-check::before {
    content: "\f00c";
}


.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil 
{
    background: none !important;
    text-indent: initial;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:before {
    content: "\f040";
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:hover {
    font-weight: bold;
}
.ui-datatable .ui-row-editor .ui-icon-close::before {
    content: "\f00d";
}

.ui-selectonemenu-panel{
    background-color: white !important;
}

.text-green{
    color:#00a65a !important
}
.text-red{
    color:#dd4b39 !important
}

.ui-growl-item-container{
    background-color: cornsilk !important;

}
.ui-selectcheckboxmenu{
    display: block !important;
}
.ui-selectcheckboxmenu-panel {
    background-color: #f8f8f8 !important;
}

.ui-growl {
    z-index: 10000 !important;
}

.ui-confirm-dialog, .ui-dialog {
    z-index: 2000 !important;
}

.ui-autocomplete-panel {
    z-index: 2000 !important;
}

.modal-open .ui-datepicker
{z-index: 2000!important;
 position: absolute !important;}

.ui-autocomplete-panel .ui-autocomplete-list {
    background-color: white !important;
    z-index: 2001 !important;
}

.verde {
    background-position: center;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/img/green.png") !important;
}
.rojo {
    background-position: center;
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/img/red.png") !important;
}
.azul {
    background-position: center;
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/img/blue.png") !important;
}
.naranja {
    background-position: center;
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/img/orange.png") !important;
}

.bg-light {
    background: #161616!important;
}
.bg-light-footer{
    background-color: #f8f9fa!important;
}


.bg-orange {
    background: #FA8258 !important;
}

.bg-warning{
    background: #f0ad4e!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa !important;
}

/*.btn-info {
    background: #024873 !important;
    border-color: #024873 !important;
}*/

.dropdown-menu {
    background-color: #353535 !important; 

}
.dropdown-item {
    color: #ffffff !important;

}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: #04BFAD !important;
}

.btn-primary {
    background-color: #FFB100 !important;
    border-color: #FFB100 !important;
}

.ui-button {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}



/**
menu prueba
*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.card-columns{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count: 5 !important;
    -webkit-column-gap:1.25rem;
    -moz-column-gap:1.25rem;
    column-gap:1.25rem;
    orphans:1;
    widows:1;}


.calendarClass input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-e:before{
    content: "\f0a9";

}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-s:before{
    content: "\f0ab";
}



.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}

/*.modal.show .modal-dialog {
    max-width: 1000px;
}*/

.form-control-alt {
    display: block;
    width: 100%;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ui-autocomplete .ui-autocomplete-dropdown .ui-icon:before{
    font-size: 15px;
    content: "\f078";

}
.ui-autocomplete .ui-autocomplete-dropdown{
    /*border-left: none !important;*/
    border-radius: .25rem !important;
}

.page-item.active .page-link{
    background-color: #FFB100 !important;
    border-color: #FFB100 !important;
}
iframe {
    width: 1px;
    min-width: 100%;
    border: none;
}

/* ui growl */
.ui-growl {
    z-index: 10000 !important;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 301px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    text-decoration: none;
}
.ui-growl-item-container {
    /*background-color: cornsilk !important;*/
    margin: 0 0 1rem 0;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 
        0px 24px 38px 3px rgba(0, 0, 0, 0.14), 
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    font-size: 0.8rem;
}
.ui-growl-item-container.ui-growl-info {
    background: #B3E5FC;
    border: 1px solid #03A9F4;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    color: #01579B;
    border-width: 0 0 0 6px;
}
.ui-growl-item-container.ui-growl-warn {
    background: #FFECB3;
    border: 1px solid #FFC107;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    color: #7f6003;
    border-width: 0 0 0 6px;
}
.ui-growl-item-container.ui-growl-error {
    background: #FFCDD2;
    border: 1px solid #EF5350;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    color: #B71C1C;
    border-width: 0 0 0 6px;
}
.ui-growl-item-container.ui-growl-fatal {
    background: #FFCDD2;
    border: 1px solid #EF5350;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    color: #B71C1C;
    border-width: 0 0 0 6px;
}
.ui-growl-image {
    font-family: 'fontawesome' !important;
    background: none! important;
    font-size: 2rem;
}
.ui-growl-info .ui-growl-image::before {
    content: "\f05a" !important;
}
.ui-growl-warn .ui-growl-image::before {
    content: "\f071" !important;
}
.ui-growl-error .ui-growl-image::before {
    content: "\f057" !important;
}
.ui-growl-fatal .ui-growl-image::before {
    content: "\f057" !important;
}
.ui-icon-closethick {
    font-family: 'fontawesome' !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background: none;
    position: absolute;
    top: .5rem !important;
    right: .5rem !important;
}
.ui-icon-closethick::before {
    content: "\f00d" !important;
}

.ui-datatable .ui-datatable-header, 
.ui-datatable .ui-datatable-footer {
    text-align: left !important;
}

/*AUTOCOMPLETE*/
.ui-autocomplete {
    display: block !important;
}

.ui-autocomplete-input {
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.ui-autocomplete-multiple-container {
    width: auto !important;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    background-color: white !important;
}

body .ui-accordion .ui-accordion-header {
    border: 1px solid #dee2e6;
    border-top: 0 none;
    background: #f8f9fa;
    color: #495057;
    padding: 1rem;
    font-weight: 700;
    margin-top: 0;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    position: relative;
    outline: 0 none;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    min-height: 0;
    padding: .5em .5em .5em 2.2em;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    border-color: #dee2e6;
    background: #f8f9fa;
    color: #495057;
}

/*body .ui-accordion .ui-accordion-header > 
.ui-icon.ui-icon-triangle-1-e {
    font-family: 'primeicons' !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background: none;
}*/

body .ui-accordion .ui-accordion-header > .ui-icon {
    position: static;
    display: inline-block;
    margin: 0 0.5rem 0 0;
}
.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

body .ui-icon {
    font-size: 1rem;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    position: static;
    text-indent: 0;
    overflow: visible;
    background-repeat: no-repeat;
}

.ui-radiobutton {
    border: 1px solid !important;
    border-radius: 15px !important;
    width: auto !important;
}

.ui-radiobutton-box.ui-state-active {
    background-color: #06c;
}

.vd-hidden-column {
    display: none;
    width: 0;
    height: 0;
}

.ui-paginator > a.ui-paginator-prev > .ui-icon.ui-icon-seek-prev {
    font-family: FontAwesome;
    content: "\f048";
    visibility:hidden;

}

.ui-paginator > a.ui-paginator-prev > .ui-icon.ui-icon-seek-prev::before {
    font-family: FontAwesome;
    content: "\f048";
    visibility:visible

}

.ui-paginator > a.ui-paginator-first > .ui-icon.ui-icon-seek-first {
    font-family: FontAwesome;
    content: "\f049"; 
    visibility:hidden;
}

.ui-paginator > a.ui-paginator-first > .ui-icon.ui-icon-seek-first::before {
    font-family: FontAwesome;
    content: "\f049"; 
    visibility:visible;
}

.ui-paginator > a.ui-paginator-next > .ui-icon.ui-icon-seek-next{
    font-family: FontAwesome;
    content: "\f051"; 
    visibility:hidden;
}

.ui-paginator > a.ui-paginator-next > .ui-icon.ui-icon-seek-next::before {
    font-family: FontAwesome;
    content: "\f051"; 
    visibility:visible;
}

.ui-icon.ui-icon-seek-end {
    font-family: FontAwesome;
    content: "\f050";
    visibility:hidden;
}

.ui-icon.ui-icon-seek-end::before {
    font-family: FontAwesome;
    content: "\f050"; 
    visibility:visible;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
}

.ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    display: none;
    background: white;
}

.ui-datepicker {
    z-index: 3500 !important;
}

.ui-dialog-top { top: 100px !important; }

.input-popup {
    z-index: 100000 !important;
}

.card-title {
    margin-bottom: 0px;
}