<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="DIRECCIÓN" preTitle="Página para editar Dirección"/>
            </ui:define>

            <ui:define name="content-body">

                <h:form id="list-local-direccion-form">


                    <sepsa:form-panel id="form-data" btnAtras="true">
                        <f:facet name="controls">
                            <ui:include src="component/local-direccion-data-list.xhtml"/>

                            <h:outputScript library="js" name="maps.js"/>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5Q-g1Ul53A3pgd072z7CXglO1vBGkh44&amp;libraries=places&amp;callback=initAutocomplete"/>
                        </f:facet>

                    </sepsa:form-panel>
                    <sepsa:loading></sepsa:loading>

                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
