<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:sepsa="http://java.sun.com/jsf/composite/components"
               xmlns:p="http://primefaces.org/ui"
               xmlns:h="http://xmlns.jcp.org/jsf/html">

    <composite:interface>
        <composite:attribute name="config" required="true"
                             type="py.com.sepsa.erp.web.v1.components.ConfigType" />
        <composite:attribute name="update_elem" type="java.lang.String" default=""/>
        <composite:attribute name="modal_id" type="java.lang.String" required="true"/>
    </composite:interface>

    <composite:implementation>

        <p:dataTable value="#{cc.attrs.config.localListAdapter.data}"
                     var="data"
                     id="data-list-local"
                     paginator="false"
                     rowKey="#{data.id}"
                     selection="#{cc.attrs.config.localesSeleccionados}"
                     >
            <p:column selectionMode="multiple" headerText="Seleccionar"/>

            <p:column headerText="GLN">
                <h:outputText value="#{data.gln}"/>
            </p:column>

            <p:column headerText="Descripcion">
                <h:outputText value="#{data.descripcion}"/>
            </p:column>

        </p:dataTable>

        <p:commandLink styleClass="btn btn-secondary" value="Guardar"
                       update="#{cc.attrs.update_elem}"
                       onclick="$('##{cc.attrs.modal_id}').modal('hide')"
                       action="#{cc.attrs.config.procesar()}"/>
    </composite:implementation>

</ui:component>