<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:sepsa="http://java.sun.com/jsf/composite/components"
               xmlns:p="http://primefaces.org/ui"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:config="http://xmlns.jcp.org/jsf/composite/components/config"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:jsf="http://xmlns.jcp.org/jsf">

    <composite:interface>
        <composite:attribute name="config" required="true"
                             type="py.com.sepsa.erp.web.v1.components.ConfigType" />
        <composite:attribute name="update_elem" type="java.lang.String" default=""/>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup rendered="#{cc.attrs.config.idTipoDato eq 2}">
            <p:dataTable value="#{cc.attrs.config.localListAdapter.data}"
                         var="data"
                         id="data-list-local"
                         paginator="false"
                         rowKey="#{data.id}"
                         selection="#{cc.attrs.config.localesSeleccionados}"
                         >
                <p:column selectionMode="multiple" headerText="Seleccionar"/>

                <p:column headerText="GLN">
                    <h:outputText value="#{data.gln}"/>
                </p:column>

                <p:column headerText="Descripcion">
                    <h:outputText value="#{data.descripcion}"/>
                </p:column>

            </p:dataTable>
            
            <br/>
            <p:commandLink styleClass="btn btn-primary" title="Guardar"
                           update="#{cc.attrs.update_elem}"
                           onclick="$('#modalConfig_#{cc.attrs.config.idAtributo}').modal('hide')"
                           action="#{cc.attrs.config.procesar()}">
                <i class="fas fa-file-medical"></i>
                GUARDAR
            </p:commandLink>
        </h:panelGroup>

    </composite:implementation>

</ui:component>