<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{solicitudNotaCreditoList.adapter.pageSize}" 
                                     styleClass="form-control"
                                     id="fil1">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax update="list-form:form-data:data-list
                                list-form:paginator:paginator-panel"
                                listener="#{solicitudNotaCreditoList.buscar()}"/>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <p:dataTable value="#{solicitudNotaCreditoList.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="Lista Vacia"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="Cliente">
            <h:outputText value="#{data.cliente.razonSocial}">
            </h:outputText>
        </p:column>
        <p:column headerText="RUC">
            <h:outputText value="#{data.ruc}">
            </h:outputText>
        </p:column>
        <p:column headerText="N° de Documento">
            <h:outputText value="#{data.nroDocumento}">
            </h:outputText>
        </p:column>
        <p:column headerText="Moneda">
            <h:outputText value="#{data.moneda.descripcion}">
            </h:outputText>
        </p:column>
        <p:column headerText="Fecha Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Anulado">
            <div align="center">
                <h:panelGroup rendered="#{data.anulado eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.anulado eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Tipo">
            <div align="center">
                <h:panelGroup rendered="#{data.recibido eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-primary" role="alert">
                            <h:outputText value="Recibido"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.recibido eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-primary" role="alert">
                            <h:outputText value="Generado"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               action="#{solicitudNotaCreditoList.detalleSolicitudNotaCreditoURL(data.id)}"
                               title="Ver"
                               >
                    <i class="fas fa-search"></i>
                </p:commandLink>

                <p:commandLink styleClass="btn btn-warning"
                               title="Crear NC"
                               action="#{solicitudNotaCreditoList.ncURL(data.id)}">
                    <i class="fas fa-money-check"></i>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

</ui:composition>
