<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:attribute name="title" type="java.lang.String" required="true"/>
        <composite:attribute name="type" type="java.lang.String" required="true"/>
        <composite:attribute name="paramValue" type="java.lang.String" required="true"/>
        <composite:attribute name="visible" type="java.lang.String" required="true"/>
    </composite:interface>

    <composite:implementation>
        
        <h:panelGroup rendered="#{cc.attrs.type eq 'STRING' and cc.attrs.visible eq 'S' ? true : false}">
            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <label><b>#{cc.attrs.title}</b></label>
                <h:inputText styleClass="form-control"
                             value="#{cc.attrs.paramValue}"/>
            </div>
        </h:panelGroup>
        
         <h:panelGroup rendered="#{cc.attrs.type eq 'BOOLEAN' and cc.attrs.visible eq 'S' ? true : false}">
             <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <label><b>#{cc.attrs.title}</b></label>
                       <p:selectOneMenu id="tipoDescuento" class="form-control" value="#{cc.attrs.paramValue}">  
                           <f:selectItem itemLabel="Si" itemValue="true"/>
                           <f:selectItem itemLabel="No" itemValue="false"/> 
                       </p:selectOneMenu>
             </div>
         </h:panelGroup>
        
          
        <h:panelGroup rendered="#{cc.attrs.type eq 'NUMERIC' and cc.attrs.visible eq 'S' ? true : false}">
            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <label><b>#{cc.attrs.title}</b></label>
                <h:inputText styleClass="form-control"
                             value="#{cc.attrs.paramValue}">
                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                </h:inputText>
            </div>
        </h:panelGroup>
    </composite:implementation>

</ui:component>