<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:attribute name="title" 
                             type="java.lang.String" 
                             required="true"/>

        <composite:attribute name="preTitle" 
                             type="java.lang.String" 
                             required="true"/>
    </composite:interface>

    <composite:implementation>

        <div class="header">
            <h6 class="header-pretitle">#{cc.attrs.preTitle}</h6>
            <h3 class="header-title">#{cc.attrs.title}</h3>
        </div>

        <h:panelGroup rendered="#{not empty sessionData.jwt}">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <!--a class="navbar-brand" href="#">NOMBRE SITIO</a-->
                <ui:insert name="menu"/>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">

                    <i class="fas fa-align-justify"></i>

                </button>

                <div class="collapse navbar-collapse" 
                     id="navbarSupportedContent">

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <p:commandLink id="nombre"
                                           disabled="true"
                                           styleClass="nav-link">
                                <i class="far fa-building"></i>
                                #{sessionData.nombreEmpresa}  
                            </p:commandLink>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" 
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown" 
                               aria-haspopup="true" 
                               aria-expanded="false">
                                <i class="fas fa-user"></i>
                                #{sessionData.user.user}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#{request.contextPath}/empresa.xhtml" title="Cambiar Empresa"><i class="far fa-building"></i> Cambiar Empresa</a>
                                <a class="dropdown-item" href="#{request.contextPath}/app/system/change-pass.xhtml" title="Cambiar Contraseña"><i class="fas fa-key"></i> Cambiar Contraseña</a>

                                <p:commandLink 
                                    styleClass="nav-link" 
                                    action="#{logout.logout()}"
                                    process="@this"
                                    title="Salir del sistema">&nbsp;&nbsp;&nbsp;
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </p:commandLink>
                            </div>
                        </li>



                    </ul>
                </div>
            </nav>
        </h:panelGroup>

    </composite:implementation>

</ui:component>