<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:attribute name="emptyMessage" type="java.lang.String" required="false" default="Lista vacía"/>
        <composite:attribute name="lazy" type="java.lang.Boolean" required="false" default="true"/>
        <composite:attribute name="paginatorAlwaysVisible" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="paginatorPosition" type="java.lang.String" required="false" default="bottom"/>
        <composite:attribute name="paginatorTemplate" type="java.lang.String" required="false" default="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport} {RowsPerPageDropdown} {Exporters}"/>
        <composite:attribute name="paginator" type="java.lang.Boolean" required="false" default="true"/>
        <composite:attribute name="reflow" type="java.lang.Boolean" required="false" default="true"/>
        <composite:attribute name="table_id" type="java.lang.String" required="true"/>
        <composite:attribute name="value" type="java.lang.Object" required="true"/>
        <composite:attribute name="rows" type="java.lang.String" required="false" default="10"/>
        <composite:attribute name="rowsPerPageTemplate" type="java.lang.String" required="false" default="10,20,50,100,1000"/>
        <composite:attribute name="export" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="export_csv" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="export_csv_name" type="java.lang.String" required="false" default="listado"/>
        <composite:attribute name="export_xls" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="export_xls_name" type="java.lang.String" required="false" default="listado"/>
        <composite:attribute name="export_xlsx" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="export_xlsx_name" type="java.lang.String" required="false" default="listado"/>
        <composite:attribute name="export_pdf" type="java.lang.Boolean" required="false" default="false"/>
        <composite:attribute name="export_pdf_name" type="java.lang.String" required="false" default="listado"/>

        <composite:facet name="filter"/>
    </composite:interface>

    <composite:implementation>

        <cc:renderFacet name="filter"/>

        <c:if test="#{cc.attrs.export}">
            <div class="card">
                <div class="card-footer">

                    <c:if test="#{cc.attrs.export_xls}">
                        <p:commandLink value="XLS" ajax="false">
                            <p:dataExporter type="xls" target="#{cc.attrs.table_id}" fileName="#{cc.attrs.export_xls_name}" />
                        </p:commandLink>
                        &nbsp;
                    </c:if>

                    <c:if test="#{cc.attrs.export_xlsx}">
                        <p:commandLink value="XLSX" ajax="false">
                            <p:dataExporter type="xlsxstream" target="#{cc.attrs.table_id}" fileName="#{cc.attrs.export_xlsx_name}" />
                        </p:commandLink>
                        &nbsp;
                    </c:if>

                    <c:if test="#{cc.attrs.export_csv}">
                        <p:commandLink value="CSV" ajax="false">
                            <p:dataExporter type="csv" target="#{cc.attrs.table_id}" fileName="#{cc.attrs.export_csv_name}" />
                        </p:commandLink>
                        &nbsp;
                    </c:if>

                    <c:if test="#{cc.attrs.export_pdf}">
                        <p:commandLink value="PDF" ajax="false">
                            <p:dataExporter type="pdf" target="#{cc.attrs.table_id}" fileName="#{cc.attrs.export_pdf_name}"/>
                        </p:commandLink>
                        &nbsp;
                    </c:if>
                </div>

            </div>
            <br/>
        </c:if>

        <p:dataTable value="#{cc.attrs.value}"
                     emptyMessage="#{cc.attrs.emptyMessage}"
                     lazy="#{cc.attrs.lazy}"
                     paginator="#{cc.attrs.paginator}"
                     paginatorAlwaysVisible="#{cc.attrs.paginatorAlwaysVisible}"
                     paginatorPosition="#{cc.attrs.paginatorPosition}"
                     reflow="#{cc.attrs.reflow}"
                     paginatorTemplate="#{cc.attrs.paginatorTemplate}"
                     var="data"
                     id="#{cc.attrs.table_id}"
                     rows="#{cc.attrs.rows}"
                     rowsPerPageTemplate="#{cc.attrs.rowsPerPageTemplate}"
                     tableStyle="table-layout: auto;"
                     >
            <cc:insertChildren/>
        </p:dataTable>

    </composite:implementation>

</ui:component>