<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:attribute name="img" 
                             type="java.lang.String" 
                             required="true"/>
        <composite:attribute name="error" 
                             type="java.lang.String" 
                             required="true"/>
    </composite:interface>

    <composite:implementation>

        <div align="center">

            <p:graphicImage library="images" 
                            name="#{cc.attrs.img}"
                            class="img-fluid rounded"/>

            <br/><br/>

            <h1>#{cc.attrs.error}</h1>

        </div>

    </composite:implementation>

</ui:component>