<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:facet name="filterBody"/>
        <composite:facet name="filterBtn"/>
        <composite:facet name="cleanBtn"/>
        <composite:attribute name="btnFilter" type="java.lang.Boolean" default="false"/>
    </composite:interface>

    <composite:implementation>

        <button class="btn btn-info" 
                type="button" 
                data-toggle="collapse" 
                data-target="#filter-controls" 
                aria-expanded="#{cc.attrs.btnFilter}"
                aria-controls="filter-controls">
            <i class="fas fa-filter"></i>
            Filtros

        </button>

        <br/><br/>

        <div class="#{cc.attrs.btnFilter eq true ? 'collapse show' : 'collapse'}"  id="filter-controls">

            <div class="card">

                <div class="card-body" id="filter-panel">
                    <cc:renderFacet name="filterBody"/>
                </div>

                <div class="card-footer text-right">
                    <cc:renderFacet name="refreshBtn"/>
                    &nbsp;
                    <cc:renderFacet name="filterBtn"/>
                    &nbsp;
                    <cc:renderFacet name="cleanBtn"/>
                </div>

            </div>
            <br/>

        </div>

    </composite:implementation>

</ui:component>