<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"

               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:p="http://primefaces.org/ui">

    <composite:interface>
        <composite:facet name="controls"/>
        <composite:facet name="backBtn"/>
        <composite:facet name="submitBtn"/>
        <composite:facet name="clearBtn"/>
        <composite:facet name="clientMsn"/>
        <composite:facet name="serverMsn"/>
        <composite:attribute name="btnAtras" type="java.lang.Boolean" default="false"/>
        <composite:attribute name="list" type="java.util.List" required="false"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup id="form-panel">

            <cc:renderFacet name="controls"/> 

            <div class="text-right">
               <br/>
               <div style="#{cc.attrs.btnAtras eq false? 'display:none':'display: flex'}" >
                    <a class="btn btn-dark" role="button" href="javascript:history.go(-1)">
                        <i class="fas fa-hand-point-left"></i>
                        ATRÁS
                    </a>
                </div>
                <cc:renderFacet name="submitBtn"/>
                &nbsp;
                <cc:renderFacet name="clearBtn"/> 
                
            </div>

            <br/>

            <div class="text-left">
                <cc:renderFacet name="clientMsn"/>
            </div>

            <div class="text-left">
                <cc:renderFacet name="serverMsn"/>
            </div>

            <br/>

            <ui:repeat value="#{cc.attrs.list}" var="item">
                <div class="alert alert-#{item.tipo eq 'ERROR' ? 'danger' : 'success'}" role="alert">
                    <h:outputText value="#{item.descripcion}"/>
                </div> 
            </ui:repeat>

        </h:panelGroup>

    </composite:implementation>

</ui:component>