<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <!--composite:attribute name="barDescription" type="java.lang.String" default="Procesando datos, por favor espere..." required="false"/-->
    </composite:interface>

    <composite:implementation>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog  
            widgetVar="statusDialog" 
            modal="true" 
            draggable="false" 
            closable="false" 
            resizable="false" 
            showHeader="false"
            showEffect="fade"
            hideEffect="fade"
            responsive="true"
            class="dialog-centered">
            <h:panelGrid columns="2">
                <h:panelGroup>
                    <div class="card">
                        <div class="card-body">
                            <h:outputText value="Procesando datos, por favor espere..."/>&nbsp;
                            <p:graphicImage name="/img/load.gif" width="100px;"/>
                        </div> 
                    </div>
                </h:panelGroup>
            </h:panelGrid>
        </p:dialog>
    </composite:implementation>
</ui:component>

