<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:sepsa="http://java.sun.com/jsf/composite/components"
               >

    <composite:interface>
        <composite:attribute name="messageAdapter" 
                             type="py.com.sepsa.erp.web.v1.adapters.MessageListAdapter" 
                             required="true"/>
    </composite:interface>

    <composite:implementation>
        
        <ui:repeat value="#{cc.attrs.messageAdapter.messageList}" var="msn">
            <sepsa:message msn="#{msn.message}" type="#{msn.type}"/>
        </ui:repeat>
        
    </composite:implementation>

</ui:component>