<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        
        <composite:attribute name="controlName" 
                             type="java.lang.String" 
                             required="true"/>
        
        <composite:attribute name="type" 
                             type="java.lang.String" 
                             required="true"/>
    </composite:interface>

    <composite:implementation>
        
        <p:message for="#{cc.attrs.controlName}" display="text" />
        
    </composite:implementation>

</ui:component>