<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >
    <composite:interface>

        <composite:facet name="content"/>

        <composite:attribute name="id" 
                             type="java.lang.String" 
                             required="true"/>

        <composite:attribute name="title" 
                             type="java.lang.String" 
                             required="true"/>

        <composite:attribute name="sizePanel" 
                             type="java.lang.String" 
                             />


    </composite:interface>           

    <composite:implementation>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-xl" id="#{cc.attrs.id}">
            <div class="modal-dialog #{cc.attrs.sizePanel}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">#{cc.attrs.title}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <cc:renderFacet name="content"/>
                    </div>
                    <div class="modal-footer">
                        <cc:renderFacet name="button"/>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </composite:implementation>

</ui:component>

