<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui">

    <composite:interface>
        <composite:attribute name="page" type="java.lang.Integer" required="true"/>
        <composite:attribute name="label" type="java.lang.String" required="true"/>
        <composite:attribute name="mode" type="java.lang.String" required="true"/>
        
        <composite:attribute name="searchData" type="java.lang.Object" required="true"/>
        <composite:attribute name="adapter" 
                             type="py.com.sepsa.erp.web.v1.adapters.DataListAdapter" 
                             required="true"/>
        <composite:attribute name="updatePage" type="java.lang.String"></composite:attribute>
        
    </composite:interface>

    <composite:implementation>
        <!--update=":list-form:data-list :list-form:paginator:paginator-panel"-->
        <li class="page-item #{cc.attrs.page lt 0 ? cc.attrs.mode : ''}">
            
            <p:commandLink action="#{cc.attrs.adapter.previousPage(cc.attrs.searchData)}"
                           styleClass="page-link"
                           update="#{cc.attrs.updatePage}">
                 #{cc.attrs.label}
             </p:commandLink>
            
        </li>
            
    </composite:implementation>

</ui:component>