<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <composite:interface>
        <composite:attribute name="searchData" type="java.lang.Object" required="true"/>
        <composite:attribute name="adapter" 
                             type="py.com.sepsa.erp.web.v1.adapters.DataListAdapter" 
                             required="true"/>
        <composite:attribute name="updatePage" type="java.lang.String" required="true"></composite:attribute>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup id="paginator-panel" style="#{(cc.attrs.adapter.totalPages)>1 ?'display:inline':'display: none'}">

            <div style="float: right;">
                <nav aria-label="Paginador">
                    <ul class="pagination">

                        <sepsa:pag-item-prev page="#{(cc.attrs.adapter.page - 1)}"
                                             label="Anterior"
                                             mode="disabled"
                                             searchData="#{cc.attrs.searchData}"
                                             adapter="#{cc.attrs.adapter}"
                                             updatePage="#{cc.attrs.updatePage}" />

                        <sepsa:pag-item-set page="#{(cc.attrs.adapter.page - 2)}" 
                                            label="#{(cc.attrs.adapter.page - 1)}"
                                            mode="d-none"
                                            searchData="#{cc.attrs.searchData}"
                                            adapter="#{cc.attrs.adapter}"
                                            updatePage="#{cc.attrs.updatePage}"/>

                        <sepsa:pag-item-set page="#{(cc.attrs.adapter.page - 1)}" 
                                            label="#{cc.attrs.adapter.page}"
                                            mode="d-none"
                                            searchData="#{cc.attrs.searchData}"
                                            adapter="#{cc.attrs.adapter}"
                                            updatePage="#{cc.attrs.updatePage}"/>

                        <li class="page-item active">
                            <a class="page-link" href="#">
                                #{cc.attrs.adapter.page + 1}
                            </a>
                        </li>

                        <sepsa:pag-item-set page="#{(cc.attrs.adapter.page + 1)}"
                                            label="#{(cc.attrs.adapter.page + 2)}"
                                            mode="d-none"
                                            searchData="#{cc.attrs.searchData}"
                                            adapter="#{cc.attrs.adapter}"
                                            updatePage="#{cc.attrs.updatePage}"/>

                        <sepsa:pag-item-set page="#{(cc.attrs.adapter.page + 2)}" 
                                            label="#{(cc.attrs.adapter.page + 3)}"
                                            mode="d-none"
                                            searchData="#{cc.attrs.searchData}"
                                            adapter="#{cc.attrs.adapter}"
                                            updatePage="#{cc.attrs.updatePage}"/>

                        <sepsa:pag-item-next page="#{(cc.attrs.adapter.page + 1)}"
                                             label="Siguiente"
                                             mode="disabled"
                                             searchData="#{cc.attrs.searchData}"
                                             adapter="#{cc.attrs.adapter}"
                                             updatePage="#{cc.attrs.updatePage}"/>

                    </ul>
                </nav>

                <div align="center">
                    Mostrado #{cc.attrs.adapter.page + 1} 
                    de #{cc.attrs.adapter.totalPages} páginas
                </div>
            </div>

        </h:panelGroup>
        
    </composite:implementation>

</ui:component>