<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <h:body>
        <ui:composition template="template.xhtml">

            <ui:define name="content-header">
                <sepsa:content-header title="SEPSA LITE" preTitle="Página principal"/>
            </ui:define>

            <ui:define name="content-body"> 

                Bienvenido!<br/>
                <h:form style="width: 35%; margin: 0 auto;">
                    <!-- Panel de vencimiento de firma digital -->
                    <h:panelGroup id="digital-signature-status"  rendered="#{not (firmaCont.firma eq null)}">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><b>Datos Firma Digital</b></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label><b>Fecha de Vencimiento: </b>#{firmaCont.fechaVencimiento}</label><br/><br/>
                                        <label><b>Días Restantes: </b>#{firmaCont.diasRestantes}</label><br/><br/>
                                        <label><b>Estado:   </b>
                                            <h:outputText value="Vigente" class="alert alert-success"
                                                          rendered="#{firmaCont.color eq 'green'}"
                                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                                            <h:outputText value="Próximo a Vencer" class="alert alert-warning"
                                                          rendered="#{firmaCont.color eq 'orange'}"
                                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                                            <h:outputText value="Vencida" class="alert alert-danger"
                                                          rendered="#{firmaCont.color eq 'red'}"
                                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </h:form>

            </ui:define> 
        </ui:composition>
    </h:body>
</html>