<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../template.xhtml">

        <ui:define name="header">
            <f:metadata>
                <f:event type="preRenderView" listener="#{sessionData.imprimir()}"/>
            </f:metadata>
        </ui:define>

        <ui:define name="authorization">
            <h:outputText value="#{authorization.session.user.id}" 
                          styleClass="d-none"/>
        </ui:define>

        <ui:define name="menu">
            <!-- SEGUN PERFIL AGREGAR MENUS -->
            <!--c:if test="#{sessionData.user.profileList.contains('SUPER_USUARIO')}"-->
            <ui:include src="system/menu/menu1.xhtml"/>
            <!--ui:include src="system/menu/menu2.xhtml"/-->
            <!--/c:if-->
        </ui:define>

    </ui:composition>
</html>