<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="card">
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h:commandLink class="btn btn-default" value="Descargar">
                        <i class="fa fa-file-excel-o" ></i>
                        <p:dataExporter type="xls" target="data-list" fileName="reporte_lista_de_liquidaciones_cadena" />
                    </h:commandLink>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group row">
                        <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                        <div class="col-sm-8">
                            <h:selectOneMenu value="#{liquidacionesCadena.rows}" styleClass="form-control">
                                <f:selectItem itemLabel="10" itemValue="10"/>
                                <f:selectItem itemLabel="20" itemValue="20"/>
                                <f:selectItem itemLabel="50" itemValue="50"/>
                                <f:selectItem itemLabel="100" itemValue="100"/>
                                <f:selectItem itemLabel="1000" itemValue="1000"/>
                                <f:ajax event="change" render="list-form:form-data:data-list
                                        :list-form:paginator:paginator-panel"
                                        listener="#{liquidacionesCadena.loadLiquidaciones()}"/>
                            </h:selectOneMenu>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <p:dataTable value="#{liquidacionesCadena.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="No existen registros"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Id Cliente">
            <h:outputText value="#{data.idCliente}">

            </h:outputText>
        </p:column>

        <p:column headerText="Cliente">
            <h:outputText value="#{data.cliente}">

            </h:outputText>
        </p:column>

        <p:column headerText="Resumen Detalle">
            <h:outputText value="#{data.linea}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Descuento">
            <h:outputText value="#{data.descuento}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Total Liquidación">
            <h:outputText value="#{data.total}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Detalle" exportable="false">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               action="#{liquidacionCadenaDetalle.search(data.idCliente, 
                                         liquidacionesCadena.searchData.mes, liquidacionesCadena.searchData.ano, 
                                         data.cliente)}"
                               oncomplete="$('#modalDetalle').modal('show')"
                               title="Ver Detalle"
                               update=":list-form:form-data:modalDetalle:data-list-cadena-detalle
                               :list-form:form-data:modalDetalle:cabecera-detalle">
                    <i class="fa fa-bars"></i>
                </p:commandLink>
            </div>

        </p:column>
    </p:dataTable>

    <sepsa:modal-panel id="modalDetalle" title="Detalle" sizePanel="modal-xl">
        <f:facet name="content">
            <h:panelGroup id="cabecera-detalle">
                <div class="rows">
                    <b>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <h:outputText value="Cliente: #{liquidacionCadenaDetalle.cliente}">

                            </h:outputText>
                        </div>

                        <br/>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <h:outputText value="Mes: #{liquidacionCadenaDetalle.searchData.mes}">

                            </h:outputText>
                        </div>

                        <br/>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <h:outputText  style="display: inline-table" value="Año: #{liquidacionCadenaDetalle.searchData.ano}">

                            </h:outputText>
                        </div>
                    </b>
                </div>
            </h:panelGroup>
            <hr></hr>
            <p:dataTable value="#{liquidacionCadenaDetalle.adapter.data}"
                         var="data"
                         id="data-list-cadena-detalle"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         emptyMessage="No existen registros!"
                         >

                <p:column headerText="Cliente">
                    <h:outputText value="#{data.cliente}"/>
                </p:column>

                <p:column headerText="Producto">
                    <h:outputText value="#{data.producto}">
                        
                    </h:outputText>
                </p:column>

            </p:dataTable>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>

</ui:composition>
