<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <h:panelGroup id="filter-panel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label>Año</label>
                <h:selectOneMenu value="#{liquidacionesCadena.searchData.ano}" styleClass="form-control">
                    <f:selectItem itemLabel="2017" itemValue="2017"/>
                    <f:selectItem itemLabel="2018" itemValue="2018"/>
                    <f:selectItem itemLabel="2019" itemValue="2019"/>
                    <f:selectItem itemLabel="2020" itemValue="2020"/>
                </h:selectOneMenu>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label>Mes</label>
                <h:selectOneMenu value="#{liquidacionesCadena.searchData.mes}" styleClass="form-control">
                    <f:selectItem itemLabel="Enero" itemValue="01"/>
                    <f:selectItem itemLabel="Febrero" itemValue="02"/>
                    <f:selectItem itemLabel="Marzo" itemValue="03"/>
                    <f:selectItem itemLabel="Abril" itemValue="04"/>
                    <f:selectItem itemLabel="Mayo" itemValue="05"/>
                    <f:selectItem itemLabel="Junio" itemValue="06"/>
                    <f:selectItem itemLabel="Julio" itemValue="07"/>
                    <f:selectItem itemLabel="Agosto" itemValue="08"/>
                    <f:selectItem itemLabel="Septiembre" itemValue="09"/>
                    <f:selectItem itemLabel="Octubre" itemValue="10"/>
                    <f:selectItem itemLabel="Noviembre" itemValue="11"/>
                    <f:selectItem itemLabel="Diciembre" itemValue="12"/>
                </h:selectOneMenu>
            </div>
        </div>
    </h:panelGroup>

    <br/>

    <div class="row" align="right">
        <div class="col-12">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{liquidacionesCadena.search()}"
                           update="list-form:form-data:data-list 
                           list-form:paginator:paginator-panel">
                Generar
            </p:commandLink>

            <p:commandLink styleClass="btn btn-primary"
                           action="#{liquidacionesCadena.clear()}"
                           update="list-form:form-data:data-list filter-panel 
                           list-form:paginator:paginator-panel">
                Reiniciar
            </p:commandLink>
        </div>
    </div>
    
    <br/>

</ui:composition>