<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <h:panelGroup id="panelLista">
        <div class="card">
            <div class="card-footer text-right">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group row">
                            <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                            <div class="col-sm-8">
                                <h:selectOneMenu value="#{listarProductoPrecio.adapterProductoPrecio.pageSize}" styleClass="form-control">
                                    <f:selectItem itemLabel="10" itemValue="10"/>
                                    <f:selectItem itemLabel="20" itemValue="20"/>
                                    <f:selectItem itemLabel="50" itemValue="50"/>
                                    <f:selectItem itemLabel="100" itemValue="100"/>
                                    <f:selectItem itemLabel="1000" itemValue="1000"/>
                                    <f:ajax event="change" 
                                            render="data-list-pro
                                                   list-producto-precio-form:paginator"
                                            listener="#{listarProductoPrecio.filterPrecioProducto()}"
                                            />
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <p:dataTable value="#{listarProductoPrecio.adapterProductoPrecio.data}"
                     var="data"
                     id="data-list-pro"
                     editable="true"
                     reflow="true"
                     paginator="false"
                     tableStyle="table-layout: auto;" 
                     tableStyleClass="table table-bordered table-hover"
                     emptyMessage="No existen datos"
                     >
            <p:ajax event="rowEdit" listener="#{listarProductoPrecio.onRowEditProductoPrecio}" 
                    update="data-list-pro
                    :message-form:message" />
            <p:column headerText="Producto">
                <h:outputText value="#{data.producto.descripcion}"/>
            </p:column>
            <p:column headerText="GTIN">
                <h:outputText value="#{data.producto.codigoGtin}"/>
            </p:column>
            <p:column headerText="Código Interno">
                <h:outputText value="#{data.producto.codigoInterno}"/>
            </p:column>
            <p:column headerText="Marca">
                <h:outputText value="#{data.producto.marca == null ? '--' : data.producto.marca.descripcion}"/>
            </p:column>
            <p:column headerText="Canal Venta">
                <h:outputText value="#{data.canalVenta.descripcion == null ? '--' : data.canalVenta.descripcion}">
                </h:outputText>
            </p:column>
            <p:column headerText="Cliente">
                <h:outputText value="#{data.cliente.razonSocial == null ? '--' : data.cliente.razonSocial}">
                </h:outputText>
            </p:column>
            <p:column headerText="Precio">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{data.precio}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText styleClass="form-control"
                                     value="#{data.precio}"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Moneda">
                <h:outputText value="#{data.moneda.codigo}">
                </h:outputText>
            </p:column>
            <p:column headerText="Fecha Inicio">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{data.fechaInicio}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar
                            value="#{data.fechaInicio}"
                            locale="es" 
                            pattern="dd/MM/yyyy"
                            styleClass="p-cal calendarClass"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Fecha Fin">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{data.fechaFin}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar
                            value="#{data.fechaFin}"
                            locale="es" 
                            pattern="dd/MM/yyyy"
                            styleClass="p-cal calendarClass"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Activo">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:panelGroup rendered="#{data.activo eq 'S'}">
                            <div class="form-group col">
                                <div class="alert alert-success" role="alert">
                                    <h:outputText value="Si"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{data.activo eq 'N'}">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert">
                                    <h:outputText value="No"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </f:facet>
                    <f:facet name="input">
                        <p:selectOneMenu  class="form-control" value="#{data.activo}">
                            <f:selectItem itemLabel="Si" itemValue="S"/>
                            <f:selectItem itemLabel="No" itemValue="N"/>
                        </p:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Editar" style="width:50px" exportable="false">
                <p:rowEditor/>
            </p:column>

        </p:dataTable>
    </h:panelGroup>
</ui:composition>

