<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-body">
            <p:accordionPanel id="panelAdd" multiple="true" widgetVar="multiple" activeIndex="null" >
                <p:tab title="Agregar Producto Precio" >
                    <div class="form-row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Producto(*)</b></label>&nbsp;
                            <p:autoComplete 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{crearProductoPrecio.completeQueryProducto}"
                                value="#{crearProductoPrecio.producto}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcion}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                dropdown="true">
                                <p:ajax event="itemSelect" listener="#{crearProductoPrecio.onItemSelectProducto()}" />
                            </p:autoComplete>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Canal de Venta</b></label>&nbsp;
                            <p:autoComplete  
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{crearProductoPrecio.completeQueryCanalVenta}"
                                value="#{crearProductoPrecio.canalVenta}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="ca" 
                                itemLabel="#{ca.descripcion}" 
                                itemValue="#{ca}" 
                                converter="canalVentaPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                dropdown="true">
                                <p:ajax event="itemSelect" listener="#{crearProductoPrecio.onItemSelectCanal}" />
                            </p:autoComplete>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Cliente</b></label>&nbsp;
                            <p:autoComplete id="cliente" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{crearProductoPrecio.completeQuery}"
                                            value="#{crearProductoPrecio.cliente}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cli" 
                                            itemLabel="#{cli.razonSocial}" 
                                            itemValue="#{cli}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{crearProductoPrecio.onItemSelectCliente}" />
                            </p:autoComplete>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <label><b>Moneda(*)</b></label>
                            <p:selectOneMenu  class="form-control" value="#{crearProductoPrecio.productoPrecio.idMoneda}">
                                <f:selectItems value="#{crearProductoPrecio.adapterMoneda.data}" var="mo"
                                           itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>

                            </p:selectOneMenu>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Precio(*)</b></label>
                            <p:inputText id="codigoInterno"
                                         styleClass="form-control"
                                         value="#{crearProductoPrecio.productoPrecio.precio}"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Fecha Inicio(*)</b></label>
                            <br/>
                            <p:calendar
                                value="#{crearProductoPrecio.productoPrecio.fechaInicio}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Fecha Fin</b></label>
                            <br/>
                            <p:calendar
                                value="#{crearProductoPrecio.productoPrecio.fechaFin}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <br/>
                    <div class="row" align="right">
                        <div class="col-12">
                            <p:commandLink styleClass="btn btn-primary"
                                           style="margin-right: 10px;"
                                           action="#{crearProductoPrecio.create()}"
                                           update=":message-form:message 
                                           :list-producto-precio-form:form-data:panelAdd
                                           :list-producto-precio-form:form-data:panelLista">
                                Crear
                            </p:commandLink>
                        </div>
                    </div>
                </p:tab>
            </p:accordionPanel>
        </div>
    </div>

</ui:composition>


