<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <sepsa:loading></sepsa:loading>   
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Producto</b></label>
                            <p:autoComplete 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{listarProductoPrecio.completeQueryProducto}"
                                value="#{listarProductoPrecio.producto}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcion}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarProductoPrecio.onItemSelectProducto()}" />
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Canal Venta</b></label>
                            <p:autoComplete  
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{listarProductoPrecio.completeQueryCanalVenta}"
                                value="#{listarProductoPrecio.canalVenta}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="ca" 
                                itemLabel="#{ca.descripcion}" 
                                itemValue="#{ca}" 
                                converter="canalVentaPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarProductoPrecio.onItemSelectCanal()}" />
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Cliente</b></label>
                            <p:autoComplete  
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{listarProductoPrecio.completeQueryCliente}"
                                value="#{listarProductoPrecio.cliente}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="cli" 
                                itemLabel="#{cli.razonSocial}" 
                                itemValue="#{cli}" 
                                converter="clientePojoConverter"
                                size="25" 
                                queryDelay="1000"
                                dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarProductoPrecio.onItemSelectCliente()}" />
                            </p:autoComplete>
                        </div>
                    </div>
                    <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Fecha</b></label>
                        <p:calendar
                            value="#{listarProductoPrecio.productoPrecio.fecha}"
                            locale="es" 
                            pattern="dd/MM/yyyy"
                            styleClass="p-cal calendarClass"/>
                    </div-->
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarProductoPrecio.filterPrecioProducto()}"
                           update="list-producto-precio-form:form-data:panelLista
                           list-producto-precio-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarProductoPrecio.clear()}"
                           update="list-producto-precio-form:form-data:panelLista 
                           list-producto-precio-form:paginator:paginator-panel
                           list-producto-precio-form:form-data:filter:filter-data">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>


