<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Generales</h5>
            <hr></hr>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Externo</b></label>
                    <p:inputText id="localExterno"
                                 disabled="true"
                                 styleClass="form-control" 
                                 value="#{localCreate.local.localExterno}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>ID Externo</b></label>
                    <p:inputText id="idExterno"
                                 styleClass="form-control" 
                                 value="#{localCreate.local.idExterno}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Cliente(*)</b></label><br/>
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{localCreate.completeQuery}"
                                    value="#{localCreate.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cliDesc" 
                                    itemLabel="#{cliDesc.razonSocial}" 
                                    itemValue="#{cliDesc}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{localCreate.onItemSelectClienteFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="des"
                                 styleClass="form-control" 
                                 value="#{localCreate.local.descripcion}"
                                 ></p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>GLN(*)</b></label>
                    <p:inputText id="gln"
                                 styleClass="form-control" 
                                 value="#{localCreate.local.gln}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Observacion</b></label>
                    <p:inputText id="obsLocal"
                                 styleClass="form-control" 
                                 value="#{localCreate.local.observacion}"
                                 ></p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo(*)</b></label>
                    <h:selectOneMenu value="#{localCreate.local.activo}"  id="activo" 
                                     class="form-control">
                        <f:selectItem itemLabel="Si" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"/>
                    </h:selectOneMenu> 
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Telefono</b></label>
                                <div class="input-group mb-3">
                                    <h:outputText id="tel" 
                                                 styleClass="form-control" 
                                                 value="#{localCreate.telefono.prefijo.concat('-').concat(localCreate.telefono.numero)}"
                                                 ></h:outputText>   
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalTelefono').modal('show')"
                                                         update=":local-form:form-data:modalTelefono"/>
                                    </div>
                                </div>
                </div>

            </div>
        </div>
    </div>
    <br></br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dirección</h5>
            <hr></hr>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label><b>Departamento</b></label>
                    <p:selectOneMenu id="dpto" value="#{localCreate.idDepartamento}"
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                        <f:selectItems value="#{localCreate.adapterRefGeo.data}" var="ref"
                                       itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                        <p:ajax event="change" update="local-form:form-data:distrito" listener="#{localCreate.filterGeneral()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Distrito</b></label>
                    <p:selectOneMenu id="distrito" value="#{localCreate.idDistrito}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                        <f:selectItems value="#{localCreate.adapterRefGeoDistrito.data}" var="ref1"
                                       itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                        <p:ajax event="change" update="local-form:form-data:distrito local-form:form-data:ciudad" listener="#{localCreate.filterCiudad()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Ciudad</b></label>
                    <p:selectOneMenu id="ciudad" value="#{localCreate.idCiudad}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                        <f:selectItems value="#{localCreate.adapterRefGeoCiudad.data}" var="ref2"
                                       itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                    </p:selectOneMenu>
                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <h:panelGroup id="coord">
                        <div class="form-group col-sm-12">
                            <label><b>Direccion(*)</b></label>
                            <p:inputText id="dir"
                                         styleClass="form-control" 
                                         value="#{localCreate.direccion.direccion}"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>N° Direccion(*)</b></label>
                            <p:inputText id="numD"
                                         styleClass="form-control" 
                                         value="#{localCreate.direccion.numero}"
                                         converterMessage="N° Dirección debe ser númerico">
                                <f:convertNumber parent="#,###.###"/>
                                <p:ajax  />
                            </p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Observaci&oacute;n</b></label>
                            <p:inputText id="obs"
                                         styleClass="form-control" 
                                         value="#{localCreate.direccion.observacion}"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Latitud</b></label>
                            <p:inputText id="lat" disabled="true"
                                         styleClass="form-control" 
                                         value="#{localCreate.lat}"
                                         widgetVar="lat"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Longitud</b></label>
                            <p:inputText id="lng" disabled="true"
                                         styleClass="form-control" 
                                         value="#{localCreate.lng}"
                                         widgetVar="lng"
                                         ></p:inputText>
                        </div>
                    </h:panelGroup>
                </div>
                <div class="col-sm-6">
                    <input id="address" class="form-control"/>
                    <p:gmap id="gmap" center="#{localCreate.lat},#{localCreate.lng}" zoom="15" type="ROADMAP"  
                            model="#{localCreate.draggableModel}" widgetVar="geoMap" style="width:98%;height:368px">

                        <p:ajax event="markerDrag" listener="#{localCreate.onMarkerDrag}" update="local-form:form-data:coord" 
                                oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="geocode" listener="#{localCreate.onGeocode}" 
                                update="local-form:form-data:gmap local-form:form-data:coord" oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="reverseGeocode" listener="#{localCreate.onReverseGeocode}" 
                                update="local-form:form-data:gmap local-form:form-data:coord" />
                    </p:gmap>

                </div>

            </div>
        </div>

    </div>
    <sepsa:modal-panel id="modalTelefono" title="Telefono">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="tablas">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{localCreate.telefono.idTipoTelefono}" styleClass="form-control">
                                            <f:selectItems value="#{localCreate.listTipoTelefono}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.codigo}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Prefijo</label>
                                        <p:inputText id="prefT"
                                                     styleClass="form-control" 
                                                     value="#{localCreate.telefono.prefijo}"
                                                     ></p:inputText>

                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Número</label>
                                        <p:inputText id="numT"
                                                     styleClass="form-control" 
                                                     value="#{localCreate.telefono.numero}"
                                                     ></p:inputText>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>

                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsTel" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Aceptar" 
                             onclick="$('#modalTelefono').modal('hide')"
                             update=":message-form:message
                             :local-form:form-data:tel">
            </p:commandButton>
        </f:facet> 
    </sepsa:modal-panel>
</ui:composition>