<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Descripción</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{listarEmpresas.empresaFilter.descripcion}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{listarEmpresas.empresaFilter.codigo}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo De Empresa</b></label>
                            <p:selectOneMenu id="tipoEmpresa" class="form-control" value="#{listarEmpresas.empresaFilter.idTipoEmpresa}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{listarEmpresas.tipoEmpresaAdapter.data}" var="dato"
                                               itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <br/>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{listarEmpresas.buscar()}"
                           update="list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarEmpresas.limpiar()}"
                           update="list-form:filter:filter-panel
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
        <br/>
    </sepsa:filter-panel>
</ui:composition>