<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Descripción (*)</label>
                        <p:inputText styleClass="form-control" 
                                     value="#{crearConfig.configuracionNuevo.descripcion}"/>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Código (*)</label>
                        <p:inputText styleClass="form-control" 
                                     value="#{crearConfig.configuracionNuevo.codigo}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:commandLink styleClass="btn btn-primary"
                                   style="float:right;"
                                   action="#{crearConfig.createConfiguracion()}"
                                   update="@form msgs">
                        <i class="fas fa-file-medical"></i>
                        CREAR
                    </p:commandLink>

                </div>
            </div>
        </div>
    </div>

</ui:composition>
