<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Configuracion(*)</b></label><br/>
                    <p:autoComplete id="configuracion" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{listarConfiguracionValor.completeQuery}"
                                    value="#{listarConfiguracionValor.configuracionFilter}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="con" 
                                    itemLabel="#{con.descripcion}" 
                                    itemValue="#{con}" 
                                    converter="configuracionPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearConfiguracionValor.onItemSelectConfiguracion}"/>
                    </p:autoComplete>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Valor(*)</b></label>
                        <p:inputText styleClass="form-control" 
                                     value="#{crearConfiguracionValor.configuracionValorNuevo.valor}"/>
                    </div>
                </div>
                <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true"
                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearConfiguracionValor.completeEmpresaQuery}"
                                    value="#{crearConfiguracionValor.empresaAutocomplete}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="emp" 
                                    itemLabel="#{emp.descripcion}" 
                                    itemValue="#{emp}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearConfiguracionValor.onItemSelectEmpresa}"/>
                    </p:autoComplete>
                </h:panelGroup>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:commandLink styleClass="btn btn-primary"
                                   style="float:right;"
                                   action="#{crearConfiguracionValor.createConfiguracion()}"
                                   update="@form :list-config-valor-form:form-data:empresa 
                                   :message-form:message">
                        <i class="fas fa-file-medical"></i>
                        CREAR
                    </p:commandLink>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
