<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup id= "panel-filter" style="#{crearOperacionInventarioControl.showFilter eq true ?'display:inline':'display: none'}">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">N° de Control</h5>
                        <h:inputText styleClass="form-control"
                                     id="codigoControl"
                                     value="#{crearOperacionInventarioControl.controlInventarioFilter.codigo}"/>
                        <br/>
                        <br/>
                        <div align="center">
                            <p:commandLink styleClass="btn btn-primary"
                                           title="Consultar"
                                           action="#{crearOperacionInventarioControl.filterControlInventario()}"
                                           update=":message-form:message @form"
                                           >
                                <i class="fas fa-search"></i>&nbsp;Consultar
                            </p:commandLink>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </h:panelGroup>
    <h:panelGroup id= "panel-general" style="#{crearOperacionInventarioControl.show eq true ?'display:inline':'display: none'}">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label><b>Motivo de Operación(*)</b></label>
                        <p:selectOneMenu id="motivoOperacion" class="form-control" value="#{crearOperacionInventarioControl.operacion.codigoMotivo}">
                            <f:selectItems value="#{crearOperacionInventarioControl.adapterMotivo.data}" var="dato"
                                           itemLabel="#{dato.descripcion}" itemValue="#{dato.codigo}"/>
                        </p:selectOneMenu>
                    </div>
                    <!--div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Motivo de Control</b></label>
                        <p:inputText id="motivo-oper"
                                     styleClass="form-control"
                                     disabled="true"
                                     value="#{crearOperacionInventarioControl.operacion.motivo}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Estado de Control</b></label>
                        <p:inputText id="estado-oper"
                                     styleClass="form-control"
                                     disabled="true"
                                     value="#{crearOperacionInventarioControl.operacion.estado}"/>
                    </div-->
                </div>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalle</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h:panelGroup id="data-table-detalle">
                            <p:dataTable value="#{crearOperacionInventarioControl.operacionInventarioDetalleList}"
                                         var="detalle"
                                         id="data-list-detalle-create"
                                         widgetVar="tablita"
                                         editable="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;" 
                                         tableStyleClass="table table-bordered table-hover"
                                         emptyMessage="No existen registros disponibles"
                                         >                         
                                <p:column>
                                    <div align="center">
                                        <p:commandLink styleClass="btn btn-danger"
                                                       title="Eliminar"
                                                       action="#{crearOperacionInventarioControl.deleteDetalle(detalle)}"
                                                       update="data-form:form-data:data-list-detalle-create">
                                            <i class="fa fa-times-circle"></i>
                                        </p:commandLink>
                                    </div>
                                </p:column>
                                <p:column headerText="Depósito">
                                    <h:outputText style="width:100%" value="#{detalle.codigoDeposito}"/>
                                </p:column>
                                <p:column headerText="Producto">
                                    <h:outputText style="width:100%" value="#{detalle.producto}"/>
                                </p:column>
                                <p:column headerText="Estado de Inventario">
                                    <h:outputText style="width:100%" value="#{detalle.estadoInventarioDestino}"/>
                                </p:column>
                                <p:column headerText="Fecha Vto">
                                    <h:outputText value="#{detalle.fechaVencimiento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Cantidad Control">
                                    <h:outputText style="width:100%" value="#{detalle.cantidadControl}"/>
                                </p:column>
                                <p:column headerText="Cantidad Sistema">
                                    <h:outputText style="width:100%" value="#{detalle.cantidadInicial}"/>
                                </p:column>
                                <p:column headerText="Cantidad Real">
                                    <h:inputText styleClass="width:100% form-control" value="#{detalle.cantidadFinal}" id="cantidadFinal">
                                        <f:convertNumber type= "number"  pattern= "#,###" />
                                    </h:inputText>
                                </p:column>

                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
            <p:commandLink styleClass="btn btn-primary"
                           title="Confirmar"
                           action="#{crearOperacionInventarioControl.create()}"
                           update=":message-form:message @form"
                           >
                <i class="fa fa-check-circle-o"></i>&nbsp;Confirmar
            </p:commandLink>
        </div>
    </h:panelGroup>
</ui:composition>
