<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGroup id= "panel-filter" style="#{editarControlInventario.showFilter eq true ?'display:inline':'display: none'}">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">N° de Control</h5>
                        <h:inputText styleClass="form-control"
                                     id="codigoControl"
                                     value="#{editarControlInventario.controlInventarioFilter.codigo}"/>
                        <br/>
                        <br/>
                        <div align="center">
                            <p:commandLink styleClass="btn btn-primary"
                                           title="Consultar"
                                           action="#{editarControlInventario.filterControlInventario()}"
                                           update=":message-form:message @form"
                                           >
                                <i class="fas fa-search"></i>&nbsp;Consultar
                            </p:commandLink>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </h:panelGroup>

    <h:panelGroup id= "panel-general" style="#{editarControlInventario.show eq true ?'display:inline':'display: none'}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control de Inventario</h5>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>N° Control</b></label>
                        <p:inputText id="nro"
                                     styleClass="form-control"
                                     disabled="true"
                                     value="#{editarControlInventario.controlInventarioEdit.codigo}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Motivo</b></label>
                        <p:inputText id="motivo"
                                     styleClass="form-control"
                                     disabled="true"
                                     value="#{editarControlInventario.controlInventarioEdit.motivo}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Fecha y Hora</b></label>
                        <p:inputText id="fecha-hora"
                                     styleClass="form-control"
                                     placeholder="Cantidad"
                                     disabled="true"
                                     value="#{editarControlInventario.controlInventarioEdit.fechaInsercion}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                        </p:inputText>

                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Encargado</b></label>
                        <p:inputText id="encargado"
                                     styleClass="form-control"
                                     placeholder="Cantidad"
                                     disabled="true"
                                     value="#{editarControlInventario.controlInventarioEdit.usuarioEncargado}"/>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{editarControlInventario.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >                         
                            <p:column headerText="Depósito">
                                <h:outputText style="width:100%" value="#{detalle.codigoDeposito}"/>
                            </p:column>
                            <p:column headerText="Producto">
                                <h:outputText style="width:100%" value="#{detalle.producto}"/>
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" style="width:100%" value="#{detalle.cantidadFinal}"/>
                            </p:column>
                            <p:column headerText="Fecha Vto">
                                <h:outputText style="width:100%" value="#{detalle.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Observación">
                                <h:inputText styleClass="form-control" style="width:100%" value="#{detalle.observacion}"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
            <p:commandLink styleClass="btn btn-primary"
                           title="Confirmar"
                           action="#{editarControlInventario.edit()}"
                           update=":message-form:message @form"
                           >
                <i class="fa fa-check-circle-o"></i>&nbsp;Confirmar
            </p:commandLink>
        </div>
    </h:panelGroup>
</ui:composition>
