<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Motivo de Devolución(*)</b></label>
                    <p:selectOneMenu id="motivoDevolución" class="form-control" value="#{devolucionCreate.codigoMotivo}">
                        <f:selectItem itemLabel="Seleccionar Motivo" itemValue="#{null}"></f:selectItem>
                        <f:selectItems value="#{devolucionCreate.adapterMotivo.data}" var="dato"
                                       itemLabel="#{dato.descripcion}" itemValue="#{dato.codigo}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Depósito Destino(*)</b></label>
                    <p:autoComplete id="deposito-destino"
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{devolucionCreate.completeQueryDeposito}"
                                    value="#{devolucionCreate.depositoDestino}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="dep" 
                                    itemLabel="#{dep.descripcion}" 
                                    itemValue="#{dep}" 
                                    converter="depositoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{devolucionCreate.onItemSelectDeposito}"/>
                    </p:autoComplete>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Tiene Factura:</b></label>
                    <p:selectOneMenu id="factura" class="form-control" value="#{devolucionCreate.tieneFactura}">
                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                        <p:ajax event="change" update="@form" listener="#{devolucionCreate.ingresarNroDocumento()}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° Factura</b></label>
                    <h:inputText id="nro-factura"
                                 styleClass="form-control"
                                 disabled="#{devolucionCreate.ingresaNroFactura eq false}"
                                 value="#{devolucionCreate.nroFactura}">
                        <p:ajax event="blur" update="data-form:form-data:data-list-detalle-create" listener="#{devolucionCreate.consultarFactura()}" />
                    </h:inputText>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{devolucionCreate.ingresaNroFactura eq false ?'display:inline':'display: none'}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label><b>Producto</b></label>
                                            <br/>
                                            <p:autoComplete id="producto" 
                                                            cache="true" 
                                                            cacheTimeout="30000" 
                                                            completeMethod="#{devolucionCreate.completeQueryProducto}"
                                                            maxResults="10"
                                                            value="#{devolucionCreate.producto}"
                                                            forceSelection="true"
                                                            var="prod" 
                                                            itemLabel="#{prod.descripcion}" 
                                                            itemValue="#{prod}" 
                                                            converter="productoPojoConverter"
                                                            size="25" 
                                                            queryDelay="1000"
                                                            panelStyle="z-index: 2001;"
                                                            inputStyle="z-index: 2001;"
                                                            dropdown="true">
                                                <p:ajax event="itemSelect" listener="#{devolucionCreate.onItemSelectProducto}"/>
                                            </p:autoComplete>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label><b>Fecha Vto</b></label>
                                            <p:calendar id="fechaVto" 
                                                        value="#{devolucionCreate.fechaVtoAux}"
                                                        locale="es"
                                                        pattern="dd/MM/yyyy"
                                                        styleClass="p-cal calendarClass">
                                            </p:calendar>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                            <p:commandLink styleClass="btn btn-primary"
                                                           title="Agregar"
                                                           action="#{devolucionCreate.añadirDetalle()}"
                                                           update="data-form:form-data:data-list-detalle-create"
                                                           >
                                                <i class="far fa-plus-square"></i>&nbsp;Agregar
                                            </p:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>

                        <p:dataTable value="#{devolucionCreate.listaDetalles}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >                         
                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{devolucionCreate.deleteDetalle(detalle)}"
                                                   update="data-form:form-data:data-list-detalle-create">
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                            <p:column headerText="Producto">
                                <h:outputText style="width:100%" value="#{detalle.producto}"/>
                            </p:column>
                            <p:column headerText="Cantidad Facturada">
                                <h:outputText style="width:100%" value="#{detalle.cantidadFacturada}"/>
                            </p:column>
                            <p:column headerText="Cantidad Devuelta">
                                <h:inputText styleClass="form-control" style="width:100%" value="#{detalle.cantidadDevolucion}"/>
                            </p:column>
                            <p:column headerText="Fecha Vto">
                                <p:calendar id="fechaVtoDetalle" 
                                            value="#{detalle.fechaVencimiento}"
                                            locale="es"
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                </p:calendar>
                            </p:column>
                            <!--p:column headerText="Motivo de Devolución">
                                <h:outputText style="width:100%" value="#{detalle.estadoInventarioDestino}"/>
                            </p:column-->

                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </div>


    <sepsa:modal-panel id="modalFactura" title="Facturas" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p:dataTable value="#{devolucionCreate.adapterFactura.data}"
                             var="factura"
                             id="data-list-factura"
                             editable="true"
                             reflow="true"
                             paginator="false"
                             tableStyle="table-layout: auto;"
                             selection ="#{devolucionCreate.facturaSelected}"
                             rowKey="#{factura.id}"
                             tableStyleClass="table table-bordered table-hover">
                    <p:column selectionMode="single" style="width:45px;text-align:center"/>

                    <p:column headerText="Timbrado">
                        <h:outputText value="#{factura.timbrado}"/>
                    </p:column>
                    <p:column headerText="N° Factura">
                        <h:outputText value="#{factura.nroFactura}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{factura.razonSocial}"/>
                    </p:column>
                    <p:column headerText="RUC">
                        <h:outputText value="#{factura.ruc}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputText value="#{factura.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>               
            </div>
        </f:facet>

        <f:facet name="button">
            <p:commandButton id="btnModalFactura" 
                             class="btn btn-primary" 
                             value="Seleccionar Factura"
                             action="#{devolucionCreate.agregarFactura()}"
                             update="data-form:form-data:data-list-detalle-create"
                             onclick="$('#modalFactura').modal('hide')">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>
