<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Motivo de Operación(*)</b></label>
                    <p:selectOneMenu id="motivoOperacion" class="form-control" value="#{operacionEstadoCreate.operacion.codigoMotivo}">
                        <f:selectItems value="#{operacionEstadoCreate.adapterMotivo.data}" var="dato"
                                       itemLabel="#{dato.descripcion}" itemValue="#{dato.codigo}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Depósito Destino(*)</b></label>
                        <p:autoComplete 
                            cache="true" 
                            cacheTimeout="30000" 
                            completeMethod="#{operacionEstadoCreate.completeQueryDeposito}"
                            value="#{operacionEstadoCreate.depositoDestino}" 
                            maxResults="10" 
                            forceSelection="true"
                            var="dep" 
                            itemLabel="#{dep.descripcion}" 
                            itemValue="#{dep}" 
                            converter="depositoPojoConverter"
                            size="25" 
                            queryDelay="1000"
                            dropdown="true">
                            <p:ajax event="itemSelect" listener="#{operacionEstadoCreate.onItemSelectDeposito}"/>
                        </p:autoComplete>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Producto</b></label>
                                    <br/>
                                    <p:autoComplete id="producto" 
                                                    cache="true" 
                                                    cacheTimeout="30000" 
                                                    completeMethod="#{operacionEstadoCreate.completeQueryProducto}"
                                                    value="#{operacionEstadoCreate.producto}" 
                                                    maxResults="10" 
                                                    forceSelection="true"
                                                    var="prod" 
                                                    itemLabel="#{prod.descripcion}" 
                                                    itemValue="#{prod}" 
                                                    converter="productoPojoConverter"
                                                    size="25" 
                                                    queryDelay="1000"
                                                    panelStyle="z-index: 2001;"
                                                    inputStyle="z-index: 2001;"
                                                    dropdown="true">
                                        <p:ajax event="itemSelect" listener="#{operacionEstadoCreate.onItemSelectProducto}" update="message-form:message"/>
                                    </p:autoComplete>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Fecha Vto</b></label>
                                    <p:calendar id="fechaVto" 
                                                value="#{operacionEstadoCreate.fechaVtoAuxiliar}"
                                                locale="es"
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
                                    </p:calendar>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Estado de Inventario Actual</b></label>
                                    <p:selectOneMenu id="estForProducto" 
                                                     class="form-control" 
                                                     value="#{operacionEstadoCreate.estadoAuxiliar}">
                                        <f:selectItem itemLabel="Seleccionar Estado" itemValue=""/>
                                        <f:selectItems value="#{operacionEstadoCreate.adapterEstadoForProducto.data}" var="dato"
                                                       itemLabel="#{dato.descripcion}" itemValue="#{dato.codigo}"/>
                                    </p:selectOneMenu>
                                </div>



                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                    <p:commandLink styleClass="btn btn-primary"
                                                   title="Consultar"
                                                   action="#{operacionEstadoCreate.consultarInventarioDetalle()}"
                                                   update="message-form:message data-form:form-data:data-list-detalle-create"
                                                   >
                                        <i class="fas fa-search"></i>&nbsp;Consultar
                                    </p:commandLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle">
                        <p:dataTable value="#{operacionEstadoCreate.operacionInventarioDetalleList}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >                         
                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{operacionEstadoCreate.deleteDetalle(detalle)}"
                                                   update="data-form:form-data:data-list-detalle-create">
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                            <p:column headerText="Producto">
                                <h:outputText style="width:100%" value="#{detalle.producto}"/>
                            </p:column>

                            <p:column headerText="Fecha Vto">
                                <h:outputText value="#{detalle.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Estado Actual">
                                <h:outputText style="width:100%" value="#{detalle.estadoInventarioOrigen}"/>
                            </p:column>

                            <p:column headerText="Cantidad Actual">
                                <h:outputText style="width:100%" value="#{detalle.cantidadInicial}"/>
                            </p:column>

                            <p:column headerText="Cambio de Estado">
                                <p:selectOneMenu id="estForDestino" 
                                                 class="form-control" 
                                                 value="#{detalle.codigoEstadoInventarioDestino}">
                                    <f:selectItem itemLabel="Seleccionar Estado" itemValue=""/>
                                    <f:selectItems value="#{operacionEstadoCreate.adapterEstado.data}" var="dato"
                                                   itemLabel="#{dato.descripcion}" itemValue="#{dato.codigo}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column headerText="Cantidad a Cambiar">
                                <h:inputText styleClass="width:100% form-control" value="#{detalle.cantidadFinal}" id="cantidadFinal">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:inputText>
                            </p:column>

                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
