<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos del Cliente</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>ID:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{sucursalEdit.cliente.idCliente}"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Razón Social:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{sucursalEdit.cliente.razonSocial}"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>RUC:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{sucursalEdit.cliente.nroDocumento}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos de Sucursal</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label><b>Descripción(*)</b></label>
                        <p:inputText id="des"
                                     styleClass="form-control" 
                                     value="#{sucursalEdit.local.descripcion}"
                                     ></p:inputText>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label><b>GLN(*)</b></label>
                        <p:inputText id="gln"
                                     styleClass="form-control" 
                                     value="#{sucursalEdit.local.gln}"
                                     ></p:inputText>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Activo(*)</b></label>
                        <h:selectOneMenu value="#{sucursalEdit.local.activo}"  id="activo" 
                                         class="form-control">
                            <f:selectItem itemLabel="Elegir Estado" itemValue="#{null}"/>
                            <f:selectItem itemLabel="Si" itemValue="S"/>
                            <f:selectItem itemLabel="No" itemValue="N"/>
                        </h:selectOneMenu> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>