<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Descripción</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{sucursalList.localFilter.descripcion}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Cliente</b></label><br/>
                        <p:autoComplete id="cliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{sucursalList.completeQuery}"
                                        value="#{sucursalList.cliente}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cliDesc" 
                                        itemLabel="#{cliDesc.razonSocial}" 
                                        itemValue="#{cliDesc}" 
                                        converter="clientePojoConverter"
                                        size="25"  
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{sucursalList.onItemSelectClienteFilter}"/>
                        </p:autoComplete>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Activo</b></label>
                            <p:selectOneMenu value="#{sucursalList.localFilter.activo}" id="idEstado" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Gln</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{sucursalList.localFilter.gln}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Observación</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{sucursalList.localFilter.observacion}"/>
                        </div>
                    </div>

                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{sucursalList.filter()}"
                           update="
                           :sucursal-list-form:form-data:data-list-sucursal 
                           :sucursal-list-form:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{sucursalList.clear()}"
                           update="
                           :sucursal-list-form:form-data:data-list-sucursal 
                           :sucursal-list-form:paginator:paginator-panel 
                           :sucursal-list-form:filter:filter-data">
                <i class="fas fa-broom"></i>
                LIMPIAR

            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>

</ui:composition>