<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Generales</h5>
            <hr></hr>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Razón Social</b></label><br/>
                    <p:inputText id="cliente"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{sucursalCreate.local.cliente.razonSocial}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="des"
                                 styleClass="form-control" 
                                 value="#{sucursalCreate.local.descripcion}"
                                 ></p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>GLN(*)</b></label>
                    <p:inputText id="gln"
                                 styleClass="form-control" 
                                 value="#{sucursalCreate.local.gln}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Observacion</b></label>
                    <p:inputText id="obsLocal"
                                 styleClass="form-control" 
                                 value="#{sucursalCreate.local.observacion}"
                                 ></p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo(*)</b></label>
                    <h:selectOneMenu value="#{sucursalCreate.local.activo}"  id="activo" 
                                     class="form-control">
                        <f:selectItem itemLabel="Si" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"/>
                    </h:selectOneMenu> 
                </div>

            </div>
        </div>
    </div>
    <br></br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dirección</h5>
            <hr></hr>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label><b>Departamento</b></label>
                    <p:selectOneMenu id="dpto" value="#{sucursalCreate.idDepartamento}"
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                        <f:selectItems value="#{sucursalCreate.adapterRefGeo.data}" var="ref"
                                       itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                        <p:ajax event="change" update="local-form:form-data:distrito" listener="#{sucursalCreate.filterGeneral()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Distrito</b></label>
                    <p:selectOneMenu id="distrito" value="#{sucursalCreate.idDistrito}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                        <f:selectItems value="#{sucursalCreate.adapterRefGeoDistrito.data}" var="ref1"
                                       itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                        <p:ajax event="change" update="local-form:form-data:distrito local-form:form-data:ciudad" listener="#{sucursalCreate.filterCiudad()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Ciudad</b></label>
                    <p:selectOneMenu id="ciudad" value="#{sucursalCreate.idCiudad}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                        <f:selectItems value="#{sucursalCreate.adapterRefGeoCiudad.data}" var="ref2"
                                       itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                    </p:selectOneMenu>
                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <h:panelGroup id="coord">
                        <div class="form-group col-sm-12">
                            <label><b>Direccion(*)</b></label>
                            <p:inputText id="dir"
                                         styleClass="form-control" 
                                         value="#{sucursalCreate.direccion.direccion}"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>N° Direccion(*)</b></label>
                            <p:inputText id="numD"
                                         styleClass="form-control" 
                                         value="#{sucursalCreate.direccion.numero}"
                                         converterMessage="N° Dirección debe ser númerico">
                                <f:convertNumber parent="#,###.###"/>
                                <p:ajax  />
                            </p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Observaci&oacute;n</b></label>
                            <p:inputText id="obs"
                                         styleClass="form-control" 
                                         value="#{sucursalCreate.direccion.observacion}"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Latitud</b></label>
                            <p:inputText id="lat" disabled="true"
                                         styleClass="form-control" 
                                         value="#{sucursalCreate.lat}"
                                         widgetVar="lat"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label><b>Longitud</b></label>
                            <p:inputText id="lng" disabled="true"
                                         styleClass="form-control" 
                                         value="#{sucursalCreate.lng}"
                                         widgetVar="lng"
                                         ></p:inputText>
                        </div>
                    </h:panelGroup>
                </div>
                <div class="col-sm-6">
                    <input id="address" class="form-control"/>
                    <p:gmap id="gmap" center="#{sucursalCreate.lat},#{sucursalCreate.lng}" zoom="15" type="ROADMAP"  
                            model="#{sucursalCreate.draggableModel}" widgetVar="geoMap" style="width:98%;height:368px">

                        <p:ajax event="markerDrag" listener="#{sucursalCreate.onMarkerDrag}" update="local-form:form-data:coord" 
                                oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="geocode" listener="#{sucursalCreate.onGeocode}" 
                                update="local-form:form-data:gmap local-form:form-data:coord" oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="reverseGeocode" listener="#{sucursalCreate.onReverseGeocode}" 
                                update="local-form:form-data:gmap local-form:form-data:coord" />
                    </p:gmap>

                </div>

            </div>
        </div>

    </div>
</ui:composition>