<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="form-row">
                <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Empresa (*)</b></label>
                        <p:autoComplete id="empresa" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{marcaCreate.completeQueryEmpresa}"
                                        value="#{marcaCreate.empresaComplete}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="empresa" 
                                        itemLabel="#{empresa.descripcion}" 
                                        itemValue="#{empresa}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{marcaCreate.onItemSelectEmpresaFilter}"/>
                        </p:autoComplete>
                    </div>
                </div-->
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Código (*)</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="Código"
                                 value="#{marcaCreate.marca.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripción (*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripción" 
                                 value="#{marcaCreate.marca.descripcion}"/>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
