<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{notaCreditoCompraList.adapter.pageSize}" 
                                     styleClass="form-control"
                                     id="fil1">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax update="list-form:form-data:data-list
                                list-form:paginator:paginator-panel"
                                listener="#{notaCreditoCompraList.buscar()}"/>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <p:dataTable value="#{notaCreditoCompraList.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="Lista Vacia"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Empresa">
            <h:outputText value="#{data.empresa.codigo}">
            </h:outputText>
        </p:column>
        <p:column headerText="Nro de Nota Crédito">
            <h:outputText value="#{data.nroNotaCredito}">
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Total Nota Crédito">
            <h:outputText value="#{data.montoTotalNotaCredito}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Razon Social">
            <h:outputText value="#{data.razonSocial}">
            </h:outputText>
        </p:column>
        <p:column headerText="RUC">
            <h:outputText value="#{data.ruc}">
            </h:outputText>
        </p:column>
        <p:column headerText="Nro Timbrado">
            <h:outputText value="#{data.nroTimbrado}">
            </h:outputText>
        </p:column>
        <p:column headerText="Anulado">
            <div align="center">
                <h:panelGroup rendered="#{data.anulado eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.anulado eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Digital">
            <div align="center">
                <h:panelGroup rendered="#{data.digital eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.digital eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Motivo Emisión">
            <h:outputText value="#{data.motivoEmisionInterno.codigo eq null ? '--' : data.motivoEmisionInterno.codigo}">
            </h:outputText>
        </p:column>

        <p:column headerText="Anular">
            <div align="center">                
                <p:commandLink   styleClass="btn btn-warning"

                                 onclick="$('#confirmation').modal('show')" 
                                 update=":list-form:form-data:confirmation:panelConfirmation
                                 "
                                 disabled="#{data.anulado eq 'S'}"
                                 title="Anular"> 
                    <i class="fas fa-ban"></i>
                    <f:setPropertyActionListener value="#{data}"
                                                 target="#{notaCreditoCompraList.notaCreditoCompraFilter}"/>
                </p:commandLink>
            </div>
        </p:column>

        <p:column headerText="Ver">
            <div align="center"> 
                <p:commandLink styleClass="btn btn-primary"
                               action="#{notaCreditoCompraList.detalleNotaCreditoURL(data.id)}"
                               title="Ver"
                               >
                    <i class="fas fa-search"></i>
                </p:commandLink>
            </div>
        </p:column>

        <p:column headerText="Eliminar">
            <div align="center">                
                <p:commandLink   styleClass="btn btn-danger"
                                 action="#{notaCreditoCompraList.eliminarNotaCredito(data.id)}"
                                 update=":list-form:form-data:data-list :list-form:form-data:data-list 
                                 :message-form:message"
                                 title="Eliminar">
                    <p:confirm header="Confirmación" message="¿Está seguro de eliminar la Nota de Crédito?" />
                    <i class="fas fa-trash"></i>
                </p:commandLink>

            </div>
        </p:column>


    </p:dataTable>
    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText value="Está seguro que desea anular la Nota de 
                                  Crédito N° #{notaCreditoCompraList.notaCreditoCompraFilter.nroNotaCredito}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Seleccion el motivo(*):</b></label>
                            <h:selectOneMenu value="#{notaCreditoCompraList.notaCreditoCompraFilter.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{notaCreditoCompraList.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n(*): </b></label>
                            <br/>
                            <h:inputTextarea  styleClass="form-control" 
                                              value="#{notaCreditoCompraList.notaCreditoCompraFilter.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea >
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             update=":list-form:form-data:data-list 
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{notaCreditoCompraList.anularNotaCredito(notaCreditoCompraList.notaCreditoCompraFilter)}"/>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>
