<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Cliente</b></label><br/>
                        <p:autoComplete id="idCliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{notaCreditoCompraList.completeQuery}"
                                        value="#{notaCreditoCompraList.cliente}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cliDesc" 
                                        itemLabel="#{cliDesc.razonSocial}" 
                                        itemValue="#{cliDesc}" 
                                        converter="clientePojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{notaCreditoCompraList.onItemSelectClienteFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Nro Nota de Crédito</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{notaCreditoCompraList.notaCreditoCompraFilter.nroNotaCredito}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Razon Social</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{notaCreditoCompraList.notaCreditoCompraFilter.razonSocial}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>RUC</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{notaCreditoCompraList.notaCreditoCompraFilter.ruc}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Moneda</b></label>
                            <p:selectOneMenu id="moneda" class="form-control" value="#{notaCreditoCompraList.notaCreditoCompraFilter.idMoneda}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{notaCreditoCompraList.monedaAdapter.data}" var="dato"
                                               itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Motivo Emision</b></label>
                            <p:selectOneMenu id="motivoEmisionInterno" class="form-control" value="#{notaCreditoCompraList.notaCreditoCompraFilter.idMotivoEmisionInterno}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{notaCreditoCompraList.motivoEmisionInternoAdapter.data}" var="dato"
                                               itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Anulado</b></label>
                        <p:selectOneMenu id="anulado"
                                         value="#{notaCreditoCompraList.notaCreditoCompraFilter.anulado}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Digital</b></label>
                        <p:selectOneMenu id="digital"
                                         value="#{notaCreditoCompraList.notaCreditoCompraFilter.digital}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha Desde</b></label>
                            <p:calendar id="fechaDesde" 
                                        value="#{notaCreditoCompraList.notaCreditoCompraFilter.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha Hasta</b></label>
                            <p:calendar id="fechaHasta"
                                        value="#{notaCreditoCompraList.notaCreditoCompraFilter.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <br/>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{notaCreditoCompraList.buscar()}"
                           update="list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{notaCreditoCompraList.limpiar()}"
                           update="list-form:filter:filter-panel
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
        <br/>
    </sepsa:filter-panel>
</ui:composition>
