<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Codigo</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="codigo" 
                                 value="#{motivoEmisionInternoEdit.motivoEmisionInterno.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="descripcion"
                                 value="#{motivoEmisionInternoEdit.motivoEmisionInterno.descripcion}"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Motivo Emision</b></label>
                        <p:selectOneMenu id="motivoEmision" class="form-control" value="#{motivoEmisionInternoEdit.motivoEmisionInterno.idMotivoEmision}">
                            <f:selectItems value="#{motivoEmisionInternoEdit.motivoEmisionAdapterList.data}" var="datos2"
                                           itemLabel="#{datos2.codigo}" itemValue="#{datos2.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo</b></label>
                    <h:selectOneMenu id="activo"
                                     value="#{motivoEmisionInternoEdit.motivoEmisionInterno.activo}"
                                     styleClass="custom-select">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>