<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <label><b>Cliente:</b></label><br/>
                            <p:autoComplete cache="true" 
                                            cacheTimeout="30000"
                                            completeMethod="#{reporteVenta.completeQuery}"
                                            value="#{reporteVenta.client}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cliDesc" 
                                            itemLabel="#{cliDesc.razonSocial}" 
                                            itemValue="#{cliDesc}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{reporteVenta.onItemSelectCliente}"  
                                        />
                            </p:autoComplete>
                        </div>
                        
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <label><b>Fecha Desde:</b></label>
                            <br/>
                            <p:calendar
                                value="#{reporteVenta.parametro.fechaDesde}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <label><b>Fecha Hasta:</b></label>
                            <br/>
                            <p:calendar
                                value="#{reporteVenta.parametro.fechaHasta}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Local:</b></label><br/>
                            <p:autoComplete id="local" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{reporteVenta.completeQueryLocal}"
                                            value="#{reporteVenta.localFilter}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="local" 
                                            itemLabel="#{local.descripcion}" 
                                            itemValue="#{local}" 
                                            converter="localPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{reporteVenta.onItemSelectLocal}"/>
                            </p:autoComplete>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Anulado:</b></label>
                            <p:selectOneMenu id="anulado" class="form-control" value="#{reporteVenta.parametro.anulado}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Facturas Anuladas con Monto Cero:</b></label>
                            <p:selectOneMenu id="montoAnuladas" class="form-control" value="#{reporteVenta.parametro.montoAnuladasCero}">
                                <f:selectItem itemLabel="No" itemValue="#{false}"/>
                                <f:selectItem itemLabel="Si" itemValue="#{true}"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="text-right">
                                <p:commandLink id="clear" styleClass="btn btn-dark" style="margin-right: 10px;">
                                    <i class="fas fa-broom"></i> Limpiar
                                    <p:ajax update="@form" listener="#{reporteVenta.clear()}"/>
                                </p:commandLink>
                                
                                <p:commandLink id="print" ajax="false" styleClass="btn btn-primary " process="@this"
                                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)" update="message-form:message">
                                    <i class="fas fa-print"></i> Descargar
                                    <p:fileDownload value="#{reporteVenta.download()}" />
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
