<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Reporte:</b></label><br/>
                            <p:autoComplete id="reporte" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{reporteEmpresa.completeQueryReporteEmpresa}"
                                            value="#{reporteEmpresa.reporteEmpresa}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="var" 
                                            itemLabel="#{var.reporte.descripcion}" 
                                            itemValue="#{var}" 
                                            converter="reporteEmpresaConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{reporteEmpresa.onItemSelectReporteEmpresa}" update="data-panel"/>
                            </p:autoComplete>
                        </div>
                    </div>

                    <h:panelGroup id="data-panel">
                        <h:panelGroup rendered="#{reporteEmpresa.visualizarPanel}">
                            <div class="row">

                                <ui:repeat value="#{reporteEmpresa.reporte.parametros}"
                                           var="parametro" varStatus="index">
                                    <br/>
                                    <h:panelGroup rendered="#{parametro.tipoParametro eq 'FECHA'}">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label><b>#{parametro.descripcion}#{(parametro.mandatorio eq true) ? "(*)" : ""}</b></label>
                                            <br/>
                                            <p:calendar
                                                value="#{parametro.dateValue}"
                                                required="#{parametro.mandatorio eq true}"
                                                requiredMessage="Se espera una fecha"
                                                locale="es" 
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
                                                <p:ajax global="false" event="dateSelect"/>
                                            </p:calendar>
                                        </div>
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{parametro.tipoParametro eq 'SELECT'}">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label><b>#{parametro.descripcion}#{(parametro.mandatorio eq true) ? "(*)" : ""}</b></label>
                                            <br/>
                                            <p:selectOneMenu value="#{parametro.stringValue}"
                                                             styleClass="form-control" filter="true"
                                                             filterMatchMode="contains">
                                                <f:selectItems value="#{parametro.valores}" var="val"
                                                               itemLabel="#{val.descripcion}"
                                                               itemValue="#{val.codigo}"/>
                                                <p:ajax global="false"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{parametro.tipoParametro eq 'BOOLEAN'}">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label><b>#{parametro.descripcion}#{(parametro.mandatorio eq true) ? "(*)" : ""}</b></label>
                                            <br/>
                                            <p:selectOneMenu value="#{parametro.booleanValue}"
                                                             styleClass="form-control" filter="true"
                                                             filterMatchMode="contains">
                                                <f:selectItem itemLabel="NO" itemValue="false"/>
                                                <f:selectItem itemLabel="SI" itemValue="true"/>
                                                <p:ajax global="false"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </h:panelGroup>
                                </ui:repeat>

                                <div class="form-group col-sm-12">
                                    <div class="text-right">

                                        <p:commandLink id="print" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                                                       onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                                            <i class="fas fa-print"></i> Descargar
                                            <p:fileDownload value="#{reporteEmpresa.download()}" />
                                        </p:commandLink>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                    </h:panelGroup>

                </div>
            </div>
        </div>
    </div>


</ui:composition>
