<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><b>Fecha Desde(*)</b></label>
                                <br/>
                                <p:calendar
                                    value="#{reporteCompra.parametro.fechaDesde}"
                                    required="true"
                                    requiredMessage="Se espera una Fecha Desde"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><b>Fecha Hasta(*)</b></label>
                                <br/>
                                <p:calendar
                                    value="#{reporteCompra.parametro.fechaHasta}"
                                    required="true"
                                    requiredMessage="Se espera una Fecha Hasta"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="text-right">
                                <p:commandLink id="print" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                                    <i class="fas fa-print"></i> Descargar
                                    <p:fileDownload value="#{reporteCompra.download()}" />
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
