<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:dataTable value="#{listarCuentas.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="No existen registros"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Entidad Financiera">
            <h:outputText value="#{data.entidadFinanciera}">

            </h:outputText>
        </p:column>

        <p:column headerText="Persona">
            <h:outputText value="#{data.persona}">

            </h:outputText>
        </p:column>

        <p:column headerText="Número de Cuenta">
            <h:outputText value="#{data.nroCuenta}">

            </h:outputText>
        </p:column>

        <p:column headerText="Fecha Alta">
            <h:outputText value="#{data.fechaAlta}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Estado">
            <h:outputText value="#{data.estado eq 'A' ? 'Activo': data.estado eq 'P' ? 'Pendiente':'Inactivo'}">

            </h:outputText>
        </p:column>

        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{listarCuentas.editUrl(data.id)}">
                    <i class="fas fa-edit"></i> EDITAR
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>

</ui:composition>
