<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">

            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Entidad Financiera</label>
                        <h:selectOneMenu id="entidadFinanciera"
                                         value="#{listarCuentas.searchData.idEntidadFinanciera}"
                                         styleClass="custom-select">

                            <f:selectItems value="#{listarCuentas.adapter.data}"
                                           var="cuenta"
                                           itemLabel="#{cuenta.entidadFinanciera}"
                                           itemValue="#{cuenta.idEntidadFinanciera}">

                            </f:selectItems>

                        </h:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4s">
                        <label>Persona</label>
                        <h:selectOneMenu id="persona"
                                         value="#{listarCuentas.searchData.idPersona}"
                                         styleClass="custom-select">

                            <f:selectItems value="#{listarCuentas.adapter.data}"
                                           var="data"
                                           itemLabel="#{data.persona}"
                                           itemValue="#{data.idPersona}">

                            </f:selectItems>

                        </h:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Estado</label>
                        <h:selectOneMenu id="estado"
                                         value="#{listarCuentas.searchData.estado}"
                                         styleClass="custom-select">

                            <f:selectItem itemValue="A"
                                          itemLabel="ACTIVO">

                            </f:selectItem>

                            <f:selectItem itemValue="I"
                                          itemLabel="INACTIVO">

                            </f:selectItem>

                        </h:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <br/>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{listarCuentas.filter()}"
                           update="list-form:form-data:data-list
                           :list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarCuentas.limpiar()}"
                           update="list-form:form-data:data-list
                           :list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>

        <br/>

    </sepsa:filter-panel>

</ui:composition>