<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Codigo(*)</b></label>
                    <p:inputText id="Codigo"
                                 styleClass="form-control"
                                 placeholder="Codigo"
                                 value="#{motivoEmisionInternoCreate.motivoEmisionInterno.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="Descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripcion" 
                                 value="#{motivoEmisionInternoCreate.motivoEmisionInterno.descripcion}"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Motivo Emision(*)</b></label>
                        <p:selectOneMenu id="moneda" class="form-control" value="#{motivoEmisionInternoCreate.motivoEmisionInterno.idMotivoEmision}">
                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione" >
                            </f:selectItem>
                            <f:selectItems value="#{motivoEmisionInternoCreate.motivoEmisionAdapterList.data}" var="dato"
                                           itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{motivoEmisionInternoCreate.motivoEmisionInterno.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione" >
                        </f:selectItem>
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
