<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Id</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{motivoEmisionInternoList.motivoEmisionInternoFilter.id}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Codigo</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{motivoEmisionInternoList.motivoEmisionInternoFilter.codigo}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Descripción</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{motivoEmisionInternoList.motivoEmisionInternoFilter.descripcion}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Motivo Emision</b></label>
                        <p:selectOneMenu id="motivoEmision" class="form-control" value="#{motivoEmisionInternoList.motivoEmisionInternoFilter.idMotivoEmision}">
                            <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                            </f:selectItem>
                            <f:selectItems value="#{motivoEmisionInternoList.motivoEmisionAdapterList.data}" var="dato"
                                           itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Activo</b></label>
                        <p:selectOneMenu id="activo"
                                         value="#{motivoEmisionInternoList.motivoEmisionInternoFilter.activo}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{motivoEmisionInternoList.getMotivoEmisionInterno()}"
                           update="talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{motivoEmisionInternoList.clear()}"
                           update="talonario-form:form-data:filter:filter-data
                           talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>