<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h:commandLink class="btn btn-default" value="Descargar">
                        <i class="fa fa-file-excel-o" style="color: #00a65a;"></i>
                        <p:dataExporter type="xls" target="data-list-client" fileName="Clientes" />
                    </h:commandLink>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group row">
                        <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                        <div class="col-sm-8">
                            <h:selectOneMenu value="#{proveedorList.clienteAdapterList.pageSize}" styleClass="form-control">
                                <f:selectItem itemLabel="10" itemValue="10"/>
                                <f:selectItem itemLabel="20" itemValue="20"/>
                                <f:selectItem itemLabel="50" itemValue="50"/>
                                <f:selectItem itemLabel="100" itemValue="100"/>
                                <f:selectItem itemLabel="200" itemValue="200"/>
                                <f:selectItem itemLabel="500" itemValue="500"/>
                                <f:selectItem itemLabel="1000" itemValue="1000"/>
                                <f:ajax event="change" render="list-client-form:form-data:data-list-client list-client-form:paginator:paginator-panel"
                                        listener="#{proveedorList.filterCliente()}"/>
                            </h:selectOneMenu>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p:dataTable value="#{proveedorList.clienteAdapterList.data}"
                 var="data"
                 id="data-list-client"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 style="text-align: center"
                 >
        <p:column headerText="ID">
            <h:outputText value="#{data.idCliente}"/>
        </p:column>

        <p:column headerText="Razón Social">
            <h:outputText value="#{data.razonSocial}"/>
        </p:column>

        <p:column headerText="Tipo de Persona" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.tipoPersona.codigo}"/>
        </p:column>

        <p:column headerText="N° Documento">
            <h:outputText value="#{data.nroDocumento}"/>
        </p:column>

        <p:column headerText="Canal de Venta" exportable="false">
            <h:outputText value="#{data.canalVenta == null ? '--' : data.canalVenta.descripcion}"/>
        </p:column>

        <p:column headerText="Dirección" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.direccion.direccion}"/>
        </p:column>

        <p:column headerText="N° Dirección" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.direccion.numero}"/>
        </p:column>

        <p:column headerText="Departamento" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.direccion.departamento.descripcion}"/>
        </p:column>

        <p:column headerText="Distrito" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.direccion.distrito.descripcion}"/>
        </p:column>

        <p:column headerText="Ciudad" width="0" styleClass="vd-hidden-column">
            <h:outputText value="#{data.persona.direccion.ciudad.descripcion}"/>
        </p:column>
        <p:column headerText="Estado" exportFunction="#{proveedorList.exportState(data.estado.codigo)}">
            <div align="center">
                <p:commandLink title="#{data.estado.codigo eq 'INACTIVO'? 'INACTIVO':'ACTIVO'}"
                               actionListener="#{proveedorList.onChangeCliente(data)}" update=":message-form:message :list-client-form:form-data:data-list-client">
                    <i class="fa fa-2x #{data.estado.codigo eq 'ACTIVO'?'fa-toggle-on text-green':'fa-toggle-off text-red'}"></i>
                    <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado del Cliente?"  />
                </p:commandLink>
            <!--h:panelGroup rendered="#{data.estado.codigo eq 'ACTIVO'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert">
                        <h:outputText value="#{data.estado.codigo}"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.estado.codigo eq 'INACTIVO'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert">
                        <h:outputText value="#{data.estado.codigo}"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{((data.estado.codigo != 'INACTIVO') and (data.estado.codigo != 'ACTIVO'))}">
                <div class="form-group col">
                    <div class="alert alert-warnning" role="alert">
                        <h:outputText value="#{data.estado.codigo}"/>
                    </div>
                </div>
            </h:panelGroup-->
            </div>
        </p:column>
        <p:column exportable="false">
            <p:menuButton icon="fas fa-ellipsis-h">
                <p:menuitem value="Editar" action="#{proveedorList.contratoURL(data.idCliente)}" icon="fas fa-file-signature"/>
                <p:menuitem value="Dirección" action="#{proveedorList.direccionURL(data.idCliente,data.persona.idDireccion)}" icon="fas fa-map-marker-alt"/>
                <p:menuitem value="Contacto" action="#{proveedorList.contactoURL(data.idCliente)}"  icon="fa fa-phone-square"/>
                <p:menuitem value="Doc. Asociados" onclick="$('#modalFacturas').modal('show')" update="list-client-form:form-data:modalFacturas:data-list-factura-tal 
                            list-client-form:form-data:modalFacturas:paginator-factura-cliente:paginator-panel" action="#{clienteList.filterFactura(data.idCliente)}"  icon="fas fa-file-alt"/>

            </p:menuButton>
        </p:column>
    </p:dataTable>

    <sepsa:loading></sepsa:loading>

    <sepsa:modal-panel id="modalFacturas" title="Facturas Asociadas" sizePanel="modal-xl">
        <f:facet name="content">

            <p:dataTable value="#{proveedorList.facturaAdapter.data}"
                         var="fac"
                         id="data-list-factura-tal"
                         rowIndexVar="index"
                         paginator="false"
                         emptyMessage="Lista vacia">

                <p:column headerText="Nº">
                    <h:outputText value="#{fac.nroFactura}"/>
                </p:column>

                <p:column headerText="Razón Social">
                    <h:outputText value="#{fac.razonSocial}"/>
                </p:column>

            </p:dataTable>
            <br/>

            <sepsa:paginator adapter="#{proveedorList.facturaAdapter}"
                             searchData="#{proveedorList.facturaCliente}"
                             id="paginator-factura-cliente"
                             updatePage="list-client-form:form-data:modalFacturas:data-list-factura-tal 
                             list-client-form:form-data:modalFacturas:paginator-factura-cliente:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>

        </f:facet>
    </sepsa:modal-panel>

</ui:composition>
