<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" >
            <h:panelGroup id="filter-data">
                <div class="row">

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Razon Social</b></label>
                        <p:inputText class="form-control" 
                                     value="#{proveedorList.clienteFilter.razonSocial}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Nº de Documento</b></label>
                        <p:inputText class="form-control" 
                                     value="#{proveedorList.clienteFilter.nroDocumento}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Tipo Documento</b></label>
                        <p:selectOneMenu id="tipoDocumentoCliente" 
                                         class="form-control" 
                                         value="#{proveedorList.clienteFilter.idTipoDocumento}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{proveedorList.tipoDocumentoAdapterList.data}" 
                                           var="tDocumento"
                                           itemLabel="#{tDocumento.codigo}" 
                                           itemValue="#{tDocumento.id}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Factura Electronica</b></label>
                            <p:selectOneMenu id="factElec"
                                             value="#{proveedorList.clienteFilter.factElectronica}"
                                             styleClass="form-control">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                                <f:selectItem itemValue="S" itemLabel="Si"></f:selectItem>
                                <f:selectItem itemValue="N" itemLabel="No"></f:selectItem>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Estado</b></label>
                        <p:selectOneMenu id="estadoCliente" 
                                         class="form-control" 
                                         value="#{proveedorList.clienteFilter.idEstado}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{proveedorList.estadoAdapterList.data}" var="estado"
                                           itemLabel="#{estado.descripcion}" itemValue="#{estado.id}"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Canal de Venta</b></label><br/>
                        <p:autoComplete id="canalVenta" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{proveedorList.completeQuery}"
                                        value="#{proveedorList.canalVenta}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cventaDesc" 
                                        itemLabel="#{cventaDesc.descripcion}" 
                                        itemValue="#{cventaDesc}" 
                                        converter="canalVentaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{proveedorList.onItemSelectCanalVentaFilter}"/>
                        </p:autoComplete>
                    </div>

                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{proveedorList.filterCliente()}"
                           update="list-client-form:form-data:data-list-client 
                           list-client-form:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{proveedorList.clearFilter()}"
                           update="list-client-form:form-data:data-list-client 
                           list-client-form:form-data:filter:filter-data
                           list-client-form:paginator:paginator-panel">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>
