<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripcion</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripcion"
                                 value="#{procesoEdit.proceso.descripcion}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Codigo</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="codigo" 
                                 value="#{procesoEdit.proceso.codigo}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Tipo De Proceso</b></label>
                        <p:selectOneMenu id="tipoProceso" class="form-control" 
                                         value="#{procesoEdit.proceso.idTipoProceso}">
                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione">
                            </f:selectItem>
                            <f:selectItems value="#{procesoEdit.tipoProcesoAdapter.data}" var="datos2"
                                           itemLabel="#{datos2.codigo}" itemValue="#{datos2.id}"/>
                            <p:ajax global="false"></p:ajax>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo</b></label>
                    <p:selectOneMenu id="activo"
                                     styleClass="form-control"
                                     value="#{procesoEdit.proceso.activo}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione">
                        </f:selectItem>
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                        <p:ajax global="false"></p:ajax>
                    </p:selectOneMenu>
                </div>
                <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true"
                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                    cacheTimeout="30000" 
                                    completeMethod="#{procesoEdit.completeEmpresaQuery}"
                                    value="#{procesoEdit.empresaAutocomplete}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="emp" 
                                    itemLabel="#{emp.descripcion}" 
                                    itemValue="#{emp}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{procesoEdit.onItemSelectEmpresa}"/>
                    </p:autoComplete>
                </h:panelGroup>
            </div>
        </div>
    </div>

    <br></br>

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Frecuencia de Ejecucion(sg)</b></label>
                    <p:inputText id="frecuencia"
                                 styleClass="form-control"
                                 placeholder="frecuencia"
                                 value="#{procesoEdit.proceso.frecuenciaEjecucion.frecuencia}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Hora</b></label>
                    <p:inputText id="hora"
                                 styleClass="form-control"
                                 placeholder="hora"
                                 value="#{procesoEdit.proceso.frecuenciaEjecucion.hora}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Minuto</b></label>
                    <p:inputText id="minuto"
                                 styleClass="form-control"
                                 placeholder="minuto" 
                                 value="#{procesoEdit.proceso.frecuenciaEjecucion.minuto}"> 
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
            </div>
        </div>
    </div>
</ui:composition>