<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="LISTAR LOCAL" preTitle="Página para listar Locales"/>
            </ui:define>

            <ui:define name="content-body">

                <h:form id="local-list-form">

                    <p:growl id="msgs" showDetail="true"/>

                    <!-- PANEL PARA FILTRO -->
                    <ui:include src="listar/local-filter.xhtml"/>

                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="listar/local_data_list.xhtml"/>
                        </f:facet>
                    </sepsa:form-panel>

                    <!-- PAGINADOR DE DATOS -->
                    <sepsa:paginator adapter="#{localList.adapter}" 
                                     searchData="#{localList.localFilter}"
                                     id="paginator"
                                     updatePage=":local-list-form:form-data:data-list-local :local-list-form:paginator:paginator-panel"/>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

