<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:sepsa="http://java.sun.com/jsf/composite/components"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="CREAR LOCAL" preTitle="Página para crear Local"/>
            </ui:define>
            <ui:define name="content-body">
                <h:form id="local-form">
                    <script type="application/javascript">
                        window.onAutocompleteChanged = function(wv) {
                        var valor = PF(wv).jq.find('input').val() || '';
                        if(valor.trim() === '') {
                        PF(wv).search('');
                        }
                        }
                    </script>
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="crear/local_data_create.xhtml"/>
                            <h:outputScript library="js" name="maps.js"/>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5Q-g1Ul53A3pgd072z7CXglO1vBGkh44&amp;libraries=places&amp;callback=initAutocomplete"/>
                        </f:facet>
                        <f:facet name="submitBtn">
                            <div class="row" align="right">
                                <div class="col-12">
                                    <p:commandLink styleClass="btn btn-primary"
                                                   style="margin-right: 10px;"
                                                   action="#{localCreate.create()}"
                                                   update=":local-form:form-data:form-panel
                                                   :message-form:message">
                                        Crear
                                    </p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </sepsa:form-panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
