<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripcion"
                                 value="#{estadoCreate.estado.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Codigo(*)</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="Codigo" 
                                 value="#{estadoCreate.estado.codigo}"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Tipo De Estado(*)</b></label>
                        <p:autoComplete id="tipoEstado"
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{estadoCreate.completeQueryTipoEstado}"
                                        value="#{estadoCreate.tipoEstadoFilter}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="ObjVariable" 
                                        itemLabel="#{ObjVariable.descripcion}"
                                        itemValue="#{ObjVariable}"
                                        converter="tipoEstadoPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{estadoCreate.onItemSelectTipoEstadoFilter}"/>
                        </p:autoComplete>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{estadoCreate.estado.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
