<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{liquidacionProductoList.liquidacionProductoAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="liquidacionProducto-form:form-data:data-list-liquidacionProducto 
                                 liquidacionProducto-form:paginator:paginator-panel"
                                 listener="#{liquidacionProductoList.getLiquidacionProductos()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{liquidacionProductoList.liquidacionProductoAdapterList.data}"
                 var="data"
                 id="data-list-liquidacionProducto"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">
        <p:column headerText="Id">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="Id Cliente">
            <h:outputText value="#{data.idCliente eq null ? '--':data.idCliente}"/>
        </p:column>
        <p:column headerText="Cliente">
            <h:outputText value="#{data.cliente eq null ? '--':data.cliente}"/>
        </p:column>
        <p:column headerText="Id Producto">
            <h:outputText value="#{data.idProducto}"/>
        </p:column>
        <p:column headerText="Producto">
            <h:outputText value="#{data.producto}"/>
        </p:column>
        <p:column headerText="Plazo">
            <h:outputText value="#{data.plazo}"/>
        </p:column>
        <p:column headerText="Extension">
            <h:outputText value="#{data.extension}"/>
        </p:column>
        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{liquidacionProductoList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i> EDITAR
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>
    <sepsa:loading></sepsa:loading>
</ui:composition>