<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Cliente:</b></label><br/>
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearLiquidacionProducto.completeQuery}"
                                    value="#{crearLiquidacionProducto.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cliDesc" 
                                    itemLabel="#{cliDesc.razonSocial}" 
                                    itemValue="#{cliDesc}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    required="true"
                                    requiredMessage="¡El campo Cliente es mandatorio!"
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearLiquidacionProducto.onItemSelectClienteFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Producto</b></label>
                        <p:selectOneMenu id="tipoRepositorio" class="form-control" value="#{crearLiquidacionProducto.liquidacionProducto.idProducto}">
                            <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                            </f:selectItem>
                            <f:selectItems value="#{crearLiquidacionProducto.productoListAdapter.data}" var="dato"
                                           itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Plazo(*)</b></label>
                    <p:inputText id="plazo"
                                 styleClass="form-control"
                                 required="true"
                                 requiredMessage="¡El campo plazo es mandatorio!"
                                 placeholder="Plazo"
                                 value="#{crearLiquidacionProducto.liquidacionProducto.plazo}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Extension(*)</b></label>
                    <p:inputText id="extension"
                                 styleClass="form-control"
                                 required="true"
                                 requiredMessage="¡El campo extension es mandatorio!"
                                 placeholder="Extension" 
                                 value="#{crearLiquidacionProducto.liquidacionProducto.extension}"/>
                </div>
            </div>
        </div>
    </div>
</ui:composition>