<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Cliente:</b></label><br/>
                        <p:autoComplete id="cliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{liquidacionProductoList.completeQuery}"
                                        value="#{liquidacionProductoList.cliente}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cliDesc" 
                                        itemLabel="#{cliDesc.razonSocial}" 
                                        itemValue="#{cliDesc}" 
                                        converter="clientePojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{liquidacionProductoList.onItemSelectClienteFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Producto</b></label>
                            <p:selectOneMenu id="producto" class="form-control" value="#{liquidacionProductoList.liquidacionProductoFilter.idProducto}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{liquidacionProductoList.productoAdapter.data}" var="dato"
                                               itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <!-- Si se necesita agregar estos filtros simplemente descomente -->
                    <!--         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                 <div class="form-group">
                                     <label>Plazo</label>
                                     <p:inputText styleClass="form-control" 
                                                  value="#{liquidacionProductoList.liquidacionProductoFilter.plazo}"/>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                 <div class="form-group">
                                     <label>Extension</label>
                                     <p:inputText styleClass="form-control" 
                                                  value="#{liquidacionProductoList.liquidacionProductoFilter.extension}"/>
                                 </div>
                             </div> -->
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{liquidacionProductoList.getLiquidacionProductos()}"
                           update="liquidacionProducto-form:form-data:data-list-liquidacionProducto 
                           liquidacionProducto-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{liquidacionProductoList.clear()}"
                           update="liquidacionProducto-form:form-data:filter:filter-data
                           liquidacionProducto-form:form-data:data-list-liquidacionProducto 
                           liquidacionProducto-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>