<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core">


    <p:dataTable value="#{listarMenu.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 style="text-align: center;"
                 tableStyle="table-layout"
                 tableStyleClass="table table-bordered table-hover"
                 >
         <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="Código">
            <h:outputText value="#{data.codigo}"/>
        </p:column>
        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>
        <p:column headerText="Url">
            <h:outputText value="#{data.url}" />
        </p:column>
        <p:column headerText="Padre">
            <h:outputText value="#{data.padre == null ? '--' : data.padre.descripcion}"/>
        </p:column>
        <p:column headerText="Tipo">
            <h:outputText value="#{data.tipoMenu.descripcion}" />
        </p:column>
        <p:column headerText="Orden">
            <h:outputText value="#{data.orden}"/>
        </p:column>
        <p:column rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" headerText="Empresa">
            <h:outputText value="#{data.empresa.descripcion eq null ? '--' : data.empresa.descripcion}"/>
        </p:column>     
        <p:column headerText="Activo">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink  styleClass="btn btn-primary"
                                actionListener="#{listarMenu.getPerfilMenuList(data)}"
                                oncomplete="$('#modalPerfil').modal('show')"
                                update=":list-form:form-data:data-list
                                :list-form:form-data:modalPerfil:data-list-perfil
                                :list-form:form-data:modalPerfil:panelP"
                                title="Perfiles Asociados"> 
                    <p:ajax global="false"></p:ajax>
                    <i class="fas fa-users"></i>
                </p:commandLink>
                &nbsp;
                <p:commandLink styleClass="btn btn-info"
                               action="#{listarMenu.editUrl(data.id)}"
                               title="Editar">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarMenu.adapter}" 
                     searchData="#{listarMenu.searchData}"
                     id="paginator"
                     updatePage="
                     :list-form:form-data:data-list 
                     :list-form:form-data:paginator:paginator-panel"/>

    <sepsa:modal-panel id="modalPerfil" title="Perfiles" sizePanel="modal-xl">
        <f:facet name="content">
            <p:dataTable value="#{listarMenu.adapterMenuPerfil.data}"
                         var="pe" 
                         id="data-list-perfil"  
                         editable="true" 
                         paginator="false"
                         emptyMessage="No tiene Perfiles"
                         >
                <p:column headerText="Descripción" > 
                    <h:outputText value="#{pe.perfil.descripcion}"/>
                </p:column>
                <p:column headerText="Código" > 
                    <h:outputText value="#{pe.perfil.codigo}"/>
                </p:column>
                <p:column>
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary" 
                                       action="#{listarMenu.createAssociation(pe)}"
                                       rendered="#{pe.activo eq 'N'}"
                                       update=":list-form:form-data:modalPerfil:data-list-perfil
                                       :message-form:message" 
                                       >
                            <i class="far fa-plus-square"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de crear la asociación?"/>
                            ASOCIAR
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-danger" 
                                       action="#{listarMenu.deleteAssociation(pe)}"
                                       rendered="#{pe.activo eq 'S'}"
                                       update=":list-form:form-data:modalPerfil:data-list-perfil 
                                       :message-form:message"
                                       >
                            <i class="fas fa-trash-alt"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de eliminar la asociación?"/>
                            ELIMINAR
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>
            <br/>
            <!-- PAGINADOR DE DATOS -->
            <h:panelGroup id="panelP"  style="#{not empty listarMenu.adapterMenuPerfil.data ?'display:inline':'display: none'}">
                <sepsa:paginator adapter="#{listarMenu.adapterMenuPerfil}" 
                                 searchData="#{listarMenu.menuPerfil}"
                                 id="paginator"
                                 updatePage=":list-form:form-data:modalPerfil:data-list-perfil
                                 :list-form:form-data:modalPerfil:paginator:paginator-panel"/>
            </h:panelGroup>
            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>
        </f:facet>
    </sepsa:modal-panel>

</ui:composition>
