<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control" 
                                 value="#{menuEdit.menu.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripción</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control" 
                                 value="#{menuEdit.menu.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Título</b></label>
                    <p:inputText id="titulo"
                                 styleClass="form-control" 
                                 value="#{menuEdit.menu.titulo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>URL</b></label>
                    <p:inputText id="url"
                                 styleClass="form-control" 
                                 value="#{menuEdit.menu.url}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo</b></label>
                    <h:selectOneMenu id="activo"
                                     value="#{menuEdit.menu.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </h:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Orden</b></label>
                    <br/>
                    <p:spinner id="orden" value="#{menuEdit.menu.orden}" min="0" max="20"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Tipo Menu</b></label>
                    <h:selectOneMenu id="idTipoMenu"
                                     value="#{menuEdit.menu.idTipoMenu}"
                                     styleClass="form-control">
                        <f:selectItems value="#{listarTipoMenu.adapter.data}" 
                                       var="dato"
                                       itemLabel="#{dato.codigo}" 
                                       itemValue="#{dato.id}"/>
                    </h:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Padre</b></label><br/>
                    <p:autoComplete id="idPadre" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{menuEdit.completeQuery}"
                                    value="#{menuEdit.menuAutoComplete}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="padreDesc" 
                                    itemLabel="#{padreDesc.descripcion.concat(' ').concat(padreDesc.empresa.descripcion)}" 
                                    itemValue="#{padreDesc}" 
                                    converter="menuPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{menuEdit.onItemSelectPadreFilter}"/>
                    </p:autoComplete>
                </div>
                <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{menuEdit.completeEmpresaQuery}"
                                    value="#{menuEdit.empresaAutocomplete}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="emp" 
                                    itemLabel="#{emp.descripcion}" 
                                    itemValue="#{emp}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{menuEdit.onItemSelectEmpresa}"/>
                    </p:autoComplete>
                </h:panelGroup>
            </div>
        </div>
    </div>
</ui:composition>