<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Padre</b></label><br/>
                        <p:autoComplete id="idPadre" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarMenu.completeQuery}"
                                        value="#{listarMenu.filtroMenu}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="menDesc" 
                                        itemLabel="#{padreDesc.descripcion.concat(' ').concat(padreDesc.empresa.descripcion)}" 
                                        itemValue="#{menDesc}" 
                                        converter="menuPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarMenu.onItemSelectMenuFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Activo</b></label>
                        <p:selectOneMenu id="activo"
                                         value="#{listarMenu.searchData.activo}"
                                         styleClass="form-control">
                            <f:selectItem itemValue="#{null}" 
                                          itemLabel="Seleccionar">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <br/>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código</b></label>
                        <p:inputText styleClass="form-control" 
                                     value="#{listarMenu.searchData
                                              .codigo}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Descripción</b></label>
                        <p:inputText styleClass="form-control" 
                                     value="#{listarMenu.searchData
                                              .descripcion}"/>
                    </div>
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarMenu.completeEmpresaQuery}"
                                        value="#{listarMenu.empresaAutocomplete}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="emp" 
                                        itemLabel="#{emp.descripcion}" 
                                        itemValue="#{emp}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarMenu.onItemSelectEmpresa}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarMenu.filterMenu()}"
                           update="list-form:form-data:data-list
                           list-form:form-data:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarMenu.clear()}"
                           update="list-form:form-data:data-list 
                           list-form:filter:filter-data
                           list-form:form-data:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>
