<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:sepsa="http://java.sun.com/jsf/composite/components"

      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>

        <ui:composition template="../template.xhtml">

            <ui:define name="content-header">

                <sepsa:content-header title="LISTA DE ESTADOS" preTitle="Página para listar Estados"/>

            </ui:define>

            <ui:define name="content-body">

                <h:form id="talonario-form">

                    <sepsa:form-panel id="form-data">

                        <f:facet name="controls">

                            <!-- PANEL PARA FILTRO -->

                            <ui:include src="listar/estado-data-filter.xhtml"/>

                            <!-- TABLA DE DATOS -->

                            <ui:include src="listar/estado-data-list.xhtml"/>

                        </f:facet>

                    </sepsa:form-panel>

                    <!-- PAGINADOR DE DATOS -->

                    <sepsa:paginator adapter="#{estadoList.adapter}"

                                     searchData="#{estadoList.estadoFilter}"

                                     id="paginator"

                                     updatePage="talonario-form:form-data:data-list-talonario 

                                     talonario-form:paginator:paginator-panel"/>
                    <sepsa:loading></sepsa:loading>

                </h:form>

            </ui:define>

        </ui:composition>

    </h:body>

</html>