<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>
    <sepsa:form-panel id="dato-contacto" btnAtras="false">
        <f:facet name="controls">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Cliente(*)</b></label><br/>
                            <p:autoComplete id="cliente" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{contactoCreate.completeQuery}"
                                            value="#{contactoCreate.cliente}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cliDesc" 
                                            itemLabel="#{cliDesc.razonSocial}" 
                                            itemValue="#{cliDesc}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{contactoCreate.onItemSelectClienteFilter}"/>
                            </p:autoComplete>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Activo(*)</b></label>
                            <p:selectOneMenu id="contactoActivo"
                                             value="#{contactoCreate.contacto.activo}"
                                             styleClass="form-control">
                                <f:selectItem itemValue="S"
                                              itemLabel="Si">
                                </f:selectItem>
                                <f:selectItem itemValue="N"
                                              itemLabel="No">
                                </f:selectItem>
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Tipo Contacto(*)</b></label>
                                <p:selectOneMenu id="tipoContacto" class="form-control" value="#{contactoCreate.contacto.idTipoContacto}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione" >
                                    </f:selectItem>
                                    <f:selectItems value="#{contactoCreate.tipoContactoAdapterList.data}" var="datos2"
                                                   itemLabel="#{datos2.descripcion}" itemValue="#{datos2.id}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Cargo(*)</b></label>
                                <p:selectOneMenu id="cargo" class="form-control" value="#{contactoCreate.contacto.idCargo}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione" >
                                    </f:selectItem>
                                    <f:selectItems value="#{contactoCreate.cargoAdapterList.data}" var="dato"
                                                   itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Telefono</b></label>
                                <div class="input-group mb-3">
                                    <p:outputLabel id="tel"
                                                   styleClass="form-control" 
                                                   value="#{contactoCreate.numerosTel}"
                                                   ></p:outputLabel>
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalTelefono').modal('show')"
                                                         update=":data-form:form-data:modalTelefono"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Email</b></label>
                                <div class="input-group mb-3">
                                    <p:outputLabel id="email"
                                                   styleClass="form-control" 
                                                   value="#{contactoCreate.mails}"
                                                   ></p:outputLabel>
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalEmail').modal('show')"
                                                         update=":data-form:form-data:modalEmail"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Datos de Persona</h5>
                                    <div class="form-row">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label><b>Nombre (*)</b></label>
                                                <p:inputText id="prevName"
                                                             styleClass="form-control" 
                                                             value="#{contactoCreate.persona.nombre}"
                                                             ></p:inputText>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label><b>Apellido (*)</b></label>
                                                <p:inputText id="prevApe"
                                                             styleClass="form-control" 
                                                             value="#{contactoCreate.persona.apellido}"
                                                             ></p:inputText>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:loading></sepsa:loading>
    <sepsa:modal-panel id="modalTelefono" title="Telefono">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="tablas">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{contactoCreate.selectedTel}" styleClass="form-control">
                                            <f:selectItems value="#{contactoCreate.listTipoTelefono}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.codigo}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Prefijo</label>
                                        <p:inputText id="prefT"
                                                     styleClass="form-control" 
                                                     value="#{contactoCreate.prefijo}"
                                                     ></p:inputText>

                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Número</label>
                                        <p:inputText id="numT"
                                                     styleClass="form-control" 
                                                     value="#{contactoCreate.tel}"
                                                     ></p:inputText>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p:selectBooleanCheckbox value="#{contactoCreate.principal}"/>
                                        <label>  Principal</label>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <p:dataTable value="#{contactoCreate.listTelefono}" var="tel" 
                                     rows="3" reflow="true" 
                                     rendered="#{not empty contactoCreate.listTelefono}"
                                     id="tableTelf">
                            <p:column headerText="tipo" >
                                <h:outputText value="#{tel.tipoTelefono.codigo}"/>
                            </p:column>
                            <p:column headerText="prefijo" >
                                <h:outputText value="#{tel.prefijo}"/>
                            </p:column>
                            <p:column headerText="Numero">
                                <h:outputText value="#{tel.numero}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton class="btn btn-danger" value="-"
                                                 actionListener="#{contactoCreate.delTelefono}"
                                                 update=":data-form:form-data:modalTelefono:tablas
                                                 :data-form:form-data:dato-contacto:tel">
                                    <f:param name="idTel" value ="#{tel.id}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsTel" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Agregar" 
                             actionListener="#{contactoCreate.addTelefono()}" 
                             update=":data-form:form-data:modalTelefono:tablas
                             :message-form:message
                             :data-form:form-data:dato-contacto:tel">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>


    <sepsa:modal-panel id="modalEmail" title="Email">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="datosEmail">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{contactoCreate.selectedEmail}" styleClass="form-control">
                                            <f:selectItems value="#{contactoCreate.listTipoEmail}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.descripcion}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Email</label>
                                        <p:inputText id="emailFull"
                                                     styleClass="form-control" 
                                                     value="#{contactoCreate.email}"
                                                     ></p:inputText>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p:selectBooleanCheckbox value="#{contactoCreate.principalEmail}"/>
                                        <label>  Principal</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p:dataTable  value="#{contactoCreate.listEmails}" var="mail" reflow="true"
                                      rendered="#{not empty contactoCreate.listEmails}" rows="3">
                            <p:column headerText="Tipo" >
                                <h:outputText value="#{mail.codigoTipoEmail}"/>
                            </p:column>
                            <p:column headerText="Email" >
                                <h:outputText value="#{mail.email}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton class="btn btn-danger" value="-" 
                                                 action="#{contactoCreate.delMail}"
                                                 update=":data-form:form-data:modalEmail:datosEmail
                                                 :data-form:form-data:dato-contacto:email">
                                    <f:param name="idMail" value ="#{mail.id}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>

                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsEmail" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Agregar" 
                             actionListener="#{contactoCreate.addMail()}" 
                             update=":data-form:form-data:modalEmail:datosEmail
                             :message-form:message
                             :data-form:form-data:dato-contacto:email">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>

</ui:composition>
