<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{retencionCompra.adapter.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-form:form-data:data-list
                                 list-form:form-data:paginator:paginator-panel"
                                 listener="#{retencionCompra.filterRetencionCompra()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{retencionCompra.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 style="text-align: center;"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="Persona">
            <h:outputText value="#{data.persona.nombre == null ? '--' : data.persona.nombre}">
            </h:outputText>
        </p:column>
        <p:column headerText="Nº de Retención">
            <h:outputText value="#{data.nroRetencion}"/>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Total">
            <h:outputText value="#{data.montoTotal}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.estado.codigo eq 'ANULADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="Anulado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado.codigo eq 'CONFIRMADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success"  role="alert">
                            <h:outputText value="Confirmado"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Eliminar">
            <div align="center">                
                <p:commandLink   styleClass="btn btn-danger"
                                 action="#{retencionCompra.eliminarRetencionCompra(data.id)}"
                                 update=":list-form:form-data:data-list :list-form:form-data:data-list 
                                 :message-form:message"
                                 title="Eliminar">
                    <p:confirm header="Confirmación" message="¿Está seguro de eliminar la Retención?" />
                    <i class="fas fa-trash"></i>
                </p:commandLink>

            </div>
        </p:column>
    </p:dataTable>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{retencionCompra.adapter}" 
                     searchData="#{retencionCompra.searchData}"
                     id="paginator"
                     updatePage="
                     :list-form:form-data:data-list 
                     :list-form:form-data:paginator:paginator-panel"/>

</ui:composition>
