<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Cliente</b></label><br/>
                        <p:autoComplete id="idCliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarRetencion.completeQuery}"
                                        value="#{listarRetencion.cliente}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="cliDesc" 
                                        itemLabel="#{cliDesc.razonSocial}" 
                                        itemValue="#{cliDesc}" 
                                        converter="clientePojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarRetencion.onItemSelectClienteFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Retención</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarRetencion.searchData
                                                  .nroRetencion}"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Estado</b></label>
                        <p:selectOneMenu id="idEstado"
                                         value="#{listarRetencion.searchData.idEstado}"
                                         styleClass="form-control">
                            <f:selectItem itemValue="#{null}" 
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItems value="#{listarRetencion.estadoAdapter.data}" 
                                           var="dato"
                                           itemLabel="#{dato.descripcion}" 
                                           itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                        <div class="form-group">
                            <label><b>Desde</b></label>
                            <p:calendar id="fechaDesde" 
                                        value="#{listarRetencion.searchData
                                                 .fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                        <div class="form-group">
                            <label><b>Hasta</b></label>
                            <p:calendar id="fechaHasta" 
                                        value="#{listarRetencion.searchData
                                                 .fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>                   

                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarRetencion.filterRetencion()}"
                           update="list-form:form-data:data-list
                           list-form:form-data:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarRetencion.clear()}"
                           update="list-form:filter:filter-data
                           list-form:form-data:data-list 
                           list-form:form-data:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>
