<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{listarRetencion.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 style="text-align: center;"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        
        <p:column headerText="Cliente">
            <h:outputText value="#{data.cliente.razonSocial}">
            </h:outputText>
        </p:column>

        <p:column headerText="Nº de Retención">
            <h:outputText value="#{data.nroRetencion}"/>
        </p:column>

        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Monto Total">
            <h:outputText value="#{data.montoTotal}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.estado.codigo eq 'ANULADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="Anulado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado.codigo eq 'CONFIRMADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success"  role="alert">
                            <h:outputText value="Confirmado"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Anular">
            <div align="center">
                <p:commandLink styleClass="btn btn-danger"
                                 title="Anular"
                                 onclick="$('#confirmation').modal('show')" 
                                 update=":list-form:form-data:confirmation:panelConfirmation" 
                                 disabled="#{data.estado.codigo eq 'ANULADO'}">
                    <i class="fa fa-times-circle"></i>
                  <f:setPropertyActionListener value="#{data}"
                                                     target="#{listarRetencion.searchData}"/>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarRetencion.adapter}" 
                     searchData="#{listarRetencion.searchData}"
                     id="paginator"
                     updatePage="
                     :list-form:form-data:data-list 
                     :list-form:form-data:paginator:paginator-panel"/>
    
     <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea anular la Retención #{listarRetencion.searchData.nroRetencion}?"/>
                    &nbsp;
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Seleccion el motivo(*):</b></label>
                            <h:selectOneMenu value="#{listarRetencion.searchData.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccinar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{listarRetencion.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n(*): </b></label>
                            <br/>
                            <h:inputTextarea  styleClass="form-control" 
                                              value="#{listarRetencion.searchData.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea>
                        </div>
                    </div>

                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             update=":message-form:message 
                                     :list-form:form-data:data-list " process="@this"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{listarRetencion.anularRetencion(listarRetencion.searchData)}"/>
        </f:facet>
    </sepsa:modal-panel>

</ui:composition>
