<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Digital</b></label>
                        <p:selectOneMenu id="digital"
                                         value="#{talonarioList.talonarioFilter.digital}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Activo</b></label>
                        <p:selectOneMenu id="activo"
                                         value="#{talonarioList.talonarioFilter.activo}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo talonario</b></label>
                            <p:selectOneMenu id="tipoTalonario" class="form-control" value="#{talonarioList.talonarioFilter.idTipoDocumento}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{talonarioList.tipoDocumentoAdapterList.data}" var="dato"
                                               itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{talonarioList.getTalonario()}"
                           update="talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{talonarioList.clear()}"
                           update="talonario-form:form-data:filter:filter-data
                           talonario-form:form-data:data-list-talonario 
                           talonario-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>