<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{talonarioList.talonarioAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="talonario-form:form-data:data-list-talonario 
                                 talonario-form:paginator:paginator-panel"
                                 listener="#{talonarioList.getTalonario()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{talonarioList.talonarioAdapterList.data}"
                 var="data"
                 id="data-list-talonario"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">
        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Timbrado">
            <h:outputText value="#{data.timbrado}"/>
        </p:column>

        <p:column headerText="Inicio">
            <h:outputText value="#{data.inicio}"/>
        </p:column>

        <p:column headerText="Fin">
            <h:outputText value="#{data.fin}"/>
        </p:column>

        <p:column headerText="Fecha de Inicio">
            <h:outputText value="#{data.fechaInicio}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Fecha de Vencimiento">
            <h:outputText value="#{data.fechaVencimiento eq null ? '--':data.fechaVencimiento}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Activo">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>

        <p:column headerText="Nro Sucursal">
            <h:outputText value="#{data.nroSucursal}"/>
        </p:column>

        <p:column headerText="Nro Punto de Venta">
            <h:outputText value="#{data.nroPuntoVenta}"/>
        </p:column>

        <p:column headerText="Tipo Talonario">
            <h:outputText value="#{data.tipoDocumento.descripcion}"/>
        </p:column>
        
        <p:column headerText="Digital">
            <div align="center">
                <h:panelGroup rendered="#{data.digital eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.digital eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        
        <p:column headerText="Código Interno">
            <h:outputText value="#{data.codigoInterno}"/>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{talonarioList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>&nbsp;

                <p:commandLink styleClass="btn btn-primary"
                               onclick="$('#modalLocales').modal('show')"
                               action="#{talonarioList.filterLocalTalonario(data.id)}"
                               update="talonario-form:form-data:modalLocales:data-list-local-tal talonario-form:form-data:modalLocales:paginator-tal-local:paginator-panel"
                               title="Locales Asociados"
                               >
                    <i class="fas fa-building"></i>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

    <sepsa:loading></sepsa:loading>

    <sepsa:modal-panel id="modalLocales" title="Locales" sizePanel="modal-xl">
        <f:facet name="content">

            <p:dataTable value="#{talonarioList.adapterTalonarioLocalRelacionado.data}"
                         var="loc"
                         id="data-list-local-tal"
                         rowIndexVar="index"
                         paginator="false"
                         emptyMessage="Lista vacia">

                <p:column headerText="Timbrado">
                    <h:outputText value="#{loc.talonario.timbrado}"/>
                </p:column>
                
                <p:column headerText="Local">
                    <h:outputText value="#{loc.local.descripcion}"/>
                </p:column>

                <p:column headerText="Opciones">
                    <div align="center">
                        <p:commandLink styleClass="btn btn-success"
                                       title="Activar"
                                       rendered="#{loc.activo eq 'N'}"
                                       action="#{talonarioList.editarAsociacion(loc.idTalonario, loc.idLocal, loc.activo)}"
                                       update="talonario-form:form-data:modalLocales:data-list-local-tal message-form:message">
                            <i class="far fa-check-circle"></i>&nbsp; ACTIVAR
                            <p:confirm  header="Confirmación" message="¿Está seguro de crear la asociación?"/>
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-danger"
                                       title="Inactivar"
                                       rendered="#{loc.activo eq 'S'}"
                                       action="#{talonarioList.editarAsociacion(loc.idTalonario, loc.idLocal, loc.activo)}"
                                       update="talonario-form:form-data:modalLocales:data-list-local-tal message-form:message">
                            <i class="fas fa-ban"></i>&nbsp; INACTIVAR
                            <p:confirm  header="Confirmación" message="¿Está seguro de eliminar la asociación?"/>
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>
            <br/>
            <sepsa:paginator adapter="#{talonarioList.adapterTalonarioLocalRelacionado}"
                             searchData="#{talonarioList.talonarioLocalFilter}"
                             id="paginator-tal-local"
                             updatePage="talonario-form:form-data:modalLocales:data-list-local-tal talonario-form:form-data:modalLocales:paginator-tal-local:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>


        </f:facet>
    </sepsa:modal-panel>
</ui:composition>