<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Generales</h5>
            <hr></hr>
            <div class="form-row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>ID Cliente Sepsa(*)</b></label>
                    <p:inputText id="idClienteSepsa"
                                 styleClass="form-control" 
                                 value="#{empresaCreate.empresa.idClienteSepsa}"
                                 ></p:inputText>
                </div>

        
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="des"
                                 styleClass="form-control" 
                                 value="#{empresaCreate.empresa.descripcion}"
                                 ></p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código(*)</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control" 
                                 value="#{empresaCreate.empresa.codigo}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>RUC(*)</b></label>
                    <p:inputText id="ruc"
                                 styleClass="form-control" 
                                 value="#{empresaCreate.empresa.ruc}"
                                 ></p:inputText>
                </div>
            </div>
        </div>
    </div>
</ui:composition>