<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Marca</b></label><br/>
                    <p:autoComplete id="marca" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{productoCreate.completeQuery}"
                                    value="#{productoCreate.marcaFilterAux}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="marc" 
                                    itemLabel="#{marc.descripcion}"
                                    itemValue="#{marc}" 
                                    converter="marcaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{productoCreate.onItemSelectMarcaFilter}"/>
                    </p:autoComplete>
                </div>
                <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Marca</b></label>
                        <p:selectOneMenu id="marca" class="form-control" value="#{productoCreate.producto.idMarca}">
                            <f:selectItem itemValue="#{null}" itemLabel="Ninguna">
                            </f:selectItem>
                            <f:selectItems value="#{productoCreate.marcaAdapterList.data}" var="dato"
                                           itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div-->
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Descripción(*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripción"
                                 value="#{productoCreate.producto.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Código GTIN</b></label>
                    <p:inputText id="codigoGTIN"
                                 styleClass="form-control"
                                 placeholder="Código GTIN"
                                 value="#{productoCreate.producto.codigoGtin}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Unidad de medida</b></label><br/>
                    <p:autoComplete id="metrica" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{productoCreate.completeQueryMetrica}"
                                    value="#{productoCreate.metrica}"
                                    forceSelection="true"
                                    var="metric" 
                                    itemLabel="#{metric.descripcion}"
                                    itemValue="#{metric}" 
                                    converter="metricaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{productoCreate.onItemSelectMetricaFilter}"/>
                    </p:autoComplete>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Código Interno</b></label>
                    <p:inputText id="codigoInterno"
                                 styleClass="form-control"
                                 placeholder="Código Interno" 
                                 value="#{productoCreate.producto.codigoInterno}"/>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{productoCreate.producto.activo}"
                                     class="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Porcentaje Impuesto(*)</b></label>
                    <f:selectItem itemValue="#{null}" itemLabel="Ninguna">
                    </f:selectItem>
                    <p:selectOneMenu id="confValor" class="form-control" value="#{productoCreate.producto.porcentajeImpuesto}">
                        <f:selectItems value="#{productoCreate.adapterConfiguracionValor.data}" var="conf"
                                       itemLabel="#{conf.valor}" itemValue="#{conf.valor}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Cuenta Contable</b></label>
                    <p:inputText id="nroCtaContable"
                                 styleClass="form-control"
                                 placeholder="N° Cuenta Contable"
                                 value="#{productoCreate.producto.cuentaContable}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Nro. de Lote</b></label>
                    <p:inputText id="nroLote"
                                 styleClass="form-control"
                                 placeholder="Nro. de Lote"
                                 value="#{productoCreate.producto.nroLote}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Fecha Vto Lote:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaVencimientoLote" 
                                value="#{productoCreate.producto.fechaVencimientoLote}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        
                    </p:calendar>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Tipo de producto(*)</b></label>
                    <p:selectOneMenu id="tipoProducto" class="form-control" value="#{productoCreate.producto.idTipoProducto}">
                        <f:selectItems value="#{productoCreate.tipoProductoAdapter.data}" var="tipoProd"
                                       itemLabel="#{tipoProd.descripcion}" itemValue="#{tipoProd.id}"/>
                         <p:ajax event="itemSelect"  update="@form"/>
                    </p:selectOneMenu>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{productoCreate.producto.idTipoProducto eq 2 ? 'display:inline' : 'display:none'}">
                    <label><b>Porcentaje Relacionado</b></label>
                    <h:inputText id="porcentajeRelacionado"
                                 styleClass="form-control"
                                 value="#{productoCreate.porcentajeRelacionado}">
                        <f:convertNumber type= "number"  pattern= "#,###.####" />          
                    </h:inputText>
                    
                </div>
            </div>
            <h:panelGroup id="pnl-relacionados" style="#{productoCreate.producto.idTipoProducto eq 2 ? 'display:inline' : 'display:none'}">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p:commandLink styleClass="btn btn-primary"
                                           onclick="$('#modalProducto').modal('show')"
                                           title="Seleccionar Producto"
                                           update="data-form:form-data:modalProducto"
                                           >
                                Agregar Producto Relacionado
                            </p:commandLink>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label><b>Productos Relacionados</b></label>
                            <p:dataTable value="#{productoCreate.productosRelacionados}"
                                         var="prod"
                                         id="data-list-productos"
                                         widgetVar="tablita"
                                         editable="true"
                                         reflow="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;" 
                                         tableStyleClass="table table-bordered table-hover"
                                         emptyMessage="No existen registros disponibles"
                                         rowKey="#{detalle.nroLinea}">    

                                <!--p:column headerText="Producto">
                                    <p:commandLink styleClass="btn btn-primary"
                                                   onclick="$('#modalProducto').modal('show')"
                                                   title="Seleccionar Producto"
                                                   disabled="#{productoCreate.idOC != null}"
                                                   action="#{productoCreate.guardarNroLinea(detalle.nroLinea)}"
                                                   update="list-factura-create-form:form-data:modalProducto list-factura-create-form:form-data:modalProducto:producto"
                                                   >
                                        <i class="fas fa-barcode"></i>
                                    </p:commandLink>
                                </p:column-->
                                
                                <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{productoCreate.deleteProducto(prod.id)}"
                                                   update="@form"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                                </p:column>
                                
                                <p:column headerText="ID">
                                    <p:outputLabel style="width:100%; text-align: center;" value="#{prod.id}"/>
                                </p:column>

                                <p:column headerText="Descripción">
                                    <p:outputLabel style="width:100%; text-align: center;" value="#{prod.descripcion}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                </h:panelGroup>
        </div>
    </div>
    
    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{productoCreate.completeQueryProducto}"
                                value="#{productoCreate.selectedProducto}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcionLote}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <!--p:ajax event="itemSelect" listener="#{productoCreate.onItemSelectProducto}" update="message-form:message"/-->
                </p:autoComplete>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandLink id="btnModal" 
                             class="btn btn-primary" 
                             action="#{productoCreate.agregarProducto()}"
                             onclick="$('#modalProducto').modal('hide')"
                             update="data-form:form-data:data-list-productos">
                Relacionar Producto
            </p:commandLink>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>
