<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Moneda(*)</b></label>
                        <p:selectOneMenu id="moneda" class="form-control" value="#{tipoCambioCreate.tipoCambio.idMoneda}">
                            <f:selectItems value="#{tipoCambioCreate.monedaAdapterList.data}" var="dato"
                                           itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Compra(*)</b></label>
                    <p:inputText id="compra"
                                 styleClass="form-control"
                                 placeholder="Compra"
                                 value="#{tipoCambioCreate.tipoCambio.compra}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Venta(*)</b></label>
                    <p:inputText id="venta"
                                 styleClass="form-control"
                                 placeholder="Venta" 
                                 value="#{tipoCambioCreate.tipoCambio.venta}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{tipoCambioCreate.tipoCambio.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Sí">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
