<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="LISTAR CLIENTE" preTitle="Página para listar Clientes"/>
            </ui:define>
            <ui:define name="content-body">
                <h:form id="list-client-form">
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <!-- PANEL PARA FILTRO -->
                            <ui:include src="listar/client-filter.xhtml"/>
                            <!-- TABLA DE DATOS -->
                            <ui:include src="listar/client-data-list.xhtml"/>
                        </f:facet>
                    </sepsa:form-panel>
                    <!-- PAGINADOR DE DATOS -->
                    <sepsa:paginator adapter="#{clienteList.clienteAdapterList}" 
                                     searchData="#{clienteList.clienteFilter}"
                                     id="paginator"
                                     updatePage="list-client-form:form-data:data-list-client
                                     list-client-form:paginator:paginator-panel"/>
                    <sepsa:loading></sepsa:loading>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

