<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="EDITAR DEPÓSITO LOGÍSTICO" preTitle="Página para editar Depósito Logístico"/>
            </ui:define>
            <ui:define name="content-body">
                <h:form id="data-form">
                    <sepsa:form-panel id="form-data" btnAtras="true">
                        <f:facet name="controls">
                            <ui:include src="component/deposito-data-edit.xhtml"/>
                        </f:facet>

                        <f:facet name="submitBtn">
                            <div class="row" align="right">
                                <div class="col-12">
                                    <p:commandLink styleClass="btn btn-primary"
                                                   style="margin-right: 10px;"
                                                   action="#{depositoEdit.edit()}"
                                                   update=":message-form:message">
                                        Confirmar
                                    </p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </sepsa:form-panel>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

