<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
               <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Marca</b></label><br/>
                    <p:autoComplete id="marca" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{productoEdit.completeQuery}"
                                    value="#{productoCreate.marcaFilterAux}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="marc" 
                                    itemLabel="#{marc.descripcion}"
                                    itemValue="#{marc}" 
                                    converter="marcaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{productoEdit.onItemSelectMarcaFilter}"/>
                    </p:autoComplete>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Descripción(*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripción"
                                 value="#{productoEdit.producto.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Código GTIN(*)</b></label>
                    <p:inputText id="codigoGTIN"
                                 styleClass="form-control"
                                 placeholder="Código GTIN"
                                 value="#{productoEdit.producto.codigoGtin eq '0' ? null : productoEdit.producto.codigoGtin }"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Unidad de medida</b></label><br/>
                    <p:autoComplete id="metrica" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{productoEdit.completeQueryMetrica}"
                                    value="#{productoEdit.metrica}"
                                    forceSelection="true"
                                    var="metric" 
                                    itemLabel="#{metric.descripcion}"
                                    itemValue="#{metric}" 
                                    converter="metricaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{productoEdit.onItemSelectMetricaFilter}"/>
                    </p:autoComplete>
                </div>
               <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Código Interno</b></label>
                    <p:inputText id="codigoInterno"
                                 styleClass="form-control"
                                 placeholder="Código Interno" 
                                 value="#{productoEdit.producto.codigoInterno}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Activo(*)</b></label>
                    <h:selectOneMenu id="activo"
                                     value="#{productoEdit.producto.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </h:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Porcentaje Impuesto(*)</b></label>
                    <p:selectOneMenu id="confValor" class="form-control" value="#{productoEdit.producto.porcentajeImpuesto}">

                        <f:selectItems value="#{productoEdit.adapterConfiguracionValor.data}" var="conf"
                                       itemLabel="#{conf.valor}" itemValue="#{conf.valor}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Cuenta Contable(*)</b></label>
                    <p:inputText id="nroCtaContable"
                                 styleClass="form-control"
                                 placeholder="N° Cuenta Contable"
                                 value="#{productoEdit.producto.cuentaContable}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Nro. de Lote</b></label>
                    <p:inputText id="nroLote"
                                 styleClass="form-control"
                                 placeholder="Nro. de Lote"
                                 value="#{productoEdit.producto.nroLote}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Fecha Vto Lote:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaVencimientoLote" 
                                value="#{productoEdit.producto.fechaVencimientoLote}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        
                    </p:calendar>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Tipo de producto(*)</b></label>
                    <p:selectOneMenu id="tipoProducto" class="form-control" value="#{productoEdit.producto.idTipoProducto}">
                        <f:selectItems value="#{productoEdit.tipoProductoAdapter.data}" var="tipoProd"
                                       itemLabel="#{tipoProd.descripcion}" itemValue="#{tipoProd.id}"/>
                         <p:ajax event="itemSelect"  update="@form"/>
                    </p:selectOneMenu>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{productoEdit.producto.idTipoProducto eq 2 ? 'display:inline' : 'display:none'}">
                    <label><b>Porcentaje Relacionado</b></label>
                    <h:inputText id="porcentajeRelacionado"
                                 styleClass="form-control"
                                 value="#{productoEdit.porcentajeRelacionado}">
                        <f:convertNumber type= "number"  pattern= "#,###.####" />          
                    </h:inputText>
                    
                </div>

            </div>
        </div>
    </div>
</ui:composition>