<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <p:growl id="msgs" showDetail="true" globalOnly="true" redisplay="false"/>
    <sepsa:filter-panel id="filter" btnFilter="true">

        <f:facet name="filterBody" id="fiter-body">

            <h:panelGroup id="filter-data">

                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Cliente</b></label><br/>
                            <p:autoComplete cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{listarCobros.completeQuery}"
                                            value="#{listarCobros.client}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cliDesc" 
                                            itemLabel="#{cliDesc.razonSocial}" 
                                            itemValue="#{cliDesc}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarCobros.onItemSelectCliente}"  
                                        />
                            </p:autoComplete>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Estado</b></label>
                             <p:selectOneMenu id="estadoCobro" 
                                         class="form-control" 
                                         value="#{listarCobros.searchData.idEstado}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{listarCobros.estadoAdapterList.data}" var="estado"
                                           itemLabel="#{estado.descripcion}" itemValue="#{estado.id}"/>
                        </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Recibo</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarCobros.searchData
                                                  .nroRecibo}"/>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Desde</b></label>
                            <p:calendar id="fechaDesde" 
                                        value="#{listarCobros.searchData
                                                 .fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Hasta</b></label>
                            <p:calendar id="fechaHasta" 
                                        value="#{listarCobros.searchData
                                                 .fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="refreshBtn">
            <p:commandLink styleClass="btn btn-success"
                           action="#{listarCobros.refreshCobros()}"
                           update="list-form:form-data:data-list 
                           list-form:form-data:paginator:paginator-panel
                           list-form:filter:estadoCobro">

                <i class="fa fa-refresh"></i>
                REFRESCAR  
            </p:commandLink>
        </f:facet>

        <f:facet name="filterBtn">

            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarCobros.filterCobros()}"
                           update="list-form:form-data:data-list list-form:form-data:paginator:paginator-panel list-form:filter:estadoCobro">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarCobros.clear()}"
                           update="list-form:form-data:data-list 
                           list-form:form-data:paginator:paginator-panel
                           @form">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>


    </sepsa:filter-panel>

</ui:composition>

