<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <script>
        $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });
    </script>
    
        <h:panelGroup id="pnl-pop-up">
        <h:panelGroup rendered="#{cobroCreateAltern.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{cobroCreateAltern.adapterCobroTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{cobroCreateAltern.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     action="#{cobroCreateAltern.obtenerDatosCobro()}"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>

    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Recibo">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar/imprimir el recibo?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-print"></i> Descargar
                    <p:fileDownload value="#{cobroCreateAltern.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{cobroCreateAltern.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Cliente</b></label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{cobroCreateAltern.completeQuery}"
                                    value="#{cobroCreateAltern.client}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{cobroCreateAltern.onItemSelectCliente()}" 
                                update="cobro-form:form-data:grupo"/>
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <sepsa:loading></sepsa:loading>

    <h:panelGroup id="grupo" style="#{cobroCreateAltern.viewPanel eq true ?
                                      'display:inline':'display: none'}"  >
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><b>Datos del cliente</b></h5>
            </div>
            <div class="card-body">
 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>ID: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreateAltern.client.idCliente}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Razón Social: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreateAltern.client.razonSocial}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>RUC: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreateAltern.client.nroDocumento}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>SALDO: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreateAltern.cobro.saldoCliente
                                                                             eq null? '0':cobroCreateAltern.cobro.saldoCliente}">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:outputText>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
        <br/>
        <div class="row"> 
            <div class="form-group col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Recibo</b></h5>
                    </div>
                    <div class="card-body">
                        <h:panelGroup id="cobro"  >
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12" >
                                                <label style="font-weight: bold;">Fecha</label>
                                                <p:calendar 
                                                    value="#{cobroCreateAltern.reciboDate}" 
                                                    locale="es" 
                                                    pattern="dd/MM/yyyy"
                                                    styleClass="p-cal calendarClass">
                                                    <p:ajax event="dateSelect" listener="#{cobroCreateAltern.onDateSelect}" />
                                                </p:calendar>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group" >
                                                <label style="font-weight: bold;">N° de Recibo</label>
                                                <div class="input-group mb-3">
                                                    <h:outputLabel value="#{cobroCreateAltern.reciboNum}"
                                                                   styleClass="form-control"
                                                                   />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label style="font-weight: bold;">Lugar Cobro</label>
                                                <h:selectOneMenu value="#{cobroCreateAltern.cobro.idLugarCobro}" 
                                                                 styleClass="form-control">
                                                    <f:selectItems value="#{cobroCreateAltern.listLugarCobro}" >
                                                    </f:selectItems>
                                                    <p:ajax global="false"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                    <h:panelGroup id="seleccionEmail" style="#{cobroCreateAltern.notificar eq 'S' ?'display:inline':'display:none'}">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label style="font-weight: bold;">Emails disponibles para envío de recibo</label>
                                                <p:dataTable value="#{cobroCreateAltern.emailList}"
                                                             var="data"
                                                             id="data-list-mails"
                                                             paginator="false"
                                                             tableStyle="table-layout: auto;" 
                                                             tableStyleClass="table table-bordered table-hover"
                                                             emptyMessage="No existen correos relacionados al cliente"
                                                             >
                                                    <p:column headerText="Mail">
                                                        <h:outputText value="#{data.email.email}"/>
                                                    </p:column>
                                                    <p:column headerText="Agregar">
                                                        <div align="center">
                                                            <p:commandLink styleClass="btn btn-danger"
                                                                           title="Agregar"
                                                                           action="#{cobroCreateAltern.agregarEmail(data.email)}"
                                                                           process="@this"
                                                                           update="cobro-form:form-data:selected-mails"
                                                                           >
                                                                <i class="fas fa-plus-square "></i>
                                                            </p:commandLink>
                                                        </div>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <label style="font-weight: bold;">Agregar Email para envío de notificación</label>
                                                        <div class="input-group mb-3">
                                                            <h:inputText id="email-input" value="#{cobroCreateAltern.addEmail}"
                                                                         styleClass="form-control">
                                                                <p:ajax event="keyup" delay="600"/>
                                                            </h:inputText>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <p:commandButton styleClass="btn btn-primary"
                                                                         style="float:right;"
                                                                         title="Agregar"
                                                                         action="#{cobroCreateAltern.agregarNuevoEmail()}"
                                                                         process="@this"
                                                                         update="cobro-form:form-data:selected-mails">
                                                        </p:commandButton>
                                                    </div> 
                                                </div> 
                                            </div>
                                            <div class="col-sm-4">
                                                <label style="font-weight: bold;">Emails que recibirán la notificación</label>
                                                <p:dataTable value="#{cobroCreateAltern.selectedEmail}"
                                                             var="data"
                                                             id="selected-mails"
                                                             editable="true"
                                                             paginator="false"
                                                             tableStyle="table-layout: auto;" 
                                                             tableStyleClass="table table-bordered table-hover"
                                                             emptyMessage="No se seleccionó ningún email para notificar"
                                                             rowIndexVar="index"
                                                             >
                                                    <p:ajax event="rowEdit" listener="#{cobroCreateAltern.onRowEditEmail}"
                                                            process="@this"
                                                            update="cobro-form:form-data:selected-mails
                                                            message-form:message">
                                                    </p:ajax>
                                                    <p:column headerText="Mail">
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{data.email}"/>
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:inputText value="#{data.email}"/>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Editar" style="width:50px" exportable="false">
                                                        <p:rowEditor/>
                                                    </p:column>
                                                    <p:column headerText="Eliminar">
                                                        <div align="center">
                                                            <p:commandLink styleClass="btn btn-danger"
                                                                           title="Agregar"
                                                                           action="#{cobroCreateAltern.eliminarEmail(index)}"
                                                                           process="@this"
                                                                           update="cobro-form:form-data:selected-mails"
                                                                           >
                                                                <i class="fas fa-minus-square"></i>
                                                            </p:commandLink>
                                                        </div>
                                                    </p:column>
                                                </p:dataTable>

                                            </div>
                                        </div>
                                        <br/>

                                    </h:panelGroup>
                                    <br/>
                                    <h:panelGroup id="detalles-cobros">
                                        
                                            <div class="card">
                                                <div class="card-body">                  

                                                    <br/>
                                                    <p:dataTable value="#{cobroCreateAltern.cobro.cobroDetalles}"
                                                                 var="data"
                                                                 id="data-list-detalle"
                                                                 paginator="false"
                                                                 reflow="true"
                                                                 rowKey="#{data.nroLinea}"
                                                                 emptyMessage="Lista vacia">
                                                        <p:column>
                                                            <p:commandButton styleClass="btn btn-danger"
                                                                             action="#{cobroCreateAltern.delLine()}"
                                                                             process="@this"
                                                                             icon="fa fa-times-circle"
                                                                             update="data-list-detalle 
                                                                             :message-form:message
                                                                             :cobro-form:form-data:cobro"> 

                                                                <f:param value="#{data.nroLinea}" name="nro"/>
                                                            </p:commandButton>
                                                        </p:column>

                                                        <p:column headerText="Concepto">
                                                            <h:inputText value="#{data.descripcion}" class="form-control">
                                                                <f:ajax/>
                                                            </h:inputText>
                                                        </p:column>

                                                        <p:column headerText="Monto Cobrado">
                                                            <h:inputText value="#{data.montoCobro}" class="form-control"
                                                                         valueChangeListener="#{cobroCreateAltern.onChangeChargeAmount}">                        
                                                                <f:ajax render="cobro-form:form-data:cobro cobro-form:form-data:cobro:montoCobroGs"/>
                                                            </h:inputText>
                                                        </p:column>
                                                        <p:column headerText="Tipo Pago" style="width: 150px;">
                                                            <h:selectOneMenu value="#{data.idTipoCobro}" 
                                                                             styleClass="form-control">
                                                                <f:selectItems value="#{cobroCreateAltern.listTipoCobro}" >
                                                                </f:selectItems>
                                                                <f:ajax event="change" listener="#{cobroCreateAltern.codTipoCobro(data.nroLinea)}" render="monto nroCheque bancoCobro feCheque feDep">
                                                                </f:ajax>
                                                            </h:selectOneMenu>
                                                        </p:column>

                                                        <p:column headerText="Banco">
                                                            <p:autoComplete id="bancoCobro"
                                                                            disabled="#{data.codigoTipoCobro=='EFECTIVO'}"
                                                                            cache="true" 
                                                                            cacheTimeout="30000" 
                                                                            completeMethod="#{cobroCreateAltern.completeQueryEntidad}"
                                                                            value="#{data.entidadFinanciera}" 
                                                                            maxResults="10" 
                                                                            forceSelection="true"
                                                                            var="ent" 
                                                                            itemLabel="#{ent.entidadFinanciera.razonSocial}" 
                                                                            itemValue="#{ent.entidadFinanciera}" 
                                                                            converter="EntidadFinancieraPojoConverter"
                                                                            size="25" 
                                                                            queryDelay="1000"
                                                                            panelStyle="z-index: 2001;"
                                                                            inputStyle="z-index: 2001;"
                                                                            dropdown="true">
                                                                <p:ajax event="itemSelect" listener="#{cobroCreateAltern.onItemSelectEntidadFinanciera(data.nroLinea)}"/>
                                                            </p:autoComplete>
                                                        </p:column>

                                                        <p:column headerText="Monto cheque">
                                                            <h:inputText value="#{data.cheque.montoCheque}" style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}" 
                                                                         class="form-control" id="monto">
                                                                <f:convertNumber type= "number"  pattern= "#,###" />
                                                                <f:ajax/>
                                                            </h:inputText>
                                                        </p:column>
                                                        <p:column headerText="N° Cheque">
                                                            <h:inputText value="#{data.cheque.nroCheque}" class="form-control" id="nroCheque"
                                                                         style="#{data.codigoTipoCobro=='CHEQUE'?'display:inline':'display:none'}"  >
                                                                <f:ajax/>
                                                            </h:inputText>
                                                        </p:column>


                                                        <p:column headerText="Fecha Cheque">
                                                            <p:calendar  style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"   id="feCheque"
                                                                         value="#{data.cheque.fechaEmision}" 
                                                                         locale="es" 
                                                                         pattern="dd/MM/yyyy"
                                                                         styleClass="p-cal calendarClass"/>
                                                        </p:column>
                                                        <p:column headerText="Fecha Deposito">
                                                            <p:calendar style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"  id="feDep"
                                                                        value="#{data.cheque.fechaPago}" 
                                                                        locale="es" 
                                                                        pattern="dd/MM/yyyy"
                                                                        styleClass="p-cal calendarClass"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                    <br/>
                                                    <div align="left">
                                                        <p:commandButton value="Agregar Detalle" 
                                                                         styleClass="btn btn-primary"
                                                                         process="@this" global="false"
                                                                         update="data-list-detalle"
                                                                         action="#{cobroCreateAltern.addLine()}" 
                                                                         >
                                                        </p:commandButton>  
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                       
                                    </h:panelGroup>

                                    <div class="row" id="montoCobroGs">
                                        <div class="col-sm-4">
                                            <label style="font-weight: bold;" >Total cobrado:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <h:inputText value="#{cobroCreateAltern.montoCobroTotal}"
                                                         styleClass="form-control"
                                                         style="font-weight: bold;"
                                                         id="idMontocob">
                                                <f:convertNumber type= "number"  pattern= "#,###.####" />
                                            </h:inputText>
                                        </div>
                                        <div class="col-sm-4">
                                            <h:inputText value="Gs."
                                                 styleClass="form-control"
                                                 style="font-weight: bold;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </h:panelGroup>
                        <br/>
                        <p:commandLink styleClass="btn btn-primary"
                                       title="Aceptar"
                                       style="float: right;"
                                       process="@this"
                                       onclick="$('#confirmation').modal('show')" 
                                       update="cobro-form:form-data:confirmation:panelConfirmation">
                            Aceptar
                        </p:commandLink>&nbsp;
                       
                    </div>
                </div>  
            </div>
        </div>
    </h:panelGroup>

    <sepsa:modal-panel id="confirmation" title="Cobro" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea cargar el cobro?"/>
                    <h:panelGroup id="resumenEmails" style="#{cobroCreateAltern.notificar eq 'S' and cobroCreateAltern.selectedEmail.size() > 0  ? 'display:inline':'display:none'}">
                        <br/><br/><h:outputText  value="Se notificarán a los siguientes correos:"/>
                        <ui:repeat value="#{cobroCreateAltern.selectedEmail}" var="email">
                            <br/><h:outputText value="-"/><h:outputText value="#{email.email}"/>
                        </ui:repeat>
                    </h:panelGroup>
                    <ui:repeat value="#{cobroCreateAltern.cobro.cobroDetalles}" var="pag" varStatus="index">
                        <p:panelGrid columns="2" rendered="#{cobroCreateAltern.cobro.saldoCliente!=0}" layout="grid">
                            <h:outputText value="#{pag.descripcion}"/>
                            <h:panelGroup>
                                <h:outputLabel value="Monto: "/>
                                <p:outputLabel value="#{pag.montoCobro}" style="border: 1px solid red;" >
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </p:outputLabel>
                            </h:panelGroup>
                        </p:panelGrid>
                    </ui:repeat>
                </h:panelGroup>
            </div>
        </f:facet>
    <f:facet name="button">
            <p:commandButton value="Si" update=":cobro-form:form-data:cobro 

                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  oncomplete="$('#confirmation').modal('hide')"
                             action="#{cobroCreateAltern.addCobro()}"/>
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>
    
    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus();
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>
</ui:composition>
