<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <div class="card">
        <div class="card-footer text-right">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">  
                <p:commandButton value="Descarga Masiva" 
                                                 id="btn-descarga-masiva"
                                                 styleClass="btn btn-primary"  
                                                 onclick="PrimeFaces.monitorDownload(start, stop);"                                                                                   
                                                 update="list-form:form-data:data-list">
                    <p:fileDownload  value="#{listarCobros.descargaMasivaCobros()}"></p:fileDownload>
                </p:commandButton>
                <p:commandLink value="Descargar" class="btn btn-default" ajax="false">
                            <i class="fa fa-file-excel-o" style="color: #00a65a;"></i>
                            <p:dataExporter type="xls" target="data-list" fileName="reporte_cobros"/>
                </p:commandLink>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group row">
                            <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                            <div class="col-sm-8">
                                <h:selectOneMenu value="#{listarCobros.nroFilas}" styleClass="form-control">
                                    <f:selectItem itemLabel="10" itemValue="10"/>
                                    <f:selectItem itemLabel="20" itemValue="20"/>
                                    <f:selectItem itemLabel="50" itemValue="50"/>
                                    <f:selectItem itemLabel="100" itemValue="100"/>
                                    <f:selectItem itemLabel="200" itemValue="200"/>
                                    <f:selectItem itemLabel="500" itemValue="500"/>
                                    <f:selectItem itemLabel="1000" itemValue="1000"/>
                                    <f:ajax event="change" render="list-form:form-data:data-list list-form:paginator:paginator-panel"
                                            listener="#{listarCobros.filterCobros()}"/>
                                </h:selectOneMenu>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
        </div>
        </div>
    </div>
        <p:dataTable value="#{listarCobros.adapter.data}"
                     var="data"
                     id="data-list"
                     selection="#{listarCobros.selectedCobros}"
                     editable="true"
                     paginator="false"
                     style="text-align: center;"
                     tableStyle="table-layout: auto;" 
                     tableStyleClass="table table-bordered table-hover"
                     rowKey="#{data.id}">
      
            <p:column selectionMode="multiple" rendered="true" style="width:20px"></p:column>
            
            <p:column headerText="Razón Social">
                <h:outputText value="#{data.razonSocial}"/>
            </p:column>

            <p:column headerText="RUC / CI">
                <h:outputText value="#{data.nroDocumento}">
                </h:outputText>
            </p:column>

            <p:column headerText="N° Recibo">
                <h:outputText value="#{data.nroRecibo}"/>
            </p:column>

            <p:column headerText="Fecha">
                <h:outputText value="#{data.fecha}">
                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                </h:outputText>
            </p:column>
            
            <p:column headerText="Digital">
                <h:panelGroup rendered="#{data.digital eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-secondary" role="alert" align="center">
                            <h:outputText value="NO"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.digital eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-primary" role="alert" align="center">
                            <h:outputText value="SÍ"/>
                        </div>
                    </div>
                </h:panelGroup>
            </p:column>
            
            <p:column headerText="Moneda">
                <h:outputText value="#{data.moneda}"/>
            </p:column>

            <p:column headerText="Monto">
                <h:outputText value="#{data.montoCobro}">
                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                </h:outputText>
            </p:column>
            
            <!-- Columna oculta usada solo para exportar la columna estado-->
            <p:column  headerText="Estado" visible="false">
                <h:outputText value="#{data.codigoEstado}"/>
            </p:column>
            
            <p:column headerText="Estado" exportable="false">
                <h:panelGroup rendered="#{data.estado eq 'Cobrado'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="COBRADO"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado eq 'Anulado'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="ANULADO"/>
                        </div>
                    </div>
                </h:panelGroup>
            </p:column>
       

            <p:column headerText="Opciones" exportable="false">
                <!--p:commandLink styleClass="btn btn-info"
                               title="Ver"
                               >
                    <i class="fas fa-search"></i>
                </p:commandLink>&nbsp;
                <p:commandLink   styleClass="btn btn-danger"
                                 onclick="$('#confirmation').modal('show')" 
                                 update=":list-form:form-data:confirmation:panelConfirmation"
                                 title="Anular"> 
                    <i class="fas fa-ban"></i>
                    <f:setPropertyActionListener value="#{data}"
                                                 target="#{listarCobros.searchData}"/>
                </p:commandLink-->

                <div align="center">
                    <p:menuButton icon="fas fa-ellipsis-h">
                        <p:menuitem value="Ver Detalle" action="#{listarCobros.detalleCobroURL(data.id)}" icon="fas fa-search"/>
                        <p:menuitem rendered="#{sessionData.user.permisos.listarCobro.puedeAnular}" disabled="#{data.codigoEstado eq 'ANULADO'}" value="Anular Cobro" onclick="$('#confirmation').modal('show')" update=":list-form:form-data:confirmation:panelConfirmation" icon="fa fa-times-circle">
                            <f:setPropertyActionListener value="#{data}"
                                                         target="#{listarCobros.searchData}"/>
                        </p:menuitem>
                        <p:menuitem value="Enviar" action="#{listarCobros.guardarCobroAReenviar(data.id, data.nroRecibo, data.razonSocial)}"  update="list-form:form-data:reenvio:email-reenvio list-form:form-data:reenvio:btn-renvio"
                                    onclick="$('#reenvio').modal('show')" icon="fas fa-redo-alt"/>
                    </p:menuButton>
                </div>
            </p:column>
        </p:dataTable>
    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarCobros.adapter}" 
                     searchData="#{listarCobros.searchData}"
                     id="paginator"
                     updatePage="
                     :list-form:form-data:data-list 
                     :list-form:form-data:paginator:paginator-panel"/>

    <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea anular el cobro  #{listarCobros.searchData.nroRecibo}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Seleccion el motivo(*):</b></label>
                            <h:selectOneMenu value="#{listarCobros.searchData.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{listarCobros.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n(*): </b></label>
                            <br/>
                            <h:inputTextarea  styleClass="form-control" 
                                              value="#{listarCobros.searchData.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea>
                        </div>
                    </div>

                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             update=":message-form:message
                             :list-form:form-data:data-list" 
                             process="@this"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{listarCobros.anularCobro(listarCobros.searchData)}"/>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="reenvio" title="Enviar Cobro" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panel-conf-reenvio">
                    <h:outputText value="¿Desea enviar el Cobro?"/>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Email (*):</b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control"
                                             id="email-reenvio"
                                             value="#{listarCobros.emailReenvio}">
                                <p:ajax event="blur" listener="#{listarCobros.validarCorreo(listarCobros.emailReenvio)}" update=":message-form:message list-form:form-data:reenvio:btn-renvio"/>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Sí" 
                             id="btn-renvio"
                             update=":message-form:message"
                             process="@this"
                             disabled="#{listarCobros.addEmail eq false}"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#reenvio').modal('hide');"
                             action="#{listarCobros.reenviar()}"/>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>
