<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <script>
        $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });
    </script>
    
        <h:panelGroup id="pnl-pop-up">
        <h:panelGroup rendered="#{cobroDirectCreate.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{cobroDirectCreate.adapterCobroTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{cobroDirectCreate.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandLink id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     actionListener="#{cobroDirectCreate.obtenerDatosCobro()}"
                                     update="@form"
                                     onclick="$('#modalTalonario').modal('hide')">

                    </p:commandLink>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>

    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Recibo">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar/imprimir el recibo?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-print"></i> Descargar
                    <p:fileDownload value="#{cobroDirectCreate.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{cobroDirectCreate.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>
    <br/>
    <sepsa:loading></sepsa:loading>
        <h:panelGroup id="datosCliente">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datos del cliente</h5>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label><b>ID: </b></label>
                                    <br/>
                                    <h:outputText styleClass="form-control" value="#{cobroDirectCreate.client.idCliente}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label><b>Razon Social: </b></label>
                                    <br/>
                                    <h:outputText styleClass="form-control" value="#{cobroDirectCreate.client.razonSocial}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label><b>RUC: </b></label>
                                    <br/>
                                    <h:outputText styleClass="form-control" value="#{cobroDirectCreate.client.nroDocumento}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label><b>SALDO: </b></label>
                                    <br/>
                                    <h:outputText styleClass="form-control" value="#{cobroDirectCreate.cobro.saldoCliente
                                                                                     eq null? '0':cobroDirectCreate.cobro.saldoCliente}">
                                        <f:convertNumber type= "number"  pattern= "#,###" />
                                    </h:outputText>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
        </h:panelGroup>
        <br/>
        <h:panelGroup id="cobro">
                        <div class="row">
                            <div class="col-sm-4">
                                
                                    <label style="font-weight: bold;">Fecha</label>
                                    <p:calendar 
                                        value="#{cobroDirectCreate.reciboDate}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass">
                                        <p:ajax event="dateSelect" listener="#{cobroDirectCreate.onDateSelect}" />
                                    </p:calendar>
                                
                            </div>
                            <div class="col-sm-4">
                                
                                    <label style="font-weight: bold;">N° de Recibo</label>
                                    <div class="input-group mb-3">
                                        <h:outputLabel value="#{cobroDirectCreate.reciboNum}"
                                                       styleClass="form-control"
                                                       />
                                    </div>
                            
                            </div>
                            <div class="col-sm-4">
                                    <label style="font-weight: bold;">Lugar Cobro</label>
                                    <h:selectOneMenu value="#{cobroDirectCreate.cobro.idLugarCobro}" 
                                                     styleClass="form-control">
                                        <f:selectItems value="#{cobroDirectCreate.listLugarCobro}" >
                                        </f:selectItems>
                                        <p:ajax global="false"/>
                                    </h:selectOneMenu>
                            </div>
                        </div>
                        <h:panelGroup id="seleccionEmail" style="#{cobroDirectCreate.notificar eq 'S' ?'display:inline':'display:none'}">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label style="font-weight: bold;">Emails disponibles para envío de recibo</label>
                                    <p:dataTable value="#{cobroDirectCreate.emailList}"
                                                 var="data"
                                                 id="data-list-mails"
                                                 paginator="false"
                                                 tableStyle="table-layout: auto;" 
                                                 tableStyleClass="table table-bordered table-hover"
                                                 emptyMessage="No existen correos relacionados al cliente"
                                             >
                                        <p:column headerText="Mail">
                                                    <h:outputText value="#{data.email.email}"/>
                                        </p:column>
                                        <p:column headerText="Agregar">
                                            <div align="center">
                                                <p:commandLink styleClass="btn btn-danger"
                                                               title="Agregar"
                                                               action="#{cobroDirectCreate.agregarEmail(data.email)}"
                                                               process="@this"
                                                               update="cobro-form:form-data:selected-mails"
                                                               >
                                                    <i class="fas fa-plus-square "></i>
                                                </p:commandLink>
                                            </div>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label style="font-weight: bold;">Agregar Email para envío de notificación</label>
                                            <div class="input-group mb-3">
                                                <h:inputText id="email-input" value="#{cobroDirectCreate.addEmail}"
                                                               styleClass="form-control">
                                                    <p:ajax event="keyup" delay="600"/>
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <p:commandButton styleClass="btn btn-primary"
                                                           style="float:right;"
                                                           title="Agregar"
                                                           action="#{cobroDirectCreate.agregarNuevoEmail()}"
                                                           process="@this"
                                                           update="cobro-form:form-data:selected-mails">
                                            </p:commandButton>
                                        </div> 
                                    </div> 

                                </div>
                                <div class="col-sm-4">
                                    <label style="font-weight: bold;">Emails que recibirán la notificación</label>
                                     <p:dataTable value="#{cobroDirectCreate.selectedEmail}"
                                                 var="data"
                                                 id="selected-mails"
                                                 editable="true"
                                                 paginator="false"
                                                 tableStyle="table-layout: auto;" 
                                                 tableStyleClass="table table-bordered table-hover"
                                                 emptyMessage="No se seleccionó ningún email para notificar"
                                                 rowIndexVar="index"
                                                 >
                                           <p:ajax event="rowEdit" listener="#{cobroDirectCreate.onRowEditEmail}"
                                                   process="@this"
                                                   update="cobro-form:form-data:selected-mails
                                                           message-form:message">
                                           </p:ajax>
                                         <p:column headerText="Mail">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{data.email}"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{data.email}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                         <p:column headerText="Editar" style="width:50px" exportable="false">
                                            <p:rowEditor/>
                                        </p:column>
                                        <p:column headerText="Eliminar">
                                            <div align="center">
                                                <p:commandLink styleClass="btn btn-danger"
                                                               title="Agregar"
                                                               action="#{cobroDirectCreate.eliminarEmail(index)}"
                                                               process="@this"
                                                               update="cobro-form:form-data:selected-mails"
                                                               >
                                                    <i class="fas fa-minus-square"></i>
                                                </p:commandLink>
                                            </div>
                                        </p:column>
                                     </p:dataTable>
                                    
                                </div>
                            </div>
                            <br/>
                            
                        </h:panelGroup>
            
                        <ui:repeat value="#{cobroDirectCreate.selectedCobros}" var="cob" 
                                   varStatus="index" rendered="#{cobroDirectCreate.showDetalle eq true}">
                            <div class="card">
                                <div class="card-body">
                                    <div style="float: left;">
                                        <span class="border border-success rounded-circle" style="padding-left:
                                              6px;padding-right: 6px; background-color: green;">
                                            <h:outputText value="#{index.index+1}" style="color: #ffffff;"/></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label style="font-weight: bold;">N° Factura</label>
                                                <h:outputLabel value="#{cob.nroFactura}"
                                                               styleClass="form-control"
                                                               style="font-weight: bold;"
                                                               />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label style="font-weight: bold;">Saldo</label>
                                                <h:inputText value="#{cob.saldoCliente}"
                                                             styleClass="form-control"
                                                             style="font-weight: bold;border-color: red;"
                                                             id="inpSaldo">
                                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                                    <f:ajax></f:ajax>
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label style="font-weight: bold;">Total Factura</label>
                                                <h:inputText value="#{cob.totalFactura}"
                                                             styleClass="form-control"
                                                             style="font-weight: bold;border-color: green;">
                                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>

                                    <br/>
                                    <p:dataTable value="#{cob.cobroDetalles}"
                                                 var="data"
                                                 id="data-list-detalle"
                                                 paginator="false"
                                                 reflow="true"
                                                 rowKey="#{data.nroLinea}"
                                                 emptyMessage="Lista vacia">
                                        <p:column>
                                            <p:commandButton styleClass="btn btn-danger"
                                                             action="#{cobroDirectCreate.delLine()}"
                                                             process="@this"
                                                             icon="fa fa-times-circle"
                                                             update="data-list-detalle 
                                                             :message-form:message
                                                             :cobro-form:form-data:cobro"> 
                                                <f:param value="#{cob.idFactura}" name="idF"/>
                                                <f:param value="#{data.nroLinea}" name="nro"/>
                                            </p:commandButton>
                                        </p:column>

                                        <p:column headerText="Concepto">
                                            <h:inputText value="#{data.descripcion}" class="form-control">
                                                <f:ajax/>
                                            </h:inputText>
                                        </p:column>

                                        <p:column headerText="Monto Cobrado">
                                            <h:inputText value="#{data.montoCobro}" class="form-control"
                                                         valueChangeListener="#{cobroDirectCreate.onChangeChargeAmount}"
                                                         >
                                                <f:attribute value="#{cob.idFactura}" name="idFac"/>
                                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                                                <f:ajax render="cobro-form:form-data:cobro"></f:ajax>
                                            </h:inputText>
                                        </p:column>
                                        <p:column headerText="Tipo Pago" style="width: 150px;">
                                            <h:selectOneMenu value="#{data.idTipoCobro}" 
                                                             styleClass="form-control">
                                                <f:selectItems value="#{cobroDirectCreate.listTipoCobro}" >
                                                </f:selectItems>
                                                <f:ajax event="change" listener="#{cobroDirectCreate.codTipoCobro(cob.idFactura, data.nroLinea)}" render="monto nroCheque bancoCobro feCheque feDep">
                                                </f:ajax>
                                            </h:selectOneMenu>
                                        </p:column>

                                        <p:column headerText="Banco">
                                            <p:autoComplete id="bancoCobro"
                                                            disabled="#{data.codigoTipoCobro=='EFECTIVO'}"
                                                            cache="true" 
                                                            cacheTimeout="30000" 
                                                            completeMethod="#{cobroDirectCreate.completeQueryEntidad}"
                                                            value="#{data.entidadFinanciera}" 
                                                            maxResults="10" 
                                                            forceSelection="true"
                                                            var="ent" 
                                                            itemLabel="#{ent.entidadFinanciera.razonSocial}" 
                                                            itemValue="#{ent.entidadFinanciera}" 
                                                            converter="EntidadFinancieraPojoConverter"
                                                            size="25" 
                                                            queryDelay="1000"
                                                            panelStyle="z-index: 2001;"
                                                            inputStyle="z-index: 2001;"
                                                            dropdown="true">
                                                <p:ajax event="itemSelect" listener="#{cobroDirectCreate.onItemSelectEntidadFinanciera(cob.idFactura, data.nroLinea)}"/>
                                            </p:autoComplete>
                                        </p:column>

                                        <p:column headerText="Monto cheque">
                                            <h:inputText value="#{data.cheque.montoCheque}" style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}" 
                                                         class="form-control" id="monto">
                                                <f:convertNumber type= "number"  pattern= "#,###" />
                                                <f:ajax/>
                                            </h:inputText>
                                        </p:column>
                                        <p:column headerText="N° Cheque">
                                            <h:inputText value="#{data.cheque.nroCheque}" class="form-control" id="nroCheque"
                                                         style="#{data.codigoTipoCobro=='CHEQUE'?'display:inline':'display:none'}"  >
                                                <f:ajax/>
                                            </h:inputText>
                                        </p:column>


                                        <p:column headerText="Fecha Cheque">
                                            <p:calendar  style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"   id="feCheque"
                                                         value="#{data.cheque.fechaEmision}" 
                                                         locale="es" 
                                                         pattern="dd/MM/yyyy"
                                                         styleClass="p-cal calendarClass"/>
                                        </p:column>
                                        <p:column headerText="Fecha Deposito">
                                            <p:calendar style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"  id="feDep"
                                                        value="#{data.cheque.fechaPago}" 
                                                        locale="es" 
                                                        pattern="dd/MM/yyyy"
                                                        styleClass="p-cal calendarClass"/>
                                        </p:column>

                                    </p:dataTable>
                                    <br/>
                                    <div align="left">
                                        <p:commandButton value="Agregar Detalle" 
                                                         styleClass="btn btn-primary"
                                                         process="@this" global="false"
                                                         update="data-list-detalle"
                                                         action="#{cobroDirectCreate.addLine()}" 
                                                         >
                                            <f:param value="#{cob.idFactura}" name="idFact"/>
                                        </p:commandButton>  
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </ui:repeat>

                        <div class="row">
                            <div class="col-sm-4">
                                <label style="font-weight: bold;" >Total cobrado:</label>
                            </div>
                            <div class="col-sm-4">
                                <h:inputText value="#{cobroDirectCreate.montoCobroTotal}"
                                             styleClass="form-control"
                                             style="font-weight: bold;"
                                             id="idMontocob">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:inputText>
                            </div>
                            <div class="col-sm-4">
                                <h:inputText value="Gs."
                                             styleClass="form-control"
                                             style="font-weight: bold;"/>
                            </div>
                        </div>
                    
               

            </h:panelGroup>
   
       
            <p:commandLink styleClass="btn btn-primary"
                           title="Aceptar"
                           process="@this"
                           onclick="$('#confirmation').modal('show')" 
                           update="cobro-form:form-data:confirmation:panelConfirmation">
                Aceptar
            </p:commandLink>&nbsp;
     


    <sepsa:modal-panel id="confirmation" title="Cobro" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea cargar el cobro?"/>
                    <h:panelGroup id="resumenEmails" style="#{cobroDirectCreate.notificar eq 'S' and cobroDirectCreate.selectedEmail.size() > 0  ? 'display:inline':'display:none'}">
                        <br/><br/><h:outputText  value="Se notificarán a los siguientes correos:"/>
                        <ui:repeat value="#{cobroDirectCreate.selectedEmail}" var="email">
                            <br/><h:outputText value="-"/><h:outputText value="#{email.email}"/>
                        </ui:repeat>
                    </h:panelGroup>
                    <ui:repeat value="#{cobroDirectCreate.selectedCobros}" var="pag" varStatus="index">
                        <p:panelGrid columns="2" rendered="#{pag.saldoCliente!=0}" layout="grid">
                            <h:outputText value="#{pag.nroFactura}"/>
                            <h:panelGroup>
                                <h:outputLabel value="Saldo: "/>
                                <p:outputLabel value="#{pag.saldoCliente}" style="border: 1px solid red;" >
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </p:outputLabel>
                            </h:panelGroup>
                        </p:panelGrid>
                    </ui:repeat>
                </h:panelGroup>
            </div>
        </f:facet>
    <f:facet name="button">
            <p:commandButton value="Si" update=":cobro-form:form-data:cobro 
                             
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  oncomplete="$('#confirmation').modal('hide')"
                             action="#{cobroDirectCreate.addCobro()}"/>
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <sepsa:modal-panel id="detalleCobro" title="Detalle" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="detCobro">
                    <h5 class="card-title">Factura N°: #{cobroDirectCreate.nroFactura}</h5>
                    <h:outputText value="Detalle de cobro" style="color:  #007ad9;"/>
                    <p:dataTable value="#{cobroDirectCreate.adapterCobroDetalle.data}"
                                 var="data"
                                 id="data-list-detalle-cobro"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia">
                        <p:column headerText="N° Recibo">
                            <h:outputText value="#{data.nroRecibo eq null ? '--':data.nroRecibo}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Cobro">
                            <h:outputText value="#{data.fecha eq null ? '--':data.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                        </p:column>
                        <p:column headerText="Lugar Cobro">
                            <h:outputText value="#{data.lugarCobro eq null ? '--':data.lugarCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="Forma de Pago">
                            <h:outputText value="#{data.tipoCobro eq null ? '--':data.tipoCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="N° Cheque">
                            <h:outputText value="#{data.nroCheque eq null ? '--':data.nroCheque}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Pago">
                            <h:outputText value="#{data.fechaPago eq null ? '--':data.fechaPago}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Detalle">
                            <h:outputText value="#{data.montoCobro eq null ? '--':data.montoCobro}">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    <!--br/>
                    <h:outputText value="Detalle Retención" style="color:  #007ad9;"
                                  rendered="#{not empty cobroController.adapterRetencionDetalle.data}"/>
                    <p:dataTable value="#{cobroController.adapterRetencionDetalle.data}"
                                 var="data"
                                 id="data-list-detalle-retencion"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty cobroController.adapterRetencionDetalle.data}">
                        <p:column headerText="N° Retención">
                            <h:outputText value="#{data.nroRetencion eq null ? '-':data.nroRetencion}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha">
                            <h:outputText value="#{data.fecha eq null ? '-':data.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Retenido">
                            <h:outputText value="#{data.montoRetenido eq null ? '-':data.montoRetenido}"></h:outputText>
                        </p:column>
                        <p:column headerText="Porcentaje">
                            <h:outputText value="#{data.porcentajeRetencion eq null ? '-':data.porcentajeRetencion}"></h:outputText>
                        </p:column>
                    </p:dataTable-->
                    <br/>
                    <h:outputText value="Detalle de Nota de Credito" style="color:  #007ad9;"
                                  rendered="#{not empty cobroDirectCreate.adapterNotaCreditoDetalle.data}"/>
                    <p:dataTable value="#{cobroDirectCreate.adapterNotaCreditoDetalle.data}" 
                                 var="cred" 
                                 paginator="false" reflow="true" 
                                 paginatorAlwaysVisible="false"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty cobroDirectCreate.adapterNotaCreditoDetalle.data}">
                        <p:column headerText="Descripci&oacute;n" >
                            <h:outputText value="#{cred.descripcion eq null ? '--':cred.descripcion}" style="font-weight: bold;"/>
                        </p:column>
                        <p:column headerText="Monto Iva" >
                            <h:outputText value="#{cred.montoIva eq null ? '--':cred.  montoIva}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Imponible" >
                            <h:outputText value="#{cred.montoImponible eq null ? '--':cred.  montoImponible}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Total" >
                            <h:outputText value="#{cred.montoTotal eq null ? '--':cred.montoTotal}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </h:panelGroup>
            </div>
        </f:facet>
    </sepsa:modal-panel>
    
    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>
</ui:composition>

