<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos del cobro</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Nº de Recibo</label>
                        <h:outputText styleClass="form-control"
                                      value="#{cobrosDetalle.
                                               cobrosDetalle.nroRecibo}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Fecha</label>
                        <h:outputText styleClass="form-control"
                                      value="#{cobrosDetalle.
                                               cobrosDetalle.fecha}">
                            <f:convertDateTime  pattern="dd/MM/yyyy" 
                                                locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Monto de Cobro</label>
                        <h:outputText styleClass="form-control" 
                                      value="#{cobrosDetalle.
                                               cobrosDetalle.montoCobro}">
                            <f:convertNumber type= "number"  pattern= "#,###" />
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Estado</label>
                        <h:outputText styleClass="form-control"
                                      value="#{cobrosDetalle.
                                               cobrosDetalle.
                                               estado.descripcion}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Lugar de Cobro</label>
                        <h:outputText styleClass="form-control"
                                      value="#{cobrosDetalle.
                                               cobrosDetalle.lugarCobro.
                                               descripcion}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalles del cobro</h5>

            <p:dataTable value="#{cobrosDetalle.cobrosDetalle.cobroDetalles}"
                         var="data"
                         id="data-list"
                         reflow="true"
                         editable="true"
                         paginator="false"
                         style="text-align: center;"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         >

                <p:column headerText="Monto de cobro">
                    <h:outputText value="#{data.montoCobro}">
                        <f:convertNumber type= "number"  pattern= "#,###" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Tipo de cobro">
                    <h:outputText value="#{data.tipoCobro.descripcion}"/>
                </p:column>

                <p:column headerText="Concepto de Cobro">
                    <h:outputText value="#{data.descripcion}"/>
                </p:column>

                <p:column headerText="Nº de Factura">
                    <h:outputText value="#{data.factura.nroFactura eq null? '-':data.factura.nroFactura}"/>
                </p:column>
            </p:dataTable>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <p:commandButton value="Descargar" rendered="#{sessionData.user.permisos.listarCobro.puedeDescargar}" ajax="false" styleClass="btn btn-primary" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download">
                <p:fileDownload value="#{cobrosDetalle.download()}" />
            </p:commandButton>&nbsp;

            <p:commandButton id="print1" value="Imprimir" process="@this" styleClass="btn btn-secondary" icon="fas fa-print" actionListener="#{cobrosDetalle.print()}" rendered="#{sessionData.user.permisos.listarCobro.puedeDescargar}">
            </p:commandButton>
        </div>          
    </div>
    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>
</ui:composition>
