<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <script>
        $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });
    </script>

    <h:panelGroup id="pnl-pop-up">
        <h:panelGroup rendered="#{cobroCreate.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{cobroCreate.adapterCobroTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{cobroCreate.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     action="#{cobroCreate.obtenerDatosCobro()}"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>

    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Recibo">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar/imprimir el recibo?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-print"></i> Descargar
                    <p:fileDownload value="#{cobroCreate.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{cobroCreate.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>Cliente</label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{cobroCreate.completeQuery}"
                                    value="#{cobroCreate.client}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{cobroCreate.onItemSelectCliente()}" 
                                update="cobro-form:form-data:grupo"/>
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <sepsa:loading></sepsa:loading>

    <h:panelGroup id="grupo" style="#{cobroCreate.viewPanel eq true ?
                                      'display:inline':'display: none'}"  >
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del cliente</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>ID: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreate.client.idCliente}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Razón Social: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreate.client.razonSocial}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>RUC: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreate.client.nroDocumento}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>SALDO: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{cobroCreate.cobro.saldoCliente
                                                                             eq null? '0':cobroCreate.cobro.saldoCliente}">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:outputText>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
        <br/>
        <div class="row"> 
            <div class="form-group col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Facturas Pendientes</h5>
                        <!--ui:include src="factura-pendiente-filter.xhtml"/-->
                        <p:dataTable value="#{cobroCreate.lazyModel}"
                                     var="data"
                                     lazy="true"
                                     id="data-list-factura-pend"                                
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="5,10,15"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     styleClass="fixed-size"
                                     selection="#{cobroCreate.selectedFacturas}"
                                     rowKey="#{data.id}"
                                     >
                            <p:ajax event="rowSelectCheckbox" listener="#{cobroCreate.validarMoneda}" update=":message-form:message cobro-form:form-data:data-list-factura-pend" />

                            <p:column selectionMode="multiple">

                            </p:column>

                            <p:column headerText="Nº de Factura">
                                <h:outputText value="#{data.nroFactura
                                                       eq null?'--':data.nroFactura}" />
                            </p:column>                
                            <p:column headerText="Fecha">
                                <h:outputText value="#{data.fecha
                                                       eq null?'--':data.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Vencimiento">
                                <h:outputText value="#{data.fechaVencimiento
                                                       eq null?'--':data.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Moneda">
                                <h:outputText value="#{data.codigoMoneda}"/>
                            </p:column>

                            <p:column headerText="Saldo">
                                <h:outputText value="#{data.saldo
                                                       eq null?'--':data.saldo}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Factura">
                                <h:outputText value="#{data.montoTotalFactura
                                                       eq null?'--':data.montoTotalFactura}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto IVA Total">
                                <h:outputText value="#{data.montoIvaTotal
                                                       eq null?'--':data.montoIvaTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Imponible Total">
                                <h:outputText value="#{data.montoImponibleTotal
                                                       eq null?'--':data.montoImponibleTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Descuento Particular">
                                <h:outputText value="#{data.montoTotalDescuentoParticular
                                                       eq null?'--':data.montoTotalDescuentoParticular}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Descuento Global">
                                <h:outputText value="#{data.montoTotalDescuentoGlobal
                                                       eq null?'--':data.montoTotalDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Estado">
                                <h:panelGroup rendered="#{data.digital eq 'S'}">
                                    <h:panelGroup rendered="#{data.codigoEstado eq 'PENDIENTE'}">
                                        <div class="form-group col">
                                            <div class="alert alert-warning" role="alert" align="center">
                                                <h:outputText value="Pendiente"/>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO'}">
                                        <div class="form-group col">
                                            <div class="alert alert-success" role="alert" align="center">
                                                <h:outputText value="Aprobado"/>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{data.codigoEstado eq 'RECHAZADO'}">
                                        <div class="form-group col">
                                            <div class="alert alert-danger" role="alert" align="center">
                                                <h:outputText value="Rechazado"/>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{data.digital eq 'N'}">
                                    <div class="form-group col">
                                        <div class="alert alert-dark" role="alert" align="center">
                                            <h:outputText value="No Aplica"/>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </p:column>

                            <f:facet name="footer" >
                                <p:commandLink styleClass="btn btn-info"
                                               title="Vista de Formulario"
                                               process="data-list-factura-pend"
                                               update="message-form:message cobro-form:form-data:modalCobro"
                                               oncomplete="PF('modalCobro').show()" 
                                               action="#{cobroCreate.viewCobro()}"
                                               >
                                    <i class="fas fa-money-check"></i>
                                </p:commandLink>
                            </f:facet>

                        </p:dataTable>

                        <!--div class="row">
                            <div class="form-group col-sm-12">
                                <div class="text-right">
                                    <sepsa:paginator adapter="#{cobroCreate.adapterFacturasPendientes}" 
                                                     searchData="#{cobroCreate.facturaPendientes}"
                                                     id="paginatorCan" 
                                                     updatePage=":cobro-form:form-data:data-list-factura-pend
                                                     :cobro-form:form-data:paginatorCan:paginator-panel"/>
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Facturas Canceladas</h5>

                        <p:dataTable value="#{cobroCreate.adapterFacturasCanceladas.data}"
                                     var="data"
                                     id="data-list-factura-canc"
                                     paginator="false"
                                     reflow="true"
                                     style="text-align: center;"
                                     emptyMessage="No existen registros"
                                     >
                            <p:column headerText="Nº de Factura">
                                <h:outputText value="#{data.nroFactura
                                                       eq null?'--':data.nroFactura}" />
                            </p:column>                
                            <p:column headerText="Fecha">
                                <h:outputText value="#{data.fecha
                                                       eq null?'--':data.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Saldo">
                                <h:outputText value="#{data.saldo
                                                       eq null?'--':data.saldo}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Factura">
                                <h:outputText value="#{data.montoTotalFactura
                                                       eq null?'--':data.montoTotalFactura}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto IVA Total">
                                <h:outputText value="#{data.montoIvaTotal
                                                       eq null?'--':data.montoIvaTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Imponible Total">
                                <h:outputText value="#{data.montoImponibleTotal
                                                       eq null?'--':data.montoImponibleTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Descuento Particular">
                                <h:outputText value="#{data.montoTotalDescuentoParticular
                                                       eq null?'--':data.montoTotalDescuentoParticular}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Monto Descuento Global">
                                <h:outputText value="#{data.montoTotalDescuentoGlobal
                                                       eq null?'--':data.montoTotalDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Opciones">
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-info"
                                                   title="Ver"
                                                   process="@this"
                                                   action="#{cobroCreate.viewCobroDet(data)}"
                                                   onclick="$('#detalleCobro').modal('show')"
                                                   update="cobro-form:form-data:detalleCobro:detCobro" >
                                        <i class="fas fa-search"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="text-right">
                                    <sepsa:paginator adapter="#{cobroCreate.adapterFacturasCanceladas}" 
                                                     searchData="#{cobroCreate.facturaCanceladas}"
                                                     id="paginator"
                                                     updatePage=":cobro-form:form-data:data-list-factura-canc
                                                     cobro-form:form-data:paginator:paginator-panel"
                                                     />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:panelGroup>

    <p:dialog header="Recibo" id="modalCobro" widgetVar="modalCobro" modal="true" width="95%" height="95%" resizable="false" draggable="false" positionType="absolute" class="ui-dialog-top">
        
            <div style="overflow:auto;">
                <div align="center">
                    <h:outputLabel value="Debe seleccionar las facturas!" 
                                   style="#{empty cobroCreate.selectedCobros ?'display:inline':'display:none'};color: #dc3545;"
                                   id="labelText"></h:outputLabel>
                </div>
                <h:panelGroup id="cobro" style="#{not empty cobroCreate.selectedCobros ?'display:inline':'display:none'}" >
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4" >
                                <div class="form-group col-sm-12" >
                                    <label style="font-weight: bold;">Fecha</label>
                                    <p:calendar
                                        value="#{cobroCreate.reciboDate}" 
                                        locale="es"                                     
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass">
                                        <p:ajax event="dateSelect" listener="#{cobroCreate.onDateSelect}"/>
                                    </p:calendar>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" >
                                    <label style="font-weight: bold;">N° de Recibo</label>
                                    <div class="input-group mb-3">
                                        <h:outputLabel value="#{cobroCreate.reciboNum}"
                                                       styleClass="form-control"
                                                       />
                                        <!--input type="text" class="form-control" placeholder="Recibo" 
                                               aria-describedby="anularRecibo"
                                               value="#{cobroCreate.reciboNum}" />
                                        <div class="input-group-append">
                                            <p:commandLink class="btn btn-danger"
                                                           type="button" id="anularRecibo"
                                                           process="@this"
                                                           actionListener="#{cobroCreate.anularRecibo()}"
                                                           oncomplete="$('#detalleCobro').modal('hide')">
                                                Anular
                                                <p:confirm header="Confirmación" message="¿Está seguro de anular el N° de Recibo?"  />
                                            </p:commandLink>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group col-sm-12">
                                    <label style="font-weight: bold;">Lugar Cobro</label>
                                    <h:selectOneMenu value="#{cobroCreate.cobro.idLugarCobro}" 
                                                     styleClass="form-control">
                                        <f:selectItems value="#{cobroCreate.listLugarCobro}" >
                                        </f:selectItems>
                                        <p:ajax global="false"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <h:panelGroup id="seleccionEmail" style="#{cobroCreate.notificar eq 'S' ?'display:inline':'display:none'}">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label style="font-weight: bold;">Emails disponibles para envío de recibo</label>
                                    <p:dataTable value="#{cobroCreate.emailList}"
                                                 var="data"
                                                 id="data-list-mails"
                                                 paginator="false"
                                                 tableStyle="table-layout: auto;" 
                                                 tableStyleClass="table table-bordered table-hover"
                                                 emptyMessage="No existen correos relacionados al cliente"
                                                 >
                                        <p:column headerText="Mail">
                                            <h:outputText value="#{data.email.email}"/>
                                        </p:column>
                                        <p:column headerText="Agregar">
                                            <div align="center">
                                                <p:commandLink styleClass="btn btn-danger"
                                                               title="Agregar"
                                                               action="#{cobroCreate.agregarEmail(data.email)}"
                                                               process="@this"
                                                               update="cobro-form:form-data:selected-mails"
                                                               >
                                                    <i class="fas fa-plus-square "></i>
                                                </p:commandLink>
                                            </div>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label style="font-weight: bold;">Agregar Email para envío de notificación</label>
                                            <div class="input-group mb-3">
                                                <p:inputText id="email-input" value="#{cobroCreate.addEmail}" class="input-popup form-control">
                                                    <p:ajax event="keyup" delay="600"/>
                                                </p:inputText>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <p:commandButton styleClass="btn btn-primary"
                                                             style="float:right;"
                                                             title="Agregar"
                                                             action="#{cobroCreate.agregarNuevoEmail()}"
                                                             process="@this"
                                                             update="cobro-form:form-data:selected-mails">
                                            </p:commandButton>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="col-sm-4">
                                    <label style="font-weight: bold;">Emails que recibirán la notificación</label>
                                    <p:dataTable value="#{cobroCreate.selectedEmail}"
                                                 var="data"
                                                 id="selected-mails"
                                                 editable="true"
                                                 paginator="false"
                                                 tableStyle="table-layout: auto;" 
                                                 tableStyleClass="table table-bordered table-hover"
                                                 emptyMessage="No se seleccionó ningún email para notificar"
                                                 rowIndexVar="index"
                                                 >
                                        <p:ajax event="rowEdit" listener="#{cobroCreate.onRowEditEmail}"
                                                process="@this"
                                                update="cobro-form:form-data:selected-mails">
                                        </p:ajax>
                                        <p:column headerText="Mail">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{data.email}"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{data.email}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column headerText="Editar" style="width:50px" exportable="false">
                                            <p:rowEditor/>
                                        </p:column>
                                        <p:column headerText="Eliminar">
                                            <div align="center">
                                                <p:commandLink styleClass="btn btn-danger"
                                                               title="Agregar"
                                                               action="#{cobroCreate.eliminarEmail(index)}"
                                                               process="@this"
                                                               update="cobro-form:form-data:selected-mails"
                                                               >
                                                    <i class="fas fa-minus-square"></i>
                                                </p:commandLink>
                                            </div>
                                        </p:column>
                                    </p:dataTable>

                                </div>
                            </div>
                            <br/>

                        </h:panelGroup>
                        <div class="col-sm-4" style="#{cobroCreate.monedaFilter.codigo ne 'PYG' ? 'display:flex' : 'display:none'}">
                            <div class="col-sm">
                                <p:commandButton styleClass="btn btn-primary"
                                                 style="float:left;"  
                                                 process="@this"
                                                 title="Cobrar en Guaraníes"
                                                 action="#{cobroCreate.cobroEnGuaranies()}"
                                                 update="cobro-form:form-data:detalles-cobros
                                                 cobro-form:form-data:idMontocob
                                                 cobro-form:form-data:cobro">
                                </p:commandButton>
                            </div> 
                        </div>
                        <div class="col-sm-4" style="#{cobroCreate.cobroEnGs eq true ? 'display:flex' : 'display:none'}">
                            <div class="col-sm">
                                <p:commandButton styleClass="btn btn-primary"
                                                 style="float:left;"
                                                 process="@this"
                                                 title="Cobrar en moneda original"
                                                 action="#{cobroCreate.viewCobro()}"
                                                 update="cobro-form:form-data:detalles-cobros
                                                 cobro-form:form-data:idMontocob
                                                 cobro-form:form-data:cobro">
                                </p:commandButton>
                            </div> 
                        </div>
                        <br/>
                        <h:panelGroup id="detalles-cobros">
                            <ui:repeat value="#{cobroCreate.selectedCobros}" var="cob" 
                                       varStatus="index" >
                                <div class="card">
                                    <div class="card-body">
                                        <div style="float: left;">
                                            <span class="border border-success rounded-circle" style="padding-left:
                                                  6px;padding-right: 6px; background-color: green;">
                                                <h:outputText value="#{index.index+1}" style="color: #ffffff;"/></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group col-sm-12">
                                                    <label style="font-weight: bold;">N° Factura</label>
                                                    <h:outputLabel value="#{cob.nroFactura}"
                                                                   styleClass="form-control"
                                                                   style="font-weight: bold;"
                                                                   />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group col-sm-12">
                                                    <label style="font-weight: bold;">Saldo</label>
                                                    <h:inputText value="#{cob.saldoCliente}"
                                                                 styleClass="form-control"
                                                                 style="font-weight: bold;border-color: red;"
                                                                 id="inpSaldo">
                                                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                                                        <f:ajax></f:ajax>
                                                    </h:inputText>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group col-sm-12">
                                                    <label style="font-weight: bold;">Total Factura</label>
                                                    <h:inputText value="#{cob.totalFactura}"
                                                                 styleClass="form-control"
                                                                 style="font-weight: bold;border-color: green;">
                                                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                                                    </h:inputText>
                                                </div>
                                            </div>
                                        </div>

                                        <br/>
                                        <p:dataTable value="#{cob.cobroDetalles}"
                                                     var="data"
                                                     id="data-list-detalle"
                                                     paginator="false"
                                                     reflow="true"
                                                     rowKey="#{data.nroLinea}"
                                                     emptyMessage="Lista vacia">
                                            <p:column>
                                                <p:commandButton styleClass="btn btn-danger"
                                                                 action="#{cobroCreate.delLine()}"
                                                                 process="@this"
                                                                 icon="fa fa-times-circle"
                                                                 update="data-list-detalle 
                                                                 :message-form:message
                                                                 :cobro-form:form-data:cobro"> 
                                                    <f:param value="#{cob.idFactura}" name="idF"/>
                                                    <f:param value="#{data.nroLinea}" name="nro"/>
                                                </p:commandButton>
                                            </p:column>

                                            <p:column headerText="Concepto">
                                                <h:inputText value="#{data.descripcion}" class="form-control">
                                                    <f:ajax/>
                                                </h:inputText>
                                            </p:column>

                                            <p:column headerText="Monto Cobrado">
                                                <h:inputText value="#{data.montoCobro}" class="form-control"
                                                             valueChangeListener="#{cobroCreate.onChangeChargeAmount}"
                                                             >
                                                    <f:attribute value="#{cob.idFactura}" name="idFac"/>
                                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                                    <f:ajax render="cobro-form:form-data:cobro" listener="#{cobroCreate.actualizarDetalleGs}">

                                                    </f:ajax>
                                                </h:inputText>
                                            </p:column>
                                            <p:column headerText="Tipo Pago" style="width: 150px;">
                                                <h:selectOneMenu value="#{data.idTipoCobro}" 
                                                                 styleClass="form-control">
                                                    <f:selectItems value="#{cobroCreate.listTipoCobro}" >
                                                    </f:selectItems>
                                                    <f:ajax event="change" listener="#{cobroCreate.codTipoCobro(cob.idFactura, data.nroLinea)}" render="monto nroCheque bancoCobro feCheque feDep">
                                                    </f:ajax>
                                                </h:selectOneMenu>
                                            </p:column>

                                            <p:column headerText="Banco">
                                                <p:autoComplete id="bancoCobro"
                                                                disabled="#{data.codigoTipoCobro=='EFECTIVO'}"
                                                                cache="true" 
                                                                cacheTimeout="30000" 
                                                                completeMethod="#{cobroCreate.completeQueryEntidad}"
                                                                value="#{data.entidadFinanciera}" 
                                                                maxResults="10" 
                                                                forceSelection="true"
                                                                var="ent" 
                                                                itemLabel="#{ent.entidadFinanciera.razonSocial}" 
                                                                itemValue="#{ent.entidadFinanciera}" 
                                                                converter="EntidadFinancieraPojoConverter"
                                                                size="25" 
                                                                queryDelay="1000"
                                                                panelStyle="z-index: 2001;"
                                                                inputStyle="z-index: 2001;"
                                                                dropdown="true">
                                                    <p:ajax event="itemSelect" listener="#{cobroCreate.onItemSelectEntidadFinanciera(cob.idFactura, data.nroLinea)}"/>
                                                </p:autoComplete>
                                            </p:column>

                                            <p:column headerText="Monto cheque">
                                                <h:inputText value="#{data.cheque.montoCheque}" style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}" 
                                                             class="form-control" id="monto">
                                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                                    <f:ajax/>
                                                </h:inputText>
                                            </p:column>
                                            <p:column headerText="N° Cheque">
                                                <h:inputText value="#{data.cheque.nroCheque}" class="form-control" id="nroCheque"
                                                             style="#{data.codigoTipoCobro=='CHEQUE'?'display:inline':'display:none'}"  >
                                                    <f:ajax/>
                                                </h:inputText>
                                            </p:column>


                                            <p:column headerText="Fecha Cheque">
                                                <p:calendar  style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"   id="feCheque"
                                                             value="#{data.cheque.fechaEmision}" 
                                                             locale="es" 
                                                             pattern="dd/MM/yyyy"
                                                             styleClass="p-cal calendarClass"/>
                                            </p:column>
                                            <p:column headerText="Fecha Deposito">
                                                <p:calendar style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"  id="feDep"
                                                            value="#{data.cheque.fechaPago}" 
                                                            locale="es" 
                                                            pattern="dd/MM/yyyy"
                                                            styleClass="p-cal calendarClass"/>
                                            </p:column>

                                        </p:dataTable>
                                        <br/>
                                        <div align="left">
                                            <p:commandButton value="Agregar Detalle" 
                                                             styleClass="btn btn-primary"
                                                             process="@this" global="false"
                                                             update="data-list-detalle"
                                                             action="#{cobroCreate.addLine()}" 
                                                             >
                                                <f:param value="#{cob.idFactura}" name="idFact"/>
                                            </p:commandButton>  
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </ui:repeat>

                        </h:panelGroup>

                        <div class="row">
                            <div class="col-sm-4">
                                <label style="font-weight: bold;" >Total cobrado:</label>
                            </div>
                            <div class="col-sm-4">
                                <h:inputText value="#{cobroCreate.montoCobroTotal}"
                                             styleClass="form-control"
                                             style="font-weight: bold;"
                                             id="idMontocob">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:inputText>
                            </div>
                            <div class="col-sm-4">
                                <h:inputText value="#{cobroCreate.monedaFilter.codigo}"
                                             styleClass="form-control"
                                             style="font-weight: bold;"/>
                            </div>
                        </div>

                        <h:panelGroup id="montoCobroGs" rendered="#{cobroCreate.monedaFilter.codigo ne 'PYG'}">
                            <br/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label style="font-weight: bold;" >Total cobrado en Guaraníes:</label>
                                </div>
                                <div class="col-sm-4">
                                    <h:inputText value="#{cobroCreate.montoCobroTotalGs}"
                                                 styleClass="form-control"
                                                 style="font-weight: bold;"
                                                 >
                                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    </h:inputText>
                                </div>
                                <div class="col-sm-4">
                                    <h:inputText value="Gs."
                                                 styleClass="form-control"
                                                 style="font-weight: bold;"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>

                </h:panelGroup>
                <br/>
                <p:commandLink styleClass="btn btn-primary"
                               title="Aceptar"
                               process="@this"
                               style="float: right;"
                               onclick="$('#confirmation').modal('show')"
                               update="cobro-form:form-data:modalCobro cobro-form:form-data:confirmation:panelConfirmation">
                    Aceptar
                </p:commandLink>&nbsp;
            </div>
        
    </p:dialog>

    <sepsa:modal-panel id="notificar" title="Configuraciones de Notificiaciones de Recibos Vía Email">
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelNotificar">
                    <!--b><h:outputText  value="Notificar al Correo: (*)"/></b>
                    <p:selectOneMenu value="#{cobroCreate.notificado}" styleClass="form-control">
                        <f:selectItem itemValue="S" itemLabel="Si"></f:selectItem>
                        <f:selectItem itemValue="N" itemLabel="No"></f:selectItem>
                        <p:ajax global="false"/>
                    </p:selectOneMenu-->
                    <b><h:outputText  value="Correo a envíar las Notificaciones: (*)"/></b>
                    <p:inputText value="#{cobroCreate.mail}" styleClass="form-control">
                        <p:ajax event="change" global="false" listener="#{cobroCreate.validarFormatoCorreo(cobroCreate.mail)}"
                                update=":message-form:message 
                                cobro-form:form-data:notificar"/>
                    </p:inputText>
                    <br/><b><h:outputText  value="Contraseña del Correo: (*)"/></b>
                    <p:inputText value="#{cobroCreate.passMail}" styleClass="form-control">
                        <p:ajax global="false"/>
                    </p:inputText>
                    <br/><b><h:outputText  value="Puerto del Correo: (*)"/></b>
                    <p:inputText value="#{cobroCreate.port}" styleClass="form-control">
                        <p:ajax global="false"/>
                    </p:inputText>
                    <br/><b><h:outputText  value="Server del Correo: (*)"/></b>
                    <p:inputText value="#{cobroCreate.server}" styleClass="form-control">
                        <p:ajax global="false"/>
                    </p:inputText>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Aceptar" update=":cobro-form:form-data
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  oncomplete="$('#notificar').modal('hide')"
                             action="#{cobroCreate.selectNotificar(cobroCreate.mail, cobroCreate.passMail, cobroCreate.port, cobroCreate.server)}"/>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="confirmation" title="Cobro" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea cargar el cobro?"/>
                    <h:panelGroup id="resumenEmails" style="#{cobroCreate.notificar eq 'S' and cobroCreate.selectedEmail.size() > 0  ? 'display:inline':'display:none'}">
                        <br/><br/><h:outputText  value="Se notificarán a los siguientes correos:"/>
                        <ui:repeat value="#{cobroCreate.selectedEmail}" var="email">
                            <br/><h:outputText value="-"/><h:outputText value="#{email.email}"/>
                        </ui:repeat>
                    </h:panelGroup>
                    <ui:repeat value="#{cobroCreate.selectedCobros}" var="pag" varStatus="index">
                        <p:panelGrid columns="2" rendered="#{pag.saldoCliente!=0}" layout="grid">
                            <h:outputText value="#{pag.nroFactura}"/>
                            <h:panelGroup>
                                <h:outputLabel value="Saldo: "/>
                                <p:outputLabel value="#{pag.saldoCliente}" style="border: 1px solid red;" >
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </p:outputLabel>
                            </h:panelGroup>
                        </p:panelGrid>
                    </ui:repeat>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" update=":cobro-form:form-data:cobro
                             :cobro-form:form-data:grupo
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  oncomplete="$('#confirmation').modal('hide')"
                             action="#{cobroCreate.addCobro()}"/>
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <sepsa:modal-panel id="detalleCobro" title="Detalle" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="detCobro">
                    <h5 class="card-title">Factura N°: #{cobroCreate.nroFactura}</h5>
                    <h:outputText value="Detalle de cobro" style="color:  #007ad9;"/>
                    <p:dataTable value="#{cobroCreate.adapterCobroDetalle.data}"
                                 var="data"
                                 id="data-list-detalle-cobro"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia">
                        <p:column headerText="N° Recibo">
                            <h:outputText value="#{data.nroRecibo eq null ? '--':data.nroRecibo}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Cobro">
                            <h:outputText value="#{data.fecha eq null ? '--':data.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                        </p:column>
                        <p:column headerText="Lugar Cobro">
                            <h:outputText value="#{data.lugarCobro eq null ? '--':data.lugarCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="Forma de Pago">
                            <h:outputText value="#{data.tipoCobro eq null ? '--':data.tipoCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="N° Cheque">
                            <h:outputText value="#{data.nroCheque eq null ? '--':data.nroCheque}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Pago">
                            <h:outputText value="#{data.fechaPago eq null ? '--':data.fechaPago}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Detalle">
                            <h:outputText value="#{data.montoCobro eq null ? '--':data.montoCobro}">
                                <f:convertNumber type= "number"  pattern= "#,###.####" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    <!--br/>
                    <h:outputText value="Detalle Retención" style="color:  #007ad9;"
                                  rendered="#{not empty cobroController.adapterRetencionDetalle.data}"/>
                    <p:dataTable value="#{cobroController.adapterRetencionDetalle.data}"
                                 var="data"
                                 id="data-list-detalle-retencion"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty cobroController.adapterRetencionDetalle.data}">
                        <p:column headerText="N° Retención">
                            <h:outputText value="#{data.nroRetencion eq null ? '-':data.nroRetencion}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha">
                            <h:outputText value="#{data.fecha eq null ? '-':data.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Retenido">
                            <h:outputText value="#{data.montoRetenido eq null ? '-':data.montoRetenido}"></h:outputText>
                        </p:column>
                        <p:column headerText="Porcentaje">
                            <h:outputText value="#{data.porcentajeRetencion eq null ? '-':data.porcentajeRetencion}"></h:outputText>
                        </p:column>
                    </p:dataTable-->
                    <br/>
                    <h:outputText value="Detalle de Nota de Credito" style="color:  #007ad9;"
                                  rendered="#{not empty cobroCreate.adapterNotaCreditoDetalle.data}"/>
                    <p:dataTable value="#{cobroCreate.adapterNotaCreditoDetalle.data}" 
                                 var="cred" 
                                 paginator="false" reflow="true" 
                                 paginatorAlwaysVisible="false"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty cobroCreate.adapterNotaCreditoDetalle.data}">
                        <p:column headerText="Descripci&oacute;n" >
                            <h:outputText value="#{cred.descripcion eq null ? '--':cred.descripcion}" style="font-weight: bold;"/>
                        </p:column>
                        <p:column headerText="Monto Iva" >
                            <h:outputText value="#{cred.montoIva eq null ? '--':cred.  montoIva}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Imponible" >
                            <h:outputText value="#{cred.montoImponible eq null ? '--':cred.  montoImponible}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Total" >
                            <h:outputText value="#{cred.montoTotal eq null ? '--':cred.montoTotal}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </h:panelGroup>
            </div>
        </f:facet>
    </sepsa:modal-panel>

    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>
</ui:composition>
