<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Factura</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{cobroCreate.facturaPendientes.nroFactura}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC/CI</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{cobroCreate.facturaPendientes.ruc}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razón Social</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{cobroCreate.facturaPendientes.razonSocial}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Cobrado</b></label>
                            <p:selectOneMenu value="#{cobroCreate.facturaPendientes.cobrado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Anulado</b></label>
                            <p:selectOneMenu value="#{cobroCreate.facturaPendientes.anulado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Moneda:</b></label>
                            <p:selectOneMenu id="moneda" class="form-control" value="#{cobroCreate.facturaPendientes.idMoneda}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{listarFactura.adapterMoneda.data}" var="mo"
                                               itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Desde</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaDesde" 
                                        value="#{cobroCreate.facturaPendientes.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaHasta" 
                                        value="#{cobroCreate.facturaPendientes.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Orden De Compra</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{cobroCreate.facturaPendientes.nroOrdenCompra}"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{cobroCreate.filterFacturasPendientes()}"
                           update="cobro-form:form-data:data-list-factura-pend cobro-form:form-data:paginatorCan:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{cobroCreate.clear()}"
                           update="cobro-form:form-data:data-list-factura-pend cobro-form:form-data:paginatorCan:paginator-panel cobro-form:form-data:filter:filter-data"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>