<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{listarProductoInfo.adapter.pageSize}" 
                                     styleClass="form-control"
                                     id="fil1">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax update="list-form:form-data:data-list
                                list-form:paginator:paginator-panel"
                                listener="#{listarProductoInfo.buscar()}"/>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <p:dataTable value="#{listarProductoInfo.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="No existen registros"
                 reflow="true"
                 tableStyle="table-layout" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="ID">
            <h:outputText value="#{data.id}">

            </h:outputText>
        </p:column>

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion == null ? '--' : data.descripcion}">

            </h:outputText>
        </p:column>

        <p:column headerText="Código GTIN">
            <h:outputText value="#{data.codigoGtin eq '0' ? '' : data.codigoGtin}">

            </h:outputText>
        </p:column>

        <p:column headerText="Código Interno">
            <h:outputText value="#{data.codigoInterno == null ? '--' : data.codigoInterno}">

            </h:outputText>
        </p:column>

        <p:column headerText="Fecha Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Activo">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>

        <p:column headerText="Marca">
            <h:outputText value="#{data.marca.descripcion == null ? '--' : data.marca.descripcion}">

            </h:outputText>
        </p:column>
        
        <p:column headerText="Unidad de medida">
            <h:outputText value="#{data.metrica.descripcion == null ? '--' : data.metrica.descripcion}">

            </h:outputText>
        </p:column>
        
        <p:column headerText="Porcentaje Impuesto">
            <h:outputText value="#{data.porcentajeImpuesto}">

            </h:outputText>
        </p:column>

        <p:column headerText="Cta Contable">
            <h:outputText value="#{data.cuentaContable == null ? '--' : data.cuentaContable}">
            </h:outputText>
        </p:column>
        
        <p:column headerText="Nro. Lote">
            <h:outputText value="#{data.nroLote == null ? '--' : data.nroLote}">
            </h:outputText>
        </p:column>
        
        <p:column headerText="Fecha Vto. Lote">
            <h:outputText value="#{data.fechaVencimientoLote == null ? '--' : data.fechaVencimientoLote}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" headerText="Empresa">
            <h:outputText value="#{data.empresa.descripcion eq null ? '--' : data.empresa.descripcion}"/>
        </p:column>

        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{listarProductoInfo.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column>


    </p:dataTable>

</ui:composition>
