<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Descripción</b></label>
                        <p:inputText class="form-control"
                                     value="#{listarProductoInfo.productoFilter.descripcion}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código GTIN</b></label>
                        <p:inputText class="form-control"
                                     value="#{listarProductoInfo.productoFilter.codigoGtin}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código Interno</b></label>
                        <p:inputText class="form-control"
                                     value="#{listarProductoInfo.productoFilter.codigoInterno}">
                        </p:inputText>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Activo</b></label>
                        <p:selectOneMenu id="activo"
                                         value="#{listarProductoInfo.productoFilter.activo}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}"
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="S"
                                          itemLabel="Si">
                            </f:selectItem>
                            <f:selectItem itemValue="N"
                                          itemLabel="No">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Porcentaje Impuesto</b></label>
                        <p:selectOneMenu id="porcentajeImpuesto"
                                         value="#{listarProductoInfo.productoFilter.porcentajeImpuesto}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}" itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItem itemValue="0"
                                          itemLabel="0">
                            </f:selectItem>
                            <f:selectItem itemValue="5"
                                          itemLabel="5">
                            </f:selectItem>
                            <f:selectItem itemValue="10"
                                          itemLabel="10">
                            </f:selectItem>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Marca</b></label><br/>
                        <p:autoComplete id="marca" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarProductoInfo.completeQuery}"
                                        value="#{listarProductoInfo.marcaFilterAux}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="marc" 
                                        itemLabel="#{marc.descripcion}"
                                        itemValue="#{marc}" 
                                        converter="marcaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarProductoInfo.onItemSelectMarcaFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Desde</b></label>
                        <p:calendar id="fechaDesde" 
                                    value="#{listarProductoInfo.productoFilter
                                             .fechaInsercionDesde}"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Hasta</b></label>
                        <p:calendar id="fechaHasta" 
                                    value="#{listarProductoInfo.productoFilter
                                             .fechaInsercionHasta}"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                    </div>
                    
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarProductoInfo.completeEmpresaQuery}"
                                        value="#{listarProductoInfo.empresaAutocomplete}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="emp" 
                                        itemLabel="#{emp.descripcion}" 
                                        itemValue="#{emp}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarProductoInfo.onItemSelectEmpresa}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <br/>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{listarProductoInfo.buscar()}"
                           update="list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarProductoInfo.limpiar()}"
                           update="list-form:filter:filter-panel
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
        <br/>
    </sepsa:filter-panel>
</ui:composition>