<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Encargado</b></label><br/>
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{talonarioCreate.completeQuery}"
                                    value="#{talonarioCreate.encargado}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="enc" 
                                    itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                    itemValue="#{enc}" 
                                    converter="encargadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{talonarioCreate.onItemSelectEncargadoFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Local</b></label>
                    <p:autoComplete id="local" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{talonarioCreate.completeQueryLocal}"
                                    value="#{talonarioCreate.localFilter}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="local" 
                                    itemLabel="#{local.descripcion}" 
                                    itemValue="#{local}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{talonarioCreate.onItemSelectLocalFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Tipo Talonario(*)</b></label>
                    <p:selectOneMenu id="tipoDocumento" class="form-control" value="#{talonarioCreate.talonario.idTipoDocumento}">
                        <f:selectItems value="#{talonarioCreate.tipoDocumentoAdapterList.data}" var="datos2"
                                       itemLabel="#{datos2.descripcion}" itemValue="#{datos2.id}"/>
                        <p:ajax event="change" update="@form" listener="#{talonarioCreate.onChangeTipoTalonario}" />
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Timbrado(*)</b></label>
                    <p:inputText id="timbrado"
                                 class="form-control"
                                 placeholder="Timbrado"
                                 value="#{talonarioCreate.talonario.timbrado}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° Inicio(*)</b></label>
                    <p:inputText id="inicio"
                                 class="form-control"
                                 placeholder="N° Inicio" 
                                 value="#{talonarioCreate.talonario.inicio}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° Fin(*)</b></label>
                    <p:inputText id="fin"
                                 class="form-control"
                                 placeholder="N° Fin(*)" 
                                 value="#{talonarioCreate.talonario.fin}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{talonarioCreate.talonario.activo}"
                                     class="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Digital(*)</b></label>
                    <p:selectOneMenu id="digital"
                                     value="#{talonarioCreate.talonario.digital}"
                                     class="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° Sucursal(*)</b></label>
                    <p:inputText id="nroSucursal"
                                 class="form-control"
                                 placeholder="N° Sucursal" 
                                 value="#{talonarioCreate.talonario.nroSucursal}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Nro Punto de venta(*)</b></label>
                    <p:inputText id="nroPuntoVenta"
                                 class="form-control"
                                 placeholder="N° Punto de venta" 
                                 value="#{talonarioCreate.talonario.nroPuntoVenta}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Fecha Inicio:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaInicio" 
                                value="#{talonarioCreate.talonario.fechaInicio}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                class="p-cal calendarClass">
                        <p:ajax/>
                    </p:calendar>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Fecha Vencimiento:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaVencimiento" 
                                value="#{talonarioCreate.talonario.fechaVencimiento}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                class="p-cal calendarClass">
                        <p:ajax/>
                    </p:calendar>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Nro Resolución </b></label>
                    <p:inputText id="nroResolucion"
                                 class="form-control"
                                 placeholder="N° Resolución" 
                                 value="#{talonarioCreate.talonario.nroResolucion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Fecha Resolución:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaResolucion" 
                                value="#{talonarioCreate.talonario.fechaResolucion}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                class="p-cal calendarClass">
                        <p:ajax/>
                    </p:calendar>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código Interno</b></label>
                    <p:inputText id="codInterno"
                                 class="form-control"
                                 value="#{talonarioCreate.talonario.codigoInterno}"/>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
