<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{listarServicio.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="No existen registros"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}">

            </h:outputText>
        </p:column>

        <p:column headerText="Código">
            <h:outputText value="#{data.codigo}">

            </h:outputText>
        </p:column>

        <p:column headerText="Codigo Producto">
            <h:outputText value="#{data.codigoProducto}">

            </h:outputText>
        </p:column>
        
        <p:column headerText="Producto">
            <h:outputText value="#{data.producto}">

            </h:outputText>
        </p:column>
        
    </p:dataTable>

</ui:composition>
