<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">

            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>Código Producto</label>
                        <h:inputText styleClass="form-control"
                                     value="#{listarServicio.searchData.codigoProducto}">

                        </h:inputText>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>Descripción</label>
                        <h:inputText styleClass="form-control"
                                     value="#{listarServicio.searchData.descripcion}">

                        </h:inputText>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <br/>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{listarServicio.filter()}"
                           update="list-form:form-data:data-list
                           :list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarServicio.limpiar()}"
                           update="list-form:form-data:data-list
                           :list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                Limpiar
            </p:commandLink>
        </f:facet>

        <br/>

    </sepsa:filter-panel>

</ui:composition>