<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <div class="card"> 
        <div class="card-body">
            <h5 class="card-title">Datos del transporte</h5>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Modalidad de transporte: (*)</b></label>
                    <p:selectOneMenu id="modalidadTransporte" class="form-control" value="#{vehiculoTrasladoCreate.modalidadTransporte}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione la modalidad de transporte" />
                        <f:selectItem itemLabel="Terrestre" itemValue="1"/>
                        <f:selectItem itemLabel="Fluvial" itemValue="2"/>
                        <f:selectItem itemLabel="Aéreo" itemValue="3"/>
                        <f:selectItem itemLabel="Multimodal" itemValue="4"/>
                        <p:ajax event="change" update=" vehiculo-traslado-form:form-data:panelTipoVehiculo
                                                        vehiculo-traslado-form:form-data:panelNroVuelo"/>
                    </p:selectOneMenu>
                </div>

                <h:panelGroup id="panelTipoVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >

                    <div style="#{vehiculoTrasladoCreate.modalidadTransporte eq 1 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoTerrestre" class="form-control" value="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="CARGA" itemValue="CARGA"/>
                         
                        </p:selectOneMenu>
                    </div>

                    <div style="#{vehiculoTrasladoCreate.modalidadTransporte eq 2 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoFluvial" class="form-control" value="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="Fluvial" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                    <div style="#{vehiculoTrasladoCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoAereo" class="form-control" value="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="Aereo" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                    <div style="#{vehiculoTrasladoCreate.modalidadTransporte eq 4 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoMultiModal" class="form-control" value="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="MultiModal" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                </h:panelGroup>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Marca del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="marcaVehiculo"
                                 value="#{vehiculoTrasladoCreate.vehiculoTraslado.marca}"
                                 maxlength="10">
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">    
                    <label><b>Tipo de identificación del vehículo: (*)</b></label>
                    <p:selectOneMenu id="tipoIdentificacionVehiculo" class="form-control" value="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoIdentificacion}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione el tipo de identificación" />
                        <f:selectItem itemLabel="Nro. Identificación Vehículo" itemValue="1"/>
                        <f:selectItem itemLabel="Nro. de matrícula" itemValue="2"/>
                        <p:ajax event="change" update="vehiculo-traslado-form:form-data:panelIdVehiculo vehiculo-traslado-form:form-data:panelNroMatricula"/>
                    </p:selectOneMenu>
                </div>

                <h:panelGroup id="panelIdVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoIdentificacion eq 1 ?'display:inline':'display: none'}" >
                    <label><b>Nro de identificacion del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="idVehiculo"
                                 value="#{vehiculoTrasladoCreate.vehiculoTraslado.nroIdentificacion}">
                    </h:inputText>
                </h:panelGroup>

                <h:panelGroup id="panelNroMatricula" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{vehiculoTrasladoCreate.vehiculoTraslado.tipoIdentificacion eq 2 ?'display:inline':'display: none'}" >
                    <label><b>Nro de matricula del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="matriculaVehiculo"
                                 maxlength="7"
                                 value="#{vehiculoTrasladoCreate.vehiculoTraslado.nroMatricula}">
                    </h:inputText>
                </h:panelGroup>

                <h:panelGroup id="panelNroVuelo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{vehiculoTrasladoCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}" >
                    <label><b>Nro. de vuelo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 value="#{vehiculoTrasladoCreate.vehiculoTraslado.nroVuelo}">
                    </h:inputText>
                </h:panelGroup>

            </div>
            
        </div>
    </div>   

</ui:composition>