<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{vehiculoTrasladoList.adapterVehiculoTraslado.pageSize}" 
                                     styleClass="form-control"
                                     id="fil1">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax update="list-form:form-data:data-list
                                list-form:paginator:paginator-panel"
                                listener="#{vehiculoTrasladoList.buscar()}"/>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <p:dataTable value="#{vehiculoTrasladoList.adapterVehiculoTraslado.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 emptyMessage="No existen registros"
                 reflow="true"
                 tableStyle="table-layout" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="ID">
            <h:outputText value="#{data.id}">

            </h:outputText>
        </p:column>

        <p:column headerText="Tipo de Vehículo">
            <h:outputText value="#{data.tipoVehiculo == null ? '--' : data.tipoVehiculo}">

            </h:outputText>
        </p:column>

        <p:column headerText="Marca">
            <h:outputText value="#{data.marca == null ? '--' : data.marca}">

            </h:outputText>
        </p:column>
        
        <p:column headerText="Nro. de Identificacion">
            <h:outputText value="#{data.nroIdentificacion == null ? '--' : data.nroIdentificacion}"/>
        </p:column>

        <p:column headerText="Matricula">
            <h:outputText value="#{data.nroMatricula == null ? '--' : data.nroMatricula}"/>
        </p:column>
        
        <p:column headerText="Activo" id="state" >
            <div align="center">
                <p:commandLink title="#{data.activo eq 'S'? 'Inactivar':'Activar'}"
                               actionListener="#{vehiculoTrasladoList.onChangeStateConfig(data)}" 
                               update=" list-form:form-data:msgs 
                                        list-form:form-data:data-list
                                        list-form:paginator:paginator-panel">
                    <i class="fa fa-2x #{data.activo eq 'S'?'fa-toggle-on text-green':'fa-toggle-off text-red'}"></i>
                    <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado?"  />
                </p:commandLink>
            </div>
        </p:column>
        
        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{vehiculoTrasladoList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>
    
    <p:confirmDialog showEffect="face" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

</ui:composition>
