<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="../template.xhtml">

            <ui:define name="content-header">
                <sepsa:content-header title="CAMBIAR CONTRASEÑA" 
                                      preTitle="Página para cambiar contraseña de usuario"/>
            </ui:define>

            <ui:define name="content-body"> 

                <h:form id="new-form">

                    <sepsa:form-panel id="form-data">
                        
                        <!-- PANEL DE DATOS PARA FORMULARIO DE CREACIÓN -->
                        <f:facet name="controls">
                            <ui:include src="component/change-pass-data.xhtml"/>
                        </f:facet>

                        <br/><br/>
                        
                        <!-- BOTONES ASOCIADOS AL CONTROLADOR -->
                        <f:facet name="submitBtn">
                            <p:commandLink styleClass="btn btn-primary" 
                                           action="#{changePass.change()}"
                                           id="changePass"
                                           update="
                                           :new-form:form-data:actual-pass
                                           :new-form:form-data:new-pass
                                           :new-form:form-data:confirm-pass
                                           :new-form:form-data:client-msn
                                           :new-form:form-data:server-msn">
                                <i class="fas fa-lock"></i>
                                CAMBIAR CONTRASEÑA
                            </p:commandLink>

                        </f:facet>

                        <f:facet name="clearBtn">
                            <p:commandLink styleClass="btn btn-dark" 
                                           action="#{changePass.clear()}"
                                           process="@this"
                                           update=":new-form">
                                <i class="fas fa-broom"></i>
                                LIMPIAR
                            </p:commandLink>
                        </f:facet>

                        <!-- MENSAJES EN EL CLIENTE -->
                        <f:facet name="clientMsn">
                            <h:panelGroup id="client-msn">
                                
                                <sepsa:message-prime 
                                    controlName=":new-form:form-data:actual-pass" 
                                    type="ERROR"/>
                                
                                <sepsa:message-prime 
                                    controlName=":new-form:form-data:new-pass" 
                                    type="ERROR"/>
                                
                                <sepsa:message-prime 
                                    controlName=":new-form:form-data:confirm-pass" 
                                    type="ERROR"/>
                                
                            </h:panelGroup>
                        </f:facet>

                        <!-- MENSAJES DEL SERVIDOR -->
                        <f:facet name="serverMsn">
                            <h:panelGroup id="server-msn">
                                <sepsa:message-list messageAdapter="#{changePass.messageAdapter}" /> 
                            </h:panelGroup>
                        </f:facet>
                        
                    </sepsa:form-panel>
                </h:form>

            </ui:define>   
        </ui:composition>
    </h:body>
</html>