<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Motivo(*)</b></label>
                    <p:selectOneMenu id="motivo" 
                                     class="form-control" 
                                     value="#{controlCreate.controlInventarioCreate.codigoMotivo}">
                        <f:selectItems value="#{controlCreate.motivoAdapterList.data}" 
                                       var="motivo"
                                       itemLabel="#{motivo.descripcion}" 
                                       itemValue="#{motivo.codigo}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Supervisor(*)</b></label><br/>
                    <p:autoComplete id="supervisor" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{controlCreate.completeQueryUsuarioSupervisor}"
                                    value="#{controlCreate.supervisor}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="enc" 
                                    itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                    itemValue="#{enc}" 
                                    converter="encargadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{controlCreate.onItemSelectSupervisorFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Encargado(*)</b></label><br/>
                    <p:autoComplete id="encargado" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{controlCreate.completeQueryUsuarioEncargado}"
                                    value="#{controlCreate.encargado}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="enc" 
                                    itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                    itemValue="#{enc}" 
                                    converter="encargadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{controlCreate.onItemSelectEncargadoFilter}"/>
                    </p:autoComplete>
                </div>
                <br/>


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <!-- PANEL PARA FILTRO -->
                    <!--ui:include src="deposito-control-filter.xhtml"/-->
                    <br/>
                    <br/>
                    <br/>
                    <h5 class="card-title">Depósitos</h5>           
                    <p:dataTable value="#{controlCreate.depositoAdapter.data}"
                                 var="deposito"
                                 id="data-list-deposito"
                                 editable="true"
                                 reflow="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;"
                                 emptyMessage="No existen registros"
                                 selection="#{controlCreate.selectedDepositos}"
                                 rowKey="#{deposito.id}"
                                 tableStyleClass="table table-bordered table-hover"
                                 >
                        <p:column selectionMode="multiple"></p:column>

                        <!--p:column headerText="ID">
                            <h:outputText value="#{resumen.id}"/>
                        </p:column--> 

                        <p:column headerText="Local">
                            <h:outputText value="#{deposito.local}"/>
                        </p:column>   

                        <p:column headerText="Descripción">
                            <h:outputText value="#{deposito.descripcion}"/>
                        </p:column>

                        <p:column headerText="Código">
                            <h:outputText value="#{deposito.codigo}"/>
                        </p:column>
                    </p:dataTable>

                    <sepsa:paginator adapter="#{controlCreate.depositoAdapter}" 
                                     searchData="#{controlCreate.deposito}"
                                     id="paginator-deposito"
                                     updatePage=":list-control-create-form:form-data:data-list-deposito 
                                     :list-control-create-form:form-data:paginator-deposito:paginator-panel"/>

                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <!-- PANEL PARA FILTRO -->
                    <ui:include src="producto-control-filter.xhtml"/>
                    <h5 class="card-title">Productos</h5>           
                    <p:dataTable value="#{controlCreate.inventarioResumenAdapter.data}"
                                 var="resumen"
                                 id="data-list-resumen"
                                 editable="true"
                                 reflow="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;"
                                 emptyMessage="No existen registros"
                                 selection="#{controlCreate.selectedProductos}"
                                 rowKey="#{resumen.id}"
                                 tableStyleClass="table table-bordered table-hover"
                                 >
                        <p:column selectionMode="multiple"></p:column>

                        <!--p:column headerText="ID">
                            <h:outputText value="#{resumen.id}"/>
                        </p:column--> 

                        <p:column headerText="Producto">
                            <h:outputText value="#{resumen.producto}"/>
                        </p:column>   

                        <p:column headerText="Código Gtin">
                            <h:outputText value="#{resumen.codigoGtin}"/>
                        </p:column>

                        <p:column headerText="Código Interno">
                            <h:outputText value="#{resumen.codigoInterno}"/>
                        </p:column>
                    </p:dataTable>

                    <sepsa:paginator adapter="#{controlCreate.depositoAdapter}" 
                                     searchData="#{controlCreate.deposito}"
                                     id="paginator-producto"
                                     updatePage=":list-control-create-form:form-data:data-list-resumen 
                                     :list-control-create-form:form-data:paginator-producto:paginator-panel"/>

                </div>

            </div>
        </div>
    </div>

    <br/>
    <div class="row" align="right">
        <div class="col-12">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{controlCreate.create()}"
                           update=":message-form:message @form">
                Crear
            </p:commandLink>
        </div>
    </div>


    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Factura">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea imprimir el Control Generado?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-download"></i> Descargar
                    <p:fileDownload id="file" value="#{invoice.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{invoice.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>


    <sepsa:loading></sepsa:loading>

</ui:composition>
