<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{listarControlInventario.adapterControlInventario.data}"
                 var="data"
                 id="data-list-control-inventario"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="N° Control">
            <h:outputText value="#{data.codigo}"/>
        </p:column>

        <p:column headerText="Motivo">
            <h:outputText value="#{data.motivo}"/>
        </p:column>

        <p:column headerText="Estado">
            <h:outputText value="#{data.estado}"/>
        </p:column>

        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Encargado">
            <h:outputText value="#{data.usuarioEncargado}"/>
        </p:column>

        <p:column headerText="Supervisor">
            <h:outputText value="#{data.usuarioSupervisor}"/>
        </p:column>



        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Ver Detalle" onclick="$('#modalControlDetalle').modal('show')" action="#{listarControlInventario.filterControlInventarioDetalle(data.id)}" update="list-control-form:form-data:modalControlDetalle:data-list-control-detalle list-control-form:form-data:modalControlDetalle:paginator-control-detalle:paginator-panel" icon="fas fa-search"/>
                    <p:menuitem value="Descargar" ajax="false" icon="fas fa-download">
                        <p:fileDownload value="#{listarControlInventario.download(data.id, data.codigo)}" />
                    </p:menuitem>
                    <p:menuitem value="Imprimir" action="#{listarControlInventario.print(data.id)}" icon="fas fa-print"/>
                </p:menuButton>
            </div>
        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarControlInventario.adapterControlInventario}" 
                     searchData="#{listarControlInventario.controlInventarioFilter}"
                     id="paginator2"
                     updatePage=":list-control-form:form-data:data-list-control-inventario 
                     :list-control-form:form-data:paginator2:paginator-panel"/>

    <sepsa:modal-panel id="modalControlDetalle" title="Detalles de Control de Inventario" sizePanel="modal-xxl">
        <f:facet name="content">
            <p:dataTable value="#{listarControlInventario.adapterControlInventarioDetalle.data}"
                         var="detalle"
                         id="data-list-control-detalle"
                         rowIndexVar="index"
                         paginator="false"
                         emptyMessage="Lista vacia">

                <p:column headerText="Local">
                    <h:outputText value="#{detalle.local}"/>
                </p:column>

                <p:column headerText="Cod. Depósito">
                    <h:outputText value="#{detalle.codigoDeposito}"/>
                </p:column>

                <p:column headerText="Producto">
                    <h:outputText value="#{detalle.producto}"/>
                </p:column>

                <p:column headerText="Cod. GTIN">
                    <h:outputText value="#{detalle.codigoGtin}"/>
                </p:column>

                <p:column headerText="Código Interno">
                    <h:outputText value="#{detalle.codigoInterno}"/>
                </p:column>

                <p:column headerText="Cantidad Sistema">
                    <h:outputText value="#{detalle.cantidadInicial}"/>
                </p:column>

                <p:column headerText="Cantidad Relevada">
                    <h:outputText value="#{detalle.cantidadFinal}"/>
                </p:column>
            </p:dataTable>
            <br/>

            <sepsa:paginator adapter="#{listarControlInventario.adapterControlInventarioDetalle}"
                             searchData="#{listarControlInventario.controlInventarioDetalleFilter}"
                             id="paginator-control-detalle"
                             updatePage="list-control-form:form-data:modalControlDetalle:data-list-control-detalle 
                             list-control-form:form-data:modalControlDetalle:paginator-control-detalle:paginator-panel"/>

        </f:facet>
    </sepsa:modal-panel>

    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>

</ui:composition>
