<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>N° Control</b></label>
                        <p:inputText id="codigo"
                                     class="form-control"
                                     placeholder="N° Control" 
                                     value="#{listarControlInventario.controlInventarioFilter.codigo}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Motivo</b></label>
                        <p:selectOneMenu id="motivo" 
                                         class="form-control" 
                                         value="#{listarControlInventario.controlInventarioFilter.idMotivo}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{listarControlInventario.motivoAdapterList.data}" 
                                           var="motivo"
                                           itemLabel="#{motivo.descripcion}" 
                                           itemValue="#{motivo.id}"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Encargado</b></label><br/>
                        <p:autoComplete id="clien" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarControlInventario.completeQueryUsuarioEncargado}"
                                        value="#{listarControlInventario.encargado}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="enc" 
                                        itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                        itemValue="#{enc}" 
                                        converter="encargadoPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarControlInventario.onItemSelectEncargadoFilter}"/>
                        </p:autoComplete>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Encargado de Control</b></label><br/>
                        <p:autoComplete id="cliente" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarControlInventario.completeQueryUsuarioSupervisor}"
                                        value="#{listarControlInventario.supervisor}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="enc" 
                                        itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                        itemValue="#{enc}" 
                                        converter="encargadoPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarControlInventario.onItemSelectSupervisorFilter}"/>
                        </p:autoComplete>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Fecha Inserción Desde</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionDesde" 
                                    value="#{listarControlInventario.controlInventarioFilter.fechaInsercionDesde}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Fecha Inserción Hasta</b></label>&nbsp;&nbsp;
                        <p:calendar id="fechaInsercionHasta" 
                                    value="#{listarControlInventario.controlInventarioFilter.fechaInsercionHasta}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    class="p-cal calendarClass">
                            <p:ajax/>
                        </p:calendar>
                    </div>

                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarControlInventario.filterControlInventario()}"
                           update=":list-control-form:form-data:data-list-control-inventario 
                           :list-control-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarControlInventario.clear()}"
                           update=":list-control-form:form-data:data-list-control-inventario 
                           :list-control-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>