<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Depósito(*)</b></label>
                        <p:autoComplete id="deposito" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{crearControlInventario.completeQueryDeposito}"
                                        value="#{crearControlInventario.deposito}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="dep" 
                                        itemLabel="#{dep.descripcion}" 
                                        itemValue="#{dep}" 
                                        converter="depositoPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{crearControlInventario.onItemSelectDeposito}" />
                        </p:autoComplete>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Motivo(*)</b></label>
                    <p:selectOneMenu id="motivo" 
                                     class="form-control" 
                                     value="#{crearControlInventario.controlInventarioCreate.codigoMotivo}">
                        <f:selectItems value="#{crearControlInventario.motivoAdapterList.data}" 
                                       var="motivo"
                                       itemLabel="#{motivo.descripcion}" 
                                       itemValue="#{motivo.codigo}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Supervisor(*)</b></label><br/>
                    <p:autoComplete id="supervisor" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearControlInventario.completeQueryUsuarioSupervisor}"
                                    value="#{crearControlInventario.supervisor}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="enc" 
                                    itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                    itemValue="#{enc}" 
                                    converter="encargadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearControlInventario.onItemSelectSupervisorFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Encargado(*)</b></label><br/>
                    <p:autoComplete id="encargado" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearControlInventario.completeQueryUsuarioEncargado}"
                                    value="#{crearControlInventario.encargado}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="enc" 
                                    itemLabel="#{enc.personaFisica.nombre.concat(' ').concat(enc.personaFisica.apellido)}" 
                                    itemValue="#{enc}" 
                                    converter="encargadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearControlInventario.onItemSelectEncargadoFilter}"/>
                    </p:autoComplete>
                </div>
                <br/>
                <h5 class="card-title">Productos</h5>
                <p:dataTable filteredValue="#{crearControlInventario.inventarioResumenAdapter.data}"
                             var="data"
                             id="data-list-resumen"
                             paginator="false"
                             reflow="true"
                             style="text-align: center;"
                             emptyMessage="No existen registros"
                             selection="#{crearControlInventario.selectedProductos}"
                             rowKey="#{data.id}"
                             >
                    <p:column selectionMode="multiple"></p:column>

                    <p:column headerText="Producto">
                        <h:outputText value="#{data.producto}"/>
                    </p:column>   

                    <p:column headerText="Código Gtin">
                        <h:outputText value="#{data.codigoGtin}"/>
                    </p:column>

                    <p:column headerText="Código Interno">
                        <h:outputText value="#{data.codigoInterno}"/>
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </div>

    <f:facet name="submitBtn">
        <div class="row" align="right">
            <div class="col-12">
                <p:commandLink styleClass="btn btn-primary"
                               style="margin-right: 10px;"
                               action="#{crearControlInventario.create()}"
                               update=":message-form:message @form">
                    Generar
                </p:commandLink>
            </div>
        </div>
    </f:facet>

    <sepsa:loading></sepsa:loading>

</ui:composition>
