<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Sucursal(*)</b></label>
                    <p:autoComplete id="local" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{depositoEdit.completeQueryLocal}"
                                    value="#{depositoEdit.localFilter}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="local" 
                                    itemLabel="#{local.descripcion}" 
                                    itemValue="#{local}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{depositoEdit.onItemSelectLocalFilter}"/>
                    </p:autoComplete>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo</b></label>
                    <p:selectOneMenu value="#{depositoEdit.deposito.activo}" class="form-control">
                        <f:selectItem itemLabel="Todos" itemValue=""/>
                        <f:selectItem itemLabel="Sí" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"/>
                        <p:ajax global="false"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Código(*)</b></label>
                    <p:inputText id="codigo"
                                 class="form-control"
                                 placeholder="Código" 
                                 value="#{depositoEdit.deposito.codigo}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripción(*)</b></label>
                    <p:inputText id="descripcion"
                                 class="form-control"
                                 placeholder="Descripcion" 
                                 value="#{depositoEdit.deposito.descripcion}"/>
                </div>
            </div>
        </div>
    </div>
</ui:composition>