<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Local</b></label>
                        <p:autoComplete id="local" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{controlCreate.completeQueryLocal}"
                                        value="#{controlCreate.localFilter}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="local" 
                                        itemLabel="#{local.descripcion}" 
                                        itemValue="#{local}" 
                                        converter="localPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{controlCreate.onItemSelectLocalFilter}"/>
                        </p:autoComplete>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Activo</b></label>
                        <p:selectOneMenu value="#{controlCreate.deposito.activo}" class="form-control">
                            <f:selectItem itemLabel="Todos" itemValue=""/>
                            <f:selectItem itemLabel="Sí" itemValue="S"/>
                            <f:selectItem itemLabel="No" itemValue="N"/>
                            <p:ajax global="false"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Código</b></label>
                        <p:inputText id="codigo"
                                     class="form-control"
                                     placeholder="Código" 
                                     value="#{controlCreate.deposito.codigo}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Descripción</b></label>
                        <p:inputText id="descripcion"
                                     class="form-control"
                                     placeholder="Descripcion" 
                                     value="#{controlCreate.deposito.descripcion}"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{controlCreate.filterDepositoLogistico()}"
                           update=":list-control-create-form:form-data:data-list-deposito 
                           :list-control-create-form:form-data:paginator-deposito:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{controlCreate.clearDeposito()}"
                           update=":list-control-create-form:form-data:data-list-deposito 
                           :list-control-create-form:form-data:paginator-deposito:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>
