<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{listarDeposito.depositoAdapterList.data}"
                 var="data"
                 id="data-list-deposito"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>

        <p:column headerText="Código">
            <h:outputText value="#{data.codigo}"/>
        </p:column>

        <p:column headerText="Cliente">
            <h:outputText value="#{data.cliente}"/>
        </p:column>

        <p:column headerText="Sucursal">
            <h:outputText value="#{data.local}"/>
        </p:column>

        <p:column headerText="Fecha Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Activo">
            <h:panelGroup rendered="#{data.activo eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.activo eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{listarDeposito.editDeposito(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarDeposito.depositoAdapterList}" 
                     searchData="#{listarDeposito.depositoFilter}"
                     id="paginator2"
                     updatePage=":list-deposito-form:form-data:data-list-deposito 
                     :list-deposito-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
