<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter" btnFilter="true">

        <f:facet name="filterBody" id="fiter-body" >
            <h:panelGroup id="filter-data">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 1 ?'display:inline':'display: none'}">
                            <div class="form-group">
                                <label><b>Depósito</b></label>
                                <p:autoComplete 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{listarInventario.completeQueryDeposito}"
                                    value="#{listarInventario.deposito}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="dep" 
                                    itemLabel="#{dep.descripcion}" 
                                    itemValue="#{dep}" 
                                    converter="depositoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                                    <p:ajax event="itemSelect" listener="#{listarInventario.onItemSelectDepositoResumen}" />
                                </p:autoComplete>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 1 ?'display:inline':'display: none'}">
                            <div class="form-group">
                                <label><b>Producto</b></label>
                                <p:autoComplete 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{listarInventario.completeQueryProducto}"
                                    value="#{listarInventario.producto}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="prod" 
                                    itemLabel="#{prod.descripcion}" 
                                    itemValue="#{prod}" 
                                    converter="productoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                                    <p:ajax event="itemSelect" listener="#{listarInventario.onItemSelectProductoResumen}" />
                                </p:autoComplete>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 1 ?'display:inline':'display: none'}">
                            <label><b>Código Interno</b></label>
                            <p:inputText class="form-control" 
                                         value="#{listarInventario.inventarioResumen.codigoInterno}"/>
                        </h:panelGroup>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 2 ?'display:inline':'display: none'}">
                            <div class="form-group">
                                <label><b>Depósito</b></label>
                                <p:autoComplete 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{listarInventario.completeQueryDeposito}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="dep" 
                                    itemLabel="#{dep.descripcion}" 
                                    itemValue="#{dep}" 
                                    converter="depositoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                                    <p:ajax event="itemSelect" listener="#{listarInventario.onItemSelectDeposito}" />
                                </p:autoComplete>
                            </div>
                        </h:panelGroup>
                    </div>



                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 2 ?'display:inline':'display: none'}">
                            <div class="form-group">
                                <label><b>Producto</b></label>
                                <p:autoComplete 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{listarInventario.completeQueryProducto}"
                                    value="#{listarInventario.producto}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="prod" 
                                    itemLabel="#{prod.descripcion}" 
                                    itemValue="#{prod}" 
                                    converter="productoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                                    <p:ajax event="itemSelect" listener="#{listarInventario.onItemSelectProducto}" />
                                </p:autoComplete>
                            </div>
                        </h:panelGroup>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 2 ?'display:inline':'display: none'}">
                            <label><b>Código Interno</b></label>
                            <p:inputText class="form-control" 
                                         value="#{listarInventario.inventario.codigoInterno}"/>
                        </h:panelGroup>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h:panelGroup style="#{listarInventario.tipoInventario eq 2 ?'display:inline':'display: none'}">
                            <label><b>Estado</b></label>
                            <p:selectOneMenu id="estado" 
                                             class="form-control" 
                                             value="#{listarInventario.inventario.idEstado}">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                                <f:selectItems value="#{listarInventario.estadoAdapterList.data}" var="estado"
                                               itemLabel="#{estado.descripcion}" itemValue="#{estado.id}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo de Inventario</b></label>
                            <p:selectOneMenu value="#{listarInventario.tipoInventario}" class="form-control">
                                <f:selectItem itemLabel="Resumen" itemValue="1"/>
                                <f:selectItem itemLabel="General" itemValue="2"/>
                                <f:ajax event="change" listener="#{listarInventario.filtrarTipo()}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarInventario.filter()}"
                           update="@form">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarInventario.clear()}"
                           update="@form">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>
