<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <h:panelGroup id="data-table-inventario-1" style="#{listarInventario.tipoInventario eq 1 ?'display:inline':'display: none'}">
        <h5 class="card-title">Resumen de Inventario</h5>
        <p:dataTable value="#{listarInventario.inventarioResumenAdapter.data}"
                     var="data"
                     id="data-list-resumen"
                     rowIndexVar="index"
                     paginator="false"
                     reflow="true"
                     emptyMessage="Lista vacía">

            <p:column headerText="Local">
                <h:outputText value="#{data.local}"/>
            </p:column>

            <p:column headerText="Depósito">
                <h:outputText value="#{data.depositoLogistico}"/>
            </p:column>

            <p:column headerText="Producto">
                <h:outputText value="#{data.producto}"/>
            </p:column>
            <p:column headerText="Código Gtin">
                <h:outputText value="#{data.codigoGtin}"/>
            </p:column>
            <p:column headerText="Código Interno">
                <h:outputText value="#{data.codigoInterno}"/>
            </p:column>
            <p:column headerText="Cantidad">
                <h:outputText value="#{data.cantidad}"/>
            </p:column>

        </p:dataTable>
        <br/>
        <br/>
        <!-- PAGINADOR DE DATOS -->
        <sepsa:paginator adapter="#{listarInventario.inventarioResumenAdapter}"
                         searchData="#{listarInventario.inventarioResumen}"
                         id="paginator-resumen"
                         updatePage="list-form:form-data:data-list-resumen
                         list-form:form-data:paginator-resumen:paginator-panel"/>
    </h:panelGroup>

    <h:panelGroup id="data-table-inventario-2" style="#{listarInventario.tipoInventario eq 2 ?'display:inline':'display: none'}">
        <h5 class="card-title">Inventario - General</h5>
        <p:dataTable value="#{listarInventario.inventarioAdapter.data}"
                     var="data"
                     id="data-list"
                     rowIndexVar="index"
                     paginator="false"
                     reflow="true"
                     emptyMessage="Lista vacía">

            <p:column headerText="Local">
                <h:outputText value="#{data.local}"/>
            </p:column>

            <p:column headerText="Depósito">
                <h:outputText value="#{data.depositoLogistico}"/>
            </p:column>

            <p:column headerText="Producto">
                <h:outputText value="#{data.producto}"/>
            </p:column>
            <p:column headerText="Código Gtin">
                <h:outputText value="#{data.codigoGtin}"/>
            </p:column>
            <p:column headerText="Código Interno">
                <h:outputText value="#{data.codigoInterno eq null ? '--':data.codigoInterno}"/>
            </p:column>
            <p:column headerText="Cantidad">
                <h:outputText value="#{data.cantidad}"/>
            </p:column>

            <p:column headerText="Estado">
                <div align="center">
                    <h:panelGroup rendered="#{data.codigoEstado eq 'DISPONIBLE'}">
                        <div class="form-group col">
                            <div class="alert alert-success" role="alert" align="center">
                                <h:outputText value="#{data.estado}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{data.codigoEstado eq 'BLOQUEADO'}">
                        <div class="form-group col">
                            <div class="alert alert-dark" role="alert" align="center">
                                <h:outputText value="#{data.estado}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{data.codigoEstado eq 'COMPROMETIDO'}">
                        <div class="form-group col">
                            <div class="alert alert-warning" role="alert" align="center">
                                <h:outputText value="#{data.estado}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{data.codigoEstado eq 'CUARENTENA'}">
                        <div class="form-group col">
                            <div class="alert alert-danger" role="alert" align="center">
                                <h:outputText value="#{data.estado}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{data.codigoEstado eq 'FACTURADO'}">
                        <div class="form-group col">
                            <div class="alert alert-info" role="alert" align="center">
                                <h:outputText value="#{data.estado}"/>
                            </div>
                        </div>
                    </h:panelGroup>

                </div>
            </p:column>

            <p:column headerText="Opciones">
                <div align="center">
                    <p:commandLink styleClass="btn btn-primary"
                                   onclick="$('#modalDetalle').modal('show')"
                                   action="#{listarInventario.filterDetalleInventario(data.id)}"
                                   update="list-form:form-data:modalDetalle:data-list-detalle"
                                   title="Ver Detalles"
                                   >
                        <i class="fas fa-file-alt"></i>
                    </p:commandLink>
                </div>
            </p:column>

        </p:dataTable>
        <br/>
        <br/>
        <!-- PAGINADOR DE DATOS -->
        <sepsa:paginator adapter="#{listarInventario.inventarioAdapter}"
                         searchData="#{listarInventario.inventario}"
                         id="paginator"
                         updatePage="list-form:form-data:data-list
                         list-form:form-data:paginator:paginator-panel"/>


        <sepsa:modal-panel id="modalDetalle" title="Detalles de Inventario" sizePanel="modal-xxl">
            <f:facet name="content">
                <p:dataTable value="#{listarInventario.inventarioDetalleAdapter.data}"
                             var="detalle"
                             id="data-list-detalle"
                             rowIndexVar="index"
                             paginator="false"
                             emptyMessage="Lista vacia">

                    <p:column headerText="Depósito">
                        <h:outputText value="#{detalle.depositoLogistico}"/>
                    </p:column>

                    <p:column headerText="Producto">
                        <h:outputText value="#{detalle.producto}"/>
                    </p:column>

                    <p:column headerText="Cod. GTIN">
                        <h:outputText value="#{detalle.codigoGtin}"/>
                    </p:column>

                    <p:column headerText="Código Interno">
                        <h:outputText value="#{detalle.codigoInterno eq null ? '--':detalle.codigoInterno}"/>
                    </p:column>

                    <p:column headerText="Cantidad">
                        <h:outputText value="#{detalle.cantidad}"/>
                    </p:column>

                    <p:column headerText="Estado">
                        <h:panelGroup rendered="#{detalle.codigoEstado eq 'DISPONIBLE'}">
                            <div class="form-group col">
                                <div class="alert alert-success" role="alert" align="center">
                                    <h:outputText value="#{detalle.estado}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{detalle.codigoEstado eq 'BLOQUEADO'}">
                            <div class="form-group col">
                                <div class="alert alert-dark" role="alert" align="center">
                                    <h:outputText value="#{detalle.estado}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{detalle.codigoEstado eq 'COMPROMETIDO'}">
                            <div class="form-group col">
                                <div class="alert alert-warning" role="alert" align="center">
                                    <h:outputText value="#{detalle.estado}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{detalle.codigoEstado eq 'CUARENTENA'}">
                            <div class="form-group col">
                                <div class="alert alert-danger" role="alert" align="center">
                                    <h:outputText value="#{detalle.estado}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{detalle.codigoEstado eq 'FACTURADO'}">
                            <div class="form-group col">
                                <div class="alert alert-info" role="alert" align="center">
                                    <h:outputText value="#{detalle.estado}"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </p:column>

                    <p:column headerText="Fecha Vto">
                        <h:outputText value="#{detalle.fechaVencimiento eq null ? '--':detalle.fechaVencimiento}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                </p:dataTable>

            </f:facet>
        </sepsa:modal-panel>

    </h:panelGroup>




</ui:composition>