<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter">
                <div class="row">

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Descripción</b></label>
                        <p:inputText id="desc-producto"
                                     class="form-control"
                                     placeholder="Código" 
                                     value="#{controlCreate.inventarioResumen.producto}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código Gtin</b></label>
                        <p:inputText id="codgtin"
                                     class="form-control"
                                     placeholder="Código" 
                                     value="#{controlCreate.inventarioResumen.codigoGtin}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Código Interno</b></label>
                        <p:inputText id="codinterno"
                                     class="form-control"
                                     placeholder="Descripcion" 
                                     value="#{controlCreate.inventarioResumen.codigoInterno}"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{controlCreate.filterResumenInventario()}"
                           update=":list-control-create-form:form-data:data-list-resumen 
                           :list-control-create-form:form-data:paginator-producto:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{controlCreate.clearResumen()}"
                           update=":list-control-create-form:form-data:data-list-resumen 
                           :list-control-create-form:form-data:paginator-producto:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>
