<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="DETALLE NOTA DE CRÉDITO DE COMPRA" preTitle="Página para Detalle Nota Crédito de Compra"/>
            </ui:define>

            <ui:define name="content-body">

                <h:form id="list-nota-credito-detalle-form">

                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="component/nota-credito-compra-detalle-data-list.xhtml"/>
                        </f:facet>

                    </sepsa:form-panel>  

                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

