<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
        
    <div class="form-row">

        <div class="form-group col">
            <label>Contraseña actual</label>
            <p:inputText id="actual-pass"
                         type="password"
                         styleClass="form-control" 
                         placeholder="Contraseña actual" 
                         value="#{changePass.changePass.contrasena}"
                         required="true"
                         requiredMessage="Se requiere cargar la contraseña actual"/>
        </div>

    </div>
    
    <div class="form-row">

        <div class="form-group col">
            <label>Nueva contraseña</label>
            <p:inputText id="new-pass"
                         type="password"
                         styleClass="form-control" 
                         placeholder="Nueva contraseña" 
                         value="#{changePass.changePass.nuevaContrasena}"
                         required="true"
                         requiredMessage="Se requiere cargar la nueva contraseña"/>
        </div>

    </div>
    
    <div class="form-row">

        <div class="form-group col">
            <label>Confirmación de contraseña</label>
            <p:inputText id="confirm-pass"
                         type="password"
                         styleClass="form-control" 
                         placeholder="Confirmación de contraseña" 
                         value="#{changePass.confirNewPassword}"
                         required="true"
                         requiredMessage="Se requiere cargar la confirmación de contraseña"/>
        </div>

    </div>
    
</ui:composition>