<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código(*)</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="Código" 
                                 value="#{canalVentaCreate.canalVenta.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripción(*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripción"
                                 value="#{canalVentaCreate.canalVenta.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{canalVentaCreate.canalVenta.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
