<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="CARGA MASIVA DE NOTAS DE DÉBITO" preTitle="Página para Cargar Notas de Débito Masivamente Gambling"/>
            </ui:define>

            <ui:define name="content-body">
                <p:growl id="msgs" showDetail="true" redisplay="false"/>

                <sepsa:form-panel id="form-data">
                    <f:facet name="controls">
                        <ui:include src="component/gambling-nota-debito-data-masiva.xhtml"/>
                    </f:facet>

                </sepsa:form-panel>

            </ui:define>

        </ui:composition>
    </h:body>
</html>
