<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="NOTA DE CRÉDITO DE VENTA" preTitle="Página para Crear Nota de Crédito de Venta"/>
            </ui:define>

            <ui:define name="content-body">

                <h:form id="list-nota-credito-create-form">
                    <script type="application/javascript">
                        window.onAutocompleteChanged = function(wv) {
                        var valor = PF(wv).jq.find('input').val() || '';
                        if(valor.trim() === '') {
                        PF(wv).search('');
                        }
                        }
                    </script>
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="component/nota-credito-data-create-alternativo.xhtml"/>
                        </f:facet>

                    </sepsa:form-panel>  
                    <script type="text/javascript">
                        function showStatus() {
                        }
                        function hideStatus() {
                            
                            $('#modalDescarga').modal('hide')
                        }
                    </script>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

