<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="NOTAS DE CRÉDITO DE VENTA" preTitle="Página para listar Notas de Crédito de Venta"/>
            </ui:define>
            <ui:define name="content-body">
                <h:form id="list-nota-credito-form">
                    <!-- PANEL PARA FILTRO -->
                    <ui:include src="component/nota-credito-filter.xhtml"/>
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="component/nota_credito_data_list.xhtml"/>
                        </f:facet>
                    </sepsa:form-panel>  
                    <!-- PAGINADOR DE DATOS -->
                    <sepsa:paginator adapter="#{notaCredito.adapterNotaCredito}" 
                                     searchData="#{notaCredito.notaCreditoFilter}"
                                     id="paginator"
                                     updatePage="list-nota-credito-form:form-data:data-list-nota-credito 
                                     list-nota-credito-form:paginator:paginator-panel"/>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

