<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-row">

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Entidad Financiera</label>
            <h:selectOneMenu id="entidadFinanciera"
                             value="#{editarCuentas.cuentas.idEntidadFinanciera}"
                             styleClass="custom-select">

                <f:selectItems value="#{listarCuentas.adapter.data}"
                               var="cuenta"
                               itemLabel="#{cuenta.entidadFinanciera}"
                               itemValue="#{cuenta.idEntidadFinanciera}">

                </f:selectItems>

            </h:selectOneMenu>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Persona</label>
            <h:selectOneMenu id="persona"
                             value="#{editarCuentas.cuentas.idPersona}"
                             styleClass="custom-select">

                <f:selectItems value="#{listarCuentas.adapter.data}"
                               var="data"
                               itemLabel="#{data.persona}"
                               itemValue="#{data.idPersona}">

                </f:selectItems>

            </h:selectOneMenu>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Estado</label>
            <h:selectOneMenu id="estado"
                             value="#{editarCuentas.cuentas.estado}"
                             styleClass="custom-select">

                <f:selectItem itemValue="A"
                              itemLabel="ACTIVO">

                </f:selectItem>

                <f:selectItem itemValue="I"
                              itemLabel="INACTIVO">

                </f:selectItem>

            </h:selectOneMenu>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Número de cuenta (*)</label>
            <p:inputText id="nroCuenta"
                         styleClass="form-control"
                         required="true"
                         requiredMessage="El número de cuenta es obligatorio!"
                         placeholder="Número de cuenta" 
                         value="#{editarCuentas.cuentas.nroCuenta}"/>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <label>Fecha Alta</label>
            <p:calendar id="fechaAlta" 
                        value="#{editarCuentas.cuentas.fechaAlta}"
                        locale="es" 
                        pattern="dd-MMM-yyyy"
                        styleClass="p-cal calendarClass"/>
        </div>
    </div>
</ui:composition>