<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{ordenDeCompraPendienteList.ordenDeCompraAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="data-form:form-data:data-list
                                 data-form:paginator:paginator-panel"
                                 listener="#{ordenDeCompraPendienteList.getList()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{ordenDeCompraPendienteList.ordenDeCompraAdapterList.data}"
                 var="data"
                 id="data-list"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">
        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="N° Orden de Compra">
            <h:outputText value="#{data.nroOrdenCompra}"/>
        </p:column>
        <p:column headerText="Fecha de Recepción">
            <h:outputText value="#{data.fechaRecepcion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Local Origen">
            <h:outputText value="#{data.localOrigen.descripcion == null ? '--' : data.localOrigen.descripcion}"/>
        </p:column>

        <p:column headerText="Local Destino">
            <h:outputText value="#{data.localDestino.descripcion == null ? '--' : data.localDestino.descripcion}"/>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.estado.codigo eq 'ENVIADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado.codigo eq 'RECHAZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.estado.codigo eq 'RECIBIDO'}">
                    <div class="form-group col">
                        <div class="alert alert-info" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.estado.codigo eq 'FACTURADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.estado.codigo eq 'PENDIENTE_FACTURACION'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.estado.codigo eq 'PENDIENTE_PREPARACION'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Ver Detalle" action="#{ordenDeCompraPendienteList.viewDetail(data.id)}" icon="fas fa-search"/>
                    <p:menuitem value="Descargar" ajax="false" icon="fas fa-download">
                        <p:fileDownload value="#{ordenDeCompraPendienteList.download(data.id, data.nroOrdenCompra)}" />
                    </p:menuitem>
                    <p:menuitem value="Imprimir" action="#{ordenDeCompraPendienteList.print(data.id)}" icon="fas fa-print"/>
                </p:menuButton>
            </div>
        </p:column>
    </p:dataTable>
    
       <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>
    <sepsa:loading></sepsa:loading>
</ui:composition>