<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>N° de Pedido</b></label>
                        <h:inputText styleClass="form-control"
                                     value="#{ordenDeCompraList.ordenDeCompraFilter.nroOrdenCompra}">
                        </h:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha De Recepción Desde</b></label>
                            <p:calendar id="fechaRecepcionDesde" 
                                        value="#{ordenDeCompraList.ordenDeCompraFilter.fechaRecepcionDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha De Recepción Hasta</b></label>
                            <p:calendar id="fechaRecepcionHasta"
                                        value="#{ordenDeCompraList.ordenDeCompraFilter.fechaRecepcionHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Estado</b></label>
                        <p:selectOneMenu id="estado" class="form-control" value="#{ordenDeCompraList.ordenDeCompraFilter.idEstado}">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItems value="#{ordenDeCompraList.estadoAdapterList.data}" var="estado"
                                           itemLabel="#{estado.descripcion}" itemValue="#{estado.id}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha De Inserción Desde</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaInsercionDesde" 
                                        value="#{ordenDeCompraList.ordenDeCompraFilter.fechaInsercionDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha De Inserción Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaInsercionHasta" 
                                        value="#{ordenDeCompraList.ordenDeCompraFilter.fechaInsercionHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{ordenDeCompraList.getList()}"
                           update="data-form:form-data:data-list
                           data-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{ordenDeCompraList.clear()}"
                           update="data-form:form-data:filter:filter-data
                           data-form:form-data:data-list
                           data-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>