<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{ordenDeCompraEmitidaList.ordenDeCompraAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="data-form:form-data:data-list
                                 data-form:paginator:paginator-panel"
                                 listener="#{ordenDeCompraEmitidaList.getList()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{ordenDeCompraEmitidaList.ordenDeCompraAdapterList.data}"
                 var="data"
                 id="data-list"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">
        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="N° Orden de Compra">
            <h:outputText value="#{data.nroOrdenCompra}"/>
        </p:column>
        <p:column headerText="Fecha de Recepción">
            <h:outputText value="#{data.fechaRecepcion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Sucursal">
            <h:outputText value="#{data.localOrigen.descripcion == null ? '--' : data.localOrigen.descripcion}"/>
        </p:column>

        <p:column headerText="Local de Entrega">
            <h:outputText value="#{data.localDestino.descripcion == null ? '--' : data.localDestino.descripcion}"/>
        </p:column>
        <p:column headerText="Estado">
            <div align="center">
                <h:panelGroup rendered="#{data.estado.codigo eq 'ENVIADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.estado.codigo eq 'CONFIRMADO'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Opciones">
            <div align="center">
                <p:commandButton icon="fas fa-search" styleClass="btn btn-info"
                                 action="#{ordenDeCompraEmitidaList.viewDetail(data.id)}"
                                 title="Ver"> 
                </p:commandButton>&nbsp;
                <p:commandButton icon="fas fa-money-check" styleClass="btn btn-warning"
                                 action="#{ordenDeCompraEmitidaList.facturaCompraURL(data.id)}"
                                 disabled="#{!(data.estado.codigo eq 'CONFIRMADO')}"
                                 title="Crear Factura"> 
                </p:commandButton>&nbsp;
                <p:commandButton icon="fas fa-ban" styleClass="btn btn-danger"
                                 disabled="#{data.estado.codigo eq 'RECHAZADO' or data.estado.codigo eq 'FACTURADO'}"
                                 action="#{ordenDeCompraEmitidaList.rechazarOrdenCompra(data)}"
                                 title="Rechazar"> 
                </p:commandButton>
            </div>
        </p:column>
    </p:dataTable>
    <sepsa:loading></sepsa:loading>
</ui:composition>