<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <div class="card">
        <div class="card-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'N'}">
                            <label><b>N° Orden de Compra</b></label>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                            <label><b>N° Pedido</b></label>
                        </h:panelGroup>

                        <h:outputText styleClass="form-control"
                                      value="#{ordenDeCompraDetalles.ordenDeCompra.nroOrdenCompra}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'N'}">
                            <label><b>Local de Entrega</b></label>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                            <label><b>Sucursal</b></label>
                        </h:panelGroup>
                        <h:outputText styleClass="form-control"
                                      value="#{ordenDeCompraDetalles.ordenDeCompra.localDestino.descripcion == null ? '--' :ordenDeCompraDetalles.ordenDeCompra.localDestino.descripcion}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'N'}">
                            <label><b>Sucursal</b></label>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                            <label><b>Local de Entrega</b></label>
                        </h:panelGroup>
                        <h:outputText styleClass="form-control"
                                      value="#{ordenDeCompraDetalles.ordenDeCompra.localOrigen.descripcion == null ? '--' :ordenDeCompraDetalles.ordenDeCompra.localOrigen.descripcion}"/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Fecha De Entrega</b></label>
                        <h:outputText styleClass="form-control" value="#{ordenDeCompraDetalles.ordenDeCompra.fechaRecepcion}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Fecha De Inserción</b></label>
                        <h:outputText styleClass="form-control" value="#{ordenDeCompraDetalles.ordenDeCompra.fechaInsercion}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </div>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'ENVIADO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-success" role="alert" align="center">
                                <h:outputText value="Enviado"/>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECHAZADO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-danger" role="alert" align="center">
                                <h:outputText value="Rechazado"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECIBIDO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-info" role="alert" align="center">
                                <h:outputText value="Recibido"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'FACTURADO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-success" role="alert" align="center">
                                <h:outputText value="Facturado"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_FACTURACION'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-warning" role="alert" align="center">
                                <h:outputText value="Pendiente Facturación"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'CONFIRMADO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-warning" role="alert" align="center">
                                <h:outputText value="Confirmado"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_PREPARACION'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Estado</b></label>
                            <div class="alert alert-dark" role="alert" align="center">
                                <h:outputText value="Pendiente Preparación"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Monto Total OC</b></label>
                        <h:outputText styleClass="form-control" value="#{ordenDeCompraDetalles.ordenDeCompra.montoTotalOrdenCompra}">
                            <f:convertNumber type= "number"  pattern= "#,###" />
                        </h:outputText>
                    </div>
                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'ENVIADO'}">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Depósito Destino</b></label>
                            <p:autoComplete id="deposito-destino"
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{ordenDeCompraDetalles.completeQueryDeposito}"
                                            value="#{ordenDeCompraDetalles.depositoDestino}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="dep" 
                                            itemLabel="#{dep.descripcion}" 
                                            itemValue="#{dep}" 
                                            converter="depositoPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{ordenDeCompraDetalles.onItemSelectDeposito}"/>
                            </p:autoComplete>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Registra Inventario:</b></label>
                            <p:selectOneMenu id="registra-inv" class="form-control" value="#{ordenDeCompraDetalles.registraInventario}">
                                <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                <f:selectItem itemLabel="NO" itemValue="N"/> 
                            </p:selectOneMenu>
                        </div>       
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </div>
    </div>
    <br>

    </br>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:dataTable value="#{ordenDeCompraDetalles.adapterOrdenCompraDetalle.data}"
                                 var="detalle"
                                 id="data-list-detalle"
                                 editable="true" 
                                 emptyMessage="Sin Detalles"
                                 paginator="false"
                                 rowKey="#{detalle.id}"
                                 rowIndexVar="index"
                                 >
                        <p:column headerText="Código GTIN">
                            <h:outputText value="#{detalle.codigoGtin}"/>
                        </p:column>

                        <p:column headerText="Producto">
                            <h:outputText value="#{detalle.descripcion}"/>
                        </p:column>

                        <p:column headerText="Fecha Vto" rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'ENVIADO'}">
                            <p:calendar id="fechaVtoProducto"
                                        value="#{detalle.fechaVencimiento}"
                                        locale="es"
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass">
                            </p:calendar>
                        </p:column>

                        <p:column headerText="Cantidad Solicitada">
                            <h:outputText value="#{detalle.cantidadSolicitada}"/>
                        </p:column>

                        <p:column headerText="Cantidad Preparada">
                            <h:panelGroup rendered="#{sessionData.user.perfiles.rolePrepLogistico eq true}">
                                <h:inputText disabled="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'CONFIRMADO' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_FACTURACION' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'FACTURADO'}" styleClass="form-control" value="#{detalle.cantidadConfirmada}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                    <p:ajax event="blur" update="data-form:form-data:data-list-detalle:#{index}:montoIva data-form:form-data:data-list-detalle:#{index}:montoImponible data-form:form-data:data-list-detalle:#{index}:montoTotal" listener="#{ordenDeCompraDetalles.calcularMontos(detalle.id)}" />
                                </h:inputText>
                            </h:panelGroup>

                        </p:column>

                        <p:column headerText="Cantidad Disponible" rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECIBIDO'}">
                            <h:outputText styleClass="form-control form-control-alt text-center" 
                                          class="#{detalle.cantidadDisponible > detalle.cantidadConfirmada ?'alert alert-success':'alert alert-danger'}"
                                          value="#{detalle.cantidadDisponible}" 
                                          >
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Precio Unitario c/IVA">
                            <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_PREPARACION' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'CONFIRMADO'}">
                                <h:outputText id="precioIva" value="#{detalle.precioUnitarioConIva}"/>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{!(ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_PREPARACION') and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioConIVA">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" update="data-form:form-data:data-list-detalle:#{index}:montoIva data-form:form-data:data-list-detalle:#{index}:montoImponible data-form:form-data:data-list-detalle:#{index}:montoTotal"  listener="#{ordenDeCompraDetalles.calcularMontos(detalle.id)}" />
                                </h:inputText>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'ENVIADO'}">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioConIVAEnviado">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" update="data-form:form-data:data-list-detalle:#{index}:montoIva data-form:form-data:data-list-detalle:#{index}:montoImponible data-form:form-data:data-list-detalle:#{index}:montoTotal"  listener="#{ordenDeCompraDetalles.calcularMontos(detalle.id)}" />
                                </h:inputText>
                            </h:panelGroup>
                        </p:column>

                        <p:column headerText="Precio de Lista" rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                            <h:outputText styleClass="form-control form-control-alt text-center" 
                                          class="#{detalle.precioUnitarioConIva.compareTo(ordenDeCompraDetalles.obtenerPrecioLista(detalle)) eq 0 ?'alert alert-success':'alert alert-danger'}"
                                          value="#{ordenDeCompraDetalles.obtenerPrecioLista(detalle) eq null ?'Sin Dato':ordenDeCompraDetalles.obtenerPrecioLista(detalle)}" 
                                          >
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Porcentaje Impuesto">
                            <h:outputText value="#{detalle.porcentajeIva}"/>
                        </p:column>
                        <p:column headerText="Monto IVA">
                            <h:outputText id="montoIva" value="#{detalle.montoIva}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto Imponible">
                            <h:outputText id="montoImponible" value="#{detalle.montoImponible}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto Total">
                            <h:outputText id="montoTotal" value="#{detalle.montoTotal}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </div>
                <br/>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_FACTURACION' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                        <p:commandButton icon="fas fa-money-check" 
                                         styleClass="btn btn-warning"
                                         style="float:right;"
                                         id="crear-factura"
                                         action="#{ordenDeCompraList.facturaURL(ordenDeCompraDetalles.ordenDeCompra.id)}"
                                         title="Crear Factura"
                                         value="CREAR FACTURA"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'CONFIRMADO'}">
                        <p:commandButton icon="fas fa-money-check" 
                                         styleClass="btn btn-warning"
                                         style="float:right;"
                                         id="crear-factura-compra"
                                         action="#{ordenDeCompraList.facturaCompraURL(ordenDeCompraDetalles.ordenDeCompra.id)}"
                                         title="Crear Factura"
                                         value="CREAR FACTURA"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'ENVIADO'}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-success"
                                         style="float:right;"
                                         id="cconfirm"
                                         action="#{ordenDeCompraDetalles.confirmarOC()}"
                                         update=":message-form:message @form"
                                         value="CONFIRMAR"
                                         title="Confirmar"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.config_picking eq false and ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECIBIDO' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-success"
                                         style="float:right;"
                                         id="confirm"
                                         action="#{ordenDeCompraDetalles.aprobarOC()}"
                                         disabled="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECHAZADO' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'FACTURADO' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}"
                                         update=":message-form:message @form"
                                         value="APROBAR"
                                         title="Aprobar"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.config_picking eq true and ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'PENDIENTE_PREPARACION' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-success"
                                         style="float:right;"
                                         id="confirmOC"
                                         action="#{ordenDeCompraDetalles.aprobarOC()}"
                                         disabled="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECHAZADO' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'FACTURADO' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}"
                                         update=":message-form:message @form"
                                         value="APROBAR"
                                         title="Aprobar"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                    <h:panelGroup rendered="#{ordenDeCompraDetalles.config_picking eq true and sessionData.user.perfiles.rolePrepLogistico eq true and ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECIBIDO' and ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-info"
                                         style="float:right;"
                                         id="confirm_prep"
                                         action="#{ordenDeCompraDetalles.aprobarPreparacionOC()}"
                                         update=":message-form:message @form"
                                         value="APROBAR PREPARACIÓN"
                                         title="Aprobar"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>
                    <h:panelGroup rendered="#{ordenDeCompraDetalles.ordenDeCompra.recibido eq 'S'}">
                        <p:commandButton icon="fas fa-ban" 
                                         styleClass="btn btn-danger"
                                         style="float:right;"
                                         id="reject"
                                         action="#{ordenDeCompraDetalles.rechazarOC()}"
                                         disabled="#{ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'RECHAZADO' or ordenDeCompraDetalles.ordenDeCompra.estado.codigo eq 'FACTURADO'}"
                                         update=":message-form:message @form"
                                         value="RECHAZAR"
                                         title="Rechazar"> 
                        </p:commandButton>&nbsp;
                    </h:panelGroup>

                </div>

            </div>
        </div>
    </div>
</ui:composition>