<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripcion</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripcion"
                                 value="#{estadoEdit.estado.descripcion}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Codigo</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control"
                                 placeholder="codigo" 
                                 value="#{estadoEdit.estado.codigo}">
                        <p:ajax global="false"></p:ajax>
                    </p:inputText>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Tipo De Estado</b></label>
                        <p:selectOneMenu id="tipoEstado" class="form-control" 
                                         value="#{estadoEdit.estado.idTipoEstado}">
                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione">
                            </f:selectItem>
                            <f:selectItems value="#{estadoEdit.tipoEstadoAdapter.data}" var="datos2"
                                           itemLabel="#{datos2.codigo}" itemValue="#{datos2.id}"/>
                            <p:ajax global="false"></p:ajax>
                        </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label><b>Activo</b></label>
                    <p:selectOneMenu id="activo"
                                     styleClass="form-control"
                                     value="#{estadoEdit.estado.activo}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione">
                        </f:selectItem>
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                        <p:ajax global="false"></p:ajax>
                    </p:selectOneMenu>
                </div>

            </div>
        </div>
    </div>
</ui:composition>