<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-row">
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Descripción (*)</label>
            <p:inputText id="descipcion"
                         styleClass="form-control"
                         required="true"
                         requiredMessage="La descripción del servicio es mandatoria!"
                         placeholder="descripción" 
                         value="#{crearServicio.servicios.descripcion}"/>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Código (*)</label>
            <p:inputText id="codigo"
                         styleClass="form-control"
                         required="true"
                         requiredMessage="El código del servicio es mandatorio!"
                         placeholder="código" 
                         value="#{crearServicio.servicios.codigo}"/>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label>Producto</label>
            <h:selectOneMenu id="estado"
                             value="#{crearServicio.servicios.idProducto}"
                             styleClass="custom-select">

                <f:selectItems value="#{listarProducto.adapter.data}"
                               var="prod"
                               itemLabel="#{prod.descripcion}"
                               itemValue="#{prod.id}">

                </f:selectItems>

            </h:selectOneMenu>
        </div>
        
    </div>
</ui:composition>