<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="LIBRO DE VENTA NOTA DE DEBITO" 
                                      preTitle="Página para obtener el libro de venta Nota de Débito"/>
            </ui:define>

            <ui:define name="content-body">
                <sepsa:loading></sepsa:loading>
                 <h:form id="reportes-form">

                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <ui:include src="component/reporte-venta-nota-debito-data.xhtml"/>
                        </f:facet>

                    </sepsa:form-panel>  
                     <script type="text/javascript">
                        function showStatus() {
                            PF('statusDialog').show();
                        }
                        function hideStatus() {
                            PF('statusDialog').hide();
                        }
                    </script>
                </h:form>


            </ui:define>

        </ui:composition>
    </h:body>
</html>

