<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>


    <p:dataTable value="#{descuento.adapterDescuentoPendiente.data}"
                 var="data"
                 id="data-list-descuento-aprobar"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 emptyMessage="No hay descuentos por aprobar"
                 >

        <p:column headerText="ID Descuento">
            <h:outputText value="#{data.id}"/>
        </p:column>
        
        <p:column headerText="Razón Social">
            <h:outputText value="#{data.razonSocialCliente}"/>
        </p:column>

        <p:column headerText="Desde">
            <h:outputText value="#{data.fechaDesde}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Hasta">
            <h:outputText value="#{data.fechaHasta}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Valor Descuento">
            <h:panelGroup rendered="#{data.porcentual eq 'No'}">
                <h:outputText value="#{data.valorDescuento}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.porcentual eq 'Si'}">
                <h:outputText value="#{data.valorDescuento}"/>
                <h:outputText value="%"/>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Cadena">
            <h:outputText value="#{data.razonSocialCadena}"/>
        </p:column>

        <p:column headerText="Excedente">
            <h:outputText value="#{data.excedente}"/>
        </p:column>

        <p:column headerText="Estado">
            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Aprobar Descuento">
            <div align="center">
                <p:commandLink styleClass="btn btn-success"
                               title="Aprobar"
                               action="#{descuento.aprobarDescuento(data)}"
                               update=":list-aprobar-descuento-form:form-data:data-list-descuento-aprobar :list-aprobar-descuento-form:form-data:msgs"
                               >
                    <i class="far fa-check-circle"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <!--sepsa:paginator adapter="#{descuento.adapterDescuento}" 
                     searchData="#{descuento.descuentoFilter}"
                     id="paginator"
                     updatePage=":list-descuento-form:form-data:form-data-list-descuento:data-list-descuento :list-descuento-form:form-data:form-data-list-descuento:paginator:paginator-panel"/-->




</ui:composition>
