<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>Cliente</label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{asignarRetencion.completeQuery}"
                                    value="#{asignarRetencion.client}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{asignarRetencion.onItemSelectClienteFactura}" 
                                update="list-asignar-retencion-form:form-data:cabeceraCliente
                                list-asignar-retencion-form:form-data:datatables"/>
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h:panelGroup id="cabeceraCliente" style="#{asignarRetencion.show eq true ?'display:inline':'display: none'}">
        <!--div class="col-sm-12"-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del Cliente</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>ID: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{asignarRetencion.client.idCliente}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razon Social: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{asignarRetencion.client.razonSocial}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{asignarRetencion.client.nroDocumento}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/div-->
    </h:panelGroup>
    <br/>
    <h:panelGroup id="datatables" style="#{asignarRetencion.show eq true ?'display:inline':'display: none'}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Facturas Pendientes</h5>

                <p:dataTable value="#{asignarRetencion.adapterFactura.data}"
                             var="data"
                             id="data-list-facturas-pendientes"
                             editable="true"
                             paginator="false"
                             emptyMessage="No existen registros"
                             tableStyle="table-layout: auto;" 
                             rowIndexVar="index"
                             tableStyleClass="table table-bordered table-hover"
                             selection="#{asignarRetencion.facturaFilter}"
                             rowKey="#{data.id}">
                    <p:column selectionMode="single" style="width:45px;text-align:center"/>
                    <p:column headerText="N° Factura">
                        <h:outputText value="#{data.nroFactura}"/>
                    </p:column>

                    <p:column headerText="Fecha">
                        <h:outputText value="#{data.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Factura">
                        <h:outputText value="#{data.montoTotalFactura}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column> 

                    <p:column headerText="Monto N.C.">
                        <h:outputText value="#{data.montoNotaCredito}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Cobrado">
                        <h:outputText value="#{data.montoCobro}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Retención">
                        <h:outputText value="#{data.montoRetencion}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Saldo Factura">
                        <h:outputText value="#{data.saldo}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandLink styleClass="btn btn-info"
                                       title="Vista de Retención"
                                       process="data-list-facturas-pendientes"
                                       update="list-asignar-retencion-form:form-data:modalRetencion:retencion"
                                       oncomplete="$('#modalRetencion').modal('show');" 
                                       action="#{asignarRetencion.selectFactura()}"
                                       >
                            <i class="fas fa-money-check"></i>

                        </p:commandLink>
                    </f:facet>
                </p:dataTable>

                <!-- PAGINADOR DE DATOS -->
                <sepsa:paginator adapter="#{asignarRetencion.adapterFactura}" 
                                 searchData="#{asignarRetencion.facturaFilter}"
                                 id="paginator2"
                                 updatePage=":list-asignar-retencion-form:form-data:data-list-facturas-pendientes 
                                 :list-asignar-retencion-form:form-data:paginator2:paginator-panel"/>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Facturas con Retenciones</h5>

                <p:dataTable value="#{asignarRetencion.adapterFacturaConRetencion.data}"
                             var="data"
                             id="data-list-facturas-con-retencion"
                             editable="true"
                             paginator="false"
                             emptyMessage="No existen registros"
                             tableStyle="table-layout: auto;" 
                             tableStyleClass="table table-bordered table-hover"
                             >
                    <p:column headerText="N° Factura">
                        <h:outputText value="#{data.nroFactura}"/>
                    </p:column>

                    <p:column headerText="Fecha">
                        <h:outputText value="#{data.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Total Factura">
                        <h:outputText value="#{data.montoTotalFactura}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto N.C.">
                        <h:outputText value="#{data.montoNotaCredito}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Cobrado">
                        <h:outputText value="#{data.montoCobro}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Monto Retención">
                        <h:outputText value="#{data.montoRetencion}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Saldo Factura">
                        <h:outputText value="#{data.saldo}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Ver">
                        <div class="center">
                            <p:commandLink styleClass="btn btn-info"
                                           title="Ver"
                                           action="#{asignarRetencion.viewCobroDet(data)}"
                                           onclick="$('#detalleCobro').modal('show')"
                                           update="list-asignar-retencion-form:form-data:detalleCobro:detCobro">
                                <i class="fas fa-search"></i>
                            </p:commandLink>
                        </div>
                    </p:column>

                </p:dataTable>
                <!-- PAGINADOR DE DATOS -->
                <sepsa:paginator adapter="#{asignarRetencion.adapterFacturaConRetencion}" 
                                 searchData="#{asignarRetencion.facturaConRetencionFilter}"
                                 id="paginator"
                                 updatePage=":list-asignar-retencion-form:form-data:data-list-facturas-con-retencion 
                                 :list-asignar-retencion-form:form-data:paginator:paginator-panel"/>
            </div>
        </div>
    </h:panelGroup>

    <sepsa:modal-panel id="modalRetencion" title="Datos de la Retención" sizePanel="modal-xl">
        <f:facet name="content">
            <h:panelGroup id="retencion">
                <h5 class="card-title">Factura N°: #{asignarRetencion.nroFactura}</h5>
                <hr></hr>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Fecha(*)</b></label>
                            <p:calendar 
                                value="#{asignarRetencion.retencion.fecha}" 
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"
                                >
                                <p:ajax event="dateSelect" process="@this"/>
                            </p:calendar>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label ><b>Nro. Retención(*)</b></label>
                        <h:inputText value="#{asignarRetencion.retencion.nroRetencion}"
                                     styleClass="form-control"
                                     >
                            <f:ajax/>
                        </h:inputText>
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Porcentaje de Retención(*)</b></label>
                            <h:inputText value="#{asignarRetencion.retencion.porcentajeRetencion}"
                                         styleClass="form-control"
                                         >
                                <f:ajax/>
                            </h:inputText>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Monto Retenido(*)</b></label>
                            <h:inputText value="#{asignarRetencion.retencion.montoRetenidoTotal}"
                                         styleClass="form-control"
                                         >
                                <f:ajax/>
                            </h:inputText>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </f:facet>
        <f:facet name="button">
            <p:commandLink  class="btn btn-primary"
                            actionListener="#{asignarRetencion.addRetencion()}"
                            update=":message-form:message
                            :list-asignar-retencion-form:form-data:modalRetencion
                            :list-asignar-retencion-form:form-data:datatables"
                            oncomplete="$('#modalRetencion').modal('hide')">
                Aceptar
                <p:confirm header="Confirmación" message="Desea guardar la Retención?"/>
            </p:commandLink >
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>
    <sepsa:modal-panel id="detalleCobro" title="Detalle" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="detCobro">
                    <h5 class="card-title">Factura N°: #{asignarRetencion.nroFactura}</h5>
                    <h:outputText value="Detalle de cobro" style="color:  #007ad9;"/>
                    <p:dataTable value="#{asignarRetencion.adapterCobroDetalle.data}"
                                 var="data"
                                 id="data-list-detalle-cobro"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia">
                        <p:column headerText="N° Recibo">
                            <h:outputText value="#{data.nroRecibo eq null ? '--':data.nroRecibo}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Cobro">
                            <h:outputText value="#{data.fecha eq null ? '--':data.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Lugar Cobro">
                            <h:outputText value="#{data.lugarCobro eq null ? '--':data.lugarCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="Forma de Pago">
                            <h:outputText value="#{data.tipoCobro eq null ? '--':data.tipoCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="N° Cheque">
                            <h:outputText value="#{data.nroCheque eq null ? '--':data.nroCheque}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha Pago">
                            <h:outputText value="#{data.fechaPago eq null ? '--':data.fechaPago}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Detalle">
                            <h:outputText value="#{data.montoCobro eq null ? '--':data.montoCobro}"></h:outputText>
                        </p:column>
                        <p:column headerText="Estado">
                            <h:outputText value="#{data.estado.activo eq null ? '--': data.estado.activo}"></h:outputText>
                        </p:column>
                    </p:dataTable>
                    <br/>
                    <h:outputText value="Detalle Retención" style="color:  #007ad9;"
                                  rendered="#{not empty asignarRetencion.adapterRetencionDetalle.data}"/>
                    <p:dataTable value="#{asignarRetencion.adapterRetencionDetalle.data}"
                                 var="detalle"
                                 id="data-list-detalle-retencion"
                                 paginator="false"
                                 reflow="true"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty asignarRetencion.adapterRetencionDetalle.data}">

                        <p:column headerText="N° Retención">
                            <h:outputText value="#{detalle.retencion.nroRetencion eq null ? '--':detalle.retencion.nroRetencion}"></h:outputText>
                        </p:column>
                        <p:column headerText="Fecha">
                            <h:outputText value="#{detalle.retencion.fecha eq null ? '--':detalle.retencion.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
                        </p:column>
                        <p:column headerText="Monto Retenido">
                            <h:outputText value="#{detalle.retencion.montoRetenidoTotal eq null ? '--':detalle.retencion.montoRetenidoTotal}"></h:outputText>
                        </p:column>
                        <p:column headerText="Porcentaje">
                            <h:outputText value="#{detalle.retencion.porcentajeRetencion eq null ? '--':detalle.retencion.porcentajeRetencion}"></h:outputText>
                        </p:column>
                    </p:dataTable>
                    <br/>
                    <h:outputText value="Detalle de Nota de Credito" style="color:  #007ad9;"
                                  rendered="#{not empty asignarRetencion.adapterNotaCreditoDetalle.data}"/>
                    <p:dataTable value="#{asignarRetencion.adapterNotaCreditoDetalle.data}" 
                                 var="cred" 
                                 paginator="false" reflow="true" 
                                 paginatorAlwaysVisible="false"
                                 emptyMessage="Lista vacia"
                                 rendered="#{not empty asignarRetencion.adapterNotaCreditoDetalle.data}">
                        <p:column headerText="Nº Nota Credito" >
                            <h:outputText value="#{cred.nroNotaCredito}" style="font-weight: bold;"/>
                        </p:column>
                        <p:column headerText="Monto Total" >
                            <h:outputText value="#{cred.montoTotal}">
                                <f:convertNumber type="number" pattern="#,###"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Fecha">
                            <h:outputText value="#{cred.fechaNotaCredito}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </div>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>
