<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter" btnFilter="true">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Autofactura</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarAutofactura.facturaFilter.nroAutofactura}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° de documento del vendedor</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarAutofactura.facturaFilter.nroDocumentoVendedor}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Nombre del vendedor</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarAutofactura.facturaFilter.nombreVendedor}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label><b>Anulado</b></label>
                            <p:selectOneMenu value="#{listarAutofactura.facturaFilter.anulado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label><b>Moneda:</b></label>
                            <p:selectOneMenu id="moneda" class="form-control" value="#{listarAutofactura.facturaFilter.idMoneda}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{listarAutofactura.adapterMoneda.data}" var="mo"
                                               itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label><b>Desde</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaDesde" 
                                        value="#{listarAutofactura.facturaFilter.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label><b>Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaHasta" 
                                        value="#{listarAutofactura.facturaFilter.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
         
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarAutofactura.filterFacturas()}"
                           update="message-form:message list-factura-form:form-data:data-list-facturas 
                           list-factura-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarAutofactura.clear()}"
                           update="list-factura-form:form-data:data-list-facturas 
                           list-factura-form:form-data:paginator2:paginator-panel
                           filter-data"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>