<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true" sticky="true"/>

    <h:panelGroup id="pnl-pop-up">
        <h:panelGroup rendered="#{autofactura.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{autofactura.adapterFacturaTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{autofactura.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     action="#{autofactura.obtenerDatosFacturacion()}"
                                     update="list-factura-create-form:form-data:timbrado list-factura-create-form:form-data:validoHasta list-factura-create-form:form-data:fechaFactura list-factura-create-form:form-data:nroFactura list-factura-create-form:form-data:fechaVtoFactura list-factura-create-form:form-data:tel list-factura-create-form:form-data:email list-factura-create-form:form-data:dir list-factura-create-form:form-data:nroCasa list-factura-create-form:form-data:dpto list-factura-create-form:form-data:distrito list-factura-create-form:form-data:ciudad"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>


    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Factura">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar/imprimir la factura?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-download"></i> Descargar
                    <p:fileDownload id="file" value="#{autofactura.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{autofactura.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>
     <!-- Panel de vencimiento de firma digital -->
    <h:panelGroup id="digital-signature-status" rendered="#{(not (firmaCont.firma eq null)) and (firmaCont.color eq 'orange' or firmaCont.color eq 'red')}" style="width: 35%; margin: 0 auto;">
        <h:form style="width: 35%; margin: 0 auto;">
            <div class="card" style="width: 500px; height: 250px; margin: 0 auto; position: relative; display: flex;">
                <div class="card-header">
                    <h5 class="card-title"><b>Datos Firma Digital</b></h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label><b>Fecha de Vencimiento: </b>#{firmaCont.fechaVencimiento}</label><br/><br/>
                        <label><b>Días Restantes: </b>#{firmaCont.diasRestantes}</label><br/><br/>
                        <label><b>Estado:   </b>
                            <h:outputText value="Vigente" class="alert alert-success"
                                          rendered="#{firmaCont.color eq 'green'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Próximo a Vencer" class="alert alert-warning"
                                          rendered="#{firmaCont.color eq 'orange'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Vencida" class="alert alert-danger"
                                          rendered="#{firmaCont.color eq 'red'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                        </label>
                    </div>
                </div>
            </div>
        </h:form>
    </h:panelGroup><br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cabecera</h5>
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Naturaleza del vendedor</b></label>
                    <p:selectOneMenu id="naturalezaCliente" class="form-control" value="#{autofactura.facturaCreate.idNaturalezaVendedor}">
                        <f:selectItem itemLabel="No Contribuyente" itemValue="1"/>
                        <f:selectItem itemLabel="Extranjero" itemValue="2"/> 
                        <p:ajax event="change" update="@form"/>
                    </p:selectOneMenu>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Nombre y Apellido:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nombreRazonSocial"
                                 value="#{autofactura.facturaCreate.nombreVendedor}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° de documento:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nroDocumentoVendedor"                               
                                 value="#{autofactura.facturaCreate.nroDocumentoVendedor}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Dirección:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="dir"
                                 value="#{autofactura.facturaCreate.direccion}">
                    </h:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° Casa:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nroCasa"
                                 value="#{autofactura.facturaCreate.nroCasa}">
                    </h:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label><b>Departamento</b></label>
                    <p:selectOneMenu id="dpto" value="#{autofactura.idDepartamento}"
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                        <f:selectItems value="#{autofactura.adapterRefGeo.data}" var="ref"
                                       itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                        <p:ajax event="change" update="list-factura-create-form:form-data:distrito list-factura-create-form:form-data:ciudad" listener="#{autofactura.filterGeneral()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Distrito</b></label>
                    <p:selectOneMenu id="distrito" value="#{autofactura.idDistrito}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                        <f:selectItems value="#{autofactura.adapterRefGeoDistrito.data}" var="ref1"
                                       itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                        <p:ajax event="change" update="list-factura-create-form:form-data:ciudad" listener="#{autofactura.filterCiudad()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Ciudad</b></label>
                    <p:selectOneMenu id="ciudad" value="#{autofactura.idCiudad}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                        <f:selectItems value="#{autofactura.adapterRefGeoCiudad.data}" var="ref2"
                                       itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                    </p:selectOneMenu>
                </div>
                

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° Teléfono:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="tel"
                                 value="#{autofactura.facturaCreate.telefono}">

                    </h:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Email:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="email"
                                 value="#{autofactura.facturaCreate.email}">

                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Timbrado:</b></label>
                    <h:inputText id="timbrado"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{autofactura.datoFactura.timbrado}"/>

                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Fecha Vto Timbrado:</b></label>
                    <h:inputText id="validoHasta"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{autofactura.datoFactura.fechaVencimientoTimbrado}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° de Autofactura:</b></label>
                    <h:inputText id="nroFactura"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{autofactura.facturaCreate.nroAutofactura}"/>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Fecha: (*)</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaFactura" 
                                value="#{autofactura.facturaCreate.fecha}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        <p:ajax event="dateSelect" listener="#{autofactura.onDateSelect}" update="message-form:message list-factura-create-form:form-data:fechaFactura" />
                    </p:calendar>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Moneda: (*)</b></label>
                    <p:selectOneMenu id="moneda" class="form-control" value="#{autofactura.facturaCreate.idMoneda}">
                        <f:selectItems value="#{autofactura.adapterMoneda.data}" var="mo"
                                       itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>

                        <p:ajax event="change" process="@form" update="@form" listener="#{autofactura.onChangeMoneda()}" />
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <label><b>Cambio</b></label>
                    <br/>
                    <p:commandLink id="cambio"
                                   styleClass="btn btn-primary"
                                   disabled="#{autofactura.habilitarPanelCotizacion eq false}"
                                   onclick="$('#modalCotizacion').modal('show')"
                                   title="Agregar Cambio"
                                   >
                        <i class="fas fa-money-bill-wave"></i>
                    </p:commandLink>
                </div>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Constancia de no contribuyente</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° de constancia:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nroConstancia"
                                 value="#{autofactura.facturaCreate.nroConstancia}"/>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>N° de control de constancia:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nroControlConstancia"
                                 value="#{autofactura.facturaCreate.nroControlConstancia}"/>
                </div>
                
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle (*)</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle" style="#{autofactura.showDetalleCreate eq true ?'display:inline':'display: none'}">
                        <label><b>Detalle de Factura:</b></label>
                        <p:dataTable value="#{autofactura.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     rowKey="#{detalle.nroLinea}">                          

                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{autofactura.deleteDetalle(detalle.nroLinea)}"
                                                   update="@form"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>

                            <p:column headerText="Descripción (*)">
                                <p:inputTextarea maxlength="120" style="width:100%" value="#{detalle.descripcion}"/>
                            </p:column>


                            <p:column headerText="Cantidad (*)">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{autofactura.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario(*)">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitario}" id="precioUnitario">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{autofactura.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>
                                      

                            <p:column headerText="Sub-Total">
                                <h:outputText id="subTotal" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-info"
                                   title="Añadir Detalle"
                                   action="#{autofactura.showDetalle()}"
                                   update="@form"
                                   >
                        <i class="far fa-plus-square"></i>&nbsp;AÑADIR DETALLE DE FACTURA
                    </p:commandLink>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total Factura:</b></label>
                    <h:inputText id="totalFactura"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{autofactura.facturaCreate.montoTotalFactura}">
                        <f:convertNumber type= "number"  pattern= "#,###.##" />
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total letras:</b></label>
                    <h:inputText id="totalLetras"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{autofactura.facturaCreate.totalLetras}"
                                 />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-primary"
                                   title="CREAR FACTURA"
                                   action="#{autofactura.crearFactura()}"
                                   update="@form"
                                   >

                        <i class="fas fa-file-autofactura"></i>&nbsp;GUARDAR
                    </p:commandLink>
                </div>
            </div>
        </div>

    </div>

    <sepsa:modal-panel id="modalCotizacion" title="Cambio" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos de Tipo de Cambio</h5>
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Compra</b></label>
                            <h:inputText styleClass="form-control" value="#{autofactura.tipoCambio.compra}" id="precioCompra">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Venta</b></label>
                            <h:inputText styleClass="form-control" value="#{autofactura.tipoCambio.venta}" id="precioVenta">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>

                    </div>
                </div>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandButton id="btnModal" 
                             actionListener="#{autofactura.crearTipoCambio()}"
                             class="btn btn-primary" 
                             value="AGREGAR"
                             update="message-form:message list-factura-create-form:form-data:data-list-detalle-create">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>

    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>

</ui:composition>
