<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{listarAutofactura.adapterFactura.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-factura-form:form-data:data-list-facturas 
                                 list-factura-form:form-data:paginator2:paginator-panel"
                                 listener="#{listarAutofactura.filterFacturas()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{listarAutofactura.adapterFactura.data}"
                 var="data"
                 id="data-list-facturas"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 styleClass="fixed-size"
                 >
        <p:column headerText="N° Autofactura">
            <h:outputText value="#{data.nroAutofactura}"/>
        </p:column>
        <!--p:column headerText="Email">
            <h:outputText value="#{data.email}"/>
        </p:column-->
        <p:column headerText="N° documento">
            <h:outputText value="#{data.nroDocumentoVendedor}"/>
        </p:column>
        <p:column headerText="Vendedor">
            <h:outputText value="#{data.nombreVendedor}"/>
        </p:column>
        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Autofactura">
            <h:outputText value="#{data.montoTotalAutofactura}">
                <f:convertNumber type= "number"  pattern= "#,###.##"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Total en Gs.">
            <h:outputText value="#{data.montoTotalGuaranies eq null ? '--': data.montoTotalGuaranies}">
                <f:convertNumber type= "number"  pattern= "#,###.##"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Moneda" style="width:70px">
            <h:outputText value="#{data.codigoMoneda}"/>
        </p:column>
        <!--p:column headerText="Digital" style="width:125px">
            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column-->
        <p:column headerText="Anulado" style="width:125px">
            <h:panelGroup rendered="#{data.anulado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center">
                        <h:outputText value="SI"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.anulado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="CDC" style="width:130px">
            <h:outputText  value="#{data.digital eq 'N' ? '--' : data.cdc}"/>
        </p:column>

        <p:column headerText="Estado SET" style="width:180px">
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <h:panelGroup rendered="#{data.codigoEstado eq 'PENDIENTE'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="Pendiente"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="Aprobado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'RECHAZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center">
                            <h:outputText value="Rechazado"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.codigoEstado eq 'CANCELADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="Cancelado"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.codigoEstado eq 'INUTILIZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="Inutilizado"/>
                        </div>
                    </div>
                </h:panelGroup>

            </h:panelGroup>

            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center">
                        <h:outputText value="No Aplica"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Generado SET" style="width:125px">
            <h:panelGroup rendered="#{data.generadoSet eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.generadoSet eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Ver Detalle" action="#{listarAutofactura.detalleURL(data.id)}" icon="fas fa-search"/>
                    <p:menuitem disabled="#{data.anulado eq 'S'}" value="Anular Factura" onclick="$('#confirmation').modal('show')" update=":list-factura-form:form-data:confirmation:panelConfirmation" icon="fa fa-times-circle">
                        <f:setPropertyActionListener value="#{data}"
                                                     target="#{listarAutofactura.facturaFilter}"/>
                    </p:menuitem>

              
                    <p:menuitem value="Procesamiento" action="#{listarAutofactura.verProcesamiento(data.idProcesamiento)}"  update=":list-factura-form:form-data:data-list-facturas
                                :list-factura-form:form-data:modalProcesamiento:nro-trans
                                :list-factura-form:form-data:modalProcesamiento:fecha-insert
                                :list-factura-form:form-data:modalProcesamiento:fecha-proc
                                :list-factura-form:form-data:modalProcesamiento:estado
                                :list-factura-form:form-data:modalProcesamiento:data-list-doc-procesamiento"
                                onclick="$('#modalProcesamiento').modal('show')" icon="fas fa-cog"/>
                    <p:menuitem value="Doc. Asociados" action="#{listarAutofactura.verDocAsociados(data.id)}"  update=":list-factura-form:form-data:data-list-facturas
                                :list-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                                :list-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel"
                                onclick="$('#modalDocAsociados').modal('show')" icon="fa fa-files-o"/>
                    <p:menuitem rendered="#{data.digital eq 'S'}" value=" Regenerar" action="#{listarAutofactura.regenerarFactura(data)}" icon="fas fa-redo-alt"/>
                    
                    <p:menuitem value="Reenviar" action="#{listarAutofactura.guardarFacturaAReenviar(data.id, data.nroAutofactura, data.email, data.digital, data.cdc, data.razonSocial)}"  update="list-factura-form:form-data:reenvio:email-reenvio list-factura-form:form-data:reenvio:btn-renvio"
                                onclick="$('#reenvio').modal('show')" icon="fas fa-redo-alt"/>
                    
                              
                </p:menuButton>
            </div>


        </p:column>

    </p:dataTable>
    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>
    <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea anular la factura #{listarAutofactura.facturaFilter.nroAutofactura}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Selecciona el motivo(*):</b></label>
                            <h:selectOneMenu value="#{listarAutofactura.facturaFilter.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{listarAutofactura.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n: </b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control" 
                                             value="#{listarAutofactura.facturaFilter.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{listarAutofactura.anularFactura(listarAutofactura.facturaFilter)}"
                             update=":list-factura-form:form-data:data-list-facturas 
                             :message-form:message"/>
        </f:facet>
    </sepsa:modal-panel>

    <!--Modal Documentos Asociados -->
    <sepsa:modal-panel id="modalDocAsociados" title="Documentos Asociados" sizePanel="modal-xl" >
        <f:facet name="content">
            <h5 class="card-title">Notas de Credito</h5>
            <p:dataTable value="#{listarAutofactura.notaCreditoAsociadosAdapter.data}"
                         var="nc"
                         id="data-list-detalle-nc"
                         editable="true" 
                         paginator="false"
                         > 
                <p:column headerText="N° Nota de Crédito">
                    <h:outputText value="#{nc.nroNotaCredito}"/>
                </p:column>

                <p:column headerText="Fecha">
                    <h:outputText value="#{nc.fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                
                <p:column headerText="Anulado">
                    <h:outputText value="#{nc.anulado}"/>
                </p:column>
                
                <p:column headerText="Monto Factura">
                    <h:outputText value="#{nc.montoTotalNotaCredito}">
                        <f:convertNumber type= "number"  pattern= "#,###"/>
                    </h:outputText>
                </p:column>

            </p:dataTable>
            <sepsa:paginator adapter="#{listarCompra.notaCreditoAsociadosAdapter}"
                             searchData="#{listarCompra.notaCreditoCompra}"
                             id="paginator3"
                             updatePage=":list-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                             :list-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel"/>
        </f:facet>
    </sepsa:modal-panel>  


    <sepsa:modal-panel id="reenvio" title="Reenviar Factura" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panel-conf-reenvio">
                    <h:outputText value="¿Desea reenviar la Factura?"/>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Email (*):</b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control"
                                             id="email-reenvio"
                                             value="#{listarAutofactura.emailReenvio}">
                                <p:ajax event="blur" listener="#{listarAutofactura.validarCorreo(listarAutofactura.emailReenvio)}" update=":message-form:message :list-factura-form:form-data:reenvio:btn-renvio"/>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Sí" 
                             id="btn-renvio"
                             update=":message-form:message"
                             process="@this"
                             disabled="#{listarAutofactura.addEmail eq false}"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#reenvio').modal('hide');"
                             action="#{listarAutofactura.reenviar()}"/>
        </f:facet>
    </sepsa:modal-panel>

    <!--Modal Procesamiento -->
    <sepsa:modal-panel id="modalProcesamiento" title="Procesamiento de Factura" sizePanel="modal-xl" >
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Nro Transacción:</b></label>&nbsp;
                                <h:outputText id="nro-trans" value="#{listarAutofactura.procesamientoFilter.procesamiento.nroTransaccion eq null ? '--':listarAutofactura.procesamientoFilter.procesamiento.nroTransaccion}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Estado:</b></label>&nbsp;
                                <h:outputText id="estado" value="#{listarAutofactura.procesamientoFilter.procesamiento.estadoResultado eq null ? '--':listarAutofactura.procesamientoFilter.procesamiento.estadoResultado}"
                                              class="#{listarAutofactura.procesamientoFilter.procesamiento.estadoResultado eq 'Aprobado' ?'alert alert-success':'alert alert-danger'}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Inserción:</b></label>&nbsp;
                                <h:outputText id="fecha-insert" value="#{listarAutofactura.procesamientoFilter.procesamiento.fechaInsercion eq null ? '--':listarAutofactura.procesamientoFilter.procesamiento.fechaInsercion}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Procesamiento:</b></label>&nbsp;
                                <h:outputText id="fecha-proc" value="#{listarAutofactura.procesamientoFilter.procesamiento.fechaProcesamiento eq null ? '--':listarAutofactura.procesamientoFilter.procesamiento.fechaProcesamiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalle</h5>

                            <p:dataTable value="#{listarAutofactura.procesamientoFilter.procesamiento.detalleProcesamientos}"
                                         var="detalle"
                                         id="data-list-doc-procesamiento"
                                         reflow="true"
                                         editable="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;"
                                         emptyMessage="No existen datos disponibles"
                                         tableStyleClass="table table-bordered table-hover"
                                         >

                                <p:column headerText="Código Resultado">
                                    <h:outputText value="#{detalle.codigoResultado}"/>
                                </p:column>

                                <p:column headerText="Mensaje">
                                    <h:outputText value="#{detalle.mensajeResultado}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </f:facet>
    </sepsa:modal-panel>  


    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarAutofactura.adapterFactura}" 
                     searchData="#{listarAutofactura.facturaFilter}"
                     id="paginator2"
                     updatePage=":list-factura-form:form-data:data-list-facturas 
                     :list-factura-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
