<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:form-panel id="form-data-list-descuento" btnAtras="false">
        <f:facet name="controls">

            <p:dataTable value="#{descuento.adapterDescuento.data}"
                         var="data"
                         id="data-list-descuento"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout" 
                         tableStyleClass="table table-bordered table-hover"
                         emptyMessage="Lista Vacia"
                         >

                <p:column headerText="ID">
                    <h:outputText value="#{data.id}"/>
                </p:column>
                <p:column headerText="Desde">
                    <h:outputText value="#{data.fechaDesde}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Hasta">
                    <h:outputText value="#{data.fechaHasta}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Fecha Inserción">
                    <h:outputText value="#{data.fechaInsercion}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor Descuento">
                    <h:panelGroup rendered="#{data.porcentual eq 'N'}">
                        <h:outputText value="#{data.valorDescuento}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.porcentual eq 'S'}">
                        <h:outputText value="#{data.valorDescuento}"/>
                        <h:outputText value="%"/>
                    </h:panelGroup>
                </p:column>
                <p:column headerText="Tipo De Descuento">
                    <h:outputText value="#{data.tipoDescuento.codigo}"/>
                </p:column>
                <p:column headerText="Estado">
                    <h:panelGroup rendered="#{data.estado.codigo eq 'INACTIVO'}">
                        <div class="form-group col">
                            <div class="alert alert-danger" role="alert" align="center">
                                <h:outputText value="#{data.estado.codigo}"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.estado.codigo eq 'ACTIVO'}">
                        <div class="form-group col">
                            <div class="alert alert-success" role="alert" align="center">
                                <h:outputText value="#{data.estado.codigo}"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.estado.codigo eq 'PENDIENTE'}">
                        <div class="form-group col">
                            <div class="alert alert-warning" role="alert" align="center">
                                <h:outputText value="#{data.estado.codigo}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                </p:column>


            </p:dataTable>

            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator adapter="#{descuento.adapterDescuento}" 
                             searchData="#{descuento.descuentoFilter}"
                             id="paginator"
                             updatePage=":list-descuento-form:form-data:form-data-list-descuento:data-list-descuento 
                             :list-descuento-form:form-data:form-data-list-descuento:paginator:paginator-panel"/>

        </f:facet>
    </sepsa:form-panel>



</ui:composition>
