<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Cliente</b></label><br/>
                            <p:autoComplete cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{descuento.completeQuery}"
                                            value="#{descuento.client}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cliDesc" 
                                            itemLabel="#{cliDesc.razonSocial}" 
                                            itemValue="#{cliDesc}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{descuento.onItemSelectClienteDescuento}"  
                                        />
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo Descuento</b></label>
                            <p:selectOneMenu  class="form-control" value="#{descuento.descuentoFilter.idTipoDescuento}">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                                <f:selectItems value="#{descuento.listaDescuento}" />
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Estado</b></label>
                            <p:selectOneMenu value="#{descuento.descuentoFilter.idEstado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                                <f:selectItems value="#{descuento.estados}" />

                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha vigencia Desde</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{descuento.descuentoFilter.fechaDesdeHasta}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha vigencia Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{descuento.descuentoFilter.fechaHastaDesde}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{descuento.filter()}"
                           update=":list-descuento-form:form-data:form-data-list-descuento:data-list-descuento
                           :list-descuento-form:form-data:form-data-list-descuento:paginator:paginator-panel"
                           >

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{descuento.clear()}"
                           update=":list-descuento-form:form-data:form-data-list-descuento:data-list-descuento 
                           :list-descuento-form:filter:filter-data
                           :list-descuento-form:form-data:form-data-list-descuento:paginator:paginator-panel"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>
</ui:composition>
