<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <p:growl id="msgs" showDetail="true"/>
    <sepsa:filter-panel id="filter" btnFilter="true">
        
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label><b>N° Factura</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarFactura.facturaFilter.nroFactura}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label><b>RUC/CI</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarFactura.facturaFilter.ruc}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label><b>Razón Social</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarFactura.facturaFilter.razonSocial}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label><b>Cliente</b></label><br/>
                            <p:autoComplete cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{listarFactura.completeQuery}"
                                            value="#{listarFactura.client}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cliDesc" 
                                            itemLabel="#{cliDesc.razonSocial}" 
                                            itemValue="#{cliDesc}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarFactura.onItemSelectCliente}"/>
                            </p:autoComplete>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Cobrado</b></label>
                            <p:selectOneMenu value="#{listarFactura.facturaFilter.cobrado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Factura Electrónica</b></label>
                            <p:selectOneMenu value="#{listarFactura.facturaFilter.digital}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Anulado</b></label>
                            <p:selectOneMenu value="#{listarFactura.facturaFilter.anulado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Moneda:</b></label>
                            <p:selectOneMenu id="moneda" class="form-control" value="#{listarFactura.facturaFilter.idMoneda}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{listarFactura.adapterMoneda.data}" var="mo"
                                               itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Desde</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaDesde" 
                                        value="#{listarFactura.facturaFilter.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaHasta" 
                                        value="#{listarFactura.facturaFilter.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>N° Orden De Compra</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarFactura.facturaFilter.nroOrdenCompra}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Tiene OC</b></label>
                            <p:selectOneMenu value="#{listarFactura.facturaFilter.tieneOrdenCompra}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>CDC</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{listarFactura.facturaFilter.cdc}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Estado SET</b></label>
                            <p:selectOneMenu value="#{listarFactura.facturaFilter.codigoEstado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Pendiente" itemValue="PENDIENTE"/>
                                <f:selectItem itemLabel="Aprobado" itemValue="APROBADO"/>
                                <f:selectItem itemLabel="Rechazado" itemValue="RECHAZADO"/>
                                <f:selectItem itemLabel="Cancelado" itemValue="CANCELADO"/>
                                <f:selectItem itemLabel="Inutilizado" itemValue="INUTILIZADO"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarFactura.filterFacturas()}"
                           update="message-form:message list-factura-form:form-data:data-list-facturas 
                           list-factura-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarFactura.clear()}"
                           update="list-factura-form:form-data:data-list-facturas 
                           list-factura-form:form-data:paginator2:paginator-panel
                           filter-data"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>