<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <p:commandButton value="Reenvío Masivo" 
                                 rendered="#{listarFactura.notificar eq 'S' ? true : false}"
                             id="btn-reenvio-masivo"
                             update=":message-form:message
                                     :list-factura-form:form-data:data-list-facturas "
                             styleClass="btn btn-primary"  
                             action="#{listarFactura.reenvioMasivoNotificaciones()}"/>
                    
                    <h:selectOneMenu value="#{listarFactura.adapterFactura.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-factura-form:form-data:data-list-facturas 
                                 list-factura-form:form-data:paginator2:paginator-panel"
                                 listener="#{listarFactura.filterFacturas()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{listarFactura.adapterFactura.data}"
                 var="data"
                 id="data-list-facturas"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 styleClass="fixed-size"
                 selection="#{listarFactura.selectedFacturas}"
                 rowKey="#{data.id}"
                 style="font-size: 14px"
                 >
        <p:column selectionMode="multiple" rendered="#{listarFactura.notificar eq 'S' ? true : false}" style="width:40px" ></p:column>
        <p:column headerText="N° Factura">
            <h:outputText value="#{data.nroFactura}"/>
        </p:column>
        <!--p:column headerText="Email">
            <h:outputText value="#{data.email}"/>
        </p:column-->
        <p:column headerText="N° OC" style="width:60px">
            <h:outputText  value="#{data.nroOrdenCompra == null ? '--' : data.nroOrdenCompra}"/>
        </p:column>
        <p:column headerText="Cliente">
            <h:outputText value="#{data.razonSocial}"/>
        </p:column>
        <p:column headerText="Tipo Factura">
            <h:outputText value="#{data.codigoTipoFactura}"/>
        </p:column>
        <p:column headerText="RUC">
            <h:outputText value="#{data.ruc}"/>
        </p:column>
        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Factura">
            <h:outputText value="#{data.montoTotalFactura}">
                <f:convertNumber type= "number"  pattern= "#,###.##"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Total en Gs.">
            <h:outputText value="#{data.montoTotalGuaranies eq null ? '--': data.montoTotalGuaranies}">
                <f:convertNumber type= "number"  pattern= "#,###.##"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Moneda" style="width:85px">
            <h:outputText value="#{data.codigoMoneda}"/>
        </p:column>
        <p:column headerText="Cobrado" style="width:88px">
            <h:panelGroup rendered="#{data.cobrado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.cobrado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="Digital" style="width:75px">
            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="Anulado" style="width:88px">
            <h:panelGroup rendered="#{data.anulado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="SI"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.anulado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="CDC" style="width:110px">
            <h:outputText  value="#{data.digital eq 'N' ? '--' : data.cdc}"/>
        </p:column>

        <p:column headerText="Estado SIFEN" style="width:120px">
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <h:panelGroup rendered="#{data.codigoEstado eq 'PENDIENTE'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Pendiente"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Aprobado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO_CON_OBSERVACION'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Aprobado con observación"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'RECHAZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Rechazado"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.codigoEstado eq 'CANCELADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Cancelado"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.codigoEstado eq 'INUTILIZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Inutilizado"/>
                        </div>
                    </div>
                </h:panelGroup>

            </h:panelGroup>

            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="No Aplica"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Generado SET" style="width:98px">
            <h:panelGroup rendered="#{data.generadoSet eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.generadoSet eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{data.generadoSet eq 'V'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="SIN CONFIGURACIÓN"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        
         <p:column headerText="Notificación" style="width:118px">
            <h:panelGroup rendered="#{data.entregado eq 'P'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Pendiente"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.entregado eq 'C'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Si"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.entregado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Si"/>
                    </div>
                </div>
            </h:panelGroup>
             <h:panelGroup rendered="#{data.entregado eq 'N' or data.entregado eq null}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="No aplica"/>
                    </div>
                </div>
            </h:panelGroup>
             <h:panelGroup rendered="#{data.entregado eq 'E'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Error"/>
                    </div>
                </div>
            </h:panelGroup>
             <h:panelGroup rendered="#{data.entregado eq 'D'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Sin Destinatario"/>
                    </div>
                </div>
            </h:panelGroup>
             <h:panelGroup rendered="#{data.entregado eq 'I'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Sin Remitente"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.entregado eq 'V'}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="Sin Correo"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.entregado ne 'P' and data.entregado ne 'C' and data.entregado ne 'S' and
                data.entregado ne 'E' and data.entregado ne 'D' and data.entregado ne 'I' and data.entregado ne 'V' and data.entregado ne 'N'}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                        <h:outputText value="#{data.entregado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Opciones" style="width:98px">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Ver Detalle" action="#{listarFactura.detalleURL(data.id)}" icon="fas fa-search"/>
                    <p:menuitem rendered="#{data.anulado eq 'N' and sessionData.user.permisos.listarFactura.puedeAnular}" value="Anular Factura" onclick="$('#confirmation').modal('show')" update=":list-factura-form:form-data:confirmation:panelConfirmation" icon="fa fa-times-circle">
                        <f:setPropertyActionListener value="#{data}"
                                                     target="#{listarFactura.facturaFilter}"/>
                    </p:menuitem>

                    
                    <p:menuitem value="Crear NC" action="#{listarFactura.showMessage(data.id)}" rendered="#{listarFactura.allowRedirect(data.cobrado, data.saldo) eq false}"  update=":message-form:message" icon="fas fa-money-check"/>

                    <p:menuitem value="Crear NC" action="#{listarFactura.notaCreditoURL(data.id)}" rendered="#{listarFactura.allowRedirect(data.cobrado, data.saldo) eq true}" icon="fas fa-money-check"/>

                    <p:menuitem value="Volver a Facturar" action="#{listarFactura.repetirCarga(data.id)}" icon="fas fa-file-alt"/>
                     
                    <p:menuitem value="Procesamiento" action="#{listarFactura.verProcesamiento(data.idProcesamiento)}"  update=":list-factura-form:form-data:data-list-facturas
                                :list-factura-form:form-data:modalProcesamiento:nro-trans
                                :list-factura-form:form-data:modalProcesamiento:fecha-insert
                                :list-factura-form:form-data:modalProcesamiento:fecha-proc
                                :list-factura-form:form-data:modalProcesamiento:estado
                                :list-factura-form:form-data:modalProcesamiento:data-list-doc-procesamiento"
                                onclick="$('#modalProcesamiento').modal('show')" icon="fas fa-cog"/>
                    <p:menuitem value="Doc. Asociados" action="#{listarFactura.verDocAsociados(data.id)}"  update=":list-factura-form:form-data:data-list-facturas
                                :list-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                                :list-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel
                                :list-factura-form:form-data:modalDocAsociados:data-list-cobro
                                :list-factura-form:form-data:modalDocAsociados:paginator4:paginator-panel"
                                onclick="$('#modalDocAsociados').modal('show')" icon="fa fa-files-o"/>
                    <p:menuitem rendered="#{data.digital eq 'S'}" value=" Regenerar" action="#{listarFactura.regenerarFactura(data)}" icon="fas fa-redo-alt"/>
                                        
                    <p:menuitem rendered="#{(data.anulado eq 'S') and (data.digital eq 'N')}" action="#{listarFactura.cancelarAnulacion(data)}" value="Regenerar" update=":list-factura-form:form-data:data-list-facturas message-form:message " icon="fas fa-redo-alt">
                        
                    </p:menuitem>
                    
                    <p:menuitem value="Reenviar" action="#{listarFactura.guardarFacturaAReenviar(data.id, data.nroFactura, data.email, data.digital, data.cdc, data.razonSocial)}"  update="list-factura-form:form-data:reenvio:email-reenvio list-factura-form:form-data:reenvio:btn-renvio"
                                onclick="$('#reenvio').modal('show')" icon="fas fa-redo-alt"/>
                    
                    <p:menuitem rendered="#{data.cobrado eq 'N'}"  value="Crear Cobro" action="#{listarFactura.crearCobro(data.idCliente, data.id)}" icon="fa fa-money" 
                                />
                </p:menuButton>
            </div>


        </p:column>

    </p:dataTable>
    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>
    <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea anular la factura #{listarFactura.facturaFilter.nroFactura}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Selecciona el motivo(*):</b></label>
                            <h:selectOneMenu value="#{listarFactura.facturaFilter.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{listarFactura.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n: </b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control" 
                                             value="#{listarFactura.facturaFilter.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{listarFactura.anularFactura(listarFactura.facturaFilter)}"
                             update=":list-factura-form:form-data:data-list-facturas 
                             :message-form:message"/>
        </f:facet>
    </sepsa:modal-panel>

    <!--Modal Documentos Asociados -->
    <sepsa:modal-panel id="modalDocAsociados" title="Documentos Asociados" sizePanel="modal-xl" >
        <f:facet name="content">
            <h5 class="card-title">Notas de Crédito</h5>
            <p:dataTable value="#{listarFactura.notaCreditoAsociadosAdapter.data}"
                         var="nc"
                         id="data-list-detalle-nc"
                         editable="true" 
                         paginator="false"
                         > 
                <p:column headerText="N° Nota de Crédito">
                    <h:outputText value="#{nc.nroNotaCredito}"/>
                </p:column>

                <p:column headerText="Fecha">
                    <h:outputText value="#{nc.fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                
                <p:column headerText="Anulado">
                    <h:outputText value="#{nc.anulado}"/>
                </p:column>
                
                <p:column headerText="Monto Factura">
                    <h:outputText value="#{nc.montoTotalNotaCredito}">
                        <f:convertNumber type= "number"  pattern= "#,###"/>
                    </h:outputText>
                </p:column>

            </p:dataTable>
            <sepsa:paginator adapter="#{listarCompra.notaCreditoAsociadosAdapter}"
                             searchData="#{listarCompra.notaCreditoCompra}"
                             id="paginator3"
                             updatePage=":list-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                             :list-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel"/>
            <br/>
            <br/>
            <h5 class="card-title">Cobros Asociados</h5>
            <p:dataTable value="#{listarFactura.cobroDetalleAdapter.data}"
                         var="data"
                         id="data-list-cobro"
                         editable="true"
                         paginator="false"
                         >

                <p:column headerText="Nº de Recibo">
                    <h:outputText value="#{data.nroRecibo}"/>
                </p:column>
                
                <p:column headerText="Tipo de cobro">
                    <h:outputText value="#{data.tipoCobro}"/>
                </p:column>

                <p:column headerText="Concepto de Cobro">
                    <h:outputText value="#{data.conceptoCobro}"/>
                </p:column>
                
                <p:column headerText="Estado de Cobro">
                    <h:outputText value="#{data.estado}"/>
                </p:column>
                
                <p:column headerText="Monto de cobro">
                    <h:outputText value="#{data.montoCobro}">
                        <f:convertNumber type= "number"  pattern= "#,###" />
                    </h:outputText>
                </p:column>
            </p:dataTable>
            <sepsa:paginator adapter="#{listarFactura.cobroDetalleAdapter}"
                             searchData="#{listarFactura.cobroDetalle}"
                             id="paginator4"
                             updatePage=":list-factura-form:form-data:modalDocAsociados:data-list-cobro
                             :list-factura-form:form-data:modalDocAsociados:paginator4:paginator-panel"/>
            
        </f:facet>
    </sepsa:modal-panel>  


    <sepsa:modal-panel id="reenvio" title="Reenviar Factura" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panel-conf-reenvio">
                    <h:outputText value="¿Desea reenviar la Factura?"/>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Email (*):</b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control"
                                             id="email-reenvio"
                                             value="#{listarFactura.emailReenvio}">
                                <p:ajax event="blur" listener="#{listarFactura.validarCorreo(listarFactura.emailReenvio)}" update=":message-form:message :list-factura-form:form-data:reenvio:btn-renvio"/>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Sí" 
                             id="btn-renvio"
                             update=":message-form:message"
                             process="@this"
                             disabled="#{listarFactura.addEmail eq false}"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#reenvio').modal('hide');"
                             action="#{listarFactura.reenviar()}"/>
        </f:facet>
    </sepsa:modal-panel>

    <!--Modal Procesamiento -->
    <sepsa:modal-panel id="modalProcesamiento" title="Procesamiento de Factura" sizePanel="modal-xl" >
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Nro Transacción:</b></label>&nbsp;
                                <h:outputText id="nro-trans" value="#{listarFactura.procesamientoFilter.procesamiento.nroTransaccion eq null ? '--':listarFactura.procesamientoFilter.procesamiento.nroTransaccion}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Estado:</b></label>&nbsp;
                                <h:outputText id="estado" value="#{listarFactura.procesamientoFilter.procesamiento.estadoResultado eq null ? '--':listarFactura.procesamientoFilter.procesamiento.estadoResultado}"
                                              class="#{listarFactura.procesamientoFilter.procesamiento.estadoResultado eq 'Aprobado' ?'alert alert-success':'alert alert-danger'}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Inserción:</b></label>&nbsp;
                                <h:outputText id="fecha-insert" value="#{listarFactura.procesamientoFilter.procesamiento.fechaInsercion eq null ? '--':listarFactura.procesamientoFilter.procesamiento.fechaInsercion}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Procesamiento:</b></label>&nbsp;
                                <h:outputText id="fecha-proc" value="#{listarFactura.procesamientoFilter.procesamiento.fechaProcesamiento eq null ? '--':listarFactura.procesamientoFilter.procesamiento.fechaProcesamiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalle</h5>

                            <p:dataTable value="#{listarFactura.procesamientoFilter.procesamiento.detalleProcesamientos}"
                                         var="detalle"
                                         id="data-list-doc-procesamiento"
                                         reflow="true"
                                         editable="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;"
                                         emptyMessage="No existen datos disponibles"
                                         tableStyleClass="table table-bordered table-hover"
                                         >

                                <p:column headerText="Código Resultado">
                                    <h:outputText value="#{detalle.codigoResultado}"/>
                                </p:column>

                                <p:column headerText="Mensaje">
                                    <h:outputText value="#{detalle.mensajeResultado}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </f:facet>
    </sepsa:modal-panel>  


    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarFactura.adapterFactura}" 
                     searchData="#{listarFactura.facturaFilter}"
                     id="paginator2"
                     updatePage=":list-factura-form:form-data:data-list-facturas 
                     :list-factura-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
