<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true" sticky="true"/>

    <h:panelGroup id="pnl-pop-up">
        <h:panelGroup rendered="#{invoiceCreate.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{invoiceCreate.adapterFacturaTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{invoiceCreate.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     action="#{invoiceCreate.obtenerDatosFacturacion()}"
                                     update="list-factura-create-form:form-data:timbrado list-factura-create-form:form-data:validoHasta list-factura-create-form:form-data:fechaFactura list-factura-create-form:form-data:nroFactura list-factura-create-form:form-data:fechaVtoFactura list-factura-create-form:form-data:nombreRazonSocial list-factura-create-form:form-data:ruc list-factura-create-form:form-data:tel list-factura-create-form:form-data:dir list-factura-create-form:form-data:nroCasa list-factura-create-form:form-data:dpto list-factura-create-form:form-data:distrito list-factura-create-form:form-data:ciudad"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>


    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Factura">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar/imprimir la factura?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-download"></i> Descargar
                    <p:fileDownload id="file" value="#{invoiceCreate.download()}" />
                </p:commandLink>

                <p:commandLink id="print" styleClass="btn btn-sm btn-secondary" process="@this" actionListener="#{invoiceCreate.print()}">
                    <i class="fas fa-print"></i> Imprimir
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>
    
    <h:panelGroup id="pnl-email-pop-up">
        <sepsa:modal-panel id="modalEmailNotificacion" title="Emails a notificar" sizePanel="modal-xl">
            <f:facet name="content">  
                <div class="form-group">
                <label><b>Emails del cliente</b></label>
                    <p:dataTable value="#{invoiceCreate.emailList}"
                                 var="email"
                                 id="data-list-emails"
                                 widgetVar="tablita"
                                 editable="true"
                                 reflow="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen registros disponibles"
                                 rowIndexVar="index"
                                 >   
                        <p:column>
                            <div align="center">
                                <h:outputText value="#{index+1}"/>
                            </div>
                        </p:column>
                        <p:column>
                            <div align="center">
                                <h:inputText value="#{email.email}">
                                    <p:ajax event="change" listener="#{invoiceCreate.validarCorreo(email.email)}"
                                            update=":message-form:message 
                                            list-factura-create-form:form-data:modalEmailNotificacion:data-list-emails
                                            list-factura-create-form:form-data:emailsNotificar"/>
                                </h:inputText>
                            </div>
                        </p:column>
                        <p:column>
                            <div align="center">
                                <p:commandLink  styleClass="btn btn-danger"
                                                title="Eliminar"
                                                action="#{invoiceCreate.deleteEmailNotificacion(email)}"
                                                update="list-factura-create-form:form-data:modalEmailNotificacion:data-list-emails
                                                list-factura-create-form:form-data:emailsNotificar"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                </p:commandLink>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-info"
                                   title="Añadir Email"
                                   action="#{invoiceCreate.addEmailNotificacion()}"
                                   update="list-factura-create-form:form-data:modalEmailNotificacion:data-list-emails"
                                   >
                        <i class="far fa-plus-square"></i>&nbsp;AÑADIR EMAIL
                    </p:commandLink>
                </div>
            </f:facet>
            <f:facet name="button">
            </f:facet>
        </sepsa:modal-panel>    
    </h:panelGroup>
    
    <h:panelGroup id="pnl-medio-pago-pop-up">
        <sepsa:modal-panel id="modalMedioPago" title="Medio de Pago" sizePanel="modal-xl">
            <f:facet name="content">  
                <h:panelGroup id="pnl-tipo-cobro-2">
                    <p:dataTable value="#{invoiceCreate.cobroDetalles}"
                                 var="data"
                                 id="data-list-detalle"
                                 paginator="false"
                                 reflow="true"
                                 rowKey="#{data.nroLinea}"
                                 emptyMessage="Lista vacia">
                        <p:column>
                            <p:commandButton styleClass="btn btn-danger"
                                             action="#{invoiceCreate.delLine()}"
                                             process="@this"
                                             icon="fa fa-times-circle"
                                             update="data-list-detalle 
                                             :message-form:message
                                             :list-factura-create-form:form-data:modalMedioPago:data-list-detalle
                                             :list-factura-create-form:form-data:modalMedioPago:idMontocob"> 
                                <f:param value="#{cob.idFactura}" name="idF"/>
                                <f:param value="#{data.nroLinea}" name="nro"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Monto Cobrado">
                            <h:outputText value="#{data.montoCobro}" class="form-control">
                                <f:convertNumber type= "number"  pattern= "#,###.####" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Tipo Pago" style="width: 150px;">
                            <h:outputText value="#{data.codigoTipoCobro}"/>
                        </p:column>
                        <p:column headerText="Banco">
                            <p:autoComplete id="bancoCobro"
                                            disabled="true"
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{invoiceCreate.completeQueryEntidad}"
                                            value="#{data.entidadFinanciera}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="ent" 
                                            itemLabel="#{ent.entidadFinanciera.razonSocial}" 
                                            itemValue="#{ent.entidadFinanciera}" 
                                            converter="EntidadFinancieraPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            panelStyle="z-index: 2001;"
                                            inputStyle="z-index: 2001;"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{invoiceCreate.onItemSelectEntidadFinanciera()}"/>
                            </p:autoComplete>
                        </p:column>

                        <p:column headerText="Monto cheque">
                            <h:outputText value="#{data.cheque.montoCheque}" style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}" 
                                         class="form-control" id="monto">
                                
                            </h:outputText>
                        </p:column>
                        <!--p:column headerText="N° Cheque">
                            <h:inputText value="#{data.cheque.nroCheque}" class="form-control" id="nroCheque"
                                         style="#{data.codigoTipoCobro=='CHEQUE'?'display:inline':'display:none'}"  >
                                <f:ajax/>
                            </h:inputText>
                        </p:column>


                        <p:column headerText="Fecha Cheque">
                            <p:calendar  style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"   id="feCheque"
                                         value="#{data.cheque.fechaEmision}" 
                                         locale="es" 
                                         pattern="dd/MM/yyyy"
                                         styleClass="p-cal calendarClass"/>
                        </p:column>
                        <p:column headerText="Fecha Deposito">
                            <p:calendar style="#{data.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"  id="feDep"
                                        value="#{data.cheque.fechaPago}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </p:column-->

                    </p:dataTable>
                </h:panelGroup>
                <br/>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Tipo de pago:</b></label>
                    <h:selectOneMenu value="#{invoiceCreate.cobroDetalle.idTipoCobro}" 
                                     styleClass="form-control"
                                     id="select-tipo-cobro">
                        <f:selectItems value="#{invoiceCreate.listTipoCobro}" >
                        </f:selectItems>
                        <f:ajax event="change" 
                                listener="#{invoiceCreate.codTipoCobro()}" 
                                render="pnl-tipo-cobro
                                list-factura-create-form:form-data:medioPagoTxt">
                        </f:ajax>
                    </h:selectOneMenu>
                </div>
                <h:panelGroup id="pnl-tipo-cobro">
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='EFECTIVO' ?'display:none':'display:flow'}">
                        <label><b>Banco:</b></label>
                        <p:autoComplete id="bancoCobro"
                                        disabled="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='EFECTIVO'}"
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{invoiceCreate.completeQueryEntidad}"
                                        value="#{invoiceCreate.entidadFinanciera}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="ent" 
                                        itemLabel="#{ent.entidadFinanciera.razonSocial}" 
                                        itemValue="#{ent.entidadFinanciera}" 
                                        converter="EntidadFinancieraPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        panelStyle="z-index: 2001;"
                                        inputStyle="z-index: 2001;"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{invoiceCreate.onItemSelectEntidadFinanciera}"/>
                        </p:autoComplete>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Monto del cobro:</b></label>
                            <h:inputText value="#{invoiceCreate.cobroDetalle.montoCobro}" 
                                         class="form-control" id="montoCobro">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                                <f:ajax/>
                            </h:inputText>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}" >
                            <label><b>Monto del cheque:</b></label>
                            <h:inputText value="#{invoiceCreate.cheque.montoCheque}" 
                                         class="form-control" id="monto">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                                <f:ajax/>
                            </h:inputText>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='CHEQUE'?'display:inline':'display:none'}"  >
                            <label><b>Número del cheque:</b></label>
                            <h:inputText value="#{invoiceCreate.cheque.nroCheque}" class="form-control" id="nroCheque"
                                         >
                                <f:ajax/>
                            </h:inputText>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"   >
                            <label><b>Fecha de emisión:</b></label>
                            <p:calendar  id="feCheque"
                                         value="#{invoiceCreate.cheque.fechaEmision}" 
                                         locale="es" 
                                         pattern="dd/MM/yyyy"
                                         styleClass="p-cal calendarClass"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.cobroDetalle.codigoTipoCobro=='CHEQUE' ?'display:inline':'display:none'}"  >
                            <label><b>Fecha de pago:</b></label>
                            <p:calendar id="feDep"
                                        value="#{invoiceCreate.cheque.fechaPago}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                </h:panelGroup>
                <br/>
                <div align="left">
                    <p:commandButton value="Agregar Detalle" 
                                     styleClass="btn btn-primary"
                                     process="@this" global="false"
                                     update="data-list-detalle
                                     pnl-tipo-cobro
                                     :list-factura-create-form:form-data:modalMedioPago:idMontocob
                                     :list-factura-create-form:form-data:modalMedioPago:select-tipo-cobro
                                     :list-factura-create-form:form-data:modalMedioPago:bancoCobro
                                     :message-form:message"
                                     action="#{invoiceCreate.addCobroDetalle()}" 
                                     >
                    </p:commandButton>  
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <label style="font-weight: bold;" >Total cobrado:</label>
                    </div>
                    <div class="col-sm-4">
                        <h:inputText value="#{invoiceCreate.montoCobroTotal}"
                                     styleClass="form-control"
                                     style="font-weight: bold;"
                                     id="idMontocob">
                            <f:convertNumber type= "number"  pattern= "#,###.####" />
                        </h:inputText>
                    </div>
                    <div class="col-sm-4">
                        <h:inputText value="#{invoiceCreate.codMoneda}"
                                     styleClass="form-control"
                                     style="font-weight: bold;"/>
                    </div>
                </div>
            </f:facet>
            <f:facet name="button">
            </f:facet>
        </sepsa:modal-panel>    
    </h:panelGroup>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cabecera</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label><b>Cliente (*)</b></label>
                    <br/>
                    <p:commandLink styleClass="btn btn-primary"
                                   onclick="$('#modalCliente').modal('show')"
                                   title="Seleccionar Cliente"
                                   disabled="#{invoiceCreate.idOC != null}"
                                   >
                        <i class="fas fa-users"></i>
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Nombre/Razón Social:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nombreRazonSocial"
                                 disabled="true"
                                 value="#{invoiceCreate.facturaCreate.razonSocial}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>RUC:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="ruc"
                                 disabled="true"
                                 value="#{invoiceCreate.facturaCreate.ruc}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label><b>Tiene Dirección</b></label>
                    <p:selectOneMenu id="tieneDir" class="form-control" value="#{invoiceCreate.tieneDireccion}">
                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                        <p:ajax event="change" update="@form" listener="#{invoiceCreate.consultarLocales()}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{invoiceCreate.tieneDireccion eq 'S' ?'display:inline':'display: none'}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h:panelGroup  id="pnlLocal" style="#{invoiceCreate.multiplesLocales eq 'S' ?'display:inline':'display: none'}" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div style="#{invoiceCreate.multiplesLocales eq 'S' ?'display:inline':'display: none'}"> 
                                        <label><b>Local</b></label>
                                        <p:selectOneMenu id="local" value="#{invoiceCreate.idLocal}"
                                                         panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                         filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Seleccionar Local" itemValue="#{null}"/>
                                            <f:selectItems value="#{invoiceCreate.adapterLocal.data}" var="local"
                                                           itemLabel="#{local.descripcion}" itemValue="#{local.id}"/>

                                            <p:ajax event="change" update=" list-factura-create-form:form-data:dir   
                                                                            list-factura-create-form:form-data:nroCasa 
                                                                            list-factura-create-form:form-data:dpto  
                                                                            list-factura-create-form:form-data:distrito 
                                                                            list-factura-create-form:form-data:ciudad
                                                                            list-factura-create-form:form-data:tel" listener="#{invoiceCreate.obtenerDatosLocal()}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </h:panelGroup> 
                            </div>    
                            <div class="row">                               
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Dirección:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="dir"
                                                 value="#{invoiceCreate.facturaCreate.direccion}">
                                    </h:inputText>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>N° Casa:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="nroCasa"
                                                 value="#{invoiceCreate.facturaCreate.nroCasa}">
                                    </h:inputText>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                    <label><b>Departamento</b></label>
                                    <p:selectOneMenu id="dpto" value="#{invoiceCreate.idDepartamento}"
                                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                     filter="true" filterMatchMode="startsWith">
                                        <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                        <f:selectItems value="#{invoiceCreate.adapterRefGeo.data}" var="ref"
                                                       itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                        <p:ajax event="change" update="list-factura-create-form:form-data:distrito list-factura-create-form:form-data:ciudad" listener="#{invoiceCreate.filterGeneral()}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Distrito</b></label>
                                    <p:selectOneMenu id="distrito" value="#{invoiceCreate.idDistrito}" 
                                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                     filter="true" filterMatchMode="startsWith">
                                        <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                        <f:selectItems value="#{invoiceCreate.adapterRefGeoDistrito.data}" var="ref1"
                                                       itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                        <p:ajax event="change" update="list-factura-create-form:form-data:ciudad" listener="#{invoiceCreate.filterCiudad()}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Ciudad</b></label>
                                    <p:selectOneMenu id="ciudad" value="#{invoiceCreate.idCiudad}" 
                                                     panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                     filter="true" filterMatchMode="startsWith">
                                        <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                        <f:selectItems value="#{invoiceCreate.adapterRefGeoCiudad.data}" var="ref2"
                                                       itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° Teléfono:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="tel"
                                 value="#{invoiceCreate.facturaCreate.telefono}">

                    </h:inputText>
                    <br/>      
                
                    
                    
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display :#{invoiceCreate.facturaCreate.idTipoFactura == 2 ?'flex':'none'};">
                        <div>
                            <p:commandLink id="verMedioPago"
                                           styleClass="btn btn-primary"   
                                           style="display :#{invoiceCreate.facturaCreate.idTipoFactura == 2 ?'flex':'none'};"
                                           onclick="$('#modalMedioPago').modal('show')"
                                           title="Seleccionar Medio de Pago"
                                           update="list-factura-create-form:form-data:modalMedioPago"
                                           >
                                    Medio de Pago
                            </p:commandLink>
                        </div>
                        <!--div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <h:inputText styleClass="form-control"
                                         id="medioPagoTxt"
                                         disabled="true"
                                         value="#{invoiceCreate.cobroDetalle.codigoTipoCobro}"/>
                        </div-->
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Emails del cliente:</b></label><br/>
                    <h:inputText styleClass="form-control"
                                 id="emailsNotificar"
                                 disabled="true"
                                 value="#{invoiceCreate.emailsNotificar}">

                    </h:inputText>
                    <br/>
                    <p:commandLink id="verEmails"
                                   styleClass="btn btn-primary"            
                                   onclick="$('#modalEmailNotificacion').modal('show')"
                                   title="Ver Emails"
                                   update="list-factura-create-form:form-data:modalEmailNotificacion:data-list-emails"
                                   >
                            Ver Emails
                    </p:commandLink>
                </div>
                

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Digital:</b></label>
                    <p:selectOneMenu id="digital" class="form-control" value="#{invoiceCreate.digital}">
                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                        <p:ajax event="change" update="@form" listener="#{invoiceCreate.obtenerDatosTalonario()}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Timbrado:</b></label>
                    <h:inputText id="timbrado"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{invoiceCreate.datoFactura.timbrado}"/>

                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Fecha Vto Timbrado:</b></label>
                    <h:inputText id="validoHasta"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{invoiceCreate.datoFactura.fechaVencimientoTimbrado}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>N° de Factura:</b></label>
                    <h:inputText id="nroFactura"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{invoiceCreate.facturaCreate.nroFactura}"/>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Fecha: (*)</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaFactura" 
                                value="#{invoiceCreate.facturaCreate.fecha}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        <p:ajax event="dateSelect" listener="#{invoiceCreate.onDateSelect}" update="message-form:message list-factura-create-form:form-data:fechaFactura" />
                    </p:calendar>
                </div>
                
               
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Moneda: (*)</b></label>
                    <p:selectOneMenu id="moneda" class="form-control" value="#{invoiceCreate.facturaCreate.idMoneda}">
                        <f:selectItems value="#{invoiceCreate.adapterMoneda.data}" var="mo"
                                       itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>

                        <p:ajax event="change" process="@form" update="@form" listener="#{invoiceCreate.onChangeMoneda()}" />
                    </p:selectOneMenu>
                </div>
                
                
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{invoiceCreate.digital eq 'S' ?'display:inline':'display: none'}">
                        <label><b>Tipo de Transacción: (*)</b></label>
                        <p:selectOneMenu id="tipoTransaccion" class="form-control" value="#{invoiceCreate.facturaCreate.idTipoTransaccion}">
                            <f:selectItems value="#{invoiceCreate.tipoTransaccionAdapter.data}" var="mo"
                                           itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                        </p:selectOneMenu>
                    </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <label><b>Cambio</b></label>
                    <br/>
                    <p:commandLink id="cambio"
                                   styleClass="btn btn-primary"
                                   disabled="#{invoiceCreate.habilitarPanelCotizacion eq false}"
                                   onclick="$('#modalCotizacion').modal('show')"
                                   title="Agregar Cambio"
                                   >
                        <i class="fas fa-money-bill-wave"></i>
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>Tipo de Factura: (*)</b></label>
                    <p:selectOneMenu value="#{invoiceCreate.facturaCreate.idTipoFactura}" id="idTipoFactura" class="form-control">
                        <f:selectItem itemLabel="Contado" itemValue="2"/>
                        <f:selectItem itemLabel="Crédito" itemValue="1"/>
                        <p:ajax event="change" process="@form" update="@form" listener="#{invoiceCreate.calcularFechaVtoContado()}"/>
                    </p:selectOneMenu>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>Tiene OC</b></label>
                    <p:selectOneMenu id="tieneOC" class="form-control" value="#{invoiceCreate.tieneOC}">
                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                        <p:ajax event="change" update="@form"/>
                    </p:selectOneMenu>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{invoiceCreate.tieneOC eq 'S' ?'display:inline':'display: none'}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Número de OC:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="nroOc"
                                                 maxlength="15"
                                                validatorMessage="La cantidad de caracteres del número de Orden de Compra no debe ser mayor a 15 "
                                                 value="#{invoiceCreate.nroOC}">
                                    </h:inputText>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{invoiceCreate.facturaCreate.idTipoFactura eq 1 ?'display:inline':'display: none'}">
                    <label><b>Tipo de Operación a Crédito</b></label>
                    <br/>
                    <p:commandLink styleClass="btn btn-primary"
                                   title="PLAZO"
                                   update="@form"
                                   action="#{invoiceCreate.seleccionarPlazo()}"
                                   >
                        PLAZO
                    </p:commandLink>&nbsp;

                    <p:commandLink styleClass="btn btn-primary"
                                   title="CUOTA"
                                   update="@form"
                                   action="#{invoiceCreate.seleccionarCuota()}"
                                   >
                        CUOTA
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.plazo eq true ?'display:inline':'display: none'}">
                    <label><b>Fecha Vto Factura:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaVtoFactura" 
                                value="#{invoiceCreate.facturaCreate.fechaVencimiento}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        <p:ajax event="dateSelect" listener="#{invoiceCreate.onDateSelectVto}" update="message-form:message list-factura-create-form:form-data:fechaVtoFactura list-factura-create-form:form-data:diasCredito" />
                    </p:calendar>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.plazo eq true ?'display:inline':'display: none'}">
                    <label><b>Días de Crédito:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="diasCredito"
                                 value="#{invoiceCreate.facturaCreate.diasCredito}">
                        <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularFechaVto()}" />
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.cuota eq true?'display:inline':'display: none'}">
                    <label><b>Cantidad de Cuotas:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="cantidadCuotas"
                                 value="#{invoiceCreate.facturaCreate.cantidadCuotas}">
                        <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularCuotas()}" />
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{invoiceCreate.moduloInventario eq 'S' and invoiceCreate.idOC == null?'display:inline':'display: none'}">   
                    <label><b>Sucursal:</b></label>
                    <p:autoComplete id="localDestino" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{invoiceCreate.completeQueryOrigen}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="localOr" 
                                    itemLabel="#{localOr.descripcion}" 
                                    itemValue="#{localOr}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{invoiceCreate.onItemSelectLocalOringenFilter}"/>
                    </p:autoComplete>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>Licitación</b></label>
                    <p:selectOneMenu id="tieneLicitacion" class="form-control" value="#{invoiceCreate.licitacion}">
                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                        <p:ajax event="change" update="@form"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{invoiceCreate.licitacion eq 'S' ?'display:inline':'display: none'}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Modalidad:</b></label>
                                    <h:inputText  styleClass="form-control"
                                                 id="modalidad"
                                                 value="#{invoiceCreate.facturaDncp.modalidad}"
                                                 maxlength="2"
                                                 validatorMessage="El formato de Modalidad es incorrecto. Se deben ingresar 2 caracteres."
                                                 rendered="#{invoiceCreate.licitacion eq 'S'}"
                                                 >
                                        <f:validateLength minimum="2" maximum="2" />
                                        <!--f:validateRegex  pattern="^[a-zA-Z0-9]{2}$"/-->
                                    </h:inputText>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Entidad:</b></label>
                                    <p:inputMask styleClass="form-control"
                                                 id="entidad"
                                                 value="#{invoiceCreate.facturaDncp.entidad}"
                                                 mask="99999"
                                                 validatorMessage="El formato de Entidad es incorrecto. Se deben ingresar 5 caracteres."
                                                 rendered="#{invoiceCreate.licitacion eq 'S'}">
                                         <f:validateLength minimum="5"/>
                                    </p:inputMask>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                    <label><b>Año</b></label>
                                    <p:inputMask styleClass="form-control"
                                                 id="anho"
                                                 value="#{invoiceCreate.facturaDncp.anho}"
                                                 mask="99"
                                                 validatorMessage="El formato de Año es incorrecto. Se deben ingresar 2 caracteres."
                                                 rendered="#{invoiceCreate.licitacion eq 'S'}">
                                                  
                                        <f:validateLength minimum="2"/>
                                    </p:inputMask>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Secuencia</b></label>
                                    <p:inputMask styleClass="form-control"
                                                 id="secuencia"
                                                 value="#{invoiceCreate.facturaDncp.secuencia}"
                                                 mask="9999999"
                                                 validatorMessage="El formato de Secuencia es incorrecto. Se deben ingresar 7 caracteres."
                                                 rendered="#{invoiceCreate.licitacion eq 'S'}">
                                                 
                                         <f:validateLength minimum="7"/>
                                    </p:inputMask>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label><b>Fecha de Emisión de código DNCP</b></label>
                                    <p:calendar id="fechaEmisionDncp" 
                                                value="#{invoiceCreate.facturaDncp.fechaEmision}"
                                                locale="es"
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
               
                                    </p:calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>Tipo de Descuento</b></label>
                    <p:selectOneMenu id="tipoDescuento" class="form-control" value="#{invoiceCreate.tipoDescuento}">
                        <f:selectItem itemLabel="Por Porcentaje" itemValue="1"/>
                        <f:selectItem itemLabel="Por Monto" itemValue="2"/> 
                        <p:ajax event="change" update="@form"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Porcentaje de descuento:</b></label>
                    <h:inputText id="porcentajeDescuento"
                                 styleClass="form-control"
                                 disabled="#{invoiceCreate.tipoDescuento eq 2 ? 'true' :'false'}"
                                 value="#{invoiceCreate.facturaCreate.porcentajeDescuentoGlobal}">
                        <f:convertNumber type= "number"  pattern= "#,###.#####" />
                         <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularDescuentos(1)}" />
                    </h:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Monto de descuento:</b></label>
                    <h:inputText id="montoDescuento"
                                 styleClass="form-control"
                                 disabled="#{invoiceCreate.tipoDescuento eq 1 ? 'true' :'false'}"
                                 value="#{invoiceCreate.facturaCreate.montoTotalDescuentoGlobal}">
                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                        <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularDescuentos(2)}" />
                    </h:inputText>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-5">
                    <label><b>Datos Adicionales:</b></label>
                     <p:inputTextarea id="datoAdicional" rows="5" cols="50"
                          autoResize="false"
                          styleClass="form-control"
                          style="font-family: sans-serif;"
                          value="#{invoiceCreate.facturaCreate.observacion}"/>
                </div>       
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle (*)</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle" style="#{invoiceCreate.showDetalleCreate eq true ?'display:inline':'display: none'}">
                        <label><b>Detalle de Factura:</b></label>
                        <p:dataTable value="#{invoiceCreate.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     rowKey="#{detalle.nroLinea}">                          

                            <p:column rendered="#{invoiceCreate.idOC == null}">
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{invoiceCreate.deleteDetalle(detalle.nroLinea)}"
                                                   update="@form"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>

                            <p:column headerText="Producto">
                                <p:commandLink styleClass="btn btn-primary"
                                               onclick="$('#modalProducto').modal('show')"
                                               title="Seleccionar Producto"
                                               disabled="#{invoiceCreate.idOC != null}"
                                               action="#{invoiceCreate.guardarNroLinea(detalle.nroLinea)}"
                                               update="list-factura-create-form:form-data:modalProducto list-factura-create-form:form-data:modalProducto:producto"
                                               >
                                    <i class="fas fa-barcode"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Descripción (*)">
                                <p:inputTextarea disabled="#{invoiceCreate.idOC != null}" 
                                                 maxlength="2000" style="width:100%" value="#{detalle.descripcion}"
                                                 rows = "2" />
                            </p:column>
                            
                            <p:column headerText="Lote">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.lote eq null ? '-' : detalle.lote}"/>
                            </p:column>
                            
                            <p:column headerText="Fecha Venc. Lote">
                                <h:outputText  styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.fechaVencimientoLote eq null ? '--' : detalle.fechaVencimientoLote}"/>
                            </p:column>

                            <p:column headerText="N° Cta Ctble" rendered="#{invoiceCreate.ctaCtble eq 'S'}">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.nroCtaContable}">
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Cantidad (*)">
                                <h:inputText disabled="#{invoiceCreate.idOC != null}" styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="IVA (*)">
                                <p:selectOneMenu disabled="#{invoiceCreate.idOC != null}" id="porcentaje" class="form-control" value="#{detalle.porcentajeIva}">
                                    <f:selectItem itemLabel="10" itemValue="10"/>
                                    <f:selectItem itemLabel="5" itemValue="5"/> 
                                    <f:selectItem itemLabel="0" itemValue="0"/> 
                                    <p:ajax event="change" process="@form" update="@form" listener="#{invoiceCreate.calcularMontos(detalle.nroLinea)}"/>
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Porcentaje Grav." rendered="#{invoiceCreate.gravada eq 'S'}">
                                <p:inputNumber id="input3" value="#{detalle.porcentajeGravada}" minValue="0"
                                               maxValue="100">
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularMontos(detalle.nroLinea)}" />
                                </p:inputNumber>

                            </p:column>

                            <p:column headerText="Precio Unitario con IVA (*)">
                                <h:inputText disabled="#{invoiceCreate.idOC != null}" styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>
                            
                            <p:column headerText="% Descuento Unitario">
                                <h:inputText id="descuentoParticular" 
                                             styleClass="form-control" 
                                             value="#{detalle.descuentoParticularUnitarioAux}"  
                                             disabled="#{invoiceCreate.tipoDescuento eq 2 ? 'true' :'false'}">
                                    <f:convertNumber type= "number"  pattern= "#,###.#####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.descuentoListener(detalle.nroLinea,1)}" />
                                </h:inputText>
                            </p:column> 
                            
                            <p:column headerText="Monto Descuento Unitario">
                                <h:inputText id="montoDescuentoParticular" 
                                             styleClass="form-control" 
                                             value="#{detalle.montoDescuentoParticular}"  
                                             disabled="#{invoiceCreate.tipoDescuento eq 1 ? 'true' :'false'}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{invoiceCreate.descuentoListener(detalle.nroLinea,2)}" />
                                </h:inputText>
                            </p:column>
                                      
                            <p:column headerText="Cod. Nivel General (*)" rendered="#{invoiceCreate.licitacion eq 'S'}">
                                    <h:inputText  styleClass="form-control"
                                                 id="codNivelGeneral"
                                                 value="#{detalle.codDncpNivelGeneral}"
                                                 maxlength="8"
                                                 validatorMessage="El formato del Cod. Nivel General es incorrecto. Se deben ingresar 8 caracteres."
                                                 >
                                        <f:validateLength minimum="8" maximum="8"/>
                                        <!--f:validateRegex  pattern="^[a-zA-Z0-9]{2}$"/-->
                                    </h:inputText>
                            </p:column>
                            
                            <p:column headerText="Cod. Nivel Especifico (*)" rendered="#{invoiceCreate.licitacion eq 'S'}">
                                <h:inputText  styleClass="form-control"
                                                 id="codNivelEspecifico"
                                                 value="#{detalle.codDncpNivelEspecifico}"
                                                 validatorMessage="El formato del Cod. Nivel Especifico es incorrecto. Se deben ingresar entre 3 y 4 caracteres."
                                                 >
                                    <f:validateLength minimum="3" maximum="4"/>
                                        <!--f:validateRegex  pattern="^[a-zA-Z0-9]{2}$"/-->
                                    </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText id="precioSinIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto Exento Gravado" rendered="#{invoiceCreate.gravada eq 'S'}">
                                <h:outputText id="montoExentoGravado" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoExentoGravado}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>


                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText id="montoSinIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText id="montoIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>


                            <p:column headerText="Sub-Total">
                                <h:outputText id="subTotal" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-info"
                                   rendered="#{invoiceCreate.idOC == null}"
                                   title="Añadir Detalle"
                                   action="#{invoiceCreate.showDetalle()}"
                                   update="@form"
                                   >
                        <i class="far fa-plus-square"></i>&nbsp;AÑADIR DETALLE DE FACTURA
                    </p:commandLink>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle-cuota" style="#{invoiceCreate.cuota eq true ?'display:inline':'display: none'}">
                        <hr/>
                        <label><b>Detalle de Cuota:</b></label>
                        <p:dataTable value="#{invoiceCreate.detalleCuotas}"
                                     var="cuota"
                                     id="data-list-detalle-cuota"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles">                          

                            <p:column headerText="Monto">
                                <h:outputText id="monto-cuota" styleClass="form-control" style="background-color: #e9ecef;" value="#{cuota.monto}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fecha de Vencimiento">
                                <p:calendar id="fecha-vto-cuota" 
                                            value="#{cuota.fechaVencimiento}"
                                            locale="es"
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                </p:calendar>
                            </p:column>

                        </p:dataTable>
                    </h:panelGroup>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total Factura:</b></label>
                    <h:inputText id="totalFactura"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{invoiceCreate.facturaCreate.montoTotalFactura}">
                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total letras:</b></label>
                    <h:inputText id="totalLetras"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{invoiceCreate.facturaCreate.totalLetras}"
                                 />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-primary"
                                   title="CREAR FACTURA"
                                   action="#{invoiceCreate.crearFactura()}"
                                   update="@form"
                                   >

                        <i class="fas fa-file-invoiceCreate"></i>&nbsp;GUARDAR
                    </p:commandLink>
                </div>
            </div>
        </div>

    </div>

    <sepsa:modal-panel id="modalCliente" title="Clientes" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Cliente:</b></label>
                <br/>
                <p:autoComplete id="clienteLocal" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{invoiceCreate.completeQuery}"
                                value="#{invoiceCreate.cliente}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="cliNota" 
                                itemLabel="#{cliNota.razonSocial}" 
                                itemValue="#{cliNota}" 
                                converter="clienteListadoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{invoiceCreate.onItemSelectClienteFacturaCrear}" 
                            update="message-form:message list-factura-create-form:form-data:nombreRazonSocial
                            list-factura-create-form:form-data:ruc list-factura-create-form:form-data:tel 
                            list-factura-create-form:form-data:modalEmailNotificacion:data-list-emails list-factura-create-form:form-data:dir
                            list-factura-create-form:form-data:nroCasa list-factura-create-form:form-data:dpto 
                            list-factura-create-form:form-data:distrito list-factura-create-form:form-data:ciudad
                            list-factura-create-form:form-data:pnlLocal list-factura-create-form:form-data:emailsNotificar"/>
                </p:autoComplete>
            </div>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalCotizacion" title="Cambio" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos de Tipo de Cambio</h5>
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Compra</b></label>
                            <h:inputText styleClass="form-control" value="#{invoiceCreate.tipoCambio.compra}" id="precioCompra">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Venta</b></label>
                            <h:inputText styleClass="form-control" value="#{invoiceCreate.tipoCambio.venta}" id="precioVenta">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>

                    </div>
                     <h5 class="card-title">Cotizacion Actual</h5>
                    <div class ="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12">
                            <p:dataTable value="#{invoiceCreate.adapterTipoCambio.data}"
                                        var="talonario"
                                        id="data-list-tipoCambio"
                                        editable="true"
                                        reflow="true"
                                        paginator="false"
                                        tableStyle="table-layout: auto;"

                                        tableStyleClass="table table-bordered table-hover">
                               <p:column style="width:45px;text-align:center"/>

                               <p:column headerText="Valor de compra">
                                   <h:outputText value="#{talonario.compra}"/>
                               </p:column>
                               
                               <p:column headerText="Valor de Venta">
                                   <h:outputText value="#{talonario.venta}"/>
                               </p:column>

                               <p:column headerText="Fecha de cotización">
                                   <h:outputText value="#{talonario.fechaInsercion}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                   </h:outputText>
                               </p:column>
                           </p:dataTable>
                        </div>
                    </div>          
                    
                </div>
            </div>

        </f:facet>

        <f:facet name="button">
            
            <!--p:commandButton id="btnModal" 
                             actionListener="#{invoiceCreate.crearTipoCambio()}"
                             class="btn btn-primary" 
                             value="ACTUALIZAR"
                             update="message-form:message list-factura-create-form:form-data:data-list-detalle-create
                                    list-factura-create-form:form-data:modalCotizacion:data-list-tipoCambio">
            </p:commandButton-->
            
            <p:commandLink actionListener="#{invoiceCreate.crearTipoCambio()}"
                           class="btn btn-primary"
                           update="message-form:message list-factura-create-form:form-data:data-list-detalle-create
                                    list-factura-create-form:form-data:modalCotizacion:data-list-tipoCambio">
                ACTUALIZAR
            </p:commandLink>
        </f:facet>
        
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{invoiceCreate.completeQueryProducto}"
                                value="#{invoiceCreate.producto}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcionLote}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{invoiceCreate.onItemSelectProducto}" update="message-form:message"/>
                </p:autoComplete>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandLink id="btnModal" 
                             class="btn btn-primary" 
                             action="#{invoiceCreate.agregarProducto()}"
                             onclick="$('#modalProducto').modal('hide')"
                             update="list-factura-create-form:form-data:data-table-detalle message-form:message list-factura-create-form:form-data:modalProducto:producto list-factura-create-form:form-data:totalFactura list-factura-create-form:form-data:totalLetras">
                Agregar Producto
            </p:commandLink>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>

    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>

</ui:composition>