<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <p:dataTable value="#{listarFacturaCompra.adapterFactura.data}"
                 var="data"
                 id="data-list-factura-compra"
                 editable="true"
                 reflow="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="N° Factura">
            <h:outputText value="#{data.nroFactura}"/>
        </p:column>
        <p:column headerText="Razón Social">
            <h:outputText value="#{data.razonSocial}"/>
        </p:column>
        <p:column headerText="RUC">
            <h:outputText value="#{data.ruc}"/>
        </p:column>
        <p:column headerText="Tipo Factura">
            <h:outputText value="#{data.tipoFactura.codigo}"/>
        </p:column>
        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Monto Factura">
            <h:outputText value="#{data.montoTotalFactura}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Moneda">
            <h:outputText value="#{data.moneda.codigo}"/>
        </p:column>
        <p:column headerText="Pagado">
            <h:panelGroup rendered="#{data.pagado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.pagado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="Digital">
            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="Anulado">
            <h:panelGroup rendered="#{data.anulado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert" align="center">
                        <h:outputText value="SI"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.anulado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Ver Detalle" action="#{listarFacturaCompra.detalleURL(data.id)}" icon="fas fa-search"/>
                    <p:menuitem value="Solicitud NC" action="#{listarFacturaCompra.notaCreditoURL(data.id)}"  icon="fas fa-money-check"/>
                    <p:menuitem value="Doc. Asociados" action="#{listarFacturaCompra.verDocAsociados(data.id)}"  
                                update=":list-compra-factura-form:form-data:data-list-factura-compra
                                :list-compra-factura-form:form-data:modalDocAsociados:data-list-retencion-asociados
                                :list-compra-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                                :list-compra-factura-form:form-data:modalDocAsociados:paginator1:paginator-panel
                                :list-compra-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel"
                                onclick="$('#modalDocAsociados').modal('show')" icon="fa fa-files-o"/>
                    <p:menuitem value="Eliminar" action="#{listarFacturaCompra.eliminarFactura(data.id)}" icon="fas fa-trash"/>
                </p:menuButton>
            </div>
        </p:column>
    </p:dataTable>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <sepsa:modal-panel id="confirmation" title="Confirmar">
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText  value="Está seguro que desea anular la factura #{listarFacturaCompra.facturaFilter.nroFactura}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Seleccion el motivo(*):</b></label>
                            <h:selectOneMenu value="#{listarFacturaCompra.facturaFilter.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{listarFacturaCompra.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n: </b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control" 
                                             value="#{listarFacturaCompra.facturaFilter.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea>
                        </div>
                    </div>

                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             update=":list-compra-factura-form:form-data:data-list-factura-compra 
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{listarFacturaCompra.anularFactura(listarFacturaCompra.facturaFilter)}"/>
        </f:facet>
    </sepsa:modal-panel>

    <!--Modal Documentos Asociados -->
    <sepsa:modal-panel id="modalDocAsociados" title="Documentos Asociados" sizePanel="modal-xl" >
        <f:facet name="content">
            <h5 class="card-title">Retenciones</h5>
            <p:dataTable value="#{listarFacturaCompra.retencionAsociadosAdapter.data}"
                         var="ret"
                         id="data-list-retencion-asociados"
                         editable="true" 
                         paginator="false"
                         > 
                <p:column headerText="Número de Retención">
                    <h:outputText value="#{ret.nroRetencion}"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#{ret.fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Porcentaje de Retencion">
                    <h:outputText value="#{ret.porcentajeRetencion}"/>
                </p:column>
                <p:column headerText="Monto Retenido Total">
                    <h:outputText value="#{ret.montoRetenidoTotal}"/>
                </p:column>
            </p:dataTable>
            <sepsa:paginator adapter="#{listarFacturaCompra.retencionAsociadosAdapter}"
                             searchData="#{listarFacturaCompra.retencion}"
                             id="paginator1"
                             updatePage=":list-compra-factura-form:form-data:modalDocAsociados:data-list-retencion-asociados
                             :list-compra-factura-form:form-data:modalDocAsociados:paginator1:paginator-panel"/>
            <br>
            </br>
            <h5 class="card-title">Notas de Credito Compra</h5>
            <p:dataTable value="#{listarFacturaCompra.notaCreditoAsociadosAdapter.data}"
                         var="nc"
                         id="data-list-detalle-nc"
                         editable="true" 
                         paginator="false"
                         > 
                <p:column headerText="Número Nota de Crédito">
                    <h:outputText value="#{nc.nroNotaCredito}"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#{nc.fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Monto Total Nota de Credito">
                    <h:outputText value="#{nc.montoTotalNotaCredito}"/>
                </p:column>
            </p:dataTable>
            <sepsa:paginator adapter="#{listarFacturaCompra.notaCreditoAsociadosAdapter}"
                             searchData="#{listarFacturaCompra.notaCreditoCompra}"
                             id="paginator3"
                             updatePage=":list-compra-factura-form:form-data:modalDocAsociados:data-list-detalle-nc
                             :list-compra-factura-form:form-data:modalDocAsociados:paginator3:paginator-panel"/>
        </f:facet>
    </sepsa:modal-panel>   

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarFacturaCompra.adapterFactura}" 
                     searchData="#{listarFacturaCompra.facturaFilter}"
                     id="paginator2"
                     updatePage=":list-compra-factura-form:form-data:data-list-factura-compra 
                     :list-compra-factura-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
