<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cabecera</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label><b>Proveedor</b></label>
                    <br/>
                    <p:commandLink styleClass="btn btn-primary"
                                   onclick="$('#modalCliente').modal('show')"
                                   title="Seleccionar Proveedor"
                                   disabled="#{facturaCompraCrear.idOC != null}"
                                   >
                        <i class="fas fa-users"></i>
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>Nombre/Razón Social:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nombreRazonSocial"
                                 disabled="true"
                                 value="#{facturaCompraCrear.facturaCreate.razonSocial}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label><b>RUC:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="ruc"
                                 disabled="true"
                                 value="#{facturaCompraCrear.facturaCreate.ruc}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="pnl-digital">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Digital:</b></label>
                                <p:selectOneMenu id="digital" class="form-control" value="#{facturaCompraCrear.digital}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update="message-form:message list-factura-create-form:form-data:pnl-digital list-factura-create-form:form-data:nroFactura" listener="#{facturaCompraCrear.obtenerDatosFacturacion()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Timbrado:</b></label>
                                <h:inputText id="timbrado"
                                             styleClass="form-control"
                                             value="#{facturaCompraCrear.facturaCreate.nroTimbrado}"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{facturaCompraCrear.digital eq 'S' ? 'display:none' :'display:inline'}">
                                <label><b>Fecha Vto Timbrado:</b></label>&nbsp;&nbsp;
                                <p:calendar id="fechaVtoTimbrado" 
                                            value="#{facturaCompraCrear.facturaCreate.fechaVencimientoTimbrado}"
                                            locale="es"
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <p:ajax event="dateSelect" listener="#{facturaCompraCrear.onDateSelectVtoTimbrado}" update="message-form:message list-factura-create-form:form-data:fechaVtoTimbrado" />
                                </p:calendar>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{facturaCompraCrear.digital eq 'S' ? 'display:inline' :'display:none'}">
                                <label><b>CDC:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="cdc"
                                             value="#{facturaCompraCrear.facturaCreate.cdc}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>N° de Factura:</b></label>
                    <h:inputText id="nroFactura"
                                 styleClass="form-control"
                                 value="#{facturaCompraCrear.facturaCreate.nroFactura}"/>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Fecha:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaFactura" 
                                value="#{facturaCompraCrear.facturaCreate.fecha}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        <p:ajax event="dateSelect" listener="#{facturaCompraCrear.onDateSelect}" update="list-factura-create-form:form-data:fechaVtoFactura"/>
                    </p:calendar>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Moneda:</b></label>
                    <p:selectOneMenu id="moneda" class="form-control" value="#{facturaCompraCrear.facturaCreate.idMoneda}">
                        <f:selectItems value="#{facturaCompraCrear.adapterMoneda.data}" var="mo"
                                       itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>

                        <p:ajax event="change" process="@form" update="@form" listener="#{facturaCompraCrear.onChangeMoneda()}" />
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <label><b>Cambio</b></label>
                    <br/>
                    <p:commandLink id="cambio"
                                   styleClass="btn btn-primary"
                                   disabled="#{facturaCompraCrear.habilitarPanelCotizacion eq false}"
                                   onclick="$('#modalCotizacion').modal('show')"
                                   title="Agregar Cambio"
                                   >
                        <i class="fas fa-money-bill-wave"></i>
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label><b>Tipo de Factura:</b></label>
                    <p:selectOneMenu value="#{facturaCompraCrear.facturaCreate.idTipoFactura}" id="idTipoFactura" class="form-control">
                        <f:selectItem itemLabel="Contado" itemValue="2"/>
                        <f:selectItem itemLabel="Crédito" itemValue="1"/>
                        <p:ajax event="change" process="@form" update="@form" listener="#{facturaCompraCrear.calcularFechaVtoContado()}"/>
                    </p:selectOneMenu>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Fecha Vto Factura:</b></label>&nbsp;&nbsp;
                    <p:calendar id="fechaVtoFactura" 
                                value="#{facturaCompraCrear.facturaCreate.fechaVencimiento}"
                                locale="es"
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                        <p:ajax event="dateSelect" listener="#{facturaCompraCrear.onDateSelectVto}" update="message-form:message list-factura-create-form:form-data:fechaVtoFactura" />
                    </p:calendar>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" style="#{facturaCompraCrear.facturaCreate.idTipoFactura eq 1 ?'display:inline':'display: none'}">
                    <label><b>Días de Crédito:</b></label>
                    <h:inputText styleClass="form-control"
                                 id="diasCredito"
                                 value="#{facturaCompraCrear.facturaCreate.diasCredito}">
                        <p:ajax event="blur" process="@form" update="@form" listener="#{facturaCompraCrear.calcularFechaVto()}" />
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{facturaCompraCrear.moduloInventario eq 'S' and facturaCompraCrear.idOC == null?'display:inline':'display: none'}">   
                    <label><b>Sucursal:</b></label>
                    <p:autoComplete id="localOrigen" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{facturaCompraCrear.completeQueryOrigen}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="localOr" 
                                    itemLabel="#{localOr.descripcion}" 
                                    itemValue="#{localOr}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{facturaCompraCrear.onItemSelectLocalOringenFilter}"/>
                    </p:autoComplete>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{facturaCompraCrear.registraInventario eq 'S' and facturaCompraCrear.idOC == null?'display:inline':'display: none'}">   
                    <label><b>Depósito Logistico</b></label>
                    <p:autoComplete id="depositoLogistico" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{facturaCompraCrear.completeQueryDeposito}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="dep" 
                                    itemLabel="#{dep.descripcion}" 
                                    itemValue="#{dep}" 
                                    converter="depositoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{facturaCompraCrear.onItemSelectDeposito}"/>
                    </p:autoComplete>
                </div>

            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle" style="#{facturaCompraCrear.showDetalleCreate eq true ?'display:inline':'display: none'}">
                        <p:dataTable value="#{facturaCompraCrear.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     rowKey="#{detalle.nroLinea}"
                                     rowIndexVar="index">                          

                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{facturaCompraCrear.deleteDetalle(detalle.nroLinea)}"
                                                   update="list-factura-create-form:form-data:data-list-detalle-create list-factura-create-form:form-data:totalFactura"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                            <p:column headerText="Producto">
                                <p:commandLink styleClass="btn btn-primary"
                                               disabled="#{facturaCompraCrear.idOC != null}"
                                               onclick="$('#modalProducto').modal('show')"
                                               title="Seleccionar Producto"
                                               action="#{facturaCompraCrear.guardarNroLinea(detalle.nroLinea)}"
                                               update="list-factura-create-form:form-data:modalProducto list-factura-create-form:form-data:modalProducto:producto"
                                               >
                                    <i class="fas fa-barcode"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Descripción">
                                <p:inputTextarea disabled="#{facturaCompraCrear.idOC != null}" style="width:100%" value="#{detalle.descripcion}"/>
                            </p:column>

                            <p:column headerText="Fecha Vto" rendered="#{facturaCompraCrear.idOC != null}">
                                <h:outputText id="fechaVtoProd" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Precio Unitario OC (c/IVA)" rendered="#{facturaCompraCrear.idOC != null}">
                                <h:outputText id="precioCIvaOc" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioConIvaOc}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Precio Unitario Factura (c/IVA)">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" update="list-factura-create-form:form-data:totalLetras list-factura-create-form:form-data:totalFactura list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{facturaCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>


                            <p:column headerText="Cantidad OC" rendered="#{facturaCompraCrear.idOC != null and facturaCompraCrear.moduloInventario eq 'S'}">
                                <h:outputText id="cantidadOC" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.cantidadOrdenCompra}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Cantidad Recibida" rendered="#{facturaCompraCrear.idOC != null and facturaCompraCrear.moduloInventario eq 'S'}">
                                <h:outputText id="cantidadRecibida" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.cantidadRecibida}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Cantidad Facturada">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidadFacturada}" id="cantidadFacturada">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" update="list-factura-create-form:form-data:totalLetras list-factura-create-form:form-data:totalFactura list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{facturaCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="IVA">
                                <p:selectOneMenu value="#{detalle.porcentajeIva}" id="idIVA" class="form-control">
                                    <f:selectItem itemLabel="10%" itemValue="10"/>
                                    <f:selectItem itemLabel="5%" itemValue="5"/>
                                    <f:selectItem itemLabel="0%" itemValue="0"/>
                                    <p:ajax event="change" update="list-factura-create-form:form-data:totalLetras list-factura-create-form:form-data:totalFactura list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-factura-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{facturaCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText id="montoSinIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText id="montoIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>



                            <p:column headerText="Sub-Total">
                                <h:outputText id="subTotal" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-info"
                                   title="Agregar"
                                   action="#{facturaCompraCrear.showDetalle()}"
                                   update="@form"
                                   >
                        <i class="far fa-plus-square"></i>&nbsp;AÑADIR
                    </p:commandLink>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total Factura:</b></label>
                    <h:inputText id="totalFactura"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{facturaCompraCrear.facturaCreate.montoTotalFactura}">
                        <f:convertNumber locale="es_PY"/>
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Total letras:</b></label>
                    <h:inputText id="totalLetras"
                                 styleClass="form-control"
                                 disabled="true"
                                 value="#{facturaCompraCrear.facturaCreate.totalLetras}"
                                 />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-primary"
                                   title="CREAR FACTURA"
                                   action="#{facturaCompraCrear.crearFactura()}"
                                   update="message-form:message @form"
                                   >
                        <i class="fas fa-file-facturaCompraCrear"></i>&nbsp;CREAR
                    </p:commandLink>
                </div>
            </div>
        </div>

    </div>

    <sepsa:modal-panel id="modalCliente" title="Proveedores" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Proveedor:</b></label>
                <br/>
                <p:autoComplete id="clienteLocal" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{facturaCompraCrear.completeQuery}"
                                value="#{facturaCompraCrear.cliente}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="cliNota" 
                                itemLabel="#{cliNota.razonSocial}" 
                                itemValue="#{cliNota}" 
                                converter="clientePojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{facturaCompraCrear.onItemSelectClienteFacturaCrear}" 
                            update="list-factura-create-form:form-data:nombreRazonSocial list-factura-create-form:form-data:ruc"/>
                </p:autoComplete>
            </div>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalCotizacion" title="Cambio" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos de Tipo de Cambio</h5>
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Compra</b></label>
                            <h:inputText styleClass="form-control" value="#{facturaCompraCrear.tipoCambio.compra}" id="precioCompra">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:inputText>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Venta</b></label>
                            <h:inputText styleClass="form-control" value="#{facturaCompraCrear.tipoCambio.venta}" id="precioVenta">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:inputText>
                        </div>

                    </div>
                </div>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandButton id="btnModal" 
                             actionListener="#{facturaCompraCrear.crearTipoCambio()}"
                             class="btn btn-primary" 
                             value="AGREGAR"
                             update="message-form:message list-factura-create-form:form-data:data-list-detalle-create">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{facturaCompraCrear.completeQueryProducto}"
                                value="#{facturaCompraCrear.productoFilter}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcion}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{facturaCompraCrear.onItemSelectProducto}" update="list-factura-create-form:form-data:data-table-detalle message-form:message"/>
                </p:autoComplete>
            </div>

        </f:facet>
    </sepsa:modal-panel>



    <sepsa:loading></sepsa:loading>

</ui:composition>
