<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <h:panelGroup>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos Cliente</h5>
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razón Social:</b></label>
                            <h:outputText styleClass="form-control" 
                                          value="#{facturaCompraDetalle.facturaDetalle.razonSocial}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC:</b></label>
                            <h:outputText styleClass="form-control" 
                                          value="#{facturaCompraDetalle.facturaDetalle.ruc}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Dirección:</b></label>
                            <h:outputText styleClass="form-control"  value="#{facturaCompraDetalle.facturaDetalle.direccion eq null ? '--':facturaCompraDetalle.facturaDetalle.direccion}"></h:outputText>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Telefono:</b></label>
                            <h:outputText styleClass="form-control"  value="#{facturaCompraDetalle.facturaDetalle.telefono eq null ? '--':facturaCompraDetalle.facturaDetalle.telefono}"></h:outputText>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Email:</b></label>
                            <h:outputText styleClass="form-control"  value="#{facturaCompraDetalle.facturaDetalle.email eq null ? '--':facturaCompraDetalle.facturaDetalle.email}"></h:outputText>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br/>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>N° Factura:</b></label>&nbsp;
                            <h:outputText value="#{facturaCompraDetalle.facturaDetalle.nroFactura}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Fecha Vto. Factura:</b></label>&nbsp;
                            <h:outputText value="#{facturaCompraDetalle.facturaDetalle.fechaVencimiento eq null ? '--':facturaCompraDetalle.facturaDetalle.fechaVencimiento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                            </h:outputText>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Timbrado:</b></label>&nbsp;
                            <h:outputText value="#{facturaCompraDetalle.facturaDetalle.nroTimbrado}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Fecha Vto. Timbrado:</b></label>&nbsp;
                            <h:outputText value="#{facturaCompraDetalle.facturaDetalle.fechaVencimientoTimbrado eq null ? '--':facturaCompraDetalle.facturaDetalle.fechaVencimientoTimbrado}">
                                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                            </h:outputText>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalle</h5>

                        <p:dataTable value="#{facturaCompraDetalle.facturaDetalle.facturaCompraDetalles}"
                                     var="data"
                                     id="data-list-factura-detalle"
                                     reflow="true"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     >

                            <p:column headerText="Concepto">
                                <h:outputText value="#{data.descripcion}"/>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:outputText value="#{data.cantidadFacturada}"/>
                            </p:column>

                            <p:column headerText="Precio Unitario c/ IVA">
                                <h:outputText value="#{data.precioUnitarioConIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Porcentaje IVA">
                                <h:outputText value="#{data.porcentajeIva}"/>
                            </p:column>

                            <p:column headerText="Monto Imponible">
                                <h:outputText value="#{data.montoImponible}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText value="#{data.montoIva}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub Total">
                                <h:outputText value="#{data.montoTotal}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">

                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                <label><b>Total Factura:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="totalFac"
                                             disabled="true"
                                             value="#{facturaCompraDetalle.facturaDetalle.montoTotalFactura}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:inputText>
                            </div>

                        </div>


                        <!--div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Observación</label>
                                    <textarea class="form-control"
                                              >
                                        <h:outputText 
                                            value="#{facturaDetalle.facturaDetalle.observacion}"/>
                                    </textarea>

                                </div>
                            </div>
                            <br/>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Total Factura</label>
                                    <h:outputText styleClass="form-control"
                                                  value="#{facturaDetalle.facturaDetalle.montoTotalFactura}">
                                        <f:convertNumber locale="es_PY"/>
                                    </h:outputText>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label>Total en Letras</label>
                                    <textarea class="form-control">
                                        <h:outputText value="#{facturaDetalle.facturaDetalle.totalLetras}"/>
                                    </textarea> 
                                </div>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>
