<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true" redisplay="false"/>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group" >
            <h:form enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                            <div class="col-4">
                                <div class="col-6">
                                <label><b>Archivo de Notas de Crédito (*):</b></label>
                                <br/>
                                <p:fileUpload  mode="simple"
                                               allowTypes="/(\.|\/)(xlsx)$/"
                                               sizeLimit="3000000"
                                               value="#{gamblingMasivaNC.file}"
                                               label="Seleccionar" 
                                               cancelLabel="Quitar" 
                                               uploadLabel="Subir" 
                                               invalidFileMessage="Formato de archivo incorrecto, formato correcto: xlsx"
                                               />
                                </div>
                                <br/>
                                <br/>
                                <div class="col-6">
                                <label><b>Archivo de Clientes (*):</b></label>
                                <br/>
                                <p:fileUpload  mode="simple"
                                               allowTypes="/(\.|\/)(xlsx)$/"
                                               sizeLimit="3000000"
                                               value="#{gamblingMasivaNC.fileClient}"
                                               label="Seleccionar" 
                                               cancelLabel="Quitar" 
                                               uploadLabel="Subir" 
                                               invalidFileMessage="Formato de archivo incorrecto, formato correcto: xlsx"
                                               />
                                </div>
                                
                                <br/>
                                <br/>
                                <div class="col-6">
                                <label><b>Informe de Estado de Cuentas (*):</b></label>
                                <br/>
                                <p:fileUpload  mode="simple"
                                               allowTypes="/(\.|\/)(xlsx)$/"
                                               sizeLimit="3000000"
                                               value="#{gamblingMasivaNC.fileFacturas}"
                                               label="Seleccionar" 
                                               cancelLabel="Quitar" 
                                               uploadLabel="Subir" 
                                               invalidFileMessage="Formato de archivo incorrecto, formato correcto: xlsx"
                                               />
                                </div>
                                <br/>
                                <br/>
                                <div class="col-6">
                                <label><b>Archivo de Facturas Externas :</b></label>
                                <br/>
                                <p:fileUpload  mode="simple"
                                               allowTypes="/(\.|\/)(xlsx)$/"
                                               sizeLimit="3000000"
                                               value="#{gamblingMasivaNC.fileFacturasExternas}"
                                               label="Seleccionar" 
                                               cancelLabel="Quitar" 
                                               uploadLabel="Subir" 
                                               invalidFileMessage="Formato de archivo incorrecto, formato correcto: xlsx"
                                               />
                                </div>
                                <br/>
                                <br/>
                                <div class="col-6">
                                <label><b>Agregar Correo a Notificar:</b></label>
                                <br/>
                                <h:inputText styleClass="form-control" value="#{gamblingMasivaNC.email}"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                <p:commandButton value="ENVIAR" 
                                                 ajax="false"
                                                 update="msgs form-data"
                                                 icon="fas fa-file-upload"
                                                 action="#{gamblingMasivaNC.upload()}" 
                                                 styleClass="btn btn-primary"/>
                            </div>
                        </div></div>
                    </div>
                </div>

            </h:form>

        </div>
    </div>
</ui:composition>
