<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>Cliente</label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{client.completeQuery}"
                                    value="#{client.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{liquidacion.onItemSelectClienteLiquidacion}" update="list-liquidacion-form:form-data:datosLiquidacion" />
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <h:panelGroup id="datosLiquidacion" style="#{liquidacion.show eq true ?'display:inline':'display: none'}">

        <p:dataTable value="#{liquidacion.adapterLiquidacion.data}"
                     var="data"
                     id="data-list-liquidacion"
                     reflow="true"
                     editable="true"
                     paginator="false"
                     tableStyle="table-layout: auto;" 
                     tableStyleClass="table table-bordered table-hover"
                     emptyMessage="El cliente no posee ningún registro de liquidación"
                     >
            <p:column headerText="ID Contrato">
                <h:outputText value="#{data.idContrato}"/>
            </p:column>
            
            <p:column headerText="Producto">
                <h:outputText value="#{data.producto}"/>
            </p:column>
            
            <p:column headerText="Servicio">
                <h:outputText value="#{data.servicio}"/>
            </p:column>

            <p:column headerText="Proceso">
                <h:outputText value="#{data.fechaProceso}">
                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Recibidos">
                <h:outputText value="#{data.cantDocRecibidos}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Enviados">
                <h:outputText value="#{data.cantDocEnviados}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Excedidos">
                <h:outputText value="#{data.cantDocExcedidos}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Descuento General">
                <h:outputText value="#{data.montoDescuentoGeneral}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Descuento Excedente">
                <h:outputText value="#{data.montoDescuentoExcedente}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Total Excedente">
                <h:outputText value="#{data.montoTotalExcedente}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Total Detalle">
                <h:outputText value="#{data.montoTotalDetalle}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Total Liquidado">
                <h:outputText value="#{data.montoTotalLiquidado}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Monto Minimo">

                <h:panelGroup rendered="#{data.montoMinimo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{data.montoMinimo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Sí"/>
                        </div>
                    </div>
                </h:panelGroup>
            </p:column>

            <p:column headerText="Estado">
                <div align="center">
                    <h:panelGroup rendered="#{data.estado eq 'N'}">
                        <div class="form-group col">
                            <div class="alert alert-dark" role="alert">
                                <h:outputText value="No Facturable"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.estado eq 'F'}">
                        <div class="form-group col">
                            <div class="alert alert-success" role="alert">
                                <h:outputText value="Facturado"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.estado eq 'P'}">
                        <div class="form-group col">
                            <div class="alert alert-warning" role="alert">
                                <h:outputText value="Pendiente de Facturar"/>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{data.estado eq 'M'}">
                        <div class="form-group col">
                            <div class="alert alert-info" role="alert">
                                <h:outputText value="Facturacion Manual"/>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </p:column>


            <p:column headerText="Opciones">
                <div align="center">
                    <p:commandLink styleClass="btn btn-primary"
                                   action="#{liquidacion.detalleLiquidacionURL(data.idHistoricoLiquidacion)}"
                                   title="Detalle Liquidación"
                                   >
                        <i class="fas fa-search"></i>
                    </p:commandLink>
                </div>
            </p:column>
        </p:dataTable>
        <br/>


        <!-- PAGINADOR DE DATOS -->
        <sepsa:paginator adapter="#{liquidacion.adapterLiquidacion}" 
                         searchData="#{liquidacion.liquidacionFilter}"
                         id="paginator"
                         updatePage=":list-liquidacion-form:form-data:data-list-liquidacion :list-liquidacion-form:form-data:paginator:paginator-panel"/>

    </h:panelGroup>

    <sepsa:loading></sepsa:loading>

</ui:composition>
