<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Cliente</h5>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>ID:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.clienteFilter.idCliente}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Razón Social:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.clienteFilter.razonSocial}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>RUC:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.clienteFilter.nroDocumento}"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos de Cabecera - Liquidación</h5>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                         <label><b>Desde:</b></label>
                        <h:outputText styleClass="form-control"
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.fechaDesde}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                         <label><b>Hasta:</b></label>
                        <h:outputText styleClass="form-control"
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.fechaHasta}">
                            <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                         <label><b>Fecha Proceso:</b></label>
                        <h:outputText styleClass="form-control"
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.fechaProceso}">
                           <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Documentos Recibidos:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.cantDocRecibidos}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Documentos Enviados:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.cantDocEnviados}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Documentos Excedidos:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.cantDocExcedidos}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Total Excedente</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoTotalExcedente}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Descuento Excedente:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoDescuentoExcedente}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Descuento General:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoDescuentoGeneral}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Total Detalle</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoTotalDetalle}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Total Liquidado</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoTotalLiquidado}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Monto Mínimo</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{liquidacionDetalle.historicoLiquidacionFilter.montoMinimo}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Total Descuento Detalle</b></label>       

                        <h:panelGroup rendered="#{!(liquidacionDetalle.historicoLiquidacionFilter.montoDescuentoDetalle eq null)}">
                            <h:outputText styleClass="form-control"
                                          value="#{liquidacionDetalle.historicoLiquidacionFilter.montoDescuentoDetalle}">
                                <f:convertNumber locale="es_PY"/>
                            </h:outputText>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{(liquidacionDetalle.historicoLiquidacionFilter.montoDescuentoDetalle eq null)}">
                            <h:outputText styleClass="form-control"
                                          value="--"/>
                        </h:panelGroup>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Liquidación Detalle</h5>

            <p:dataTable value="#{liquidacionDetalle.historicoLiquidacionFilter.detalles}"
                         var="data"
                         id="data-list-liquidacion-detalle"
                         reflow="true"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         >
                <p:column headerText="#">
                    <h:outputText value="#{data.idHistoricoLiquidacion}"/>
                </p:column>

                <p:column headerText="Cliente">
                    <h:outputText value="#{data.cliente}"/>
                </p:column>

                <p:column headerText="Descuento">
                    <h:outputText value="#{data.montoDescuento}">
                        <f:convertNumber locale="es_PY"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Tarifa">
                    <h:outputText value="#{data.montoTarifa}">
                        <f:convertNumber locale="es_PY"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Total">
                    <h:outputText value="#{data.montoTotal}">
                        <f:convertNumber locale="es_PY"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="Ver Tráfico">
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary"
                                       action="#{liquidacionDetalle.filterTrafico(data.idHistoricoLiquidacion,data.nroLinea)}"
                                       onclick="$('#modalTrafico').modal('show')"
                                       update="list-liquidacion-detalle-form:form-data:modalTrafico:data-list-trafico-detalle"
                                       title="Ver Tráfico"
                                       >
                            <i class="far fa-chart-bar"></i>
                        </p:commandLink>
                    </div>

                </p:column>
            </p:dataTable>
        </div>
    </div>

    <sepsa:modal-panel id="modalTrafico" title="Tráfico" sizePanel="modal-xl">
        <f:facet name="content">

            <p:dataTable value="#{liquidacionDetalle.adapterTraficoDetalle.data}"
                         var="data"
                         id="data-list-trafico-detalle"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         emptyMessage="No existe detalle de tráfico"
                         >

                <p:column headerText="Tipo de Documento">
                    <h:outputText value="#{data.tipoDocumento}"/>
                </p:column>

                <p:column headerText="Documentos Enviados">
                    <h:outputText value="#{data.cantDocRecibidos}"/>
                </p:column>

                <p:column headerText="Documentos Recibidos">
                    <h:outputText value="#{data.cantDocEnviados}"/>
                </p:column>


            </p:dataTable>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>

</ui:composition>
