<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h:commandLink class="btn btn-default" value="Descargar">
                        <i class="fa fa-file-excel-o" style="color: #00a65a;"></i>
                        <p:dataExporter type="xls" target="data-list-facturas" fileName="Facturas" />
                    </h:commandLink>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group row">
                        <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                        <div class="col-sm-8">
                            <h:selectOneMenu value="#{listarFactura.adapterFactura.pageSize}" styleClass="form-control">
                                <f:selectItem itemLabel="10" itemValue="10"/>
                                <f:selectItem itemLabel="20" itemValue="20"/>
                                <f:selectItem itemLabel="50" itemValue="50"/>
                                <f:selectItem itemLabel="100" itemValue="100"/>
                                <f:selectItem itemLabel="200" itemValue="200"/>
                                <f:selectItem itemLabel="500" itemValue="500"/>
                                <f:selectItem itemLabel="1000" itemValue="1000"/>
                                <f:ajax event="change" render="list-factura-form:form-data:data-list-facturas 
                                        list-factura-form:form-data:paginator2:paginator-panel"
                                        listener="#{listarFactura.filterFacturas()}"/>
                            </h:selectOneMenu>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p:dataTable value="#{listarFactura.adapterFactura.data}"
                 var="data"
                 id="data-list-facturas"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 styleClass="fixed-size"
                 >
        <p:column headerText="N° Factura">
            <h:outputText value="#{data.nroFactura}"/>
        </p:column>

        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Monto Total">
            <h:outputText value="#{data.montoTotalGuaranies eq null ? '--': data.montoTotalGuaranies}">
                <f:convertNumber type= "number"  pattern= "#,###"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Descargar" action="#{listarFactura.detalleURL(data.id)}" icon="fas fa-download"/>
                </p:menuButton>
            </div>


        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarFactura.adapterFactura}" 
                     searchData="#{listarFactura.facturaFilter}"
                     id="paginator2"
                     updatePage=":list-factura-form:form-data:data-list-facturas 
                     :list-factura-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
