<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <!-- PANEL PARA CREAR -->
    <ui:include src="motivo_descuento_create.xhtml"/>

    <sepsa:form-panel id="edit-motivo" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup id="panelEdicion" style="#{motivoDescuento.showPanel eq true ?'display:inline':'display: none'}">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Editar Motivo Descuento</h5>    
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <p:inputText styleClass="form-control"  
                                                         value="#{motivoDescuento.motivoDescuentoEdit.descripcion}"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Tipo Etiqueta</label>

                                            <p:selectOneMenu id="tipo" class="form-control" value="#{motivoDescuento.motivoDescuentoCreate.idTipoEtiqueta}">
                                                <f:selectItems value="#{motivoDescuento.adapterTipoEtiqueta.data}" var="tipoEtiq"
                                                               itemLabel="#{tipoEtiq.descripcion}" itemValue="#{tipoEtiq.id}"/>
                                                <p:ajax global="false"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Rango Desde</label>
                                            <p:inputText styleClass="form-control"  
                                                         value="#{motivoDescuento.motivoDescuentoEdit.rangoDesde}"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Rango Hasta</label>
                                            <p:inputText styleClass="form-control"  
                                                         value="#{motivoDescuento.motivoDescuentoEdit.rangoHasta}"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Porcentual</label>
                                            <p:selectOneMenu value="#{motivoDescuento.motivoDescuentoEdit.porcentual}" id="porcentual" class="form-control">
                                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                                <f:selectItem itemLabel="No" itemValue="N"/>
                                                <p:ajax global="false"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <p:selectOneMenu value="#{motivoDescuento.motivoDescuentoEdit.estado}" id="estado" class="form-control">
                                                <f:selectItem itemLabel="Activo" itemValue="A"/>
                                                <f:selectItem itemLabel="Inactivo" itemValue="I"/>
                                                <p:ajax global="false"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Fecha Desde</label>
                                            <p:calendar id="fechaDesdeDescuento" 
                                                        value="#{motivoDescuento.motivoDescuentoEdit.fechaDesde}" 
                                                        locale="es"
                                                        pattern="dd/MM/yyyy" 
                                                        styleClass="p-cal calendarClass"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Fecha Hasta</label>
                                            <p:calendar id="fechaHastaDescuento" 
                                                        value="#{motivoDescuento.motivoDescuentoEdit.fechaHasta}" 
                                                        locale="es"
                                                        pattern="dd/MM/yyyy" 
                                                        styleClass="p-cal calendarClass"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                                        <p:commandLink styleClass="btn btn-info"
                                                       action="#{motivoDescuento.editMotivoDescuento()}"
                                                       title="Editar"
                                                       update="list-motivo-descuento-form:form-data:data-list-motivo-descuento list-motivo-descuento-form:form-data:edit-motivo:panelEdicion list-motivo-descuento-form:form-data:msgs"
                                                       >
                                            <i class="fa fa-pencil-square-o"></i>&nbsp;EDITAR
                                        </p:commandLink>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>
    <sepsa:loading></sepsa:loading>
    <p:dataTable value="#{motivoDescuento.adapterMotivoDescuento.data}"
                 var="data"
                 id="data-list-motivo-descuento"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>

        <p:column headerText="Rango Desde">
            <h:outputText value="#{data.rangoDesde}"/>
        </p:column>

        <p:column headerText="Rango Hasta">
            <h:outputText value="#{data.rangoHasta}"/>
        </p:column>

        <p:column headerText="Porcentual">
            <h:outputText value="#{data.porcentual}"/>
        </p:column>

        <p:column headerText="Tipo Etiqueta">
            <h:outputText value="#{data.tipoEtiqueta}"/>
        </p:column>

        <p:column headerText="Estado">
            <h:panelGroup rendered="#{data.estado eq 'Inactivo'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Activo'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Fecha Desde">
            <h:outputText value="#{data.fechaDesde}">              
                <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Fecha Hasta">
            <h:outputText value="#{data.fechaHasta}">
                <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               actionListener="#{motivoDescuento.saveData(data)}"
                               update="list-motivo-descuento-form:form-data:edit-motivo:panelEdicion"
                               title="Editar"
                               >
                    <i class="fa fa-pencil-square-o"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{motivoDescuento.adapterMotivoDescuento}" 
                     searchData="#{motivoDescuento.motivoDescuentoFilter}"
                     id="paginator"
                     updatePage=":list-motivo-descuento-form:form-data:data-list-motivo-descuento :list-motivo-descuento-form:form-data:paginator:paginator-panel"/>


</ui:composition>
