<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">


    <sepsa:create-panel id="create" rendered="#{sessionData.user.perfiles.roleComAdm eq true or sessionData.user.perfiles.roleCom eq true}">

        <f:facet name="createBody" id="create-body">

            <h:panelGroup id="create-data">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Descripción</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{motivoDescuento.motivoDescuentoCreate.descripcion}"/>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Tipo Etiqueta</label>

                            <p:selectOneMenu id="tipo" class="form-control" value="#{motivoDescuento.motivoDescuentoCreate.idTipoEtiqueta}">
                                <f:selectItems value="#{motivoDescuento.adapterTipoEtiqueta.data}" var="tipoEtiq"
                                               itemLabel="#{tipoEtiq.descripcion}" itemValue="#{tipoEtiq.id}"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Rango Desde</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{motivoDescuento.motivoDescuentoCreate.rangoDesde}"/>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Rango Hasta</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{motivoDescuento.motivoDescuentoCreate.rangoHasta}"/>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Porcentual</label>
                            <p:selectOneMenu value="#{motivoDescuento.motivoDescuentoCreate.porcentual}" id="porcentual" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Estado</label>
                            <p:selectOneMenu value="#{motivoDescuento.motivoDescuentoCreate.estado}" id="estado" class="form-control">
                                <f:selectItem itemLabel="Activo" itemValue="A"/>
                                <f:selectItem itemLabel="Inactivo" itemValue="I"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Fecha Desde</label>
                            <p:calendar id="fechaDesdeDescuento" 
                                        value="#{motivoDescuento.motivoDescuentoCreate.fechaDesde}" 
                                        locale="es"
                                        pattern="dd/MM/yyyy" 
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Fecha Hasta</label>
                            <p:calendar id="fechaHastaDescuento" 
                                        value="#{motivoDescuento.motivoDescuentoCreate.fechaHasta}" 
                                        locale="es"
                                        pattern="dd/MM/yyyy" 
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                </div>
            </h:panelGroup>

        </f:facet>
        
         <f:facet name="createBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{motivoDescuento.createMotivoDescuento()}"
                           update="@form :list-motivo-descuento-form:form-data:data-list-motivo-descuento :list-motivo-descuento-form:form-data:msgs">
                <i class="far fa-plus-square"></i>&nbsp;CREAR MOTIVO DESCUENTO
            </p:commandLink>
        </f:facet>

        <!--f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{client.clearFilter()}"
                           update="
                           :list-client-form:form-data:data-list-client :list-client-form:paginator:paginator-panel">
                
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet-->

    </sepsa:create-panel>
     

</ui:composition>