<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>N° Factura:</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaDebitoCrear.facturaFilter.nroFactura}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Moneda:</b></label>
                            <p:selectOneMenu id="moneda" class="form-control" value="#{notaDebitoCrear.facturaFilter.idMoneda}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{notaDebitoCrear.listMoneda}" var="mo"
                                               itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha Desde:</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaDesde" 
                                        value="#{notaDebitoCrear.facturaFilter.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Fecha Hasta:</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaHasta" 
                                        value="#{notaDebitoCrear.facturaFilter.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>N° Orden De Compra:</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaDebitoCrear.facturaFilter.nroOrdenCompra}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Tiene OC:</b></label>
                            <p:selectOneMenu value="#{notaDebitoCrear.facturaFilter.tieneOrdenCompra}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{notaDebitoCrear.filterFacturasList()}"
                           update="list-nota-debito-create-form:form-data:panel-nota-debito:data-list-nota-create list-nota-debito-create-form:form-data:panel-nota-debito:paginator2:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{notaDebitoCrear.clearFacturasList()}"
                           update="list-nota-debito-create-form:form-data:panel-nota-debito:data-list-nota-create list-nota-debito-create-form:form-data:panel-nota-debito:filter:filter-data list-nota-debito-create-form:form-data:panel-nota-debito:paginator2:paginator-panel"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>