<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <p:growl id="msgs" showDetail="true" sticky="true"/>

    <h:panelGroup id="pnl-pop-up">

        <h:panelGroup>
            <!--script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script-->

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{notaCreditoCrear.adapterNCTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     paginator="false"
                                     reflow="true"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{notaCreditoCrear.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:nroNC :list-nota-credito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create"
                                     action="#{notaCreditoCrear.obtenerDatosNC()}"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>
    <!-- Panel de vencimiento de firma digital -->
    <h:panelGroup id="digital-signature-status" rendered="#{firmaCont.color eq 'orange' or firmaCont.color eq 'red'}" style="width: 35%; margin: 0 auto;">
        <h:form style="width: 35%; margin: 0 auto;">
            <div class="card" style="width: 500px; height: 250px; margin: 0 auto; position: relative; display: flex;">
                <div class="card-header">
                    <h5 class="card-title"><b>Datos Firma Digital</b></h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label><b>Fecha de Vencimiento: </b>#{firmaCont.fechaVencimiento}</label><br/><br/>
                        <label><b>Días Restantes: </b>#{firmaCont.diasRestantes}</label><br/><br/>
                        <label><b>Estado:   </b>
                            <h:outputText value="Vigente" class="alert alert-success"
                                          rendered="#{firmaCont.color eq 'green'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Próximo a Vencer" class="alert alert-warning"
                                          rendered="#{firmaCont.color eq 'orange'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Vencida" class="alert alert-danger"
                                          rendered="#{firmaCont.color eq 'red'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                        </label>
                    </div>
                </div>
            </div>
        </h:form>
    </h:panelGroup><br/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Cliente</b></label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{notaCreditoCrear.completeQuery}"
                                    value="#{notaCreditoCrear.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clienteListadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{notaCreditoCrear.onItemSelectClienteFactura}" update=":list-nota-credito-create-form:form-data:panel-nota-credito:create-nota :list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create" />
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <sepsa:form-panel id="panel-nota-credito" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{notaCreditoCrear.showDatatable eq true ?'display:inline':'display: none'}" id="create-nota">
                <div class="card">
                    <div class="card-body">
                        <h:panelGroup style="#{notaCreditoCrear.idFactura eq null ?'display:inline':'display: none'}">
                            <ui:include src="nc-factura-filter.xhtml"/>
                        </h:panelGroup>

                        <p:dataTable value="#{notaCreditoCrear.adapterFacturaPojo.data}"
                                     var="data" rowKey="#{data.id}"
                                     selection="#{notaCreditoCrear.listSelectedFactura}"
                                     id="data-list-nota-create"
                                     reflow="true"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >

                            <p:ajax event="rowSelectCheckbox" listener="#{notaCreditoCrear.onCheckFactura}" id="checkFactura" 
                                    update=":list-nota-credito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create"/>

                            <p:ajax event="rowUnselectCheckbox" listener="#{notaCreditoCrear.onUncheckFactura}" id="uncheckFactura"
                                    update=":list-nota-credito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create"/>

                            <p:column selectionMode="multiple"></p:column>

                            <p:column headerText="N° Factura">
                                <h:outputText value="#{data.nroFactura}"/>
                            </p:column>

                            <p:column headerText="Fecha Factura">
                                <h:outputText value="#{data.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto Total Factura">
                                <h:outputText value="#{data.montoTotalFactura}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Saldo">
                                <h:outputText value="#{data.saldo}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Moneda">
                                <h:outputText value="#{data.codigoMoneda}"/>
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <!-- PAGINADOR DE DATOS -->
                        <sepsa:paginator adapter="#{notaCreditoCrear.adapterFacturaPojo}" 
                                         searchData="#{notaCreditoCrear.facturaFilter}"
                                         id="paginator2"
                                         updatePage="list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create list-nota-credito-create-form:form-data:panel-nota-credito:paginator2:paginator-panel"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:form-panel id="panel-cabecera-detalle" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{notaCreditoCrear.show eq true ?'display:inline':'display: none'}" id="detalle-cabecera">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Cabecera</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>Nombre/Razón Social:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaCreditoCrear.notaCreditoCreate.razonSocial}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>RUC:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaCreditoCrear.notaCreditoCreate.ruc}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <label><b>Tiene Dirección:</b></label>
                                <p:selectOneMenu id="tieneDir" class="form-control" value="#{notaCreditoCrear.tieneDireccion}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>



                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaCreditoCrear.tieneDireccion eq 'S' ?'display:inline':'display: none'}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>Dirección:</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="dir"
                                                             value="#{notaCreditoCrear.notaCreditoCreate.direccion}">
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>N° Casa:</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="nroCasa"
                                                             value="#{notaCreditoCrear.notaCreditoCreate.nroCasa}">
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                                <label><b>Departamento:</b></label>
                                                <p:selectOneMenu id="dpto" value="#{notaCreditoCrear.idDepartamento}"
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaCreditoCrear.adapterRefGeo.data}" var="ref"
                                                                   itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                                    <p:ajax event="change" update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:distrito list-nota-credito-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaCreditoCrear.filterGeneral()}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label><b>Distrito:</b></label>
                                                <p:selectOneMenu id="distrito" value="#{notaCreditoCrear.idDistrito}" 
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaCreditoCrear.adapterRefGeoDistrito.data}" var="ref1"
                                                                   itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                                    <p:ajax event="change" update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaCreditoCrear.filterCiudad()}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label><b>Ciudad:</b></label>
                                                <p:selectOneMenu id="ciudad" value="#{notaCreditoCrear.idCiudad}" 
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaCreditoCrear.adapterRefGeoCiudad.data}" var="ref2"
                                                                   itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>N° Teléfono:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="tel"
                                             value="#{notaCreditoCrear.notaCreditoCreate.telefono}">

                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Email:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="email"
                                             value="#{notaCreditoCrear.notaCreditoCreate.email}">

                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Digital:</b></label>
                                <p:selectOneMenu id="digital" class="form-control" value="#{notaCreditoCrear.digital}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update=":message-form:message @form" listener="#{notaCreditoCrear.obtenerDatosTalonario()}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Fecha:</b></label>&nbsp;&nbsp;
                                <p:calendar id="fechaNotaCredito" 
                                            value="#{notaCreditoCrear.notaCreditoCreate.fecha}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <p:ajax event="dateSelect" listener="#{notaCreditoCrear.onDateSelect}" update=":message-form:message list-nota-credito-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito" />
                                </p:calendar>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° Nota de Crédito:</b></label>
                                <h:inputText id="nroNC"
                                             styleClass="form-control"
                                             disabled="true"
                                             value="#{notaCreditoCrear.datoNotaCredito.nroNotaCredito}"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Moneda:</b></label>
                                <p:selectOneMenu id="moneda" class="form-control" value="#{notaCreditoCrear.notaCreditoCreate.codigoMoneda}">
                                    <f:selectItems value="#{notaCreditoCrear.adapterMoneda.data}" var="mo"
                                                   itemLabel="#{mo.descripcion}" itemValue="#{mo.codigo}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Motivo Emisión Interno:</b></label>
                                <p:selectOneMenu id="motivoEmision" class="form-control" value="#{notaCreditoCrear.notaCreditoCreate.idMotivoEmisionInterno}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione un motivo de emisión" >
                                    </f:selectItem>
                                    <f:selectItems value="#{notaCreditoCrear.motivoEmisionInternoAdapterList.data}" var="dato"
                                                   itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                                    <p:ajax event="change" update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:me" listener="#{notaCreditoCrear.obtenerMotivoEmision()}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Motivo Emisión:</b></label>
                                <h:outputText id="me"
                                              styleClass="form-control"
                                              style="background-color: #e9ecef;" 
                                              value="#{notaCreditoCrear.motivoEmision}">
                                </h:outputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>Tipo de Descuento:</b></label>
                                <p:selectOneMenu id="tipoDescuento" class="form-control" value="#{notaCreditoCrear.tipoDescuento}">
                                    <f:selectItem itemLabel="Por Porcentaje" itemValue="1"/>
                                    <f:selectItem itemLabel="Por Monto" itemValue="2"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Porcentaje de descuento:</b></label>
                                <h:inputText id="porcentajeDescuento"
                                             styleClass="form-control"
                                             disabled="#{notaCreditoCrear.tipoDescuento eq 2 ? 'true' :'false'}"
                                             value="#{notaCreditoCrear.notaCreditoCreate.porcentajeDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.#####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.calcularDescuentos(1)}" />
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Monto de descuento:</b></label>
                                <h:inputText id="montoDescuento"
                                             styleClass="form-control"
                                             disabled="#{notaCreditoCrear.tipoDescuento eq 1 ? 'true' :'false'}"
                                             value="#{notaCreditoCrear.notaCreditoCreate.montoTotalDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.calcularDescuentos(2)}" />
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Datos Adicionales:</b></label>
                                <p:inputTextarea id="datoAdicional" rows="5" cols="30"
                                                 autoResize="false"
                                                 styleClass="form-control"
                                                 value="#{notaCreditoCrear.notaCreditoCreate.observacion}"/>
                            </div>  
                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Detalle</b></h5>
                    </div>
                    <div class="card-body">
                        <p:dataTable value="#{notaCreditoCrear.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-nota-credito"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >

                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{notaCreditoCrear.deleteDetalle(detalle.nroLinea)}"
                                                   update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito list-nota-credito-create-form:form-data:panel-cabecera-detalle:totalNC list-nota-credito-create-form:form-data:panel-cabecera-detalle:totalLetras"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>

                            <p:column headerText="Concepto">
                                <p:inputTextarea styleClass="form-control" value="#{detalle.descripcion}" maxlength="2000" id="desc">
                                    <p:ajax event="blur" process="@form" update=":message-form:message @form" listener="#{notaCreditoCrear.cambiarDescripcion(detalle.nroLinea)}" />
                                </p:inputTextarea>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario Con IVA">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="% Descuento Unitario">
                                <h:inputText id="descuentoParticular"
                                             styleClass="form-control" 
                                             disabled="#{notaCreditoCrear.tipoDescuento eq 2 ? 'true' :'false'}"
                                             value="#{detalle.descuentoParticularUnitarioAux}">
                                    <f:convertNumber type= "number"  pattern= "#,###.#####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.descuentoListener(detalle.nroLinea,1)}" />
                                </h:inputText>
                            </p:column> 

                            <p:column headerText="Monto Descuento Unitario">
                                <h:inputText id="montoDescuentoParticular" 
                                             styleClass="form-control" 
                                             disabled="#{notaCreditoCrear.tipoDescuento eq 1 ? 'true' :'false'}"
                                             value="#{detalle.montoDescuentoParticular}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCrear.descuentoListener(detalle.nroLinea,2)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />s
                                </h:outputText>
                            </p:column>



                            <p:column headerText="IVA">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.porcentajeIva}">
                                </h:outputText>
                            </p:column>


                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub-Total">
                                <h:outputText styleClass="form-control"
                                              value="#{detalle.montoTotal}"
                                              style="background-color: #e9ecef;">

                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Total Nota de Crédito:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="totalNC"
                                             disabled="true"
                                             value="#{notaCreditoCrear.notaCreditoCreate.montoTotalNotaCredito}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <label><b>Total letras:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="totalLetras"
                                             disabled="true"
                                             value="#{notaCreditoCrear.montoLetrasFilter.totalLetras}"/>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                <p:commandLink styleClass="btn btn-primary"
                                               title="ACEPTAR"
                                               action="#{notaCreditoCrear.createNotaCredito()}" 
                                               update=":message-form:message @form"
                                               >
                                    <i class="far fa-check-circle"></i>&nbsp;GUARDAR
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:loading></sepsa:loading>

    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Nota de Crédito">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar la nota de crédito?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-download"></i> Descargar
                    <p:fileDownload id="file" value="#{notaCreditoCrear.download()}" />
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>

    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>


</ui:composition>