<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/19/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <p:growl id="msgs" showDetail="true" sticky="true"/>
    
    <h:panelGroup id="pnl-pop-up">

        <h:panelGroup rendered="#{notaRemisionCrear.showTalonarioPopup}">
            <script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script>

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{notaRemisionCrear.adapterNRTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     paginator="false"
                                     reflow="true"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{notaRemisionCrear.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '..':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:nroNR :list-nota-remision-create-form:form-data:panel-cabecera-detalle:detalle-cabecera"
                                     action="#{notaRemisionCrear.obtenerDatosNC()}"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>
    <!-- Panel de vencimiento de firma digital -->
    <h:panelGroup id="digital-signature-status" rendered="#{(not (firmaCont.firma eq null)) and (firmaCont.color eq 'orange' or firmaCont.color eq 'red')}" style="width: 35%; margin: 0 auto;">
        <h:form style="width: 35%; margin: 0 auto;">
            <div class="card" style="width: 500px; height: 250px; margin: 0 auto; position: relative; display: flex;">
                <div class="card-header">
                    <h5 class="card-title"><b>Datos Firma Digital</b></h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label><b>Fecha de Vencimiento: </b>#{firmaCont.fechaVencimiento}</label><br/><br/>
                        <label><b>Días Restantes: </b>#{firmaCont.diasRestantes}</label><br/><br/>
                        <label><b>Estado:   </b>
                            <h:outputText value="Vigente" class="alert alert-success"
                                          rendered="#{firmaCont.color eq 'green'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Próximo a Vencer" class="alert alert-warning"
                                          rendered="#{firmaCont.color eq 'orange'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                            <h:outputText value="Vencida" class="alert alert-danger"
                                          rendered="#{firmaCont.color eq 'red'}"
                                          style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;"/>
                        </label>
                    </div>
                </div>
            </div>
        </h:form>
    </h:panelGroup><br/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Cliente</b></label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{notaRemisionCrear.completeQuery}"
                                    value="#{notaRemisionCrear.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clienteListadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{notaRemisionCrear.onItemSelectClienteFactura}" update=":list-nota-remision-create-form:form-data:panel-cabecera-detalle:detalle-cabecera" />
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <sepsa:form-panel id="panel-cabecera-detalle" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup id="detalle-cabecera"  style="#{notaRemisionCrear.showForm eq true ?'display:inline':'display: none'}" >
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Cabecera</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>Nombre/Razón Social:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaRemisionCrear.notaRemisionCreate.razonSocial}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>RUC:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaRemisionCrear.notaRemisionCreate.ruc}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Dirección:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="dir"
                                             value="#{notaRemisionCrear.notaRemisionCreate.direccion}">
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>N° Casa:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroCasa"
                                             value="#{notaRemisionCrear.notaRemisionCreate.nroCasa}">
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                <label><b>Departamento</b></label>
                                <p:selectOneMenu id="dpto" value="#{notaRemisionCrear.idDepartamento}"
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeo.data}" var="ref"
                                                   itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:distrito list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaRemisionCrear.filterGeneral()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Distrito</b></label>
                                <p:selectOneMenu id="distrito" value="#{notaRemisionCrear.idDistrito}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoDistrito.data}" var="ref1"
                                                   itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaRemisionCrear.filterCiudad()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Ciudad</b></label>
                                <p:selectOneMenu id="ciudad" value="#{notaRemisionCrear.idCiudad}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoCiudad.data}" var="ref2"
                                                   itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <label><b>Factura:</b></label>
                                <p:selectOneMenu id="tipoFactura" class="form-control" value="#{notaRemisionCrear.tieneFactura}">
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <f:selectItem itemLabel="Físico" itemValue="F"/> 
                                    <f:selectItem itemLabel="Digital" itemValue="D"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaRemisionCrear.tieneFactura eq 'D' ?'display:inline':'display: none'}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>CDC: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="cdc"
                                                             value="#{notaRemisionCrear.cdcFactura}"
                                                             validatorMessage="El formato del campo CDC es incorrecto. Se deben ingresar 44 caracteres."
                                                             rendered="#{notaRemisionCrear.tieneFactura eq 'D'}">
                                                    <f:validateLength minimum="44" maximum="44" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaRemisionCrear.tieneFactura eq 'F' ?'display:inline':'display: none'}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>Timbrado: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="timbrado"
                                                             value="#{notaRemisionCrear.timbradoFactura}"
                                                             validatorMessage="El formato del campo Timbrado es incorrecto. Se deben ingresar 8 caracteres."
                                                             rendered="#{notaRemisionCrear.tieneFactura eq 'F'}">
                                                    <f:validateLength minimum="8" maximum="8" />
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>N° Factura: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="nroFactura"
                                                             value="#{notaRemisionCrear.nroFactura}"
                                                             validatorMessage="El formato del campo N° Factura es incorrecto. Se deben ingresar 7 caracteres."
                                                             rendered="#{notaRemisionCrear.tieneFactura eq 'F'}">
                                                    <f:validateLength minimum="7" maximum="7" />
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                                <label><b>Fecha: (*)</b></label>&nbsp;&nbsp;
                                                <p:calendar id="fechaFactura" 
                                                            value="#{notaRemisionCrear.fechaFactura}"
                                                            locale="es" 
                                                            pattern="dd/MM/yyyy"
                                                            styleClass="p-cal calendarClass">
                                                    <p:ajax event="dateSelect" listener="#{notaRemisionCrear.onFacturaDateSelect}" update=":message-form:message list-nota-remision-create-form:form-data:panel-cabecera-detalle:fechaFactura" />
                                                </p:calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>N° Teléfono:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="tel"
                                             value="#{notaRemisionCrear.notaRemisionCreate.telefono}">

                                </h:inputText>
                            </div-->
                            <!--div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Email:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="email"
                                             value="#{notaRemisionCrear.notaRemisionCreate.email}">

                                </h:inputText>
                            </div-->

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Digital:</b></label>
                                <p:selectOneMenu id="digital" class="form-control" value="#{notaRemisionCrear.digital}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update=":message-form:message @form" listener="#{notaRemisionCrear.obtenerDatosTalonario()}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Fecha:</b></label>&nbsp;&nbsp;
                                <p:calendar id="fechaNotaRemision" 
                                            value="#{notaRemisionCrear.notaRemisionCreate.fecha}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <p:ajax event="dateSelect" listener="#{notaRemisionCrear.onDateSelect}" update=":message-form:message list-nota-remision-create-form:form-data:panel-cabecera-detalle:fechaNotaRemision" />
                                </p:calendar>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° Nota de Remisión:</b></label>
                                <h:inputText id="nroNR"
                                             styleClass="form-control"
                                             disabled="true"
                                             value="#{notaRemisionCrear.notaRemisionCreate.nroNotaRemision}"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Observación: (*)</b></label>
                                <h:inputText id="observacion"
                                             styleClass="form-control"                                            
                                             value="#{notaRemisionCrear.notaRemisionCreate.observacion}"/>     
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Kilómetros recorridos: (*)</b></label>
                                <h:inputText id="km"
                                             styleClass="form-control"
                                             value="#{notaRemisionCrear.notaRemisionCreate.km}"/>                                
                            </div>


                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Motivo Emisión: (*)</b></label>
                                <p:selectOneMenu id="motivoEmision" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.idMotivoEmisionNr}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione un motivo de emisión" >
                                    </f:selectItem>
                                    <f:selectItems value="#{notaRemisionCrear.motivoEmisionNrAdapterList.data}" var="dato"
                                                   itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                                    <p:ajax event="change" update=":list-nota-remision-create-form:form-data:panel-cabecera-detalle:descMe  list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroDespachoImportacion"/>
                                </p:selectOneMenu>
                            </div>

                            <h:panelGroup id="descMe" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.notaRemisionCreate.idMotivoEmisionNr eq 99 ?'display:inline':'display: none'}">
                                <label><b>Descripcion del motivo de emisión: (*)</b></label>
                                <h:inputText id="descripcionMotivoEmision"
                                             styleClass="form-control"
                                             value="#{notaRemisionCrear.notaRemisionCreate.descripcionMotivoEmisionNr}"/>  
                            </h:panelGroup>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Responsable de emisión: (*)</b></label>
                                <p:selectOneMenu id="responsableEmision" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.responsableEmision}">
                                    <f:selectItem itemLabel="Emisor de la factura" itemValue="1"/>
                                    <f:selectItem itemLabel="Poseedor de la factura y bienes" itemValue="2"/>
                                    <f:selectItem itemLabel="Empresa transportista" itemValue="3"/>
                                    <f:selectItem itemLabel="Despachante de Aduanas" itemValue="4"/>
                                    <f:selectItem itemLabel="Agente de transporte o intermediario" itemValue="5"/>                                 
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Responsable de costo flete: (*)</b></label>
                                <p:selectOneMenu id="responsableCostoFlete" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.responsableCostoFlete}">
                                    <f:selectItem itemLabel="Emisor de la Factura Electrónica" itemValue="1"/>
                                    <f:selectItem itemLabel="Receptor de la Factura Electrónica" itemValue="2"/>
                                    <f:selectItem itemLabel="Tercero" itemValue="3"/>
                                    <f:selectItem itemLabel="Agente intermediario del transporte" itemValue="4"/>
                                    <f:selectItem itemLabel="Transporte propio" itemValue="5"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.tieneFactura eq 'D' ?'display:none':'display: inline'}">
                                <label><b>Fecha Futura de emisión:</b></label>&nbsp;&nbsp;
                                <p:calendar id="fechaFuturaEmision" 
                                            value="#{notaRemisionCrear.notaRemisionCreate.fechaFuturaEmision}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                </p:calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Datos del Transporte</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <p:commandLink styleClass="btn btn-primary"
                                               onclick="$('#modalVehiculoTraslado').modal('show')"
                                               title="Seleccionar Vehiculo de Transporte"
                                               update="list-nota-remision-create-form:form-data:modalVehiculoTraslado"
                                               >
                                    SELECCIONAR VEHICULO DE TRANSPORTE      
                                </p:commandLink>
                            </div>
                            <div class ="col-xs-4 col-sm-4 col-md-12 col-lg-2">
                                <p:commandLink styleClass="btn btn-dark"
                                               action="#{notaRemisionCrear.clearVehiculo()}"
                                               update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoVehiculo
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:modalidadTransporte
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:marcaVehiculo 
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:tipoIdentificacionVehiculo
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelIdVehiculo
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroMatricula
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroVuelo"
                                               >

                                    <i class="fas fa-broom"></i>
                                    LIMPIAR  
                                </p:commandLink>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">    
                                <label><b>Tipo de Transporte: (*)</b></label>
                                <p:selectOneMenu id="tipoTransporte" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.tipoTransporte}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                    <f:selectItem itemLabel="Propio" itemValue="1"/>
                                    <f:selectItem itemLabel="Tercero" itemValue="2"/>
                                </p:selectOneMenu>
                            </div>


                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Modalidad de Transporte: (*)</b></label>
                                <p:selectOneMenu id="modalidadTransporte" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione la modalidad de transporte" />
                                    <f:selectItem itemLabel="Terrestre" itemValue="1"/>
                                    <f:selectItem itemLabel="Fluvial" itemValue="2"/>
                                    <f:selectItem itemLabel="Aéreo" itemValue="3"/>
                                    <f:selectItem itemLabel="Multimodal" itemValue="4"/>
                                    <p:ajax event="change" update=" list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoVehiculo
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroVuelo"/>
                                </p:selectOneMenu>
                            </div>

                            <h:panelGroup id="panelTipoVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >


                                <h:panelGroup rendered="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 1 ? true :false}">
                                    <div >    
                                        <label><b>Tipo de Vehículo: (*)</b></label>
                                        <p:selectOneMenu id="tipoVehiculoTerrestre" class="form-control" value="#{notaRemisionCrear.tipoVehiculo}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                            <f:selectItem itemLabel="CARGA" itemValue="CARGA"/>           
                                        </p:selectOneMenu>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 2 ? true :false}">
                                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 2 ?'display:inline':'display: none'}">    
                                        <label><b>Tipo de Vehículo: (*)</b></label>
                                        <p:selectOneMenu id="tipoVehiculoFluvial" class="form-control" value="#{notaRemisionCrear.tipoVehiculo}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                            <f:selectItem itemLabel="Fluvial" itemValue="FLUVIAL"/>
                                        </p:selectOneMenu>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 3 ? true :false}">
                                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}">    
                                        <label><b>Tipo de Vehículo: (*)</b></label>
                                        <p:selectOneMenu id="tipoVehiculoAereo" class="form-control" value="#{notaRemisionCrear.tipoVehiculo}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                            <f:selectItem itemLabel="Aéreo" itemValue="AEREO"/>
                                        </p:selectOneMenu>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 4 ? true :false}">
                                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 4 ?'display:inline':'display: none'}">    
                                        <label><b>Tipo de Vehículo: (*)</b></label>
                                        <p:selectOneMenu id="tipoVehiculoMultiModal" class="form-control" value="#{notaRemisionCrear.tipoVehiculo}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                            <f:selectItem itemLabel="MultiModal" itemValue="MULTIMODAL"/>
                                        </p:selectOneMenu>
                                    </div>
                                </h:panelGroup>
                            </h:panelGroup>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Marca del Vehículo: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="marcaVehiculo"
                                             value="#{notaRemisionCrear.vehiculoTraslado.marca}"
                                             maxlength="10"
                                             disabled="#{notaRemisionCrear.disableVehiculo}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">    
                                <label><b>Tipo de Identificación del Vehículo: (*)</b></label>
                                <p:selectOneMenu id="tipoIdentificacionVehiculo" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion}" disabled="#{notaRemisionCrear.disableVehiculo}">
                                    <f:selectItem noSelectionOption="true" itemLabel="Seleccione el tipo de identificación" />
                                    <f:selectItem itemLabel="Nro. Identificación Vehículo" itemValue="1"/>
                                    <f:selectItem itemLabel="Nro. de matrícula" itemValue="2"/>
                                    <p:ajax event="change" 
                                            update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:tipoIdentificacionVehiculo
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelIdVehiculo 
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroMatricula"/>
                                </p:selectOneMenu>
                            </div>

                            <h:panelGroup id="panelIdVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion eq 1 ?'display:inline':'display: none'}" >
                                <label><b>N° de Identificación del Vehículo: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="idVehiculo"
                                             value="#{notaRemisionCrear.vehiculoTraslado.nroIdentificacion}" 
                                             disabled="#{notaRemisionCrear.disableVehiculo}">
                                </h:inputText>
                            </h:panelGroup>

                            <h:panelGroup id="panelNroMatricula" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion eq 2 ?'display:inline':'display: none'}" >
                                <label><b>N° de Matrícula del Vehículo: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="matriculaVehiculo"
                                             maxlength="7"
                                             value="#{notaRemisionCrear.vehiculoTraslado.nroMatricula}" 
                                             disabled="#{notaRemisionCrear.disableVehiculo}">
                                </h:inputText>
                            </h:panelGroup>

                            <h:panelGroup id="panelNroVuelo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}" >
                                <label><b>N° de Vuelo: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             value="#{notaRemisionCrear.vehiculoTraslado.nroVuelo}"
                                             disabled="#{notaRemisionCrear.disableVehiculo}">
                                </h:inputText>
                            </h:panelGroup>

                            <h:panelGroup id="panelNroDespachoImportacion" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"  style="#{notaRemisionCrear.notaRemisionCreate.idMotivoEmisionNr eq 5 ?'display:inline':'display: none'}">
                                <label><b>N° de Despacho de Importación: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroDespachoImportacionInput"
                                             value="#{notaRemisionCrear.notaRemisionCreate.nroDespachoImportacion}"
                                             disabled="#{notaRemisionCrear.disableVehiculo}">
                                </h:inputText>
                            </h:panelGroup>


                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Fecha estimada de Inicio de Traslado: (*)</b></label>
                                <p:calendar id="fechaInicioTraslado" 
                                            value="#{notaRemisionCrear.notaRemisionCreate.fechaInicioTraslado}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <!--p:ajax event="dateSelect" listener="#{notaCreditoCrear.onDateSelect}" update=":message-form:message list-nota-remision-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito" /-->
                                </p:calendar>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Fecha estimada de Fin de Traslado: (*)</b></label>
                                <p:calendar id="fechaFinTraslado" 
                                            value="#{notaRemisionCrear.notaRemisionCreate.fechaFinTraslado}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <!--p:ajax event="dateSelect" listener="#{notaCreditoCrear.onDateSelect}" update=":message-form:message list-nota-remision-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito" /-->
                                </p:calendar>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Datos del Transportista</b></h5>
                    </div>
                    <div class="card-body">
                        <div class ="row">
                            <div class="col-xs-4 col-sm-4 col-md-12 col-lg-4">
                                <p:commandLink styleClass="btn btn-primary"
                                               onclick="$('#modalTransportista').modal('show')"
                                               title="Seleccionar Transportista"          
                                               update="list-nota-remision-create-form:form-data:panel-cabecera-detalle list-nota-remision-create-form:form-data:modalTransportista"
                                               >
                                    SELECCIONAR TRANSPORTISTA      
                                </p:commandLink>
                            </div>

                            <div class = "col-xs-4 col-sm-4 col-md-12 col-lg-2">
                                <p:commandLink styleClass="btn btn-dark"
                                               action="#{notaRemisionCrear.clearTransportista()}"
                                               update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelRucTransportista 
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoDocumento 
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroDocumento
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:direccionChofer
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:nroDocumentoChofer
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:nombreChofer
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:domicilioFiscal
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:idNaturalezaTransportista
                                               list-nota-remision-create-form:form-data:panel-cabecera-detalle:razonSocialTransportista"
                                               >
                                    <i class="fas fa-broom"></i>
                                    LIMPIAR  
                                </p:commandLink>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Naturaleza del Transportista: (*)</b></label>
                                <p:selectOneMenu id="idNaturalezaTransportista" class="form-control" value="#{notaRemisionCrear.transportista.idNaturalezaTransportista}" disabled="#{notaRemisionCrear.disableTransportista}">
                                    <f:selectItem noSelectionOption="true" itemLabel="Seleccione la naturaleza del transportista"/> 
                                    <f:selectItem itemLabel="Contribuyente" itemValue="1"/>
                                    <f:selectItem itemLabel="No Contribuyente" itemValue="2"/> 
                                    <p:ajax event="change" update=":message-form:message                                                                    
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelRucTransportista 
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoDocumento 
                                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroDocumento "/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Nombre/Razón Social:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="razonSocialTransportista"
                                             value="#{notaRemisionCrear.transportista.razonSocial}"
                                             disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </div>

                            <h:panelGroup id="panelRucTransportista" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{notaRemisionCrear.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                                <label><b>RUC del Transportista: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="rucTransportista"
                                             maxlength="8"
                                             value="#{notaRemisionCrear.transportista.ruc}"
                                             disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{notaRemisionCrear.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                                    <label><b>N° Verificador de Ruc: (*)</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="verificadorRuc"
                                                 value="#{notaRemisionCrear.transportista.verificadorRuc}"
                                                 disabled="#{notaRemisionCrear.disableTransportista}">
                                    </h:inputText>
                                </div>
                            </h:panelGroup>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Domicilio Fiscal: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="domicilioFiscal"

                                             value="#{notaRemisionCrear.transportista.domicilioFiscal}"
                                             disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </div>



                            <h:panelGroup id="panelTipoDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{notaRemisionCrear.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                                <label><b>Tipo de Documento:</b></label>
                                <!--h:inputText styleClass="form-control"
                                             id="tipoDocumento"
                                             value="#{notaRemisionCrear.transportista.verificadorRuc}">
                                </h:inputText-->
                                <p:selectOneMenu id="idTipoDocumento" class="form-control" value="#{notaRemisionCrear.transportista.idTipoDocumento}" disabled="#{notaRemisionCrear.disableTransportista}">
                                    <f:selectItem itemLabel="Cédula Paraguaya" itemValue="1"/>
                                    <f:selectItem itemLabel="Pasaporte" itemValue="2"/> 
                                    <f:selectItem itemLabel="Cédula Extranjera" itemValue="3"/> 
                                    <f:selectItem itemLabel="Carnet de residencia" itemValue="4"/> 
                                    <p:ajax event="change" update=":message-form:message @form"/>
                                </p:selectOneMenu>
                            </h:panelGroup>

                            <h:panelGroup id="panelNroDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{notaRemisionCrear.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                                <label><b>Nro. Documento: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroDocumento"
                                             value="#{notaRemisionCrear.transportista.nroDocumento}" disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </h:panelGroup>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Nombre y Apellido del Chofer: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nombreChofer"
                                             value="#{notaRemisionCrear.transportista.nombreCompleto}" disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Dirección del Chofer: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="direccionChofer"
                                             value="#{notaRemisionCrear.transportista.direccionChofer}" disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>N° Documento del Chofer: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroDocumentoChofer"
                                             value="#{notaRemisionCrear.transportista.nroDocumentoChofer}" disabled="#{notaRemisionCrear.disableTransportista}">
                                </h:inputText>
                            </div>


                        </div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Datos del Local de Salida</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Dirección del Punto de Partida: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="direccionLocalSalida"
                                             value="#{notaRemisionCrear.localSalida.direccion}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° de Casa de Salida: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroCasaSalida"
                                             maxlength="6"
                                             value="#{notaRemisionCrear.localSalida.nroCasa}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <!-- Div para completar row  -->
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                <label><b>Departamento Salida</b></label>
                                <p:selectOneMenu id="dptoSalida" value="#{notaRemisionCrear.localSalida.idDepartamento}"
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoSalida.data}" var="ref"
                                                   itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:distritoSalida list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudadSalida" listener="#{notaRemisionCrear.filterGeneralSalida()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Distrito</b></label>
                                <p:selectOneMenu id="distritoSalida" value="#{notaRemisionCrear.localSalida.idDistrito}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoDistritoSalida.data}" var="ref1"
                                                   itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudadSalida" listener="#{notaRemisionCrear.filterCiudadSalida()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Ciudad</b></label>
                                <p:selectOneMenu id="ciudadSalida" value="#{notaRemisionCrear.localSalida.idCiudad}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoCiudadSalida.data}" var="ref2"
                                                   itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                </p:selectOneMenu>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><b>Datos del Local de Entrega</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Dirección del Punto de Entrega: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="direccionLocalEntrega"
                                             value="#{notaRemisionCrear.localEntrega.direccion}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° de Casa de Entrega: (*)</b></label>
                                <h:inputText styleClass="form-control"
                                             id="nroCasaEntrega"
                                             maxlength="6"
                                             value="#{notaRemisionCrear.localEntrega.nroCasa}">
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <!-- Div para completar row  -->
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                <label><b>Departamento Entrega</b></label>
                                <p:selectOneMenu id="dptoEntrega" value="#{notaRemisionCrear.localEntrega.idDepartamento}"
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoEntrega.data}" var="ref"
                                                   itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:distritoEntrega list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudadEntrega" listener="#{notaRemisionCrear.filterGeneralEntrega()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Distrito</b></label>
                                <p:selectOneMenu id="distritoEntrega" value="#{notaRemisionCrear.localEntrega.idDistrito}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoDistritoEntrega.data}" var="ref1"
                                                   itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                    <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:ciudadEntrega" listener="#{notaRemisionCrear.filterCiudadEntrega()}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Ciudad</b></label>
                                <p:selectOneMenu id="ciudadEntrega" value="#{notaRemisionCrear.localEntrega.idCiudad}" 
                                                 panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                 filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                    <f:selectItems value="#{notaRemisionCrear.adapterRefGeoCiudadEntrega.data}" var="ref2"
                                                   itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                </p:selectOneMenu>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>

            </h:panelGroup>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><b>Detalle de Factura</b></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p:dataTable value="#{notaRemisionCrear.listaDetalle}"
                                         var="detalle"
                                         id="data-list-detalle-create"
                                         widgetVar="tablita"
                                         editable="true"
                                         reflow="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;" 
                                         tableStyleClass="table table-bordered table-hover"
                                         emptyMessage="No existen registros disponibles"
                                         rowKey="#{detalle.nroLinea}">                          

                                <p:column rendered="#{notaRemisionCrear.idOC == null}">
                                    <div align="center">
                                        <p:commandLink styleClass="btn btn-danger"
                                                       title="Eliminar"
                                                       action="#{notaRemisionCrear.deleteDetalle(detalle.nroLinea)}"
                                                       update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:data-list-detalle-create"
                                                       >
                                            <i class="fa fa-times-circle"></i>
                                        </p:commandLink>
                                    </div>
                                </p:column>

                                <p:column headerText="Producto">
                                    <p:commandLink styleClass="btn btn-primary"
                                                   onclick="$('#modalProducto').modal('show')"
                                                   title="Seleccionar Producto"
                                                   action="#{notaRemisionCrear.guardarNroLinea(detalle.nroLinea)}"

                                                   >
                                        <i class="fas fa-barcode"></i>
                                    </p:commandLink>
                                </p:column>

                                <p:column headerText="Descripción">
                                    <p:inputTextarea disabled="true" maxlength="2000" style="width:100%" value="#{detalle.descripcion}"/>
                                </p:column>

                                <p:column headerText="Lote">
                                    <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.lote eq null ? '-' : detalle.lote}"/>
                                </p:column>

                                <p:column headerText="Fecha Venc. Lote">
                                    <h:outputText  styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.fechaVencimientoLote eq null ? '--' : detalle.fechaVencimientoLote}"/>
                                </p:column>

                                <p:column headerText="Cantidad">
                                    <h:inputText disabled="#{notaRemisionCrear.idOC != null}" styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                        <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    </h:inputText>
                                </p:column>

                                <!--p:column headerText="Unidad de medida">

                                    <p:inputTextarea disabled="#{notaRemisionCrear.idOC != null}" maxlength="120" style="width:100%" value="#{detalle.descripcion}"/>
                                </p:column-->

                            </p:dataTable>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                            <p:commandLink styleClass="btn btn-info"
                                           rendered="#{notaRemisionCrear.idOC == null}"
                                           title="Añadir Detalle"
                                           action="#{notaRemisionCrear.addDetalle()}"
                                           update=":message-form:message list-nota-remision-create-form:form-data:panel-cabecera-detalle:data-list-detalle-create"
                                           >
                                <i class="far fa-plus-square"></i>&nbsp;AÑADIR DETALLE
                            </p:commandLink>
                        </div>
                    </div>
                </div>        
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                <p:commandLink styleClass="btn btn-primary"
                               title="ACEPTAR"
                               action="#{notaRemisionCrear.createNotaRemision()}" 
                               update=":message-form:message @form"
                               >
                    <i class="far fa-check-circle"></i>&nbsp;GUARDAR
                </p:commandLink>
            </div>

        </f:facet>
    </sepsa:form-panel>

    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{notaRemisionCrear.completeQueryProducto}"
                                value="#{notaRemisionCrear.producto}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcionLote}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{notaRemisionCrear.onItemSelectProducto}" update="message-form:message"/>
                </p:autoComplete>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandButton id="btnModal" 
                             class="btn btn-primary" 
                             value="Agregar Producto"
                             action="#{notaRemisionCrear.agregarProducto()}"
                             onclick="$('#modalProducto').modal('hide')"
                             update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:data-list-detalle-create message-form:message list-nota-remision-create-form:form-data:modalProducto:producto">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalTransportista" title="Transportista" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Transportista</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{notaRemisionCrear.completeQueryTransportista}"
                                value="#{notaRemisionCrear.transportistaAutoComplete}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="trans" 
                                itemLabel="#{trans.razonSocial}" 
                                itemValue="#{trans}" 
                                converter="transportistaPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{notaRemisionCrear.onItemSelectTransportista}" 
                            update="message-form:message
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelRucTransportista 
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoDocumento 
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroDocumento
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:direccionChofer
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:nroDocumentoChofer
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:nombreChofer
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:domicilioFiscal
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:idNaturalezaTransportista
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:razonSocialTransportista"/>
                </p:autoComplete>
            </div>

        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalVehiculoTraslado" title="Vehículo de traslado" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Vehículo de traslado:</b></label>
                <br/>
                <p:autoComplete id="vehiculoTraslado" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{notaRemisionCrear.completeQueryVehiculo}"
                                value="#{notaRemisionCrear.vehiculoTrasladoAutoComplete}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="vehiculo" 
                                itemLabel="#{vehiculo.marca}" 
                                itemValue="#{vehiculo}" 
                                converter="vehiculoTrasladoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{notaRemisionCrear.onItemSelectVehiculo}" 
                            update="message-form:message
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoVehiculo
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:modalidadTransporte
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:marcaVehiculo 
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:tipoIdentificacionVehiculo
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelIdVehiculo
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroMatricula
                            list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroVuelo"/>
                </p:autoComplete>
            </div>

        </f:facet>
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>

</ui:composition>
