<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{notaDebito.adapterNotaDebito.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-nota-debito-form:form-data:data-list-nota-debito
                                 list-nota-debito-form:paginator:paginator-panel"
                                 listener="#{notaDebito.filterNotaDebito()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{notaDebito.adapterNotaDebito.data}"
                 var="data"
                 id="data-list-nota-debito"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="Cliente">
            <h:outputText value="#{data.razonSocial}"/>
        </p:column>

        <p:column headerText="RUC">
            <h:outputText value="#{data.ruc eq null ? '--' : data.ruc}"/>
        </p:column>

        <p:column headerText="Fecha">
            <h:outputText value="#{data.fecha}">
                <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="N° Nota de Débito">
            <h:outputText value="#{data.nroNotaDebito}"/>
        </p:column>

        <p:column headerText="Monto">
            <h:outputText value="#{data.montoTotalNotaDebito}">
                <f:convertNumber type= "number"  pattern= "#,###"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Digital">
            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Anulado">
            <h:panelGroup rendered="#{data.anulado eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.anulado eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>
        
        <p:column headerText="CDC">
            <h:outputText  value="#{data.digital eq 'N' ? '--' : data.cdc}"/>
        </p:column>

        <p:column headerText="Motivo Emisión Interno" style="text-align: center;">
            <h:outputText value="#{data.motivoEmisionInterno eq null ? '--' : data.motivoEmisionInterno}"/>
        </p:column>

        <p:column headerText="Estado SIFEN">
            <h:panelGroup rendered="#{data.digital eq 'S'}">
                <h:panelGroup rendered="#{data.codigoEstado eq 'PENDIENTE'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center">
                            <h:outputText value="Pendiente"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="Aprobado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'APROBADO_CON_OBSERVACION'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center">
                            <h:outputText value="Aprobado con observación"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'RECHAZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center">
                            <h:outputText value="Rechazado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'CANCELADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="Cancelado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'INUTILIZADO'}">
                    <div class="form-group col">
                        <div class="alert alert-dark" role="alert" align="center">
                            <h:outputText value="Inutilizado"/>
                        </div>
                    </div>
                </h:panelGroup>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.digital eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-dark" role="alert" align="center">
                        <h:outputText value="No Aplica"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Generado SET" style="width:200px">
            <h:panelGroup rendered="#{data.generadoSet eq 'N'}">
                <div class="form-group col">
                    <div class="alert alert-secondary" role="alert" align="center">
                        <h:outputText value="NO"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.generadoSet eq 'S'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SÍ"/>
                    </div>
                </div>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{data.generadoSet eq 'V'}">
                <div class="form-group col">
                    <div class="alert alert-primary" role="alert" align="center">
                        <h:outputText value="SIN CONFIGURACIÓN"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem rendered="#{sessionData.user.permisos.listarNotaDebito.puedeAnular}" disabled="#{data.anulado eq 'S'}" value="Anular ND" onclick="$('#confirmation').modal('show')" update=":list-nota-debito-form:form-data:confirmation:panelConfirmation" icon="fa fa-times-circle">
                        <f:setPropertyActionListener value="#{data}"
                                                     target="#{notaDebito.notaDebitoFilter}"/>
                    </p:menuitem>
                    <p:menuitem value="Ver Detalle" action="#{notaDebito.detalleNotaDebitoURL(data.id)}" icon="fas fa-search"/>
                    <p:menuitem value="Procesamiento" action="#{notaDebito.verProcesamiento(data.idProcesamiento)}"  update=":list-nota-debito-form:form-data:data-list-nota-debito
                                :list-nota-debito-form:form-data:modalProcesamiento:nro-trans
                                :list-nota-debito-form:form-data:modalProcesamiento:fecha-insert
                                :list-nota-debito-form:form-data:modalProcesamiento:fecha-proc
                                :list-nota-debito-form:form-data:modalProcesamiento:estado
                                :list-nota-debito-form:form-data:modalProcesamiento:data-list-doc-procesamiento"
                                onclick="$('#modalProcesamiento').modal('show')" icon="fas fa-cog"/>
                    <p:menuitem disabled="#{data.digital eq 'N'}" value=" Regenerar" action="#{notaDebito.regenerarND(data)}" update=":list-nota-debito-form:form-data:data-list-nota-debito :message-form:message" icon="fas fa-redo-alt"/>
                    <p:menuitem value="Reenviar" action="#{notaDebito.guardarNdAReenviar(data.id, data.nroNotaDebito, data.email, data.digital, data.cdc, data.razonSocial)}"  update="list-nota-debito-form:form-data:reenvio:email-reenvio list-nota-debito-form:form-data:reenvio:btn-renvio"
                                onclick="$('#reenvio').modal('show')" icon="fas fa-redo-alt"/>

                </p:menuButton>
            </div>
        </p:column>
    </p:dataTable>

    <sepsa:modal-panel id="confirmation" title="Confirmar" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panelConfirmation">
                    <h:outputText value="Está seguro que desea anular la Nota de 
                                  Débito N° #{notaDebito.notaDebitoFilter.nroNotaDebito}?"/>
                    &nbsp;
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Selecciona el motivo(*):</b></label>
                            <h:selectOneMenu value="#{notaDebito.notaDebitoFilter.idMotivoAnulacion}" class="form-control">
                                <f:selectItem itemLabel="Seleccionar" noSelectionOption="true"
                                              itemValue="#{null}"/>
                                <f:selectItems value="#{notaDebito.adapterMotivoAnulacion.data}"
                                               var="mo" itemValue="#{mo.id}"
                                               itemLabel="#{mo.descripcion}"></f:selectItems>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Observaci&oacute;n(*): </b></label>
                            <br/>
                            <h:inputTextarea  styleClass="form-control" 
                                              value="#{notaDebito.notaDebitoFilter.observacionAnulacion}">
                                <p:ajax global="false"></p:ajax>
                            </h:inputTextarea >
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Si" 
                             update=":list-nota-debito-form:form-data:data-list-nota-debito 
                             :message-form:message" process="@this"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#confirmation').modal('hide');"
                             action="#{notaDebito.anularNotaDebito(notaDebito.notaDebitoFilter)}"/>
        </f:facet>
    </sepsa:modal-panel>


    <sepsa:modal-panel id="modalProcesamiento" title="Procesamiento de Nota de Débito" sizePanel="modal-xl" >
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Nro Transacción:</b></label>&nbsp;
                                <h:outputText id="nro-trans" value="#{notaDebito.procesamientoFilter.procesamiento.nroTransaccion eq null ? '--':notaDebito.procesamientoFilter.procesamiento.nroTransaccion}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Estado:</b></label>&nbsp;
                                <h:outputText id="estado" value="#{notaDebito.procesamientoFilter.procesamiento.estadoResultado eq null ? '--':notaDebito.procesamientoFilter.procesamiento.estadoResultado}"
                                              class="#{notaDebito.procesamientoFilter.procesamiento.estadoResultado eq 'Aprobado' ?'alert alert-success':'alert alert-danger'}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Inserción:</b></label>&nbsp;
                                <h:outputText id="fecha-insert" value="#{notaDebito.procesamientoFilter.procesamiento.fechaInsercion eq null ? '--':notaDebito.procesamientoFilter.procesamiento.fechaInsercion}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Fecha Procesamiento:</b></label>&nbsp;
                                <h:outputText id="fecha-proc" value="#{notaDebito.procesamientoFilter.procesamiento.fechaProcesamiento eq null ? '--':notaDebito.procesamientoFilter.procesamiento.fechaProcesamiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalle</h5>

                            <p:dataTable value="#{notaDebito.procesamientoFilter.procesamiento.detalleProcesamientos}"
                                         var="detalle"
                                         id="data-list-doc-procesamiento"
                                         reflow="true"
                                         editable="true"
                                         paginator="false"
                                         emptyMessage="No existen datos disponibles"
                                         tableStyle="table-layout: auto;" 
                                         tableStyleClass="table table-bordered table-hover"
                                         >

                                <p:column headerText="Código Resultado">
                                    <h:outputText value="#{detalle.codigoResultado}"/>
                                </p:column>

                                <p:column headerText="Mensaje">
                                    <h:outputText value="#{detalle.mensajeResultado}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </f:facet>
    </sepsa:modal-panel> 

    <sepsa:modal-panel id="reenvio" title="Reenviar Nota de Débito" >
        <f:facet name="content">
            <div class="col-sm-12">
                <h:panelGroup id="panel-conf-reenvio">
                    <h:outputText value="¿Desea reenviar la Nota de Débito?"/>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><b>Email (*):</b></label>
                            <br/>
                            <h:inputTextarea styleClass="form-control"
                                             id="email-reenvio"
                                             value="#{notaDebito.emailReenvio}">
                                <p:ajax event="blur" listener="#{notaDebito.validarCorreo(notaDebito.emailReenvio)}" update=":message-form:message list-nota-debito-form:form-data:reenvio:btn-renvio"/>
                            </h:inputTextarea>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:commandButton value="Sí" 
                             id="btn-renvio"
                             update=":message-form:message"
                             process="@this"
                             disabled="#{notaDebito.addEmail eq false}"
                             styleClass="btn btn-primary"  
                             oncomplete="$('#reenvio').modal('hide');"
                             action="#{notaDebito.reenviar()}"/>
        </f:facet>
    </sepsa:modal-panel>


</ui:composition>
