<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">



    <sepsa:form-panel id="panel-cabecera-detalle" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{notaCreditoCompraCrear.show eq true ?'display:inline':'display: none'}" id="detalle-cabecera">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cabecera</h5>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Fecha:</b></label>&nbsp;&nbsp;
                                    <p:calendar id="fechaNotaCredito" disabled="true"
                                                value="#{notaCreditoCompraCrear.solicitudNC.fechaInsercion}"
                                                locale="es_PY" 
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
                                        <!--p:ajax event="dateSelect" listener="#{notaCreditoCompraCrear.onDateSelect}"
                                                update=":message-form:message list-nota-credito-compra-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito" /-->
                                    </p:calendar>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Moneda:</b></label>
                                    <p:selectOneMenu id="moneda" class="form-control" value="#{notaCreditoCompraCrear.solicitudNC.codigoMoneda}">
                                        <f:selectItems value="#{notaCreditoCompraCrear.adapterMoneda.data}" var="mo"
                                                       itemLabel="#{mo.descripcion}" itemValue="#{mo.codigo}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Nombre/Razón Social:</b></label>
                                    <h:inputText styleClass="form-control" disabled="true"
                                                 value="#{notaCreditoCompraCrear.solicitudNC.razonSocial}"/>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>RUC:</b></label>
                                    <h:inputText styleClass="form-control" disabled="true"
                                                 value="#{notaCreditoCompraCrear.ruc}"/>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Sucursal:</b></label>
                                    <h:inputText styleClass="form-control" disabled="true"
                                                 value="#{notaCreditoCompraCrear.localOrigen}"/>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Local de Entrega:</b></label>
                                    <h:inputText styleClass="form-control" disabled="true"
                                                 value="#{notaCreditoCompraCrear.localDestino}"/>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalle</h5>
                        <p:dataTable value="#{notaCreditoCompraCrear.listaSolicitudDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-nota-credito"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >
                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{notaCreditoCompraCrear.deleteDetalle(detalle)}"
                                                   update="@form">
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                            
                            <p:column headerText="Nro. Factura asociada">
                                <h:outputText  value="#{detalle.facturaCompra.nroFactura}">
                                </h:outputText>
                            </p:column>
                            
                            <p:column headerText="Concepto">
                                <textarea class="form-control">
                                    <h:outputText value="#{detalle.descripcion}"/>
                                </textarea>
                            </p:column>

                            <p:column headerText="Motivo">
                                <p:selectOneMenu class="form-control" value="#{detalle.idMotivoEmisionSnc}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione un motivo de emisión" >
                                    </f:selectItem>
                                    <f:selectItems value="#{notaCreditoCompraCrear.listMotivoSnc}" var="dato"
                                                   itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column headerText="Precio Unitario Con IVA">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaCreditoCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="IVA">
                                <p:selectOneMenu value="#{detalle.porcentajeIva}" id="idIVA" class="form-control">
                                    <f:selectItem itemLabel="10%" itemValue="10"/>
                                    <f:selectItem itemLabel="5%" itemValue="5"/>
                                    <f:selectItem itemLabel="0%" itemValue="0"/>
                                    <p:ajax event="change" process="@form" update="@form" listener="#{notaCreditoCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub-Total">
                                <h:outputText styleClass="form-control"
                                              value="#{detalle.montoTotal}">

                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Total Factura:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="totalFactura"
                                                 disabled="true"
                                                 value="#{notaCreditoCompraCrear.solicitudNC.montoTotalSolicitudNotaCredito}">
                                        <f:convertNumber locale="es_PY"/>
                                    </h:inputText>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label><b>Total letras:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="totalLetras"
                                                 disabled="true"
                                                 value="#{notaCreditoCompraCrear.montoLetrasFilter.totalLetras}"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                <p:commandLink styleClass="btn btn-primary"
                                               title="ACEPTAR"
                                               action="#{notaCreditoCompraCrear.createNotaCredito()}" 
                                               update=":message-form:message"
                                               >
                                    <i class="far fa-check-circle"></i>&nbsp;ACEPTAR
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:loading></sepsa:loading>

</ui:composition>


