<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter" btnFilter="true">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Nota de Remisión</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaRemisionList.notaRemisionFilter.nroNotaRemision}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaRemisionList.notaRemisionFilter.ruc}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label><b>Razón Social</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaRemisionList.notaRemisionFilter.razonSocial}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Desde</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaDesde" 
                                        value="#{notaRemisionList.notaRemisionFilter.fechaDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar id="fechaHasta" 
                                        value="#{notaRemisionList.notaRemisionFilter.fechaHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Anulado</b></label>
                            <p:selectOneMenu value="#{notaRemisionList.notaRemisionFilter.anulado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Motivo Emisión Nota Remision</b></label>
                            <p:selectOneMenu id="motivoEmision" class="form-control" value="#{notaRemisionList.notaRemisionFilter.idMotivoEmisionNr}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{notaRemisionList.motivoEmisionNrAdapter.data}" var="dato"
                                               itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>CDC</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{notaRemisionList.notaRemisionFilter.cdc}"/>
                        </div>
                    </div>
                    
                    <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Estado SET</b></label>
                            <p:selectOneMenu value="#{notaRemisionList.notaRemisionFilter.codigoEstado}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Pendiente" itemValue="PENDIENTE"/>
                                <f:selectItem itemLabel="Aprobado" itemValue="APROBADO"/>
                                <f:selectItem itemLabel="Rechazado" itemValue="RECHAZADO"/>
                                <f:selectItem itemLabel="Cancelado" itemValue="CANCELADO"/>
                                <f:selectItem itemLabel="Inutilizado" itemValue="INUTILIZADO"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div-->                   
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{notaRemisionList.filterNotaRemision()}"
                           update="message-form:message list-nota-remision-form:form-data:data-list-nota-remision 
                           list-nota-remision-form:paginator:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{notaRemisionList.clear()}"
                           update="list-nota-remision-form:form-data:data-list-nota-remision 
                           list-nota-remision-form:paginator:paginator-panel 
                           filter-data"
                           >

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>