<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><b>Cabecera</b></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label><b>Nombre/Razón Social</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.razonSocial}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label><b>RUC/CI</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.ruc}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label><b>N° Nota de Crédito</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.nroNotaCredito}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label><b>Timbrado</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.timbrado}"/>
                            </div>
                        </div>

                        <h:panelGroup rendered="#{notaCreditoDetalle.notaCreditoDetalle.digital ne 'S'}"
                                      class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-2">
                            <label><b>Fecha Vto. Timbrado</b></label>
                            <h:outputText styleClass="form-control"
                                          value="#{notaCreditoDetalle.notaCreditoDetalle.fechaVencimientoTimbrado}">
                                <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
                            </h:outputText>
                        </h:panelGroup>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label><b>CDC</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.cdc}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                            <div class="form-group">
                                <label><b>Fecha</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.fecha}">
                                    <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                            <div class="form-group">
                                <label><b>Moneda</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.moneda}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label><b>Motivo Emisión Interno</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.motivoEmisionInterno eq null ? '--':notaCreditoDetalle.notaCreditoDetalle.motivoEmisionInterno}"/>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                            <div class="form-group">
                                <label><b>N° Factura Asociada</b></label>
                                <h:outputText styleClass="form-control"
                                              value="#{notaCreditoDetalle.notaCreditoDetalle.nroFacturas}"/>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label><b>Datos Adicionales:</b></label>
                            <p:inputTextarea id="datoAdicional" rows="2" cols="50"
                                             autoResize="false"
                                             styleClass="form-control"
                                             style="font-family: sans-serif;"
                                             value="#{notaCreditoDetalle.notaCreditoDetalle.observacion}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><b>Detalle</b></h5>
                </div>
                <div class="card-body">
                    <p:dataTable value="#{notaCreditoDetalle.adapterDetalle.data}"
                                 var="data"
                                 id="data-list-nota-credito-detalle"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 >

                        <p:column headerText="Descripción">
                            <h:outputText value="#{data.descripcion}"/>
                        </p:column>

                        <p:column headerText="Unidad de medida">
                            <h:outputText value="#{data.metrica == null ? '--' : data.metrica}"/>
                        </p:column>
                        
                        <p:column headerText="Cantidad">
                            <h:outputText value="#{data.cantidad}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Precio Unitario c/ IVA">
                            <h:outputText value="#{data.precioUnitarioConIva}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>
                        
                        <p:column headerText="Monto de Descuento Unitario">
                                <h:outputText value="#{data.montoDescuentoParticular}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##"/>
                                </h:outputText>
                            </p:column>
                            
                            <p:column headerText="% Descuento Unitario">
                                <h:outputText value="#{data.descuentoParticularUnitario}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                        <p:column headerText="Monto">
                            <h:outputText value="#{data.montoImponible}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto IVA">
                            <h:outputText value="#{data.montoIva}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Sub-Total">
                            <h:outputText value="#{data.montoTotal}">
                                <f:convertNumber type= "number"  pattern= "#,###.##" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Total Nota de Crédito:</b></label>
                            <h:inputText styleClass="form-control"
                                         id="totalNC"

                                         disabled="true"
                                         value="#{notaCreditoDetalle.notaCreditoDetalle.montoTotalNotaCredito}">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="card">
            <div class="card-body">

                <p:commandButton value="Descargar Ticket" ajax="false" styleClass="btn btn-primary" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download" rendered="#{notaCreditoDetalle.notaCreditoDetalle.digital eq 'S' and sessionData.user.permisos.listarNotaCredito.puedeDescargar}">
                    <p:fileDownload value="#{notaCreditoDetalle.download(true,false)}" />
                </p:commandButton>&nbsp;
                    
                <p:commandButton value="Descargar A4" ajax="false" styleClass="btn btn-primary" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download" rendered="#{notaCreditoDetalle.notaCreditoDetalle.digital eq 'S' and sessionData.user.permisos.listarNotaCredito.puedeDescargar}">
                    <p:fileDownload value="#{notaCreditoDetalle.download(false,false)}" />
                </p:commandButton>&nbsp;
                
                <p:commandButton value="Descargar XML" ajax="false" styleClass="btn btn-primary" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download" rendered="#{notaCreditoDetalle.notaCreditoDetalle.digital eq 'S' and sessionData.user.permisos.listarNotaCredito.puedeDescargar}">
                    <p:fileDownload value="#{notaCreditoDetalle.download(false,true)}" />
                </p:commandButton>&nbsp;
                    
                <p:commandButton value="Descargar" ajax="false" styleClass="btn btn-primary" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download" rendered="#{notaCreditoDetalle.notaCreditoDetalle.digital eq 'N' and sessionData.user.permisos.listarNotaCredito.puedeDescargar}">
                    <p:fileDownload value="#{notaCreditoDetalle.download(false,false)}" />
                </p:commandButton>&nbsp;

                <p:commandButton id="print1" value="Imprimir" process="@this" styleClass="btn btn-secondary" icon="fas fa-print" actionListener="#{notaCreditoDetalle.print()}" rendered="#{sessionData.user.permisos.listarNotaCredito.puedeDescargar}">
                </p:commandButton>

            </div>
        </div>
    </div>



    <script type="text/javascript">
        function closePrint() {
            document.body.removeChild(this.__container__);
        }

        function setPrint() {
            this.contentWindow.__container__ = this;
            this.contentWindow.onbeforeunload = closePrint;
            this.contentWindow.onafterprint = closePrint;
            this.contentWindow.focus(); // Required for IE
            this.contentWindow.print();
        }

        function printPdf(id) {
            var oHideFrame = document.createElement("iframe");
            oHideFrame.onload = setPrint;
            oHideFrame.style.position = "fixed";
            oHideFrame.style.right = "0";
            oHideFrame.style.bottom = "0";
            oHideFrame.style.width = "0";
            oHideFrame.style.height = "0";
            oHideFrame.style.border = "0";
            oHideFrame.src = '/web/api/archivos.descargarPdf?id=' + id;
            document.body.appendChild(oHideFrame);
        }
    </script>

    <script type="text/javascript">
        function start() {
            PF('statusDialog').show();
        }
        function stop() {
            PF('statusDialog').hide();
        }
    </script>



</ui:composition>
