<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <p:growl id="msgs" showDetail="true" sticky="true"/>

    <h:panelGroup id="pnl-pop-up">

        <h:panelGroup>
            <!--script>
                jQuery(document).ready(function () {
                    $('#modalTalonario').modal('show');
                    ;
                });
            </script-->

            <sepsa:modal-panel id="modalTalonario" title="Talonarios" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p:dataTable value="#{notaDebitoCrearAlternativo.adapterNCTalonario.data}"
                                     var="talonario"
                                     id="data-list-talonario"
                                     editable="true"
                                     paginator="false"
                                     reflow="true"
                                     tableStyle="table-layout: auto;"
                                     selection ="#{notaDebitoCrearAlternativo.talonario}"
                                     rowKey="#{talonario.id}"
                                     tableStyleClass="table table-bordered table-hover">
                            <p:column selectionMode="single" style="width:45px;text-align:center"/>
                            
                            <p:ajax event="rowSelectRadio" listener="#{notaDebitoCrearAlternativo.onCheckTalonario}" id="checkTalonario" />

                            <p:column headerText="Timbrado">
                                <h:outputText value="#{talonario.timbrado}"/>
                            </p:column>

                            <p:column headerText="Establecimiento">
                                <h:outputText value="#{talonario.nroSucursal}"/>
                            </p:column>

                            <p:column headerText="Punto Exp.">
                                <h:outputText value="#{talonario.nroPuntoVenta}"/>
                            </p:column>

                            <p:column headerText="Inicio de Vigencia">
                                <h:outputText value="#{talonario.fechaInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Fin de Vigencia">
                                <h:outputText value="#{talonario.fechaVencimiento eq null ? '--':talonario.fechaVencimiento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>               

                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModalTalonario" 
                                     class="btn btn-primary" 
                                     value="Seleccionar Talonario"
                                     update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:nroNC :list-nota-debito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera"
                                     action="#{notaDebitoCrearAlternativo.obtenerDatosNC()}"
                                     onclick="$('#modalTalonario').modal('hide')">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
        </h:panelGroup>
    </h:panelGroup>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>Cliente</label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{notaDebitoCrear.completeQuery}"
                                    value="#{notaDebitoCrear.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clienteListadoPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{notaDebitoCrearAlternativo.onItemSelectClienteFactura}" update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-debito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-debito " />
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!--sepsa:form-panel id="panel-nota-debito" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{notaDebitoCrear.showDatatable eq true ?'display:inline':'display: none'}" id="create-nota">
                <div class="card">
                    <div class="card-body">
                        <h:panelGroup style="#{notaDebitoCrear.idFactura eq null ?'display:inline':'display: none'}">
                            <ui:include src="nc-factura-filter.xhtml"/>
                        </h:panelGroup>

                        <p:dataTable value="#{notaDebitoCrear.adapterFactura.data}"
                                     var="data" rowKey="#{data.id}"
                                     selection="#{notaDebitoCrear.listSelectedFactura}"
                                     id="data-list-nota-create"
                                     reflow="true"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >

                            <p:ajax event="rowSelectCheckbox" listener="#{notaDebitoCrear.onCheckFactura}" id="checkFactura" 
                                    update=":list-nota-debito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-debito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-debito list-nota-debito-create-form:form-data:panel-nota-debito:data-list-nota-create"/>

                            <p:ajax event="rowUnselectCheckbox" listener="#{notaDebitoCrear.onUncheckFactura}" id="uncheckFactura"
                                    update=":list-nota-debito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-debito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-debito list-nota-debito-create-form:form-data:panel-nota-debito:data-list-nota-create"/>

                            <p:column selectionMode="multiple"></p:column>

                            <p:column headerText="N° Factura">
                                <h:outputText value="#{data.nroFactura}"/>
                            </p:column>

                            <p:column headerText="Fecha Factura">
                                <h:outputText value="#{data.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto Total Factura">
                                <h:outputText value="#{data.montoTotalFactura}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Saldo">
                                <h:outputText value="#{data.saldo}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Moneda">
                                <h:outputText value="#{data.moneda.descripcion}"/>
                            </p:column>
                        </p:dataTable>
                        <br/>

                        <sepsa:paginator adapter="#{notaDebitoCrear.adapterFactura}" 
                                         searchData="#{notaDebitoCrear.facturaFilter}"
                                         id="paginator2"
                                         updatePage="list-nota-debito-create-form:form-data:panel-nota-debito:data-list-nota-create list-nota-debito-create-form:form-data:panel-nota-debito:paginator2:paginator-panel"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel-->

    <sepsa:form-panel id="panel-cabecera-detalle" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{notaDebitoCrearAlternativo.showFactura eq true ?'display:inline':'display: none'}" id="detalle-cabecera">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cabecera</h5>
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>Nombre/Razón Social:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.razonSocial}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>RUC:</b></label>
                                <h:inputText styleClass="form-control"
                                             disabled="true"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.ruc}"/>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <label><b>Tiene Dirección</b></label>
                                <p:selectOneMenu id="tieneDir" class="form-control" value="#{notaDebitoCrearAlternativo.tieneDireccion}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>



                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaDebitoCrearAlternativo.tieneDireccion eq 'S' ?'display:inline':'display: none'}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>Dirección:</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="dir"
                                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.direccion}">
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>N° Casa:</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="nroCasa"
                                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.nroCasa}">
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                                <label><b>Departamento</b></label>
                                                <p:selectOneMenu id="dpto" value="#{notaDebitoCrearAlternativo.idDepartamento}"
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaDebitoCrearAlternativo.adapterRefGeo.data}" var="ref"
                                                                   itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                                    <p:ajax event="change" update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:distrito list-nota-debito-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaDebitoCrearAlternativo.filterGeneral()}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label><b>Distrito</b></label>
                                                <p:selectOneMenu id="distrito" value="#{notaDebitoCrearAlternativo.idDistrito}" 
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade"
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaDebitoCrearAlternativo.adapterRefGeoDistrito.data}" var="ref1"
                                                                   itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                                                    <p:ajax event="change" update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:ciudad" listener="#{notaDebitoCrearAlternativo.filterCiudad()}"/>
                                                </p:selectOneMenu>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <label><b>Ciudad</b></label>
                                                <p:selectOneMenu id="ciudad" value="#{notaDebitoCrearAlternativo.idCiudad}" 
                                                                 panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                                                 filter="true" filterMatchMode="startsWith">
                                                    <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                                    <f:selectItems value="#{notaDebitoCrearAlternativo.adapterRefGeoCiudad.data}" var="ref2"
                                                                   itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <label><b>Factura Digital</b></label>
                                <p:selectOneMenu id="tipoFactura" class="form-control" value="#{notaDebitoCrearAlternativo.tipoFactura}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>
                             <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaDebitoCrearAlternativo.tipoFactura eq 'S' ?'display:inline':'display: none'}">
                                  <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>CDC: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="cdc"
                                                             value="#{notaDebitoCrearAlternativo.cdcFactura}"       
                                                             rendered="#{notaDebitoCrearAlternativo.tipoFactura eq 'S'}">        
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                             </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="#{notaDebitoCrearAlternativo.tipoFactura eq 'N' ?'display:inline':'display: none'}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>Timbrado: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="timbrado"
                                                             value="#{notaDebitoCrearAlternativo.timbradoFactura}"
                                                             validatorMessage="El formato del campo Timbrado es incorrecto. Se deben ingresar 8 caracteres."
                                                             rendered="#{notaDebitoCrearAlternativo.tipoFactura eq 'N'}">
                                                          <f:validateLength minimum="8" maximum="8" />
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label><b>N° Factura: (*)</b></label>
                                                <h:inputText styleClass="form-control"
                                                             id="nroFactura"
                                                             value="#{notaDebitoCrearAlternativo.nroFactura}"
                                                             validatorMessage="Formato de Nº de Factura incorrecto. El formato aceptado es: 999-999-99999999"
                                                             rendered="#{notaDebitoCrearAlternativo.tipoFactura eq 'N'}">
                                                          <f:validateLength minimum="15" maximum="15" />
                                                </h:inputText>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                                                <label><b>Fecha: (*)</b></label>&nbsp;&nbsp;
                                                <p:calendar id="fechaFactura" 
                                                            value="#{notaDebitoCrearAlternativo.fechaFactura}"
                                                            locale="es" 
                                                            pattern="dd/MM/yyyy"
                                                            styleClass="p-cal calendarClass">
                                                    <p:ajax event="dateSelect" listener="#{notaDebitoCrearAlternativo.onDateSelect}" update=":message-form:message list-nota-debito-create-form:form-data:panel-cabecera-detalle:fechaNotaDebito" />
                                                </p:calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>N° Teléfono:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="tel"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.telefono}">

                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Email:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="email"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.email}">

                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Digital:</b></label>
                                <p:selectOneMenu id="digital" class="form-control" value="#{notaDebitoCrearAlternativo.digital}">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/> 
                                    <p:ajax event="change" update=":message-form:message @form" listener="#{notaDebitoCrearAlternativo.obtenerDatosTalonario()}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Fecha:</b></label>&nbsp;&nbsp;
                                <p:calendar id="fechaNotaDebito" 
                                            value="#{notaDebitoCrearAlternativo.notaDebitoCreate.fecha}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <p:ajax event="dateSelect" listener="#{notaDebitoCrearAlternativo.onDateSelect}" update=":message-form:message list-nota-debito-create-form:form-data:panel-cabecera-detalle:fechaNotaDebito" />
                                </p:calendar>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° Nota de Débito:</b></label>
                                <h:inputText id="nroNC"
                                             styleClass="form-control"
                                             disabled="true"
                                             value="#{notaDebitoCrearAlternativo.datoNotaDebito.nroNotaDebito}"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Moneda:</b></label>
                                <p:selectOneMenu id="moneda" class="form-control" value="#{notaDebitoCrearAlternativo.notaDebitoCreate.idMoneda}">
                                    <f:selectItems value="#{notaDebitoCrearAlternativo.adapterMoneda.data}" var="mo"
                                                   itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>
                                    <p:ajax event="change" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.onChangeMoneda()}" />
                                </p:selectOneMenu>
                            </div>
                            
                            <div class="form-group col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                <label><b>Cotizaciones</b></label>
                                <br/>
                                <p:commandLink id="cambio"
                                               styleClass="btn btn-primary"
                                               disabled="#{notaDebitoCrearAlternativo.habilitarPanelCotizacion eq false}"
                                               onclick="$('#modalCotizacion').modal('show')"
                                               title="Seleccionar Cotización"
                                               >
                                    <i class="fas fa-money-bill-wave"></i>
                                </p:commandLink>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                <label><b>Motivo Emision Interno:</b></label>
                                <p:selectOneMenu id="motivoEmision" class="form-control" value="#{notaDebitoCrearAlternativo.notaDebitoCreate.idMotivoEmisionInterno}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione un motivo de emisión" >
                                    </f:selectItem>
                                    <f:selectItems value="#{notaDebitoCrearAlternativo.motivoEmisionInternoAdapterList.data}" var="dato"
                                                   itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                                    <p:ajax event="change" update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:me" listener="#{notaDebitoCrearAlternativo.obtenerMotivoEmision()}"/>
                                </p:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                <label><b>Motivo Emision:</b></label>
                                <h:outputText id="me"
                                              styleClass="form-control"
                                              style="background-color: #e9ecef;" 
                                              value="#{notaDebitoCrearAlternativo.motivoEmision}">
                                </h:outputText>
                            </div>
                            
                             <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <label><b>Tipo de Descuento</b></label>
                                <p:selectOneMenu id="tipoDescuento" class="form-control" value="#{notaDebitoCrearAlternativo.tipoDescuento}">
                                    <f:selectItem itemLabel="Por Porcentaje" itemValue="1"/>
                                    <f:selectItem itemLabel="Por Monto" itemValue="2"/> 
                                    <p:ajax event="change" update="@form"/>
                                </p:selectOneMenu>
                            </div>
                            
                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Porcentaje de descuento:</b></label>
                                <h:inputText id="porcentajeDescuento"
                                             styleClass="form-control"
                                              disabled="#{notaDebitoCrearAlternativo.tipoDescuento eq 2 ? 'true' :'false'}"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.porcentajeDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.#####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.calcularDescuentos(1)}" />
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Monto de descuento:</b></label>
                                <h:inputText id="montoDescuento"
                                             styleClass="form-control"
                                            disabled="#{notaDebitoCrearAlternativo.tipoDescuento eq 1 ? 'true' :'false'}"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.montoTotalDescuentoGlobal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.calcularDescuentos(2)}" />
                                </h:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <label><b>Datos Adicionales:</b></label>
                                 <p:inputTextarea id="datoAdicional" rows="5" cols="30"
                                      autoResize="false"
                                      styleClass="form-control"
                                      value="#{notaDebitoCrearAlternativo.notaDebitoCreate.observacion}"/>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalle</h5>
                        <p:dataTable value="#{notaDebitoCrearAlternativo.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-nota-debito"
                                     editable="true"
                                     reflow="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     rowIndexVar="nroLinea"
                                     >

                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{notaDebitoCrearAlternativo.deleteDetalle(nroLinea)}"
                                                   update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-debito list-nota-debito-create-form:form-data:panel-cabecera-detalle:totalNC list-nota-debito-create-form:form-data:panel-cabecera-detalle:totalLetras"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>
                            
                            <p:column headerText="Producto">
                                <p:commandLink styleClass="btn btn-primary"
                                               onclick="$('#modalProducto').modal('show')"
                                               title="Seleccionar Producto"
                                               action="#{notaDebitoCrearAlternativo.guardarNroLinea(nroLinea)}"

                                               >
                                    <i class="fas fa-barcode"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Concepto">
                                <p:inputTextarea styleClass="form-control" value="#{detalle.descripcion}"  id="desc">
                                    <!--p:ajax event="blur" process="@form" update=":message-form:message @form" listener="#{notaDebitoCrearAlternativo.cambiarDescripcion(nroLinea)}" /-->
                                </p:inputTextarea>
                            </p:column>

                            <p:column headerText="Lote">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.lote eq null ? '-' : detalle.lote}"/>
                            </p:column>

                            <p:column headerText="Fecha Venc. Lote">
                                <h:outputText  styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.fechaVencimientoLote eq null ? '--' : detalle.fechaVencimientoLote}"/>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.calcularMontos(nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario Con IVA">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.calcularMontos(nroLinea)}" />
                                </h:inputText>
                            </p:column>
                            
                            <p:column headerText="% Descuento Unitario">
                                <h:inputText id="descuentoParticular" 
                                             styleClass="form-control" 
                                             disabled="#{notaDebitoCrearAlternativo.tipoDescuento eq 2 ? 'true' :'false'}"
                                             value="#{detalle.descuentoParticularUnitarioAux}">
                                    <f:convertNumber type= "number"  pattern= "#,###.#####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.descuentoListener(nroLinea,1)}" />
                                </h:inputText>
                            </p:column> 
                            
                            <p:column headerText="Monto Descuento Unitario">
                                <h:inputText id="montoDescuentoParticular" 
                                             styleClass="form-control" 
                                             disabled="#{notaDebitoCrearAlternativo.tipoDescuento eq 1 ? 'true' :'false'}" 
                                             value="#{detalle.montoDescuentoParticular}">
                                    <f:convertNumber type= "number"  pattern= "#,###.####" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.descuentoListener(nroLinea,2)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />s
                                </h:outputText>
                            </p:column>

                            <p:column headerText="IVA">
                                <!--h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.porcentajeIva}">
                                </h:outputText-->
                                <p:selectOneMenu class="form-control" value="#{detalle.porcentajeIva}">
                                    <f:selectItem itemLabel="10%" itemValue="10"/>
                                    <f:selectItem itemLabel="5%" itemValue="5"/>
                                    <f:selectItem itemLabel="Exenta" itemValue="0"/>
                                    <p:ajax event="change"  process="@form" update="@form" listener="#{notaDebitoCrearAlternativo.calcularMontos(nroLinea)}"/>
                                </p:selectOneMenu>
                            </p:column>


                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub-Total">
                                <h:outputText styleClass="form-control"
                                              value="#{detalle.montoTotal}"
                                              style="background-color: #e9ecef;">

                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                            <p:commandLink styleClass="btn btn-info"
                                           title="Añadir Detalle"
                                           action="#{notaDebitoCrearAlternativo.addDetalle()}"
                                           update="@form"
                                           >
                                <i class="far fa-plus-square"></i>&nbsp;AÑADIR DETALLE DE FACTURA
                            </p:commandLink>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Total NC:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="totalNC"
                                             disabled="true"
                                             value="#{notaDebitoCrearAlternativo.notaDebitoCreate.montoTotalNotaDebito}">
                                    <f:convertNumber type= "number"  pattern= "#,###" />
                                </h:inputText>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <label><b>Total letras:</b></label>
                                <h:inputText styleClass="form-control"
                                             id="totalLetras"
                                             disabled="true"
                                             value="#{notaDebitoCrearAlternativo.montoLetrasFilter.totalLetras}"/>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                <p:commandLink styleClass="btn btn-primary"
                                               title="ACEPTAR"
                                               action="#{notaDebitoCrearAlternativo.createNotaDebito()}" 
                                               update=":message-form:message @form"
                                               >
                                    <i class="far fa-check-circle"></i>&nbsp;GUARDAR
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>
    
    <sepsa:modal-panel id="modalCotizacion" title="Cambio" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-body">
                    <!--h5 class="card-title">Datos de Tipo de Cambio</h5>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Compra</b></label>
                            <h:inputText disabled="true" styleClass="form-control" value="#{invoice.tipoCambio.compra}" id="precioCompra">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label><b>Venta</b></label>
                            <h:inputText disabled="true" styleClass="form-control" value="#{invoice.tipoCambio.venta}" id="precioVenta">
                                <f:convertNumber type= "number"  pattern= "#,###" />
                            </h:inputText>
                        </div>
                    </div-->
                    <h5 class="card-title">Debe seleccionar una cotización</h5>
                    <div class ="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12">
                            <p:dataTable value="#{notaDebitoCrearAlternativo.adapterTipoCambio.data}"
                                         var="tipoCambio" rowKey="#{tipoCambio.id}"
                                         selection="#{notaDebitoCrearAlternativo.listSelectedCotizacion}"
                                         id="data-list-tipoCambio"
                                         editable="true"
                                         reflow="true"
                                         paginator="false"
                                         tableStyle="table-layout: auto;"
                                         tableStyleClass="table table-bordered table-hover"
                                         emptyMessage="No existen registros disponibles">   
                               
                               <p:ajax event="rowSelectCheckbox" listener="#{notaDebitoCrearAlternativo.onCheckCotizacion}" id="checkMoneda" />
                               
                               <p:ajax event="rowUnselectCheckbox" listener="#{notaDebitoCrearAlternativo.onUncheckCotizacion}" id="uncheckMoneda" />
                               
                               <p:column selectionMode="multiple"></p:column>

                               <p:column headerText="Valor de compra">
                                   <h:outputText value="#{tipoCambio.compra}"/>
                               </p:column>
                               
                               <p:column headerText="Valor de Venta">
                                   <h:outputText value="#{tipoCambio.venta}"/>
                               </p:column>

                               <p:column headerText="Fecha de cotización">
                                   <h:outputText value="#{tipoCambio.fechaInsercion}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                   </h:outputText>
                               </p:column>
                           </p:dataTable>
                        </div>
                        
                        <sepsa:paginator adapter="#{notaDebitoCrearAlternativo.adapterTipoCambio}" 
                                     searchData="#{notaDebitoCrearAlternativo.tipoCambioFilter}"
                                     id="paginator"
                                     updatePage="list-nota-debito-create-form:form-data:modalCotizacion:data-list-tipoCambio
                                     list-nota-debito-create-form:form-data:modalCotizacion:paginator:paginator-panel"/>
                    </div>          
                    
                </div>
            </div>

        </f:facet>
        <f:facet name="button">
        </f:facet>
        
    </sepsa:modal-panel>

    <sepsa:loading></sepsa:loading>
    
    <h:panelGroup id="pnl-descarga-pop-up">
        <sepsa:modal-panel id="modalDescarga" title="Nota de Débito">
            <f:facet name="content">
                <div class="col-sm-12">
                    <h:panelGroup id="panelConfirmation">
                        <h:outputText  value="¿Desea descargar la nota de crédito?"/>
                    </h:panelGroup>
                </div>
            </f:facet>

            <f:facet name="button">
                <p:commandLink id="download" ajax="false" styleClass="btn btn-sm btn-primary" process="@this"
                               onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)">
                    <i class="fas fa-download"></i> Descargar
                    <p:fileDownload id="file" value="#{notaDebitoCrearAlternativo.download()}" />
                </p:commandLink>
            </f:facet>
        </sepsa:modal-panel>
    </h:panelGroup>
    
    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{notaDebitoCrearAlternativo.completeQueryProducto}"
                                value="#{notaDebitoCrearAlternativo.producto}" 
                                maxResults="25" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcionLote}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{notaDebitoCrearAlternativo.onItemSelectProducto}" update="message-form:message"/>
                </p:autoComplete>
            </div>

        </f:facet>

        <f:facet name="button">
            <p:commandLink id="btnModal" 
                             class="btn btn-primary" 
                             action="#{notaDebitoCrearAlternativo.agregarProducto()}"
                             onclick="$('#modalProducto').modal('hide')"
                             update="list-nota-debito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-debito list-nota-debito-create-form:form-data:panel-cabecera-detalle:totalNC list-nota-debito-create-form:form-data:panel-cabecera-detalle:totalLetras">
                Agregar Producto
            </p:commandLink>
        </f:facet>
    </sepsa:modal-panel>

</ui:composition>
