<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cabecera</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Cliente (*)</b></label>
                    <br/>
                    <p:autoComplete id="clienteOrigen" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearOC.completeQuery}"
                                    value="#{crearOC.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cliOri" 
                                    itemLabel="#{cliOri.razonSocial}" 
                                    itemValue="#{cliOri}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearOC.onItemSelectClienteOrigen}"/>
                    </p:autoComplete>

                </div>

                <!--div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Fecha de Entrega(*)</b></label>
                        <p:calendar id="fechaRecepcion" 
                                    value="#{crearOC.ordenDeCompraCreate.fechaRecepcion}"
                                    locale="es"
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass">
                        </p:calendar>
                    </div>
                </div-->

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Sucursal (*)</b></label><br/>
                    <p:autoComplete id="localDestino" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearOC.completeQueryDestino}"
                                    value="#{crearOC.localDestino}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="localOr" 
                                    itemLabel="#{localOr.descripcion}" 
                                    itemValue="#{localOr}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearOC.onItemSelectLocalDestinoFilter}"/>
                    </p:autoComplete>

                </div>



                <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Archivo EDI:</b></label>
                        <p:selectOneMenu id="archivoEdi" class="form-control" value="#{crearOC.ordenDeCompraCreate.archivoEdi}">
                            <f:selectItem itemLabel="SÍ" itemValue="S"/>
                            <f:selectItem itemLabel="NO" itemValue="N"/> 
                            <p:ajax event="change" update="list-oc-create-form:form-data:panel-locales" listener="#{crearOC.onChange()}"/>                            
                        </p:selectOneMenu>
                    </div>
                </div-->



                <!--div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Cliente Destino:</b></label>
                    <br/>
                    <p:autoComplete id="clienteDestino" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearOC.completeQueryClienteDestino}"
                                    value="#{crearOC.clienteDestino}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cliDes" 
                                    itemLabel="#{cliDes.razonSocial}" 
                                    itemValue="#{cliDes}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearOC.onItemSelectClienteDestino}" />
                    </p:autoComplete>

                </div-->


                <!--div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Local Destino:</b></label><br/>
                    <p:autoComplete id="localDestino" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearOC.completeQueryDestino}"
                                    value="#{crearOC.localDestino}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="localDes" 
                                    itemLabel="#{localDes.descripcion}" 
                                    itemValue="#{localDes}" 
                                    converter="localPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearOC.onItemSelectLocalDestinoFilter}"/>
                    </p:autoComplete>

                </div-->

            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalle</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h:panelGroup id="data-table-detalle" style="#{crearOC.showDetalleCreate eq true ?'display:inline':'display: none'}">
                        <p:dataTable value="#{crearOC.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-create"
                                     widgetVar="tablita"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     rowKey="#{detalle.nroLinea}"
                                     rowIndexVar="index">                          

                            <p:column>
                                <div align="center">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   title="Eliminar"
                                                   action="#{crearOC.deleteDetalle(detalle.nroLinea)}"
                                                   update="list-oc-create-form:form-data:data-list-detalle-create list-oc-create-form:form-data:totalOC"
                                                   >
                                        <i class="fa fa-times-circle"></i>
                                    </p:commandLink>
                                </div>
                            </p:column>

                            <p:column headerText="Producto">
                                <p:commandLink styleClass="btn btn-primary"
                                               onclick="$('#modalProducto').modal('show')"
                                               title="Seleccionar Producto"
                                               action="#{crearOC.guardarNroLinea(detalle.nroLinea)}"
                                               >
                                    <i class="fas fa-barcode"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Descripción Producto">
                                <h:outputText id="producto-desc" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.producto.descripcion}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Precio Unitario con IVA">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <p:ajax event="blur" update="list-oc-create-form:form-data:totalOC list-oc-create-form:form-data:data-list-detalle-create:#{index}:precioSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{crearOC.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" update="list-oc-create-form:form-data:totalOC list-oc-create-form:form-data:data-list-detalle-create:#{index}:precioSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{crearOC.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="IVA">
                                <p:selectOneMenu value="#{detalle.porcentajeIva}" id="idIVA" class="form-control">
                                    <f:selectItem itemLabel="10%" itemValue="10"/>
                                    <f:selectItem itemLabel="5%" itemValue="5"/>
                                    <f:selectItem itemLabel="0%" itemValue="0"/>
                                    <p:ajax event="change" update="list-oc-create-form:form-data:totalOC list-oc-create-form:form-data:data-list-detalle-create:#{index}:precioSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoSinIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:montoIva list-oc-create-form:form-data:data-list-detalle-create:#{index}:subTotal" listener="#{crearOC.calcularMontos(detalle.nroLinea)}" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText id="precioSinIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText id="montoSinIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText id="montoIva" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub-Total">
                                <h:outputText id="subTotal" styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoTotal}">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-info"
                                   title="Seleccionar Liquidaciones"
                                   action="#{crearOC.showDetalle()}"
                                   update="@form"
                                   >
                        <i class="far fa-plus-square"></i>&nbsp;AÑADIR
                    </p:commandLink>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Total Pedido:</b></label>
                        <h:inputText id="totalOC"
                                     styleClass="form-control"
                                     disabled="true"
                                     value="#{crearOC.ordenDeCompraCreate.montoTotalOrdenCompra}">
                            <f:convertNumber type= "number"  pattern= "#,###.##" />
                        </h:inputText>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                    <p:commandLink styleClass="btn btn-primary"
                                   title="GUARDAR"
                                   action="#{crearOC.crearOC()}"
                                   update="@form :message-form:message"
                                   >
                        <i class="fas fa-file-invoice"></i>&nbsp;GUARDAR
                    </p:commandLink>
                </div>
            </div>
        </div>

    </div>
    <sepsa:modal-panel id="modalProducto" title="Producto" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label><b>Producto:</b></label>
                <br/>
                <p:autoComplete id="producto" 
                                cache="true" 
                                cacheTimeout="30000" 
                                completeMethod="#{crearOC.completeQueryProducto}"
                                value="#{crearOC.producto}" 
                                maxResults="10" 
                                forceSelection="true"
                                var="prod" 
                                itemLabel="#{prod.descripcion}" 
                                itemValue="#{prod}" 
                                converter="productoPojoConverter"
                                size="25" 
                                queryDelay="1000"
                                panelStyle="z-index: 2001;"
                                inputStyle="z-index: 2001;"
                                dropdown="true">
                    <p:ajax event="itemSelect" listener="#{crearOC.onItemSelectProducto}" update=":message-form:message list-oc-create-form:form-data:data-list-detalle-create"/>
                </p:autoComplete>
            </div>

        </f:facet>
        <!--f:facet name="button">
            <p:commandButton id="btnModal" 
                             class="btn btn-primary" 
                             value="Agregar"
                             onclick="$('#modalProducto').modal('hide')"
                             action="#{crearOC.agregarProducto()}"
                             update=":message-form:message list-oc-create-form:form-data:data-list-detalle-create">
            </p:commandButton>
        </f:facet-->
    </sepsa:modal-panel>
    <sepsa:loading></sepsa:loading>
</ui:composition>
