<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>


    <p:dataTable value="#{client.adapter.data}"
                 var="data"
                 id="data-list-recibo"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column style="width:16px">
            <p:rowToggler />
        </p:column>

        <p:column headerText="Fecha">
            <h:outputText value="24/02/2020"/>
        </p:column>

        <p:column headerText="Cliente">
            <h:outputText value="ABEJA DE ORO S.A."/>
        </p:column>
        
        <p:column headerText="N° Recibo">
            <h:outputText value="001-001-0012094"/>
        </p:column>

        <p:column headerText="Estado">
            <h:outputText value="A"/>
        </p:column>

        <p:column headerText="Total Detalle">
            <h:outputText value="528,000"/>
        </p:column>

        <p:column headerText="Saldo Anterior Aplicado">
            <h:outputText value="0"/>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               title="Ver"
                               >
                    <i class="fas fa-search"></i>
                </p:commandLink>&nbsp;
                
                <p:commandLink styleClass="btn btn-info"
                               title="Reenviar Recibo"
                               >
                    <i class="fas fa-share"></i>
                </p:commandLink>
            </div>
        </p:column>

        <p:rowExpansion>
            <h6 align="center" class="card-title">Detalle de Cobro</h6>
            <p:dataTable value="#{invoice.listaDetalleCobro}"
                         var="data"
                         id="data-list-detalle-recibo"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         >

                <p:column headerText="N° Factura Asociada">
                    <h:outputText value="001-003-0001259"/>
                </p:column>

                <p:column headerText="Fecha Cobro">
                    <h:outputText value="24/02/2020"/>
                </p:column>

                <p:column headerText="Lugar Cobro">
                    <h:outputText value="Ventanilla Móvil"/>
                </p:column>

                <p:column headerText="Monto Cobrado">
                    <h:outputText value="528,000"/>
                </p:column>

                <p:column headerText="Forma de Pago">
                    <h:outputText value="Cheque"/>
                </p:column>

                <p:column headerText="N° Cheque">
                    <h:outputText value="622621"/>
                </p:column>

                <p:column headerText="Fecha Pago Cheque">
                    <h:outputText value="25/02/2020"/>
                </p:column>

                <p:column headerText="Estado">
                    <h:outputText value="Cobrado"/>
                </p:column>

            </p:dataTable>
        </p:rowExpansion>

    </p:dataTable>


</ui:composition>
