<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <!--div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{listarFactura.adapterFactura.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-factura-form:form-data:data-list-facturas 
                                 list-factura-form:form-data:paginator2:paginator-panel"
                                 listener="#{listarFactura.filterFacturas()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div-->
    <p:dataTable value="#{listarResguardoDocumento.adapterResguardoDocumento.data}"
                 var="data"
                 id="data-list-resguardo-doc"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="Nombre de Archivo">
            <h:outputText value="#{data.nombreArchivo}"/>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText  value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Tipo de Documento">
            <h:outputText value="#{data.tipoDocumento.descripcion}"/>
        </p:column>
        <p:column headerText="Opciones">
            <div class="center">
                <div align="center">
                    <a class="nav-link btn btn-primary" 
                       href="#{listarResguardoDocumento.obtenerURLDescarga(data.id)}"
                       role="button"
                       title="URL descarga"
                       target="_blank"
                       >
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </div> 
            </div>
        </p:column>


    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarResguardoDocumento.adapterResguardoDocumento}" 
                     searchData="#{listarResguardoDocumento.resguardoDocumentoFilter}"
                     id="paginator2"
                     updatePage=":list-resguardo-form:form-data:data-list-resguardo-doc 
                     :list-resguardo-form:form-data:paginator2:paginator-panel"/>

</ui:composition>
