<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo Documento</b></label>
                            <p:selectOneMenu class="form-control" value="#{listarResguardoDocumento.resguardoDocumentoFilter.idTipoDocumento}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{listarResguardoDocumento.adapterTipoDoc.data}" var="td"
                                               itemLabel="#{td.descripcion}" itemValue="#{td.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha Insercion Desde</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{listarResguardoDocumento.resguardoDocumentoFilter.fechaInsercionDesde}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Fecha Insercion Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{listarResguardoDocumento.resguardoDocumentoFilter.fechaInsercionHasta}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarResguardoDocumento.filter()}"
                           update=":list-resguardo-form:form-data:data-list-resguardo-doc 
                           :list-resguardo-form:form-data:paginator2:paginator-panel"
                           >

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarResguardoDocumento.clear()}"
                           update=":list-resguardo-form:form-data:data-list-resguardo-doc 
                           :list-resguardo-form:form-data:paginator2:paginator-panel"
                           >

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>
</ui:composition>
