<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W6C//DTD XHTML 1.0 Transitional//EN" "http://www.w6.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w6.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>Proveedor</label>&nbsp;
                    <p:autoComplete id="cliente" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{ncCompraCrear.completeQuery}"
                                    value="#{ncCompraCrear.cliente}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="cli" 
                                    itemLabel="#{cli.razonSocial}" 
                                    itemValue="#{cli}" 
                                    converter="clientePojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{ncCompraCrear.onItemSelectClienteFactura}" update=":list-nota-credito-create-form:form-data:panel-nota-credito:create-nota :list-nota-credito-create-form:form-data:panel-nota-credito:data-list-nota-create" />
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <sepsa:form-panel id="panel-nota-credito" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{ncCompraCrear.showDatatable eq true ?'display:inline':'display: none'}" id="create-nota">
                <div class="card">
                    <div class="card-body">
                        <p:dataTable value="#{ncCompraCrear.adapterFactura.data}"
                                     var="data" rowKey="#{data.id}"
                                     selection="#{ncCompraCrear.listSelectedFactura}"
                                     id="data-list-nota-create"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >

                            <p:ajax event="rowSelectCheckbox" listener="#{ncCompraCrear.onCheckFactura}" id="checkFactura" 
                                    update=":list-nota-credito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito list-nota-credito-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito"/>

                            <p:ajax event="rowUnselectCheckbox" listener="#{ncCompraCrear.onUncheckFactura}" id="uncheckFactura"
                                    update=":list-nota-credito-create-form:form-data:panel-cabecera-detalle:detalle-cabecera list-nota-credito-create-form:form-data:panel-cabecera-detalle:data-list-detalle-nota-credito"/>

                            <p:column selectionMode="multiple"></p:column>

                            <p:column headerText="N° Factura">
                                <h:outputText value="#{data.nroFactura}"/>
                            </p:column>

                            <p:column headerText="Fecha Factura">
                                <h:outputText value="#{data.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto Total Factura">
                                <h:outputText value="#{data.montoTotalFactura}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Moneda">
                                <h:outputText value="#{data.moneda.codigo}"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:form-panel id="panel-cabecera-detalle" btnAtras="false">
        <f:facet name="controls">
            <h:panelGroup style="#{ncCompraCrear.show eq true ?'display:inline':'display: none'}" id="detalle-cabecera">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cabecera</h5>
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><b>Nombre/Razón Social:</b></label>
                                    <h:inputText disabled="true"
                                                 styleClass="form-control"
                                                 value="#{ncCompraCrear.notaCreditoCreate.razonSocial}"/>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><b>RUC:</b></label>
                                    <h:inputText 
                                        disabled="true"
                                        styleClass="form-control"
                                        value="#{ncCompraCrear.ruc}"/>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label><b>Digital:</b></label>
                                    <p:selectOneMenu id="digital" class="form-control" value="#{ncCompraCrear.digital}">
                                        <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                        <f:selectItem itemLabel="NO" itemValue="N"/> 
                                        <p:ajax event="change" update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:cdc"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label><b>CDC:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="cdc"
                                                 disabled="#{ncCompraCrear.digital eq 'N'}"
                                                 value="#{ncCompraCrear.notaCreditoCreate.cdc}">                                        
                                    </h:inputText>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Fecha:</b></label>&nbsp;&nbsp;
                                    <p:calendar id="fechaNotaCredito" 
                                                value="#{ncCompraCrear.notaCreditoCreate.fecha}"
                                                locale="es"
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
                                        <p:ajax event="dateSelect" update="list-nota-credito-create-form:form-data:msgs list-nota-credito-create-form:form-data:panel-cabecera-detalle:fechaNotaCredito"/>
                                    </p:calendar>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>N° Nota de Crédito:</b></label>
                                    <h:inputText id="nroNC"
                                                 styleClass="form-control"
                                                 value="#{ncCompraCrear.notaCreditoCreate.nroNotaCredito}"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>N° Timbrado:</b></label>
                                    <h:inputText id="nroTimbrado"
                                                 styleClass="form-control"
                                                 value="#{ncCompraCrear.notaCreditoCreate.nroTimbrado}"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Fecha Vto Timbrado:</b></label>&nbsp;&nbsp;
                                    <p:calendar id="fechaVtoTimbrado" 
                                                value="#{ncCompraCrear.notaCreditoCreate.fechaVencimientoTimbrado}"
                                                locale="es"
                                                pattern="dd/MM/yyyy"
                                                styleClass="p-cal calendarClass">
                                        <p:ajax event="dateSelect" listener="#{ncCompraCrear.onDateSelectVtoTimbrado}" update="list-nota-credito-create-form:form-data:msgs list-nota-credito-create-form:form-data:panel-cabecera-detalle:fechaVtoTimbrado"/>
                                    </p:calendar>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Moneda:</b></label>
                                    <h:inputText disabled="true"
                                                 styleClass="form-control"
                                                 value="#{ncCompraCrear.notaCreditoCreate.codigoMoneda}"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><b>Motivo Emision Interno:</b></label>
                                    <p:selectOneMenu id="motivoEmision" class="form-control" value="#{ncCompraCrear.notaCreditoCreate.idMotivoEmisionInterno}">
                                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione un motivo de emisión" >
                                        </f:selectItem>
                                        <f:selectItems value="#{ncCompraCrear.motivoEmisionInternoAdapterList.data}" var="dato"
                                                       itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                                        <p:ajax event="change" update="list-nota-credito-create-form:form-data:panel-cabecera-detalle:me" listener="#{ncCompraCrear.obtenerMotivoEmision()}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><b>Motivo Emision:</b></label>
                                    <h:outputText id="me"
                                                  styleClass="form-control"
                                                  style="background-color: #e9ecef;" 
                                                  value="#{ncCompraCrear.motivoEmision}">
                                    </h:outputText>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalle</h5>
                        <p:dataTable value="#{ncCompraCrear.listaDetalle}"
                                     var="detalle"
                                     id="data-list-detalle-nota-credito"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen registros disponibles"
                                     >

                            <p:column headerText="Concepto">
                                <p:inputTextarea styleClass="form-control" value="#{detalle.descripcion}" id="desc">
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{ncCompraCrear.cambiarDescripcion(detalle.nroLinea)}" />
                                </p:inputTextarea>
                            </p:column>

                            <p:column headerText="Precio Unitario Con IVA">
                                <h:inputText styleClass="form-control" value="#{detalle.precioUnitarioConIva}" id="precioUnitarioConIva">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{ncCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:inputText styleClass="form-control" value="#{detalle.cantidad}" id="cantidad">
                                    <f:convertNumber type= "number"  pattern= "#,###.##" />
                                    <p:ajax event="blur" process="@form" update="@form" listener="#{ncCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </h:inputText>
                            </p:column>

                            <p:column headerText="IVA">
                                <p:selectOneMenu value="#{detalle.porcentajeIva}" id="idIVA" class="form-control">
                                    <f:selectItem itemLabel="10%" itemValue="10"/>
                                    <f:selectItem itemLabel="5%" itemValue="5"/>
                                    <f:selectItem itemLabel="0%" itemValue="0"/>
                                    <p:ajax event="change" process="@form" update="@form" listener="#{ncCompraCrear.calcularMontos(detalle.nroLinea)}" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Precio Unitario(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.precioUnitarioSinIva}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto(s/IVA)">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoImponible}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Monto IVA">
                                <h:outputText styleClass="form-control" style="background-color: #e9ecef;" value="#{detalle.montoIva}">
                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Sub-Total">
                                <h:outputText styleClass="form-control"
                                              value="#{detalle.montoTotal}">

                                    <f:convertNumber locale="es_PY"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label><b>Total Factura:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="totalFactura"
                                                 disabled="true"
                                                 value="#{ncCompraCrear.notaCreditoCreate.montoTotalNotaCredito}">
                                        <f:convertNumber locale="es_PY"/>
                                    </h:inputText>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label><b>Total letras:</b></label>
                                    <h:inputText styleClass="form-control"
                                                 id="totalLetras"
                                                 disabled="true"
                                                 value="#{ncCompraCrear.montoLetrasFilter.totalLetras}"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" >
                                <p:commandLink styleClass="btn btn-primary"
                                               title="ACEPTAR"
                                               action="#{ncCompraCrear.createNotaCredito()}" 
                                               update="@form"
                                               >
                                    <i class="far fa-check-circle"></i>&nbsp;ACEPTAR
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>

    <sepsa:loading></sepsa:loading>

</ui:composition>
