<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    
    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos del Cliente</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>ID:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{localEdit.cliente.idCliente}"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Razón Social:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{localEdit.cliente.razonSocial}"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>RUC:<p:spacer width="5"/></b></label>
                        <h:outputText value="#{localEdit.cliente.nroDocumento}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos del Local</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label><b>Descripción(*)</b></label>
                        <p:inputText id="des"
                                     styleClass="form-control" 
                                     value="#{localEdit.local.descripcion}"
                                     ></p:inputText>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label><b>GLN(*)</b></label>
                        <p:inputText id="gln"
                                     styleClass="form-control" 
                                     value="#{localEdit.local.gln}"
                                     ></p:inputText>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label><b>ID Externo</b></label>
                        <p:inputText id="idExterno"
                                     styleClass="form-control" 
                                     value="#{localEdit.local.idExterno}"
                                     ></p:inputText>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Activo(*)</b></label>
                        <h:selectOneMenu value="#{localEdit.local.activo}"  id="activo" 
                                         class="form-control">
                            <f:selectItem itemLabel="Elegir Estado" itemValue="#{null}"/>
                            <f:selectItem itemLabel="Si" itemValue="S"/>
                            <f:selectItem itemLabel="No" itemValue="N"/>
                        </h:selectOneMenu> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label><b>Externo(*)</b></label>
                        <h:selectOneMenu value="#{localEdit.local.localExterno}"  id="localExterno" 
                                         class="form-control">
                            <f:selectItem itemLabel="Elegir" itemValue="#{null}"/>
                            <f:selectItem itemLabel="Si" itemValue="S"/>
                            <f:selectItem itemLabel="No" itemValue="N"/>
                            <p:ajax global="false"/>
                        </h:selectOneMenu> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label><b>Telefono</b></label>
                                <div class="input-group mb-3">
                                    <h:outputText id="tel" 
                                                 styleClass="form-control" 
                                                 value="#{localEdit.telefono.prefijo.concat('-').concat(localEdit.telefono.numero)}"
                                                 ></h:outputText>   
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalTelefono').modal('show')"
                                                         update=":data-form:form-data:modalTelefono"/>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
    
        <sepsa:modal-panel id="modalTelefono" title="Telefono">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="tablas">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{localEdit.telefono.idTipoTelefono}" styleClass="form-control">
                                            <f:selectItems value="#{localEdit.listTipoTelefono}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.codigo}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Prefijo</label>
                                        <p:inputText id="prefT"
                                                     styleClass="form-control" 
                                                     value="#{localEdit.telefono.prefijo}"
                                                     ></p:inputText>

                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Número</label>
                                        <p:inputText id="numT"
                                                     styleClass="form-control" 
                                                     value="#{localEdit.telefono.numero}"
                                                     ></p:inputText>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>

                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsTel" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Aceptar" 
                             onclick="$('#modalTelefono').modal('hide')"
                             update=":message-form:message
                             :data-form:form-data:tel">
            </p:commandButton>
        </f:facet> 
    </sepsa:modal-panel>
</ui:composition>