<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Empresa</b></label>
                            <p:autoComplete id="empresa" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{marcaList.completeQueryEmpresa}"
                                            value="#{marcaList.empresaComplete}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="empresa" 
                                            itemLabel="#{empresa.descripcion}" 
                                            itemValue="#{empresa}" 
                                            converter="empresaPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{marcaList.onItemSelectEmpresaFilter}"/>
                            </p:autoComplete>
                        </div>
                    </div-->

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Código</b></label>
                        <p:inputText class="form-control" 
                                     value="#{marcaList.marcaFilter.codigo}"/>
                    </div>
                    
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Descripción</b></label>
                        <p:inputText class="form-control" 
                                     value="#{marcaList.marcaFilter.descripcion}"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{marcaList.filterMarca()}"
                           update="list-form:form-data:marca-data-list">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{marcaList.clear()}"
                           update="list-form:form-data:filter:filter-data
                           list-form:form-data:marca-data-list">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>

</ui:composition>