<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://java.sun.com/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:menu>
        <f:facet name="menuData">
            
            <ui:repeat value="#{menuData.menuAdapter.data}" var="menu">
                <li class="nav-item dropdown" style="#{menuData.obtenerPermisoPerfil(menu.menuPerfiles) ?'display:inline':'display: none'}">
                    <a class="nav-link dropdown-toggle" 
                       href="#" 
                       id="test-dropdown" 
                       role="button" 
                       data-toggle="dropdown" 
                       aria-haspopup="true" 
                       aria-expanded="false">
                        #{menu.codigo}
                    </a>
                    <ul class="dropdown-menu multi-level">
                        <h:form>
                            <ui:repeat value="#{menu.hijos}" var="hijo">

                                <h:panelGroup rendered="#{hijo.tipoMenu.codigo eq 'VISTA_EXTERNA' and menuData.obtenerPermisoPerfil(hijo.menuPerfiles)}">
                                    <h:commandLink class="dropdown-item"

                                                   action="/app/template-dinamico">
                                        #{hijo.descripcion}
                                        <f:param name="idMenu" value="#{hijo.id}"/>
                                        <f:param name="faces-redirect" value="true"/>
                                    </h:commandLink>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{hijo.tipoMenu.codigo eq 'VISTA_LOCAL' and menuData.obtenerPermisoPerfil(hijo.menuPerfiles)}">
                                    <a class="dropdown-item" href="#{menuData.obtenerUrlVistaLocal(request.contextPath, hijo.url)}">#{hijo.descripcion}</a>
                                </h:panelGroup> 
                            </ui:repeat>
                        </h:form>
                    </ul>
                </li>
            </ui:repeat>

        </f:facet>
    </sepsa:menu>

</ui:component>
