<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Cliente</label>&nbsp;
                            <p:autoComplete id="cliente" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{reporteComprobanteVenta.completeQuery}"
                                            value="#{reporteComprobanteVenta.client}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="cli" 
                                            itemLabel="#{cli.razonSocial}" 
                                            itemValue="#{cli}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{reporteComprobanteVenta.onItemSelectCliente()}" 
                                        />
                            </p:autoComplete>
                        </div>
                        <div class="form-group col-sm-2">
                            <label><b>Anual</b></label><br/>
                            <p:selectBooleanCheckbox value="#{reporteComprobanteVenta.parametro.anual}"/>
                        </div>
                        <div class=" form-group col-sm-2">
                            <label><b>Fecha(*)</b></label>
                            <br/>
                            <p:datePicker styleClass="p-cal calendarClass" id="month" locale="es" view="month" value="#{reporteComprobanteVenta.parametro.fecha}" pattern="MM/yyyy" yearNavigator="true" yearRange="2000:2030"/>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="text-right">
                                <br/>
                                <p:commandButton value="DESCARGAR" ajax="false" styleClass="btn btn-primary"
                                                 onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download">
                                    <p:fileDownload value="#{reporteComprobanteVenta.download()}" />
                                </p:commandButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
