<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Nombre de Archivo</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{procesamientoArchivo.searchData.nombreArchivo}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Confirmado</b></label>
                            <h:selectOneMenu id="confirmado"
                                             value="#{procesamientoArchivo.searchData.confirmado}"
                                             class="form-control">
                                <f:selectItem itemValue="#{null}" 
                                              itemLabel="Todos">
                                </f:selectItem>
                                <f:selectItem itemValue="S"
                                              itemLabel="Si">
                                </f:selectItem>
                                <f:selectItem itemValue="N"
                                              itemLabel="No">
                                </f:selectItem>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo Archivo</b></label>
                            <h:selectOneMenu id="tipoArchivo"
                                             value="#{procesamientoArchivo.searchData.idTipoArchivo}"
                                             class="form-control">
                                <f:selectItem itemValue="#{null}" 
                                              itemLabel="Todos">
                                </f:selectItem>
                                <f:selectItems value="#{procesamientoArchivo.tipoArchivoAdapterList.data}" 
                                               var="dato"
                                               itemLabel="#{dato.descripcion}" 
                                               itemValue="#{dato.id}"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo Documento</b></label>
                            <p:selectOneMenu id="tipoDocumento" 
                                             class="form-control" 
                                             value="#{procesamientoArchivo.searchData.idTipoDocumento}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos"></f:selectItem>
                                <f:selectItems value="#{procesamientoArchivo.tipoDocumentoProcesoAdapterList.data}" var="dato"
                                               itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Local Origen</b></label><br/>
                        <p:autoComplete id="localOrigen" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{procesamientoArchivo.completeQuery1}"
                                        value="#{procesamientoArchivo.localOrigen}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="localOr" 
                                        itemLabel="#{localOr.descripcion}" 
                                        itemValue="#{localOr}" 
                                        converter="localPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{procesamientoArchivo.onItemSelectLocalOringenFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Local Destino</b></label><br/>
                        <p:autoComplete id="localDestino" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{procesamientoArchivo.completeQuery2}"
                                        value="#{procesamientoArchivo.localDestino}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="localDes" 
                                        itemLabel="#{localDes.descripcion}" 
                                        itemValue="#{localDes}" 
                                        converter="localPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{procesamientoArchivo.onItemSelectLocalDestinoFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Número de Documento</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{procesamientoArchivo.searchData.nroDocumento}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Desde</b></label>
                            <p:calendar id="fechaDesde" 
                                        value="#{procesamientoArchivo.searchData
                                                 .fechaInsercionDesde}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Hasta</b></label>
                            <p:calendar id="fechaHasta" 
                                        value="#{procesamientoArchivo.searchData
                                                 .fechaInsercionHasta}"
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div> 
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{procesamientoArchivo.filterProcesamientoArchivo()}"
                           update="list-form:form-data:data-list list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{procesamientoArchivo.clear()}"
                           update="list-form:form-data:filter:filter-data
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>
</ui:composition>
