<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{procesamientoArchivo.adapter.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="list-form:form-data:data-list 
                                 list-form:paginator:paginator-panel"
                                 listener="#{procesamientoArchivo.filterProcesamientoArchivo()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

    <p:dataTable value="#{procesamientoArchivo.adapter.data}"
                 var="data"
                 id="data-list"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia"
                 >
        <p:column headerText="Nombre de Archivo">
            <h:outputText value="#{data.nombreArchivo}">
            </h:outputText>
        </p:column>
        <p:column headerText="Fecha de Inserción">
            <h:outputText value="#{data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Hash">
            <h:outputText value="#{data.hash}"/>
        </p:column>
        <p:column headerText="Tipo de Archivo">
            <h:outputText value="#{data.tipoArchivo.descripcion}"/>
        </p:column>
        <p:column headerText="Local Origen">
            <h:outputText value="#{data.localOrigen.descripcion == null ? '--' : data.localOrigen.descripcion}"/>
        </p:column>
        <p:column headerText="Local Destino">
            <h:outputText value="#{data.localDestino.descripcion == null ? '--' : data.localDestino.descripcion}"/>
        </p:column>
        <p:column headerText="Tipo de Documento">
            <h:outputText value="#{data.tipoDocumento.descripcion}"/>
        </p:column>
        <p:column headerText="Número de Documento">
            <h:outputText value="#{data.nroDocumento == null ? '--' : data.nroDocumento}">
            </h:outputText>
        </p:column>
        <p:column headerText="Confirmado">
            <div align="center">
                <h:panelGroup rendered="#{data.confirmado eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.confirmado eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Detalles/Reenvio">
            <div align="center">
                <p:commandLink  styleClass="btn btn-primary"
                                actionListener="#{procesamientoArchivo.verDetalle(data)}"
                                oncomplete="$('#modalDetalle').modal('show')"
                                update=":list-form:form-data:modalDetalle:data-list-detalle"
                                title="Detalles"> 
                    <p:ajax global="false"></p:ajax>
                    <i class="fas fa-info"></i>
                </p:commandLink>
                <b></b>
                <b></b>
                <h:panelGroup id="panel" style="#{data.confirmado == 'N' and data.reenviado == 'N' ?'display:inline':'display:none'}">
                    <p:commandLink title="Reenviar"
                                   styleClass="btn btn-warning"
                                   actionListener="#{procesamientoArchivo.onChangeStatus(data.id)}"
                                   update="list-form:form-data:data-list 
                                   list-form:paginator:paginator-panel
                                   :message-form:message">
                        <i class="fas fa-refresh"></i>
                        <p:confirm header="Confirmación" message="¿Está seguro de Reenviar?"/>
                    </p:commandLink>
                </h:panelGroup>
            </div>
        </p:column>
    </p:dataTable>

    <sepsa:modal-panel id="modalDetalle" title="Detalles" sizePanel="modal-xl">
        <f:facet name="content">
            <p:dataTable value="#{procesamientoArchivo.detalles}"
                         var="dat" 
                         id="data-list-detalle"  
                         editable="true" 
                         paginator="true"
                         paginatorAlwaysVisible="false"
                         rows="10"
                         rowIndexVar="index"
                         style="text-align: center;"
                         emptyMessage="No tiene registros"
                         >
                <p:column headerText="#" > 
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="Descripción" > 
                    <h:outputText value="#{dat.descripcion}"/>
                </p:column>
            </p:dataTable>
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

    <sepsa:loading></sepsa:loading>
</ui:composition>
