<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    
    <h:body>
        <ui:composition template="template.xhtml">
            
            <ui:define name="content-header">
                <sepsa:content-header title="ERROR 500" preTitle="Error 500 en el sistema"/>
            </ui:define>
            
            <ui:define name="content-body">

                <sepsa:error-page img="500.png" 
                                 error="Se ha producido un error interno 
                                 en el sistema, favor contactar con el 
                                 administrador"/>
            </ui:define>   
        </ui:composition>
    </h:body>
</html>