<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="template.xhtml">

            <ui:define name="content-header">
                <sepsa:content-header title="EMPRESA" preTitle="Página para seleccionar Empresa"/>
            </ui:define>

            <ui:define name="content-body"> 

                <h:form id="panelHome">
                    <div class="login">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Seleccione una Empresa</h5>
                                        <p:selectOneMenu id="empresa" class="form-control" value="#{empresaSeleccionController.idEmpresa}" 
                                                         filter="true" filterMatchMode="startsWith">
                                            <f:selectItems value="#{empresaSeleccionController.empresasHabilitadas}" var="emp"
                                                           itemLabel="#{emp.empresa.descripcion}" itemValue="#{emp.idEmpresa}" />
                                            <p:ajax global="false"/>
                                        </p:selectOneMenu>
                                        <br/>
                                        <br/>
                                        <div align="center">
                                            <p:commandLink styleClass="btn btn-primary" 
                                                           action="#{empresaSeleccionController.definirTokenEmpresa()}"
                                                           >
                                                <i class="fas fa-sign-in-alt"></i>
                                                INGRESAR
                                            </p:commandLink>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <sepsa:loading></sepsa:loading>
                </h:form>
            </ui:define>   
        </ui:composition>
    </h:body>
</html>
