<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="template.xhtml">

        <ui:define name="content-header">
            <sepsa:content-header title="SEPSA LITE" preTitle=""/>
        </ui:define>

        <ui:define name="content-body"> 

            <h:form>
                <div class="login">
                    <div class="login-screen">
                        <div class="login-form">
                            <div class="app-title">
                                <h4>Ingrese sus credenciales</h4>
                            </div>
                            <br/>
                            <div class="form-group">
                                <!--label for="user">Usuario</label-->
                                <p:inputText styleClass="form-control" 
                                             id="user" 
                                             placeholder="Usuario" 
                                             value="#{login.credential.usuario}"/>

                                <small id="user-help" 
                                       class="form-text text-muted">
                                    Ingrese el usuario provisto por el administrador 
                                    de sistemas
                                </small>
                            </div>

                        </div>


                        <div class="form-group">
                            <!--label for="pass">Contraseña</label-->
                            <p:inputText type="password"
                                         styleClass="form-control" 
                                         id="pass" 
                                         placeholder="Contraseña"
                                         value="#{login.credential.contrasena}"/>

                        </div>

                        <div align="center">
                            <p:commandButton styleClass="btn btn-primary" 
                                             value="INGRESAR"
                                             action="#{login.login()}"
                                             update="error-panel 
                                             jwt-error-panel 
                                             logout-msn-panel"/>
                        </div>

                        <br/><br/>

                        <h:panelGroup id="error-panel">
                            <div class="alert alert-danger 
                                 #{login.error == null ? 'd-none' : ''}" 
                                 role="alert">
                                <h:outputText value="#{login.error}"/>
                            </div>
                        </h:panelGroup>

                        <h:panelGroup id="jwt-error-panel">
                            <div class="alert alert-danger 
                                 #{sessionData.jwtError == null ? 'd-none' : ''}" 
                                 role="alert">
                                <h:outputText value="#{sessionData.jwtError}"/>
                            </div>
                        </h:panelGroup>

                        <h:panelGroup id="logout-msn-panel">
                            <div class="alert alert-info 
                                 #{sessionData.logoutMsn== null ? 'd-none' : ''}" 
                                 role="alert">
                                <h:outputText value="#{sessionData.logoutMsn}"/>
                            </div>
                        </h:panelGroup>
                    </div>
                </div>
                <div align="center">
                    <a href="#{request.contextPath}/solicitud_pass.xhtml"
                       role="button"
                       style="color: #FFB100;"
                       >
                        ¿Has olvidado tu contraseña?
                    </a>
                </div>
            </h:form>
        </ui:define>

    </ui:composition>
</html>