<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content-header">
                <sepsa:content-header title="Recuperación de cuenta" preTitle=""/>
            </ui:define>
            <ui:define name="content-body">
                <p:growl id="msgs" showDetail="true"/>
                <h:form id="pass-form">
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <h:panelGroup id="panel-pass" rendered="#{passRecUser.hashValido}">
                                <div class="row" >
                                    <div class="form-group col-sm-3"></div>
                                    <div class="form-group col-sm-6">
                                        <div class="card">
                                            <div class="card-body" >
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group" >
                                                            <label>Contraseña(*):</label>
                                                            <p:inputText type="password" value="#{passRecUser.pass}"
                                                                         styleClass="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group" >
                                                            <label>Confirmar contraseña(*):</label>
                                                            <p:inputText type="password"  value="#{passRecUser.passConfirmation}"
                                                                         styleClass="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">

                                            <p:commandButton styleClass="btn btn-primary" 
                                                             value="Cambiar contraseña"
                                                             action="#{passRecUser.setCorreoRecuperacion()}"
                                                             update="msgs messages "> 
                                            </p:commandButton>
                                        </div>
                                        <h:panelGroup id="messages" style="#{passRecUser.cambio eq true?'display:inline':'display:none'}">
                                            <div class="alert alert-success" role="alert">
                                                <h4 class="alert-heading">Su contraseña ha sido cambiada con exito!</h4>
                                                <p>Clic <a href="#{request.contextPath}"
                                                           role="button"
                                                           style="color: #FFB100;"
                                                           >
                                                        aqui
                                                    </a> para redireccionar a la página principal</p>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                    <div class="form-group col-sm-3"></div>
                                </div>
                            </h:panelGroup>
                            
                            <h:panelGroup rendered="#{passRecUser.hashValido eq false}">
                                <div class="row" >
                                <div class="form-group col-sm-3"></div>
                                <div class="form-group col-sm-6">
                                        <div class="card">
                                            <div class="card-body" >
                                                <h4 class="alert-heading">El enlace de recuperación ha caducado!</h4>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            </h:panelGroup>
                        </f:facet>
                    </sepsa:form-panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>   
</html>

