<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="./template.xhtml">
             <ui:define name="content-header">
                <sepsa:content-header title="Recuperación de cuenta" preTitle=""/>
            </ui:define>
            <ui:define name="content-body">
                 <p:growl id="msgs" showDetail="true"/>
                <h:form id="pass-user-form">
                    <sepsa:form-panel id="form-data">
                        <f:facet name="controls">
                            <div class="row" >
                                <div class="form-group col-sm-3"></div>
                                <div class="form-group col-sm-6">
                                    <div class="card">
                                        <div class="card-body" >
                                            <div class="row">
                                                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" >
                                                        <label>Usuario(*):</label>
                                                        <h:inputText value="#{solicitudPass.usuario.usuario}"
                                                                     styleClass="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="card-footer text-right">
                                        <p:commandButton styleClass="btn btn-primary"
                                                         value="Recuperar Contraseña"
                                                         action="#{solicitudPass.paginaSolicitudPass()}"
                                                         update="msgs">
                                             <f:param id="clientId" name="clientId" 
                                                      value="#{solicitudPass.usuario.usuario}" ></f:param>
                                        </p:commandButton>
                                    </div>
                                </div>
                            </div>
                        </f:facet>
                    </sepsa:form-panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>   
</html>
