<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="shortcut icon" 
              type="image/x-icon" 
              href="#{resource['img/icono.png']}"/>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta name="keywords" content="SepsaLite"/>
        <meta name="subject" content="SepsaLite"/>
        <meta name="description" content="Bienvenido a Sepsa Lite"/>
        <meta name="copyright" content="SEPSA"/>
        <meta name="language" content="ES"/>
        <meta name="viewport" 
              content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <title>Sepsa Lite</title>

        <!--h:outputScript library="webjars" 
                        name="jquery/3.4.1/jquery.min.js"/-->

        <h:outputScript library="webjars" 
                        name="popper.js/1.15.0/popper.min.js"/>
        <h:outputScript library="webjars" 
                        name="bootstrap/4.3.1/js/bootstrap.min.js"/>
        <h:outputScript library="webjars" 
                        name="malihu-custom-scrollbar-plugin/3.1.5/
                        jquery.mCustomScrollbar.concat.min.js"/>

        <h:outputScript library="js" name="prime-config.js"/>
        
        <h:outputScript library="webjars" name="iframe-resizer/js/iframeResizer.min.js"/>

        <h:outputStylesheet library="webjars" 
                            name="bootstrap/4.3.1/css/bootstrap.min.css"/>

        
        <h:outputStylesheet library="webjars" 
                            name="font-awesome/5.10.1/css/all-jsf.css"/>
      
        <h:outputStylesheet library="css" name="sepsa.css"/>


        <script>


            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: ' ',
                nextText: ' ',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };

        </script>

    </h:head>

    <h:body>
        <h:form id="message-form">
            <p:growl id="message" showDetail="true" showSummary="false"  />
        </h:form>

        <ui:insert name="header"/>

        <ui:insert name="authorization"/>

        <div id="content" class="wrapper">
            <ui:insert name="content-header"/>

            <br/>
            <div class="container-fluid">
                <ui:insert name="content-body"/>
            </div>
        </div>

    </h:body>
</html>
