<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label><b>Anual(*)</b></label><br/>
                                <p:selectBooleanCheckbox value="#{reporteComprobanteNCCompra.parametro.anual}"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label><b>Fecha(*)</b></label>
                                <br/>
                                <p:datePicker styleClass="p-cal calendarClass" id="month" locale="es" view="month" value="#{reporteComprobanteNCCompra.parametro.fecha}" pattern="MM/yyyy" yearNavigator="true" yearRange="2000:2030"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <div class="text-right">
                                <br/>
                                <p:commandButton value="DESCARGAR" ajax="false" styleClass="btn btn-primary"
                                                 onclick="PrimeFaces.monitorDownload(start, stop);" icon="fas fa-download">
                                    <p:fileDownload value="#{reporteComprobanteNCCompra.download()}" />
                                </p:commandButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
