<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{repositorioList.repositorioAdapterList.pageSize}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <p:ajax  update="repositorio-form:form-data:data-list-repositorio 
                                 repositorio-form:paginator:paginator-panel"
                                 listener="#{repositorioList.getRepositorios()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <p:dataTable value="#{repositorioList.repositorioAdapterList.data}"
                 var="data"
                 id="data-list-repositorio"
                 rowIndexVar="index"
                 paginator="false"
                 reflow="true"
                 emptyMessage="Lista vacia">
        <p:column headerText="Id">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" headerText="Empresa">
            <h:outputText value="#{data.empresa.descripcion}"/>
        </p:column>
        <p:column headerText="Tipo de Repositorio">
            <h:outputText value="#{data.tipoRepositorio.descripcion}"/>
        </p:column>
        <p:column headerText="Clave de acceso">
            <h:outputText value="#{data.claveAcceso}"/>
        </p:column>
        <p:column headerText="Clave Secreta">
            <h:outputText value="#{data.claveSecreta}"/>
        </p:column>
        <p:column headerText="Region">
            <h:outputText value="#{data.region}"/>
        </p:column>
        <p:column headerText="bucket">
            <h:outputText value="#{data.bucket}"/>
        </p:column>
        <p:column headerText="ACTIVO">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="NO"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success"  role="alert">
                            <h:outputText value="S"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{repositorioList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i> EDITAR
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>
    <sepsa:loading></sepsa:loading>
</ui:composition>