<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
        
    <div class="card">
        <div class="card-body">
            <div class="form-row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Tipo De Repositorio</b></label>
                        <p:selectOneMenu id="tipoRepositorio" class="form-control" value="#{crearRepositorio.repositorio.idTipoRepositorio}">
                            <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                            </f:selectItem>
                            <f:selectItems value="#{crearRepositorio.tipoRepositorioListAdapter.data}" var="dato"
                                           itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                </div>
                
                <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true"
                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                    cacheTimeout="30000" 
                                    completeMethod="#{crearRepositorio.completeEmpresaQuery}"
                                    value="#{crearRepositorio.empresaAutocomplete}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="emp" 
                                    itemLabel="#{emp.descripcion}" 
                                    itemValue="#{emp}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{crearRepositorio.onItemSelectEmpresa}"/>
                    </p:autoComplete>
                </h:panelGroup>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Clave Acceso (*)</b></label>
                    <p:inputText id="descipcion"
                                 styleClass="form-control"                                 
                                 placeholder="Clave acceso" 
                                 value="#{crearRepositorio.repositorio.claveAcceso}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Clave Secreta (*)</b></label>
                    <p:inputText id="claveSecreta"
                                 styleClass="form-control"
                                 placeholder="Clave Secreta" 
                                 value="#{crearRepositorio.repositorio.claveSecreta}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Region (*)</b></label>
                    <p:inputText id="region"
                                 styleClass="form-control"
                                 placeholder="region" 
                                 value="#{crearRepositorio.repositorio.region}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Bucket (*)</b></label>
                    <p:inputText id="bucket"
                                 styleClass="form-control"
                                 placeholder="Bucket"
                                 value="#{crearRepositorio.repositorio.bucket}"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Activo</b></label>
                    <h:selectOneMenu id="estado"
                                     value="#{crearRepositorio.repositorio.activo}"
                                     styleClass="custom-select">
                        <f:selectItem itemValue="S"
                                      itemLabel="SI">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="NO">
                        </f:selectItem>
                    </h:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>