<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Tipo De Repositorio</b></label>
                            <h:selectOneMenu id="tipoRepositorio" class="form-control" value="#{repositorioList.repositorioFilter.idTipoRepositorio}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{repositorioList.tipoRepositorioListAdapter.data}" var="dato"
                                               itemLabel="#{dato.descripcion}" itemValue="#{dato.id}"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true"
                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                    cacheTimeout="30000" 
                                    completeMethod="#{repositorioList.completeEmpresaQuery}"
                                    value="#{repositorioList.empresaAutocomplete}"
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="emp" 
                                    itemLabel="#{emp.descripcion}" 
                                    itemValue="#{emp}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{repositorioList.onItemSelectEmpresa}"/>
                    </p:autoComplete>
                </h:panelGroup>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Activo</b></label>
                            <h:selectOneMenu value="#{repositorioList.repositorioFilter.activo}"
                                             styleClass="form-control">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItem itemValue="S" itemLabel="SI" >
                                </f:selectItem>
                                <f:selectItem itemValue="N" itemLabel="NO">
                                </f:selectItem>
                                <p:ajax global="false"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{repositorioList.getRepositorios()}"
                           update="repositorio-form:form-data:data-list-repositorio 
                           repositorio-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{repositorioList.clear()}"
                           update="repositorio-form:form-data:filter:filter-data
                           repositorio-form:form-data:data-list-repositorio 
                           repositorio-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>