<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Padre</b></label><br/>
                        <p:autoComplete id="idPadre" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarReferenciaGeografica.completeQuery}"
                                        value="#{listarReferenciaGeografica.padre}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="refDesc" 
                                        itemLabel="#{refDesc.descripcion}" 
                                        itemValue="#{refDesc}" 
                                        converter="referenciaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarReferenciaGeografica.onItemSelectReferenciaFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Tipo de Referencia</b></label>
                        <p:selectOneMenu id="idTipoReferencia"
                                         value="#{listarReferenciaGeografica.searchData.idTipoReferenciaGeografica}"
                                         class="form-control">
                            <f:selectItem itemValue="#{null}" 
                                          itemLabel="Todos">
                            </f:selectItem>
                            <f:selectItems value="#{listarTipoReferenciaGeografica.adapter.data}" 
                                           var="dato"
                                           itemLabel="#{dato.descripcion}" 
                                           itemValue="#{dato.id}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class=" form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Código</b></label>
                        <p:inputText class="form-control" 
                                     value="#{listarReferenciaGeografica.searchData
                                              .codigo}"/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Descripción</b></label>
                        <p:inputText class="form-control" 
                                     value="#{listarReferenciaGeografica.searchData
                                              .descripcion}"/>
                    </div>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarReferenciaGeografica.filterReferenciaGeografica()}"
                           update="list-form:form-data:data-list
                           list-form:form-data:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarReferenciaGeografica.clear()}"
                           update="list-form:form-data:data-list 
                           list-form:filter:filter-data
                           list-form:form-data:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>
