<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Código(*)</b></label>
                    <p:inputText id="codigo"
                                 class="form-control" 
                                 value="#{referenciaCreate.referencia.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripción(*)</b></label>
                    <p:inputText id="descripcion"
                                 class="form-control" 
                                 value="#{referenciaCreate.referencia.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Tipo de Referencia(*)</b></label>
                    <p:selectOneMenu id="idTipoReferencia"
                                     value="#{referenciaCreate.referencia.idTipoReferenciaGeografica}"
                                     class="form-control">
                        <f:selectItem itemValue="#{null}" 
                                      itemLabel="Ninguna">
                        </f:selectItem>
                        <f:selectItems value="#{referenciaCreate.adapterTipoReferencia.data}"
                                       var="dato"
                                       itemLabel="#{dato.descripcion}" 
                                       itemValue="#{dato.id}"/>
                        <p:ajax event="change" update="data-form:form-data:idPadre"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Padre</b></label><br/>
                    <p:autoComplete id="idPadre" 
                                    cache="true" 
                                    cacheTimeout="30000"
                                    disabled="#{referenciaCreate.referencia.idTipoReferenciaGeografica eq (referenciaCreate.obtenerTipoReferenciaGeografica())}"
                                    completeMethod="#{referenciaCreate.completeQuery}"
                                    value="#{referenciaCreate.referenciaAutoComplete}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="referenciaDesc" 
                                    itemLabel="#{referenciaDesc.descripcion}" 
                                    itemValue="#{referenciaDesc}" 
                                    converter="referenciaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{referenciaCreate.onItemSelectReferenciaFilter}"/>
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
</ui:composition>