<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <p:dataTable value="#{listarReferenciaGeografica.adapter.data}"
                 var="data"
                 id="data-list"
                 editable="true"
                 paginator="false"
                 style="text-align: center;"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >
        <p:column headerText="Código">
            <h:outputText value="#{data.codigo}"/>
        </p:column>
        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>
        <p:column headerText="Padre">
            <h:outputText value="#{data.padre == null ? '--' : data.padre.descripcion}"/>
        </p:column>
        <p:column headerText="Tipo">
            <h:outputText value="#{data.tipoReferenciaGeografica.descripcion}"/>
        </p:column>
        <p:column headerText="Editar">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{listarReferenciaGeografica.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarReferenciaGeografica.adapter}" 
                     searchData="#{listarReferenciaGeografica.searchData}"
                     id="paginator"
                     updatePage=":list-form:form-data:data-list 
                     :list-form:form-data:paginator:paginator-panel"/>

</ui:composition>
