<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>ID</b></label>
                    <p:outputLabel id="id"
                                 styleClass="form-control" 
                                 value="#{referenciaEdit.referenciaGeografica.id}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control" 
                                 value="#{referenciaEdit.referenciaGeografica.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripción</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control" 
                                 value="#{referenciaEdit.referenciaGeografica.descripcion}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Tipo de Referencia</b></label>
                    <p:selectOneMenu id="idTipoReferencia"
                                     value="#{referenciaEdit.referenciaGeografica.idTipoReferenciaGeografica}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="#{null}" 
                                      itemLabel="Ninguna">
                        </f:selectItem>
                        <f:selectItems value="#{listarTipoReferenciaGeografica.adapter.data}" 
                                       var="dato"
                                       itemLabel="#{dato.descripcion}" 
                                       itemValue="#{dato.id}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Padre</b></label><br/>
                    <p:autoComplete id="idPadre" 
                                    cache="true" 
                                    cacheTimeout="30000" 
                                    completeMethod="#{referenciaEdit.completeQuery}"
                                    value="#{referenciaEdit.referenciaAutoComplete}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="referenciaDesc" 
                                    itemLabel="#{referenciaDesc.descripcion}" 
                                    itemValue="#{referenciaDesc}" 
                                    converter="referenciaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{referenciaEdit.onItemSelectReferenciaFilter}"/>
                    </p:autoComplete>
                </div>
            </div>
        </div>
    </div>
</ui:composition>