<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cabecera</h5>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Nombre/Razón Social</label>
                                <h:outputText styleClass="form-control"
                                              value="#{solicitudnotaCreditoDet.solicitudNotaCredito.razonSocial}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>RUC/CI</label>
                                <h:outputText styleClass="form-control"
                                              value="#{solicitudnotaCreditoDet.solicitudNotaCredito.ruc}"/>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Fecha Inserción</label>
                                <h:outputText styleClass="form-control"
                                              value="#{solicitudnotaCreditoDet.solicitudNotaCredito.fechaInsercion}">
                                    <f:convertDateTime  pattern="dd/MM/yyyy" locale="es_PY"/>
                                </h:outputText>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>  
     <br/>
       <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Detalle</h5>

                    <p:dataTable value="#{solicitudnotaCreditoDet.solicitudNotaCredito.solicitudNotaCreditoDetalles}"
                                 var="data"
                                 id="data-list-nota-credito-det-detalle"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 >

                        <p:column headerText="Descripción">
                            <h:outputText value="#{data.descripcion}"/>
                        </p:column>
                        <p:column headerText="Producto">
                            <h:outputText value="#{data.producto.descripcion}"/>
                        </p:column>
                        <p:column headerText="Monto">
                            <h:outputText value="#{data.montoImponible}">
                                <f:convertNumber locale="es_PY"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Monto IVA">
                            <h:outputText value="#{data.montoIva}">
                                <f:convertNumber locale="es_PY"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Sub-Total">
                            <h:outputText value="#{data.montoTotal}">
                                <f:convertNumber locale="es_PY"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </div>
            </div>
        </div>
    </div>
     
</ui:composition>

