<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos</h5>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Codigo(*)</b></label>
                    <p:inputText id="Codigo"
                                 styleClass="form-control"
                                 placeholder="Codigo"
                                 value="#{motivoAnulacionCreate.motivoAnulacion.codigo}"/>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Descripcion(*)</b></label>
                    <p:inputText id="Descripcion"
                                 styleClass="form-control"
                                 placeholder="Descripcion" 
                                 value="#{motivoAnulacionCreate.motivoAnulacion.descripcion}"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>Tipo Motivo Anulacion(*)</b></label>                       
                        <p:selectOneMenu id="tipo" class="form-control" value="#{motivoAnulacionCreate.motivoAnulacion.idTipoMotivoAnulacion}">
                            <f:selectItems value="#{motivoAnulacionCreate.tipoMotivoAnulacionAdapterList.data}" var="mo"
                                       itemLabel="#{mo.descripcion}" itemValue="#{mo.id}"/>

                    </p:selectOneMenu>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Activo(*)</b></label>
                    <p:selectOneMenu id="activo"
                                     value="#{motivoAnulacionCreate.motivoAnulacion.activo}"
                                     styleClass="form-control">
                        <f:selectItem itemValue="S"
                                      itemLabel="Si">
                        </f:selectItem>
                        <f:selectItem itemValue="N"
                                      itemLabel="No">
                        </f:selectItem>
                    </p:selectOneMenu>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
