<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Configuracion</b></label><br/>
                        <p:autoComplete id="configuracion" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarConfiguracionValor.completeQuery}"
                                        value="#{listarConfiguracionValor.configuracionFilter}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="con" 
                                        itemLabel="#{con.descripcion}" 
                                        itemValue="#{con}" 
                                        converter="configuracionPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarConfiguracionValor.onItemSelectConfiguracionFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Activo</b></label>
                            <p:selectOneMenu value="#{listarParametroAdicional.parametroFilter.activo}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Mandatorio</b></label>
                            <p:selectOneMenu value="#{listarParametroAdicional.parametroFilter.mandatorio}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true" 
                                        rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarParametroAdicional.completeEmpresaQuery}"
                                        value="#{listarParametroAdicional.empresaAutocomplete}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="emp" 
                                        itemLabel="#{emp.descripcion}" 
                                        itemValue="#{emp}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarParametroAdicional.onItemSelectEmpresa}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarParametroAdicional.filter()}"
                           update=":list-form:form-data:data-list-parametro-adicional 
                           :list-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarParametroAdicional.clear()}"
                           update=":list-form:form-data:data-list-parametro-adicional
                           :list-form:filter:filter-data
                           :list-form:form-data:paginator2:paginator-panel"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>