<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{listarParametroAdicional.parametroAdicionalAdapter .data}"
                 var="data"
                 id="data-list-parametro-adicional"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <!--p:ajax event="rowEdit" listener="#{listarParametroAdicional.onRowEditConfig}" 
                update=":message-form:message
                list-config-valor-form:form-data:data-list-configuracion-valor"/-->

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>

        <p:column headerText="Código">
            <h:outputText value="#{data.codigo}"/>
        </p:column>

        <p:column headerText="Valor por defecto">

           <h:outputText value="#{data.valorDefecto eq null ? '--' : data.valorDefecto}"/>
        </p:column>

        <!--p:column rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" headerText="Empresa">
            <h:outputText value="#{data.empresa.descripcion}"/>
        </p:column-->

        <p:column headerText="Activo" id="state" >
            <div align="center">
                <p:commandLink title="#{data.activo eq 'S'? 'Inactivar':'Activar'}"
                               actionListener="#{listarParametroAdicional.onChangeStateConfig(data)}" 
                               update=":message-form:message list-form:form-data:data-list-parametro-adicional">
                    <i class="fa fa-2x #{data.activo eq 'S'?'fa-toggle-on text-green':'fa-toggle-off text-red'}"></i>
                    <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado?"  />
                </p:commandLink>
            </div>
        </p:column>

        <p:column style="width:50px" exportable="false">
            <p:rowEditor/>
        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarParametroAdicional.parametroAdicionalAdapter}" 
                     searchData="#{listarParametroAdicional.parametroFilter}"
                     id="paginator2"
                     updatePage=":list-form:form-data:data-list-parametro-adicional
                     :list-form:form-data:paginator2:paginator-panel"/>


    <p:confirmDialog showEffect="face" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>
</ui:composition>
