<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h:commandLink class="btn btn-default" value="Descargar">
                        <i class="fa fa-file-excel-o" style="color: #00a65a;"></i>
                        <p:dataExporter type="xls" target="data-list-vende" fileName="Vendedor" />
                    </h:commandLink>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group row">
                        <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                        <div class="col-sm-8">
                            <h:selectOneMenu value="#{vendedorList.vendedorAdapter.pageSize}" styleClass="form-control">
                                <f:selectItem itemLabel="10" itemValue="10"/>
                                <f:selectItem itemLabel="20" itemValue="20"/>
                                <f:selectItem itemLabel="50" itemValue="50"/>
                                <f:selectItem itemLabel="100" itemValue="100"/>
                                <f:selectItem itemLabel="200" itemValue="200"/>
                                <f:selectItem itemLabel="500" itemValue="500"/>
                                <f:selectItem itemLabel="1000" itemValue="1000"/>
                                <f:ajax event="change" render="list-vende-form:form-data:data-list-vende list-vende-form:paginator:paginator-panel"
                                        listener="#{vendedorList.filterVendedor()}"/>
                            </h:selectOneMenu>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p:dataTable value="#{vendedorList.vendedorAdapter.data}"
                 var="data"
                 id="data-list-vende"
                 editable="true"
                 paginator="false"
                 reflow="true"
                 style="text-align: center"
                 >
        <p:column headerText="ID" >
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Nombre">
            <h:outputText value="#{data.nombre}"/>
        </p:column>
        <p:column headerText="Apellido">
            <h:outputText value="#{data.apellido}"/>
        </p:column>

        <p:column headerText="ID Empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}">
            <h:outputText rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" value="#{data.idEmpresa}"/>
        </p:column>
        <p:column headerText="Empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}">
            <h:outputText rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" value="#{data.empresa}"/>
        </p:column>
        <p:column headerText="Activo" id="state">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="SI"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="NO"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column exportable="false">
            <div align="center">
                <p:menuButton icon="fas fa-ellipsis-h">
                    <p:menuitem value="Editar" action="#{vendedorList.vendedorEditURL(data.id)}" icon="fas fa-file-signature"/>
                </p:menuButton>
            </div>
        </p:column>
    </p:dataTable>
    <sepsa:loading></sepsa:loading>
</ui:composition>
