<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Vendedor</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>ID:</b></label>
                        <h:inputText styleClass="form-control" 
                                     disabled="true"
                                     value="#{vendedorEdit.vendedorfilter.id}"/>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h:panelGroup id="pnl-show" style="#{vendedorEdit.habilitarEditVendedor eq false ?'display:inline':'display: none'}">
                        <label>Estado</label>
                        <h:selectOneMenu value="#{vendedorEdit.vendedorfilter.activo}" 
                                         disabled="true"
                                         class="form-control">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItem itemLabel="ACTIVO" itemValue="A"/>
                            <f:selectItem itemLabel="INACTIVO" itemValue="I"/>
                        </h:selectOneMenu> 
                    </h:panelGroup>
                    <h:panelGroup id="pnl-edit" style="#{vendedorEdit.habilitarEditVendedor eq true ?'display:inline':'display: none'}">
                        <label>Estado</label>
                        <h:selectOneMenu value="#{vendedorEdit.vendedorfilter.activo}" 
                                         class="form-control">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItem itemLabel="ACTIVO" itemValue="A"/>
                            <f:selectItem itemLabel="INACTIVO" itemValue="I"/>
                        </h:selectOneMenu> 
                    </h:panelGroup>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h:panelGroup id="pn2-show" style="#{vendedorEdit.habilitarEditVendedor eq false ?'display:inline':'display: none'}">
                        <label><b>Persona</b></label><br/>
                        <p:autoComplete id="persona" 
                                        disabled="true"
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{vendedorEdit.completeQueryPersona}"
                                        value="#{vendedorEdit.persona}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="per" 
                                        itemLabel="#{per.nombre}"
                                        itemValue="#{per}" 
                                        converter="personaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:column style="background-color: white; border: white;">
                                <h:panelGroup rendered="#{per.idTipoPersona eq 1}">
                                    <i class="fas fa-circle" style="color: greenyellow; font-weight: bold;"></i>
                                    <h:outputText style="vertical-align: middle; margin-left: .5rem" 
                                                  value="#{per.nombre}, #{per.apellido}"/>
                                </h:panelGroup>
                            </p:column>
                            <p:ajax event="itemSelect" listener="#{vendedorEdit.onItemSelectPersonaEdit}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                    <h:panelGroup id="pn2-edit" style="#{vendedorEdit.habilitarEditVendedor eq true ?'display:inline':'display: none'}">
                        <label><b>Persona</b></label><br/>
                        <p:autoComplete id="persona2" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{vendedorEdit.completeQueryPersona}"
                                        value="#{vendedorEdit.persona}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="per" 
                                        itemLabel="#{per.nombre}"
                                        itemValue="#{per}" 
                                        converter="personaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:column style="background-color: white; border: white;">
                                <h:panelGroup rendered="#{per.idTipoPersona eq 1}">
                                    <i class="fas fa-circle" style="color: greenyellow; font-weight: bold;"></i>
                                    <h:outputText style="vertical-align: middle; margin-left: .5rem" 
                                                  value="#{per.nombre}, #{per.apellido}"/>
                                </h:panelGroup>
                            </p:column>
                            <p:ajax event="itemSelect" listener="#{vendedorEdit.onItemSelectPersonaEdit}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
                <h:panelGroup id="pn3-show" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                              class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                              style="#{vendedorEdit.habilitarEditVendedor eq true ?'display:inline':'display: none'}">
                    <label><b>Empresa</b></label><br/>
                    <p:autoComplete cache="true"
                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                    cacheTimeout="30000" 
                                    completeMethod="#{vendedorEdit.completeQueryEmpresa}"
                                    value="#{vendedorEdit.empresa}" 
                                    maxResults="10" 
                                    forceSelection="true"
                                    var="empre" 
                                    itemLabel="#{empre.descripcion}" 
                                    itemValue="#{empre}" 
                                    converter="empresaPojoConverter"
                                    size="25" 
                                    queryDelay="1000"
                                    dropdown="true">
                        <p:ajax event="itemSelect" listener="#{vendedorEdit.onItemSelectEmpresaEdit}"/>
                    </p:autoComplete>
                </h:panelGroup>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <h:panelGroup rendered="#{vendedorEdit.habilitarEditVendedor eq false}">
                        <p:commandButton icon="far fa-edit" 
                                         styleClass="btn btn-warning"
                                         style="float:right;"
                                         id="habilitar-edit"
                                         action="#{vendedorEdit.habilitarEdicionVendedorPanel()}"
                                         title="Habilitar edición"
                                         update="@form"
                                         value="Habilitar"> 
                        </p:commandButton>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{vendedorEdit.habilitarEditVendedor eq true}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-success"
                                         style="float:right;"
                                         id="edit-razon"
                                         title="Confirmar edición"
                                         action="#{vendedorEdit.editarVendedor()}"
                                         update="@form"
                                         value="Confirmar"> 
                        </p:commandButton>
                    </h:panelGroup>
                </div>

            </div>
        </div>
    </div>
    <br/>
</ui:composition>
