<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:loading></sepsa:loading>
    <br></br>
    <sepsa:form-panel id="dato-vende" btnAtras="false">
        <f:facet name="controls">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos del Vendedor</h5>
                    <h:panelGroup id="vendePn1">
                        <div class="form-row">
                            <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                          class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Empresa</b></label><br/>
                                <p:autoComplete cache="true"
                                                rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                                cacheTimeout="30000" 
                                                completeMethod="#{vendedorList.completeQueryEmpresa}"
                                                value="#{vendedorList.empresa}" 
                                                maxResults="10" 
                                                forceSelection="true"
                                                var="empre" 
                                                itemLabel="#{empre.descripcion}" 
                                                itemValue="#{empre}" 
                                                converter="empresaPojoConverter"
                                                size="25" 
                                                queryDelay="1000"
                                                dropdown="true">
                                    <p:ajax event="itemSelect" listener="#{vendedorList.onItemSelectEmpresaCreate}"/>
                                </p:autoComplete>
                            </h:panelGroup>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Nombre (*)</b></label>
                                <p:inputText id="name"
                                             styleClass="form-control" 
                                             value="#{vendedorList.personaNueva.nombre}"
                                             ></p:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>Apellido (*)</b></label>
                                <p:inputText id="lastname"
                                             styleClass="form-control" 
                                             value="#{vendedorList.personaNueva.apellido}"
                                             ></p:inputText>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label><b>N° Documento (*)</b></label>
                                <p:inputText id="doc"
                                             styleClass="form-control" 
                                             value="#{vendedorList.personaNueva.nroDocumento}"
                                             ></p:inputText>
                            </div>

                        </div>
                    </h:panelGroup>
                </div>
            </div>
        </f:facet>

        <f:facet name="submitBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{vendedorList.create()}"
                           update=":message-form:message
                           @form">
                <i class="fas fa-file-medical"></i>
                GUARDAR
            </p:commandLink>
        </f:facet>
    </sepsa:form-panel>
</ui:composition>