<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" >
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Persona</b></label><br/>
                        <p:autoComplete id="persona" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{vendedorList.completeQueryPersona}"
                                        value="#{vendedorList.persona}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="per" 
                                        itemLabel="#{per.nombre}"
                                        itemValue="#{per}" 
                                        converter="personaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:column style="background-color: white; border: white;">
                                <h:panelGroup rendered="#{per.idTipoPersona eq 1}">
                                    <i class="fas fa-circle" style="color: greenyellow; font-weight: bold;"></i>
                                    <h:outputText style="vertical-align: middle; margin-left: .5rem" 
                                                  value="#{per.nombre}, #{per.apellido}"/>
                                </h:panelGroup>
                            </p:column>
                            <p:ajax event="itemSelect" listener="#{vendedorList.onItemSelectPersonaFilter}"/>
                        </p:autoComplete>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Estado</label>
                        <h:selectOneMenu value="#{vendedorList.vendedorfilter.activo}" 
                                         class="form-control">
                            <f:selectItem itemLabel="Todos" itemValue="#{null}"></f:selectItem>
                            <f:selectItem itemLabel="ACTIVO" itemValue="A"/>
                            <f:selectItem itemLabel="INACTIVO" itemValue="I"/>
                        </h:selectOneMenu> 
                    </div>

                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true"
                                        rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                        cacheTimeout="30000" 
                                        completeMethod="#{vendedorList.completeQueryEmpresa}"
                                        value="#{vendedorList.empresa}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="empre" 
                                        itemLabel="#{empre.descripcion}" 
                                        itemValue="#{empre}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{vendedorList.onItemSelectEmpresaFilter}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{vendedorList.filterVendedor()}"
                           update="list-vende-form:form-data:data-list-vende 
                           list-vende-form:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{vendedorList.clearFilter()}"
                           update="list-vende-form:form-data:data-list-vende 
                           list-vende-form:form-data:filter:filter-data
                           list-vende-form:paginator:paginator-panel">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>
