<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <div class="card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del transportista</h5>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Naturaleza del transportista: (*)</b></label>
                        <p:selectOneMenu id="idNaturalezaTransportista" class="form-control" value="#{transportistaCreate.transportista.idNaturalezaTransportista}">
                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione la naturaleza del transportista"/> 
                            <f:selectItem itemLabel="Contribuyente" itemValue="1"/>
                            <f:selectItem itemLabel="No Contribuyente" itemValue="2"/> 
                            <p:ajax event="change" update="@form"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nombre/Razón Social:</b></label>
                        <h:inputText styleClass="form-control"
                                     id="razonSocialTransportista"
                                     value="#{transportistaCreate.transportista.razonSocial}">
                        </h:inputText>
                    </div>

                    <h:panelGroup id="panelRucTransportista" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaCreate.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                        <label><b>RUC del transportista: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="rucTransportista"
                                     maxlength="8"
                                     value="#{transportistaCreate.transportista.ruc}">
                        </h:inputText>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaCreate.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                            <label><b>Nro. Verificador de Ruc: (*)</b></label>
                            <h:inputText styleClass="form-control"
                                         id="verificadorRuc"
                                         value="#{transportistaCreate.transportista.verificadorRuc}">
                            </h:inputText>
                        </div>
                    </h:panelGroup>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Domicilio Fiscal: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="domicilioFiscal"

                                     value="#{transportistaCreate.transportista.domicilioFiscal}">
                        </h:inputText>
                    </div>



                    <h:panelGroup id="panelTipoDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaCreate.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                        <label><b>Tipo de Documento:</b></label>
                        <!--h:inputText styleClass="form-control"
                                     id="tipoDocumento"
                                     value="#{transportistaCreate.transportista.verificadorRuc}">
                        </h:inputText-->
                        <p:selectOneMenu id="idTipoDocumento" class="form-control" value="#{transportistaCreate.transportista.idTipoDocumento}">
                            <f:selectItem itemLabel="Cédula Paraguaya" itemValue="1"/>
                            <f:selectItem itemLabel="Pasaporte" itemValue="2"/> 
                            <f:selectItem itemLabel="Cédula Extranjera" itemValue="3"/> 
                            <f:selectItem itemLabel="Carnet de residencia" itemValue="4"/> 
                            <p:ajax event="change" update=":message-form:message @form"/>
                        </p:selectOneMenu>
                    </h:panelGroup>

                    <h:panelGroup id="panelNroDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaCreate.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                        <label><b>Nro. Documento: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nroDocumento"
                                     value="#{transportistaCreate.transportista.nroDocumento}">
                        </h:inputText>
                    </h:panelGroup>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nombre y apellido del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nombreChofer"
                                     value="#{transportistaCreate.transportista.nombreCompleto}">
                        </h:inputText>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Dirección del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="direccionChofer"
                                     value="#{transportistaCreate.transportista.direccionChofer}">
                        </h:inputText>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nro. Documento del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nroDocumentoChofer"
                                     value="#{transportistaCreate.transportista.nroDocumentoChofer}">
                        </h:inputText>
                    </div>


                </div>
            </div>
        </div>
        <!--div class="card-body">
            <h5 class="card-title">Datos del transporte</h5>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">    
                    <label><b>Tipo de transporte: (*)</b></label>
                    <p:selectOneMenu id="tipoTransporte" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.tipoTransporte}">
                        <f:selectItem itemLabel="Propio" itemValue="1"/>
                        <f:selectItem itemLabel="Tercero" itemValue="2"/>
                    </p:selectOneMenu>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Modalidad de transporte: (*)</b></label>
                    <p:selectOneMenu id="modalidadTransporte" class="form-control" value="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione la modalidad de transporte" />
                        <f:selectItem itemLabel="Terrestre" itemValue="1"/>
                        <f:selectItem itemLabel="Fluvial" itemValue="2"/>
                        <f:selectItem itemLabel="Aéreo" itemValue="3"/>
                        <f:selectItem itemLabel="Multimodal" itemValue="4"/>
                        <p:ajax event="change" update=" list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelTipoVehiculo
                                list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroVuelo"/>
                    </p:selectOneMenu>
                </div>

                <h:panelGroup id="panelTipoVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" >

                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 1 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoTerrestre" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="CARGA" itemValue="CARGA"/>
                         
                        </p:selectOneMenu>
                    </div>

                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 2 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoFluvial" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="Fluvial" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoAereo" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="Aereo" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                    <div style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 4 ?'display:inline':'display: none'}">    
                        <label><b>Tipo de Vehiculo: (*)</b></label>
                        <p:selectOneMenu id="tipoVehiculoMultiModal" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoVehiculo}">
                            <f:selectItem itemLabel="MultiModal" itemValue="CARGA"/>
                           
                        </p:selectOneMenu>
                    </div>

                </h:panelGroup>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Marca del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="marcaVehiculo"
                                 value="#{notaRemisionCrear.vehiculoTraslado.marca}"
                                 maxlength="10">
                    </h:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">    
                    <label><b>Tipo de identificación del vehículo: (*)</b></label>
                    <p:selectOneMenu id="tipoIdentificacionVehiculo" class="form-control" value="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion}">
                        <f:selectItem itemValue="#{null}" itemLabel="Seleccione el tipo de identificación" />
                        <f:selectItem itemLabel="Nro. Identificación Vehículo" itemValue="1"/>
                        <f:selectItem itemLabel="Nro. de matrícula" itemValue="2"/>
                        <p:ajax event="change" update="list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelIdVehiculo list-nota-remision-create-form:form-data:panel-cabecera-detalle:panelNroMatricula"/>
                    </p:selectOneMenu>
                </div>

                <h:panelGroup id="panelIdVehiculo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion eq 1 ?'display:inline':'display: none'}" >
                    <label><b>Nro de identificacion del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="idVehiculo"
                                 value="#{notaRemisionCrear.vehiculoTraslado.nroIdentificacion}">
                    </h:inputText>
                </h:panelGroup>

                <h:panelGroup id="panelNroMatricula" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.vehiculoTraslado.tipoIdentificacion eq 2 ?'display:inline':'display: none'}" >
                    <label><b>Nro de matricula del vehículo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="matriculaVehiculo"
                                 maxlength="7"
                                 value="#{notaRemisionCrear.vehiculoTraslado.nroMatricula}">
                    </h:inputText>
                </h:panelGroup>

                <h:panelGroup id="panelNroVuelo" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="#{notaRemisionCrear.notaRemisionCreate.modalidadTransporte eq 3 ?'display:inline':'display: none'}" >
                    <label><b>Nro. de vuelo: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 value="#{notaRemisionCrear.vehiculoTraslado.nroVuelo}">
                    </h:inputText>
                </h:panelGroup>

                <h:panelGroup id="panelNroDespachoImportacion" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"  style="#{notaRemisionCrear.notaRemisionCreate.idMotivoEmisionNr eq 5 ?'display:inline':'display: none'}">
                    <label><b>Nro. de despacho de importación: (*)</b></label>
                    <h:inputText styleClass="form-control"
                                 id="nroDespachoImportacionInput"
                                 value="#{notaRemisionCrear.notaRemisionCreate.nroDespachoImportacion}">
                    </h:inputText>
                </h:panelGroup>


            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Fecha estimadad de inicio de traslado: (*)</b></label>
                    <p:calendar id="fechaInicioTraslado" 
                                value="#{notaRemisionCrear.notaRemisionCreate.fechaInicioTraslado}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                       
                    </p:calendar>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label><b>Fecha estimadad de fin de traslado: (*)</b></label>
                    <p:calendar id="fechaFinTraslado" 
                                value="#{notaRemisionCrear.notaRemisionCreate.fechaFinTraslado}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass">
                      
                    </p:calendar>
                </div>

            </div>
        </div-->
    </div>   

</ui:composition>