<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:growl id="msgs" showDetail="true"/>
   <div class="card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del transportista</h5>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Naturaleza del transportista: (*)</b></label>
                        <p:selectOneMenu id="idNaturalezaTransportista" class="form-control" value="#{transportistaEdit.transportista.idNaturalezaTransportista}">
                            <f:selectItem itemValue="#{null}" itemLabel="Seleccione la naturaleza del transportista"/> 
                            <f:selectItem itemLabel="Contribuyente" itemValue="1"/>
                            <f:selectItem itemLabel="No Contribuyente" itemValue="2"/> 
                            <p:ajax event="change" update="@form"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nombre/Razón Social:</b></label>
                        <h:inputText styleClass="form-control"
                                     id="razonSocialTransportista"
                                     value="#{transportistaEdit.transportista.razonSocial}">
                        </h:inputText>
                    </div>

                    <h:panelGroup id="panelRucTransportista" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaEdit.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                        <label><b>RUC del transportista: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="rucTransportista"
                                     maxlength="8"
                                     value="#{transportistaEdit.transportista.ruc}">
                        </h:inputText>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaEdit.transportista.idNaturalezaTransportista eq 1 ?'display:inline':'display: none'}" >
                            <label><b>Nro. Verificador de Ruc: (*)</b></label>
                            <h:inputText styleClass="form-control"
                                         id="verificadorRuc"
                                         value="#{transportistaEdit.transportista.verificadorRuc}">
                            </h:inputText>
                        </div>
                    </h:panelGroup>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Domicilio Fiscal: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="domicilioFiscal"

                                     value="#{transportistaEdit.transportista.domicilioFiscal}">
                        </h:inputText>
                    </div>



                    <h:panelGroup id="panelTipoDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaEdit.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                        <label><b>Tipo de Documento:</b></label>
                        <!--h:inputText styleClass="form-control"
                                     id="tipoDocumento"
                                     value="#{transportistaEdit.transportista.verificadorRuc}">
                        </h:inputText-->
                        <p:selectOneMenu id="idTipoDocumento" class="form-control" value="#{transportistaEdit.transportista.idTipoDocumento}">
                            <f:selectItem itemLabel="Cédula Paraguaya" itemValue="1"/>
                            <f:selectItem itemLabel="Pasaporte" itemValue="2"/> 
                            <f:selectItem itemLabel="Cédula Extranjera" itemValue="3"/> 
                            <f:selectItem itemLabel="Carnet de residencia" itemValue="4"/> 
                            <p:ajax event="change" update=":message-form:message @form"/>
                        </p:selectOneMenu>
                    </h:panelGroup>

                    <h:panelGroup id="panelNroDocumento" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="#{transportistaEdit.transportista.idNaturalezaTransportista eq 2 ?'display:inline':'display: none'}">
                        <label><b>Nro. Documento: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nroDocumento"
                                     value="#{transportistaEdit.transportista.nroDocumento}">
                        </h:inputText>
                    </h:panelGroup>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nombre y apellido del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nombreChofer"
                                     value="#{transportistaEdit.transportista.nombreCompleto}">
                        </h:inputText>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Dirección del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="direccionChofer"
                                     value="#{transportistaEdit.transportista.direccionChofer}">
                        </h:inputText>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Nro. Documento del chofer: (*)</b></label>
                        <h:inputText styleClass="form-control"
                                     id="nroDocumentoChofer"
                                     value="#{transportistaEdit.transportista.nroDocumentoChofer}">
                        </h:inputText>
                    </div>


                </div>
            </div>
        </div>
    </div>   
</ui:composition>