<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter" btnFilter="true">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Documento</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{transportistaList.nroDocumento}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razón Social</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{transportistaList.transportistaFilter.razonSocial}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Tipo de transportista</b></label>
                            <p:selectOneMenu value="#{transportistaList.transportistaFilter.idTipoDocumento}" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItem itemLabel="Contribuyente" itemValue="1"/>
                                <f:selectItem itemLabel="No Contribuyente" itemValue="2"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Nombre del Chofer</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{transportistaList.transportistaFilter.nombreCompleto}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>N° Documento del chofer</b></label>
                            <p:inputText styleClass="form-control" 
                                         value="#{transportistaList.transportistaFilter.nroDocumentoChofer}"/>
                        </div>
                    </div>
                    
                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{transportistaList.filtrarTransportista()}"
                           update="message-form:message
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel"
                           >
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{transportistaList.clear()}"
                           update="list-form:form-data:data-list
                           list-form:paginator:paginator-panel
                           filter-data"
                           >
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>

</ui:composition>