<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos de Perfil</h5>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Empresa (*)</b></label>
                        <p:autoComplete id="empresa" 
                                        cache="true" 
                                        cacheTimeout="30000" 
                                        completeMethod="#{crearPerfil.completeQueryEmpresa}"
                                        value="#{crearPerfil.empresaComplete}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="empresa" 
                                        itemLabel="#{empresa.descripcion}" 
                                        itemValue="#{empresa}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{crearPerfil.onItemSelectEmpresaFilter}"/>
                        </p:autoComplete>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Código (*)</b></label>
                    <p:inputText id="codigo"
                                 styleClass="form-control" 
                                 value="#{crearPerfil.perfil.codigo}"
                                 ></p:inputText>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Descripcion (*)</b></label>
                    <p:inputText id="descripcion"
                                 styleClass="form-control" 
                                 value="#{crearPerfil.perfil.descripcion}"
                                 ></p:inputText>
                </div>
                
            </div>
        </div>
    </div>
    <br/>
    <p:commandLink styleClass="btn btn-primary" 
                   action="#{crearPerfil.createPerfil()}"
                   style="float:right;"
                   update="@form :message-form:message">
        <i class="fas fa-file-medical"></i>
        CREAR

    </p:commandLink>

</ui:composition>

