<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">

            <h:panelGroup id="filter-data">

                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Empresa</b></label>
                            <p:autoComplete id="empresa" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{listarPerfil.completeQueryEmpresa}"
                                            value="#{listarPerfil.empresaComplete}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="empresa" 
                                            itemLabel="#{empresa.descripcion}" 
                                            itemValue="#{empresa}" 
                                            converter="empresaPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{listarPerfil.onItemSelectEmpresaFilter}"/>
                            </p:autoComplete>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label><b>Código</b></label>
                        <p:inputText class="form-control" 
                                     value="#{listarPerfil.perfil.codigo}"/>
                    </div>
                    
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label><b>Descripción</b></label>
                        <p:inputText class="form-control" 
                                     value="#{listarPerfil.perfil.descripcion}"/>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Activo</b></label>
                            <p:selectOneMenu value="#{listarPerfil.perfil.activo}" id="activo" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"/>
                                <f:selectItem itemLabel="Si" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{listarPerfil.filterPerfil()}"
                           update="perfil-edit-form:form-data:data-list-perfil 
                           perfil-edit-form:form-data:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarPerfil.clean()}"
                           update="perfil-edit-form:form-data:data-list-perfil 
                           perfil-edit-form:form-data:paginator:paginator-panel">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>

</ui:composition>