<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <p:dataTable value="#{listarPerfil.adapterPerfil.data}"
                 var="data"
                 id="data-list-perfil"
                 editable="true"
                 paginator="false"
                 >
        <p:ajax event="rowEdit" listener="#{listarPerfil.onRowEditPerfil}" update="perfil-edit-form:form-data:msgs"/>

        <p:column headerText="ID Perfil" style="width: 75px">
            <h:outputText value="#{data.id}"/>
        </p:column>
        
        <p:column headerText="Empresa">
            <h:outputText value="#{data.empresa.descripcion}"/>
        </p:column>

        <p:column headerText="Descripción">
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{data.descripcion}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText id="descripcion" value="#{data.descripcion}" style="width:100%"/>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column headerText="Código">
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{data.codigo}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText id="cod" value="#{data.codigo}" style="width:100%"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        
        <p:column headerText="Activo">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>

        <p:column headerText="Permisos" style="width: 100px">
<!--            <p:menuButton icon="fas fa-ellipsis-h">
                <p:menuitem value="Editar Perfil" icon="fas fa-search">
                    <p:rowEditor />
                </p:menuitem>
                    
                    <p:menuitem value="Editar Json Permisos"  
                                update="@form" process="@this" global="false"
                                immediate="true"
                                action="#{listarFactura.detalleURL(data.id)}" icon="fas fa-cogs"/>

            </p:menuButton>-->
            <div align="center">
                <p:commandButton styleClass="btn" action="#{listarPerfil.mostrarDatos(data)}" oncomplete="$('#modal-permisos').modal('show')" 
                                 immediate="true"
                                 update="@form"
                                 icon="fa fa-cogs"
                                 process="@this" global="false" >
                </p:commandButton>
            </div>
        </p:column>
        
        <p:column style="width:75px">
            <p:rowEditor />
        </p:column>

        
    </p:dataTable>
    <sepsa:modal-panel id="modal-permisos" title="JSON de Permisos del Perfil" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="col-sm-12" align="center">
                <h:panelGroup>
                    <p:inputTextarea value="#{listarPerfil.permisos}" rows="7" cols="80">
                    </p:inputTextarea>
                </h:panelGroup>
            </div>
        </f:facet>
        
        
        <f:facet name="button">
            <p:commandButton value="Modificar" 
                             update="@form" 
                             process="@form" global="false"
                             styleClass="btn btn-primary"  
                             action="#{listarPerfil.editarPermisos()}"
                             onclick="$('#modal-editar-valor').modal('hide');
                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').remove();" />
        </f:facet>
    </sepsa:modal-panel>
    <br/>
    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{listarPerfil.adapterPerfil}" 
                     searchData="#{listarPerfil.perfil}"
                     id="paginator"
                     updatePage="perfil-edit-form:form-data:data-list-perfil perfil-edit-form:form-data:paginator:paginator-panel"/>

    <p:confirmDialog showEffect="face" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

</ui:composition>
