<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:dataTable value="#{user.adapter.data}"
                 var="data"
                 id="data-list-user"
                 editable="true"
                 paginator="false"
                 >
        <p:ajax event="rowEdit" listener="#{user.onRowEditPass}"
                update=":message-form:message"/>
        <p:column headerText="ID Usuario">
            <h:outputText value="#{data.id}"/>
        </p:column>
        <p:column headerText="Usuario">
            <h:outputText value="#{data.usuario}"/>
        </p:column>
        <p:column headerText="Cambio Contraseña">
            <p:cellEditor> 
                <f:facet name="output">
                    <h:outputText value="********"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText  id="passInput" value="#{user.nuevaContrasena}" style="width:100%"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column style="width:50px">
            <p:rowEditor />
        </p:column>
        <p:column headerText="Estado" id="state">
            <div align="center">
                <h:panelGroup rendered="#{data.estado.descripcion eq 'Activo'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.estado.descripcion ne 'Activo'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="#{data.estado.descripcion}"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>
        <p:column headerText="Cambiar Estado" id="stateChange" >
            <div align="center">
                <p:commandLink title="#{data.estado.descripcion eq 'Activo'? 'Inactivar':'Activar'}"
                               actionListener="#{user.onChangeStateUser(data)}" update=":user-edit-form:form-data:data-list-user
                               :message-form:message" rendered="#{data.estado.descripcion eq 'Bloqueado'? 'false':'true'}">
                    <i class="fa fa-2x #{data.estado.descripcion eq 'Activo'?'fa-toggle-on text-green':'fa-toggle-off text-red'}"></i>
                    <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado del usuario?"  />
                </p:commandLink>
                
                <p:commandLink rendered="#{data.estado.descripcion eq 'Bloqueado'? 'true':'false'}" title="Desbloquear"
                               actionListener="#{user.onChangeStateUser(data)}" update=":user-edit-form:form-data:data-list-user 
                               :message-form:message" >
                    <i class ="fa fa-2x fa-times-circle" style="color:#dd4b39"/>
                    <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado del usuario?"  />
                </p:commandLink>
                
            </div>
        </p:column>
        <p:column headerText="Opciones" id="local">
            <div align="center">
                <p:commandLink  styleClass="btn btn-primary"
                                actionListener="#{user.saveUser(data)}"
                                update="user-edit-form:form-data:data-list-user
                                user-edit-form:form-data:modalLocal:data-list-local
                                user-edit-form:form-data:modalLocal:paginator2:paginator-panel"
                                oncomplete="$('#modalLocal').modal('show')"
                                title="Mostrar Locales Asociados"> 
                    <i class="fas fa-building"></i>
                </p:commandLink>&nbsp;
                <p:commandLink  styleClass="btn btn-primary"
                                actionListener="#{perfil.getlistPerfil(data)}"
                                oncomplete="$('#modalPerfil').modal('show')"
                                update="user-edit-form:form-data:data-list-user
                                :user-edit-form:form-data:modalPerfil:data-list-perfil
                                :user-edit-form:form-data:modalPerfil:paginatorPerfil:paginator-panel"
                                title="Perfiles Asociados"> 
                    <i class="fas fa-users"></i>
                </p:commandLink>&nbsp;
                <p:commandLink
                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                    styleClass="btn btn-primary"
                    actionListener="#{user.getUsuarioEmpresasRelacionadas(data)}"
                    oncomplete="$('#modalEmpresa').modal('show')"
                    update="user-edit-form:form-data:data-list-user
                    :user-edit-form:form-data:modalEmpresa:data-list-empresa
                    :user-edit-form:form-data:modalEmpresa:paginator3:paginator-panel"
                    title="Empresas Asociadas">
                    <i class="fas fa-industry"></i>
                </p:commandLink>&nbsp;
                <p:commandLink
                    rendered="#{!(sessionData.user.codigoTipoEmpresa eq 'ADMIN')}"
                    styleClass="btn btn-primary"
                    actionListener="#{user.getUsuarioEmpresas(data)}"
                    oncomplete="$('#modalEmpresa2').modal('show')"
                    update="user-edit-form:form-data:data-list-user
                    :user-edit-form:form-data:modalEmpresa2:data-list-empresa2
                    :user-edit-form:form-data:modalEmpresa2:paginator4:paginator-panel"
                    title="Empresas Asociadas">
                    <i class="fas fa-industry"></i>
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>
    <br/>
    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{user.adapter}" 
                     searchData="#{user.user}"
                     id="paginator"
                     updatePage="user-edit-form:form-data:data-list-user 
                     user-edit-form:form-data:paginator:paginator-panel"/>

    <sepsa:modal-panel id="modalPerfil" title="Perfiles" sizePanel="modal-xl">
        <f:facet name="content">
            <p:dataTable value="#{perfil.adapterUsuarioPerfilRelacionado.data}"
                         var="pf" 
                         id="data-list-perfil" 
                         editable="true" 
                         paginator="false"
                         emptyMessage="No tiene Perfiles"
                         >
                <p:column headerText="Descripción">
                    <h:outputText value="#{pf.perfil.descripcion}"></h:outputText>
                </p:column>
                <p:column headerText="Código">
                    <h:outputText value="#{pf.perfil.codigo}"/>
                </p:column>
                <p:column headerText="Opciones">
                    <div align="center">
                        <p:commandLink styleClass="btn btn-success"
                                       action="#{perfil.activarPerfil(pf)}"
                                       title="Activar"
                                       rendered="#{pf.estado.codigo eq 'INACTIVO' or pf.estado eq null}"
                                       update=":user-edit-form:form-data:modalPerfil:data-list-perfil 
                                       :message-form:message" >
                            <i class="far fa-check-circle"></i>&nbsp; ACTIVAR
                            <p:confirm  header="Confirmación" message="¿Está seguro de crear la asociación?"/>
                        </p:commandLink>
                        <p:commandLink styleClass="btn btn-danger"
                                       action="#{perfil.inactivarPerfil(pf)}"
                                       title="Inactivar"
                                       rendered="#{pf.estado.codigo eq 'ACTIVO'}"
                                       update="user-edit-form:form-data:modalPerfil:data-list-perfil
                                       :message-form:message" >
                            <i class="fas fa-ban"></i>&nbsp; INACTIVAR
                            <p:confirm  header="Confirmación" message="¿Está seguro de eliminar la asociación?"/>
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>
            <br/>
            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator adapter="#{perfil.adapterUsuarioPerfilRelacionado}" 
                             searchData="#{perfil.usuarioPerfilRelacionadoFilter}"
                             id="paginatorPerfil"
                             updatePage=":user-edit-form:form-data:modalPerfil:data-list-perfil 
                             :user-edit-form:form-data:modalPerfil:paginatorPerfil:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true" responsive="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalLocal" title="Locales" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-footer text-right">
                    <div class="row">
                        <div class="col-sm-12" align="right">
                            <p:commandLink styleClass="btn btn-primary" 
                                           action="#{user.asociarMasivamente()}"
                                           update=":user-edit-form:form-data:modalLocal:data-list-local 
                                           :message-form:message"
                                           >

                                <i class="far fa-plus-square"></i>
                                <p:confirm  header="Confirmación" message="¿Está seguro de asociar masivamente?"/>
                                ASOCIAR TODO
                            </p:commandLink>&nbsp;

                            <p:commandLink styleClass="btn btn-danger" 
                                           action="#{user.eliminarMasivamente()}"
                                           update=":user-edit-form:form-data:modalLocal:data-list-local 
                                           :message-form:message"
                                           >

                                <i class="fas fa-trash-alt"></i>
                                <p:confirm  header="Confirmación" message="¿Está seguro de eliminar masivamente?"/>
                                ELIMINAR TODO
                            </p:commandLink> 
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <p:dataTable value="#{user.adapterUsuarioLocalRelacionado.data}"
                         var="locales" 
                         id="data-list-local"  
                         editable="true" 
                         paginator="false"
                         emptyMessage="No tiene locales"
                         >

                <p:column headerText="Descripción"> 
                    <h:outputText value="#{locales.local.descripcion}"/>
                </p:column>

                <p:column>
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary" 
                                       action="#{user.createAssociation(locales)}"
                                       rendered="#{locales.activo eq 'N'}"
                                       update=":user-edit-form:form-data:modalLocal:data-list-local 
                                       :message-form:message"
                                       >

                            <i class="far fa-plus-square"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de crear la asociación?"/>
                            ASOCIAR
                        </p:commandLink>

                        <p:commandLink styleClass="btn btn-danger" 
                                       action="#{user.deleteAssociation(locales)}"
                                       rendered="#{locales.activo eq 'S'}"
                                       update=":user-edit-form:form-data:modalLocal:data-list-local 
                                       :message-form:message"
                                       >

                            <i class="fas fa-trash-alt"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de eliminar la asociación?"/>
                            ELIMINAR
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>

            <br/>
            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator adapter="#{user.adapterUsuarioLocalRelacionado}" 
                             searchData="#{user.usuarioLocalFilter}"
                             id="paginator2"
                             updatePage="user-edit-form:form-data:modalLocal:data-list-local user-edit-form:form-data:modalLocal:paginator2:paginator-panel"/>

        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalEmpresa" title="Empresas Asociadas al Usuario" sizePanel="modal-xl">
        <f:facet name="content">
            <div class="card">
                <div class="card-footer text-right">
                    <div class="row">
                        <div class="col-sm-12" align="right">
                            <p:commandLink styleClass="btn btn-primary" 
                                           action="#{user.asociarMasivamenteEmpresas()}"
                                           update=":user-edit-form:form-data:modalEmpresa:data-list-empresa
                                           :message-form:message"
                                           >
                                <i class="far fa-plus-square"></i>
                                <p:confirm  header="Confirmación" message="¿Está seguro de asociar masivamente?"/>
                                ASOCIAR TODO
                            </p:commandLink>&nbsp;

                            <p:commandLink styleClass="btn btn-danger" 
                                           action="#{user.eliminarMasivamenteEmpresas()}"
                                           update=":user-edit-form:form-data:modalEmpresa:data-list-empresa
                                           :message-form:message"
                                           >
                                <i class="fas fa-trash-alt"></i>
                                <p:confirm  header="Confirmación" message="¿Está seguro de eliminar masivamente?"/>
                                ELIMINAR TODO
                            </p:commandLink> 
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <p:dataTable value="#{user.adapterUsuarioEmpresaRelacionado.data}"
                         var="data"
                         id="data-list-empresa"  
                         editable="true" 
                         paginator="false"
                         emptyMessage="No tiene Empresas"
                         >
                <p:column headerText="Descripción"> 
                    <h:outputText value="#{data.empresa.descripcion}"/>
                </p:column>
                <p:column>
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary" 
                                       action="#{user.createAssociationUsuarioEmpresaRelacionado(data)}"
                                       rendered="#{data.activo eq 'N'}"
                                       update=":user-edit-form:form-data:modalEmpresa:data-list-empresa
                                       :message-form:message"
                                       >
                            <i class="far fa-plus-square"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de crear la asociación?"/>
                            ASOCIAR
                        </p:commandLink>

                        <p:commandLink styleClass="btn btn-danger" 
                                       action="#{user.deleteAssociationUsuarioEmpresaRelacionado(data)}"
                                       rendered="#{data.activo eq 'S'}"
                                       update=":user-edit-form:form-data:modalEmpresa:data-list-empresa
                                       :message-form:message"
                                       >
                            <i class="fas fa-trash-alt"></i>
                            <p:confirm  header="Confirmación" message="¿Está seguro de eliminar la asociación?"/>
                            ELIMINAR
                        </p:commandLink>
                    </div>
                </p:column>
            </p:dataTable>
            <br/>
            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator adapter="#{user.adapterUsuarioEmpresaRelacionado}"
                             searchData="#{user.usuarioEmpresaRelacionadoFilter}"
                             id="paginator3"
                             updatePage="user-edit-form:form-data:modalEmpresa:data-list-empresa 
                             user-edit-form:form-data:modalEmpresa:paginator3:paginator-panel"/>
        </f:facet>
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalEmpresa2" title="Empresas Asociadas al Usuario" sizePanel="modal-xl">
        <f:facet name="content">
            <p:dataTable value="#{user.adapterUsuarioEmpresa.data}"
                         var="empresaUsuario"
                         id="data-list-empresa2"  
                         editable="true" 
                         paginator="false"
                         emptyMessage="No tiene Empresas"
                         >
                <p:column headerText="Descripción">
                    <h:outputText value="#{empresaUsuario.empresa.descripcion}"/>
                </p:column>
            </p:dataTable>

            <br/>
            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator  adapter="#{user.adapterUsuarioEmpresa}"
                              searchData="#{user.usuarioEmpresaFilter}"
                              id="paginator4"
                              updatePage="user-edit-form:form-data:modalEmpresa2:data-list-empresa2 
                              user-edit-form:form-data:modalEmpresa2:paginator4:paginator-panel"/>
        </f:facet>
    </sepsa:modal-panel>

    <p:confirmDialog showEffect="face" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

</ui:composition>
