<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    <div class="form-row" >
        <div class="form-group col-12">
            <sepsa:form-panel id="panel-user" btnAtras="false">
                <f:facet name="controls">
                    <h:panelGroup id="user-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Datos de Usuario</h5>
                                        <div class="form-group col-sm-12">
                                            <label>Usuario (*)</label>
                                            <p:inputText id="userName"
                                                         styleClass="form-control" 
                                                         value="#{user.user.usuario}"
                                                         ></p:inputText>


                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Contraseña (*)</label>
                                            <p:inputText id="pass"
                                                         styleClass="form-control" 
                                                         value="#{user.user.contrasena}"
                                                         ></p:inputText>


                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Email (*)</label>
                                            <p:inputText id="email"
                                                         styleClass="form-control" 
                                                         value="#{user.emailUsuario.email}"
                                                         ></p:inputText>


                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label>Prefijo (*)</label>
                                                    <p:inputText id="prefijo"
                                                                 styleClass="form-control" 
                                                                 value="#{user.telUsuario.prefijo}"
                                                                 ></p:inputText>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <label>Número (*)</label>
                                                    <p:inputText id="numero"
                                                                 styleClass="form-control" 
                                                                 value="#{user.telUsuario.numero}"
                                                                 ></p:inputText>
                                                </div>
                                                <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                                              class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <label>Empresa</label><br/>
                                                    <p:autoComplete cache="true"
                                                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                                                    cacheTimeout="30000" 
                                                                    completeMethod="#{user.completeEmpresaQuery2}"
                                                                    value="#{user.empresaAutocomplete2}"
                                                                    maxResults="10" 
                                                                    forceSelection="true"
                                                                    var="emp" 
                                                                    itemLabel="#{emp.descripcion}" 
                                                                    itemValue="#{emp}" 
                                                                    converter="empresaPojoConverter"
                                                                    size="25" 
                                                                    queryDelay="1000"
                                                                    dropdown="true">
                                                        <p:ajax event="itemSelect" listener="#{user.onItemSelectEmpresa2}"/>
                                                    </p:autoComplete>
                                                </h:panelGroup>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Datos Persona</h5>
                                        <div class="form-group col-sm-12">
                                            <label>Nombre (*)</label>
                                            <p:inputText id="prevName"
                                                         styleClass="form-control" 
                                                         value="#{user.persona.nombre}"
                                                         ></p:inputText>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Apellido (*)</label>
                                            <p:inputText id="prevApe"
                                                         styleClass="form-control" 
                                                         value="#{user.persona.apellido}"
                                                         ></p:inputText>

                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>N° Documento</label>
                                            <p:inputText id="prevDoc"
                                                         styleClass="form-control"
                                                         value="#{user.persona.nroDocumento}"
                                                         ></p:inputText>
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <div class="card">
                                    <div class="card-body">
                                        <sepsa:filter-panel id="filter" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}">
                                            <f:facet name="filterBody" id="fiter-body">
                                                <h:panelGroup id="empresaPerfil" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                                              class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <label>Empresa</label><br/>
                                                    <p:autoComplete cache="true"
                                                                    rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                                                    cacheTimeout="30000"
                                                                    completeMethod="#{user.completeEmpresaQuery3}"
                                                                    value="#{user.empresaAutocomplete3}"
                                                                    maxResults="10" 
                                                                    forceSelection="true"
                                                                    var="emp2" 
                                                                    itemLabel="#{emp2.descripcion}" 
                                                                    itemValue="#{emp2}" 
                                                                    converter="empresaPojoConverter"
                                                                    size="25" 
                                                                    queryDelay="1000"
                                                                    dropdown="true">
                                                        <p:ajax event="itemSelect" listener="#{user.onItemSelectEmpresa3}"/>
                                                    </p:autoComplete>
                                                </h:panelGroup>
                                            </f:facet>
                                            <f:facet name="filterBtn">
                                                <p:commandLink styleClass="btn btn-primary" 
                                                               action="#{user.filterPerfil()}"
                                                               update="user-form:form-data:panel-user:data-list-perfiles-asociacion 
                                                               user-form:form-data:panel-user:paginator:paginator-panel">
                                                    <i class="fas fa-search"></i>
                                                    BUSCAR
                                                </p:commandLink>
                                            </f:facet>
                                            <f:facet name="cleanBtn">
                                                <p:commandLink styleClass="btn btn-dark"
                                                               action="#{user.clearPerfil()}"
                                                               update=":user-form:form-data:panel-user:data-list-perfiles-asociacion
                                                               :user-form:form-data:form-panel
                                                               :user-form:form-data:panel-user:paginator:paginator-panel">
                                                    <i class="fas fa-broom"></i>
                                                    LIMPIAR
                                                </p:commandLink>
                                            </f:facet>

                                        </sepsa:filter-panel>
                                        <h5 class="card-title">Asociar Perfiles</h5>
                                        <p:dataTable value="#{user.adapterPerfil.data}"
                                                     var="data"
                                                     id="data-list-perfiles-asociacion" rowKey="#{data.id}"
                                                     selection="#{user.perfilUsuarioSelected}"
                                                     editable="true"
                                                     paginator="false"
                                                     >
                                            <p:column selectionMode="multiple"></p:column>
                                            <p:column headerText="Perfil">
                                                <h:outputText value="#{data.descripcion}"/>
                                            </p:column>
                                        </p:dataTable>
                                        <!-- PAGINADOR DE DATOS -->
                                        <br/>
                                        <sepsa:paginator adapter="#{user.adapterPerfil}"
                                                         searchData="#{user.perfil}"
                                                         id="paginator"
                                                         updatePage="user-form:form-data:panel-user:data-list-perfiles-asociacion 
                                                         user-form:form-data:panel-user:paginator:paginator-panel"/>
                                    </div>
                                </div>
                                <br/>
                                <p:commandLink styleClass="btn btn-primary"
                                               action="#{user.create()}"                                               
                                               update=":message-form:message user-form:form-data:form-panel">
                                    <i class="fas fa-file-medical"></i>
                                    CREAR
                                </p:commandLink>&nbsp;

                                <p:commandLink styleClass="btn btn-dark" 
                                               action="#{user.clear()}"
                                               process="@this"
                                               update="user-form:form-data:form-panel"
                                               >
                                    <i class="fas fa-broom"></i>
                                    LIMPIAR
                                </p:commandLink> 
                            </div>
                        </div>

                    </h:panelGroup>
                </f:facet>

            </sepsa:form-panel>

            <sepsa:loading></sepsa:loading>

        </div>
    </div>
</ui:composition>

