<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label><b>Usuario</b></label>
                        <p:inputText class="form-control" 
                                     value="#{user.user.usuario}"/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Estado</b></label>
                            <p:selectOneMenu value="#{user.user.idEstado}" id="idEstado" class="form-control">
                                <f:selectItem itemLabel="Todos" itemValue="#{null}"/>
                                <f:selectItem itemLabel="Activo" itemValue="22"/>
                                <f:selectItem itemLabel="Inactivo" itemValue="23"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                  class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true"
                                        cacheTimeout="30000" 
                                        completeMethod="#{user.completeEmpresaQuery}"
                                        value="#{user.empresaAutocomplete}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="emp" 
                                        itemLabel="#{emp.descripcion}" 
                                        itemValue="#{emp}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{user.onItemSelectEmpresa}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           action="#{user.filter()}"
                           update="user-edit-form:form-data:data-list-user 
                           user-edit-form:form-data:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{user.clear()}"
                           update=":user-edit-form:form-data:data-list-user 
                           :user-edit-form:filter:filter-data
                           :user-edit-form:form-data:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>
    </sepsa:filter-panel>
</ui:composition>