<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <ui:composition template="../template.xhtml">

        <ui:define name="content-header">
            <sepsa:content-header title="LISTA TEST" preTitle="Página para listado de datos"/>
        </ui:define>

        <ui:define name="content-body">

            <h:form id="list-form">

                <!-- PANEL PARA FILTRO -->
                <ui:include src="component/test-filter.xhtml"/>

                <!-- LISTA DE DATOS -->
                <ui:include src="component/test-data-list.xhtml" />
                
                <!-- PAGINADOR DE DATOS -->
                <sepsa:paginator adapter="#{testList.adapter}" 
                                searchData="#{testList.searchData}"
                                id="paginator"
                                updatePage=":list-form:data-list :list-form:paginator:paginator-panel"/>

            </h:form>

        </ui:define>

    </ui:composition>
</html>