<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>

    <p:dataTable value="#{contratoAprobar.adapterContratoAprobar.data}"
                 var="data"
                 id="data-list-contrato-aprobar"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 emptyMessage="No hay contratos por aprobar"
                 >

        <p:column headerText="ID Contrato">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="N° Contrato">
            <h:outputText value="#{data.nroContrato}"/>
        </p:column>
        
        <p:column headerText="Razón Social">
            <h:outputText value="#{data.razonSocial}"/>
        </p:column>

        <p:column headerText="Fecha Inicio">
            <h:outputText value="#{data.fechaInicio}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Fecha Fin">
            <h:outputText value="#{data.fechaFin}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Producto">
            <h:outputText value="#{data.producto}"/>
        </p:column>

        <p:column headerText="Estado">
            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Aprobar Contrato">
            <div align="center">
                <p:commandLink styleClass="btn btn-success"
                               title="Aprobar"
                               action="#{contratoAprobar.aprobarContrato(data)}"
                               update=":list-contrato-aprobar-form:form-data:data-list-contrato-aprobar :list-contrato-aprobar-form:form-data:msgs"
                               >
                    <i class="far fa-check-circle"></i>
                </p:commandLink>
            </div>
        </p:column>

    </p:dataTable>

</ui:composition>
