<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <h:panelGroup>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos Cliente</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>ID:</b></label>&nbsp;&nbsp;
                            <h:outputText value="#{contact.clienteFilter.idCliente}"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razón Social:</b></label>&nbsp;&nbsp;
                            <h:outputText value="#{contact.clienteFilter.razonSocial}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC:</b></label>&nbsp;&nbsp;
                            <h:outputText value="#{contact.clienteFilter.nroDocumento}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:panelGroup>
    <sepsa:loading></sepsa:loading>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5>Mails y Tel&eacute;fonos del Cliente</h5>
            <br/>
            <p:accordionPanel multiple="true" widgetVar="multiple" id="panelAcc"  activeIndex="true">
                <p:tab title="Mails"  >
                    <div class="row">
                        <div class="col-1">
                            <p:commandLink styleClass="btn btn-primary"
                                           style="float:right;"
                                           onclick="$('#modalCrearMail').modal('show')"
                                           update="list-contact-form:form-data:modalCrearMail"
                                           title="Agregar"
                                           >
                                <i class="far fa-envelope"></i> AGREGAR
                            </p:commandLink>
                        </div> 
                    </div> 
                    <br/>
                    <p:dataTable value="#{contact.adapterPersonaEmail.data}"
                                 var="data"
                                 id="data-list-mails"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen correos relacionados al cliente"
                                 >
                        <p:ajax event="rowEdit" listener="#{contact.onRowEditEmail}" 
                                update="list-contact-form:form-data:panelAcc:data-list-mails 
                                :message-form:message"/>
                        <p:column headerText="Principal">
                            <h:panelGroup rendered="#{data.email.principal eq 'N'}">
                                <div class="form-group col">
                                    <div class="alert alert-secondary" role="alert" align="center">
                                        <h:outputText value="NO"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{data.email.principal eq 'S'}">
                                <div class="form-group col">
                                    <div class="alert alert-primary" role="alert" align="center">
                                        <h:outputText value="SÍ"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Tipo">
                            <h:outputText value="#{data.email.tipoEmail.codigo}"/>
                        </p:column>
                        <p:column headerText="Mail">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{data.email.email}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{data.email.email}">
                                    </h:inputText>
                                </f:facet>
                            </p:cellEditor>

                        </p:column>
                        <p:column headerText="Editar" style="width:50px" exportable="false">
                            <p:rowEditor/>
                        </p:column>
                        <p:column headerText="Eliminar">
                            <div align="center">
                                <p:commandLink styleClass="btn btn-danger"
                                               title="Eliminar"
                                               action="#{contact.deteleClienteEmail(data.idPersona, data.idEmail)}"
                                               update="list-contact-form:form-data:panelAcc:data-list-mails 
                                               :message-form:message"
                                               >
                                    <i class="fas fa-trash-alt"></i>
                                </p:commandLink>
                            </div>
                        </p:column>
                    </p:dataTable>
                </p:tab>
                <p:tab title="Teléfonos">
                    <div class="row">
                        <div class="col-1">
                            <p:commandLink styleClass="btn btn-primary"
                                           style="float:right;"
                                           onclick="$('#modalCrearTelefono').modal('show')"
                                           update="list-contact-form:form-data:modalCrearTelefono"
                                           title="Agregar"
                                           >
                                <i class="far fa-address-book"></i> AGREGAR
                            </p:commandLink>
                        </div> 
                    </div> 
                    <br/>
                    <p:dataTable value="#{contact.adapterPersonaTelefono.data}"
                                 var="data"
                                 id="data-list-telefonos"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen teléfonos relacionados al cliente"
                                 >
                        <p:ajax event="rowEdit" listener="#{contact.onRowEditTelefono}" 
                                update="list-contact-form:form-data:panelAcc:data-list-telefonos 
                                :message-form:message"/>
                        <p:column headerText="Principal">
                            <h:panelGroup rendered="#{data.telefono.principal eq 'N'}">
                                <div class="form-group col">
                                    <div class="alert alert-secondary" role="alert" align="center">
                                        <h:outputText value="NO"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{data.telefono.principal eq 'S'}">
                                <div class="form-group col">
                                    <div class="alert alert-primary" role="alert" align="center">
                                        <h:outputText value="SÍ"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Tipo">
                            <h:outputText value="#{data.telefono.tipoTelefono.codigo}"/>
                        </p:column>
                        <p:column headerText="Teléfono">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{data.telefono.prefijo.concat(' - ').concat(data.telefono.numero)}"/>                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{data.telefono.prefijo}" label="prefijo">
                                    </h:inputText>&nbsp;
                                    <h:inputText value="#{data.telefono.numero}" label="número">
                                    </h:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Editar" style="width:50px" exportable="false">
                            <p:rowEditor/>
                        </p:column>
                        <p:column headerText="Eliminar">
                            <div align="center">
                                <p:commandLink styleClass="btn btn-danger"
                                               title="Eliminar"
                                               action="#{contact.deteleClienteTelefono(data.idPersona, data.idTelefono)}"
                                               update="list-contact-form:form-data:panelAcc:data-list-telefonos
                                               :message-form:message"
                                               >
                                    <i class="fas fa-trash-alt"></i>
                                </p:commandLink>
                            </div>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:accordionPanel>
        </div>
    </div>

    <br/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title">Contactos</h5>
                </div> 
                <!--div class="col-2">
                    <h:panelGroup rendered="#{sessionData.user.perfiles.roleOper}">
                        <p:commandLink styleClass="btn btn-primary"
                                       style="float:right;"
                                       action="#{contact.showPanel()}"
                                       update="list-contact-form:form-data:crear-contacto:panel-contacto"
                                       title="Agregar"
                                       >
                            <i class="far fa-address-card"></i> AGREGAR
                        </p:commandLink>
                    </h:panelGroup>
                </div--> 
            </div>
            <br/>
            <!--sepsa:form-panel id="crear-contacto">
                <f:facet name="controls">
                    <h:panelGroup  id= "panel-contacto" style="style#{contact.show eq true ?'display:inline':'display: none'}">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-10">
                                            <h6 class="card-title">Crear Contacto</h6>
                                        </div> 
                                        <div class="col-2">
                                            <p:commandLink styleClass="btn btn-light"
                                                           style="float:right;"
                                                           action="#{contact.hidePanel()}"
                                                           update="list-contact-form:form-data:crear-contacto:panel-contacto"
                                                           title="Cerrar"
                                                           >
                                                <i class="fas fa-times"></i>
                                            </p:commandLink>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <p:inputText id="name"
                                                             styleClass="form-control" 
                                                             value="#{contact.personaCreate.nombre}"
                                                             ></p:inputText>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <p:inputText id="last-name"
                                                             styleClass="form-control" 
                                                             value="#{contact.personaCreate.apellido}"
                                                             ></p:inputText>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Tipo Contacto</label>
                                                <p:selectOneMenu id="tipoContacto" class="form-control" value="#{contact.contactoCreate.idTipoContacto}">
                                                    <f:selectItems value="#{contact.adapterTipoContacto.data}" var="tipoCont"
                                                                   itemLabel="#{tipoCont.descripcion}" itemValue="#{tipoCont.id}"/>
                                                    <p:ajax global="false"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Cargo</label>
                                                <p:selectOneMenu id="cargo" class="form-control" value="#{contact.contactoCreate.idCargo}">
                                                    <f:selectItems value="#{contact.adapterCargo.data}" var="tipoCargo"
                                                                   itemLabel="#{tipoCargo.descripcion}" itemValue="#{tipoCargo.id}"/>
                                                    <p:ajax global="false"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left">
                                            <div class="form-group">
                                                <p:commandLink styleClass="btn btn-info"
                                                               onclick="$('#modalCrearMailContacto').modal('show')"

                                                               title="Agregar Mail"
                                                               >
                                                    <i class="far fa-envelope"></i>&nbsp;AGREGAR MAIL
                                                </p:commandLink>
                                                <br/>
                                                <br/>
                                                <p:commandLink styleClass="btn btn-info"
                                                               onclick="$('#modalCrearTelefonoContacto').modal('show')"

                                                               title="Agregar Telefono"
                                                               >
                                                    <i class="far fa-address-book"></i>&nbsp;AGREGAR TELÉFONO
                                                </p:commandLink>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p:commandLink styleClass="btn btn-primary"
                                                           action="#{contact.createContact()}"
                                                           update="list-contact-form:form-data:msgs list-contact-form:form-data:data-list-contacto-persona"
                                                           style="float:right;"
                                                           title="Crear"
                                                           >
                                                <i class="far fa-plus-square"></i>&nbsp;CREAR
                                            </p:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </f:facet>
            </sepsa:form-panel-->

            <p:dataTable value="#{contact.personaContactoAdapter.data}"
                         var="data"
                         id="data-list-contacto-persona"
                         editable="true"
                         paginator="false"
                         tableStyle="table-layout: auto;" 
                         tableStyleClass="table table-bordered table-hover"
                         emptyMessage="No existen contactos relacionados al cliente"
                         >
                <p:ajax event="rowToggle" listener="#{contact.onRowToggle}" 
                        update="list-contact-form:form-data:data-list-contacto-persona" />
                <p:column style="width:16px">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Contacto">
                    <h:outputText value="#{data.contacto.persona.nombre} #{data.contacto.persona.apellido}"/>
                </p:column>
                <p:column headerText="Cargo">
                    <h:outputText value="#{data.contacto.cargo.descripcion}"/>
                </p:column>
                <p:column headerText="Tipo Contacto">
                    <h:outputText value="#{data.contacto.tipoContacto.descripcion}"/>
                </p:column>
                <p:column headerText="Activo">
                    <div align="center">
                        <p:commandLink title="#{data.contacto.activo eq 'N'? 'INACTIVO':'ACTIVO'}"
                                       actionListener="#{contact.onChangeStatusContact(data)}" 
                                       update=":list-contact-form:form-data:data-list-contacto-persona 
                                       :message-form:message">
                            <i class="fa fa-2x #{data.contacto.activo eq 'S'?'fa-toggle-on text-green':'fa-toggle-off text-red'}"></i>
                            <p:confirm header="Confirmación" message="¿Está seguro de cambiar el estado del contacto?"  />
                        </p:commandLink>
                    </div>
                </p:column>
                <!--p:column headerText="Agregar Mail" >
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary"
                                       action="#{contact.saveContact(data.idContacto)}"
                                       onclick="$('#modalAgregarMailContacto').modal('show')"
                                       update="list-contact-form:form-data:modalAgregarMailContacto list-contact-form:form-data:modalAgregarMailContacto:data-list-tipo-notificacion-email"
                                       title="Agregar"
                                       >
                            <i class="far fa-envelope"></i>
                        </p:commandLink>
                    </div>
                </p:column>
                <p:column headerText="Agregar Teléfono" >
                    <div align="center">
                        <p:commandLink styleClass="btn btn-primary"
                                       action="#{contact.saveContact(data.idContacto)}"
                                       onclick="$('#modalAgregarTelefono').modal('show')"
                                       update="list-contact-form:form-data:modalAgregarTelefono"
                                       title="Agregar"
                                       >
                            <i class="far fa-address-book"></i>
                        </p:commandLink>
                    </div>
                </p:column-->
                <p:rowExpansion>

                    <h5 class="card-title" align="center">Teléfonos del Contacto</h5>
                    <p:dataTable value="#{contact.adapterPersonaTelefonoContacto.data}"
                                 var="data"
                                 id="data-list-contacto-telefono"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen Telefonos para el  Contacto"
                                 >
                        <p:ajax event="rowEdit" listener="#{contact.onRowEditTelefono}" 
                                update="
                                :message-form:message"/>
                        <p:column headerText="Principal">
                            <h:panelGroup rendered="#{data.telefono.principal eq 'N'}">
                                <div class="form-group col">
                                    <div class="alert alert-secondary" role="alert" align="center">
                                        <h:outputText value="NO"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{data.telefono.principal eq 'S'}">
                                <div class="form-group col">
                                    <div class="alert alert-primary" role="alert" align="center">
                                        <h:outputText value="SÍ"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Tipo">
                            <h:outputText value="#{data.telefono.tipoTelefono.codigo}"/>
                        </p:column>
                        <p:column headerText="Teléfono">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{data.telefono.prefijo.concat(' - ').concat(data.telefono.numero)}"/>                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{data.telefono.prefijo}" label="prefijo">
                                    </h:inputText>&nbsp;
                                    <h:inputText value="#{data.telefono.numero}" label="número">
                                    </h:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Editar" style="width:50px" exportable="false">
                            <p:rowEditor/>
                        </p:column>
                        <!--p:column headerText="Tipo de Notificaciones" rendered="#{sessionData.user.perfiles.roleOper}">
                            <div align="center">
                                <p:commandButton icon="far fa-bell" styleClass="btn btn-primary"
                                                 actionListener="#{contact.filterContactoTelefonoNotificacion(data)}"
                                                 update=":list-contact-form:form-data:modalNotificaciones:data-list-contacto-telefono-notificacion"
                                                 onclick="$('#modalNotificaciones').modal('show')"
                                                 title="Ver Notificaciones"> 
                                </p:commandButton>
                            </div>
                        </p:column-->
                    </p:dataTable>
                    <br/>
                    <h5 class="card-title" align="center">Mails del Contacto</h5>
                    <p:dataTable value="#{contact.adapterPersonaEmailContacto.data}"
                                 var="data"
                                 id="data-list-contacto-email"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No se encuentran Mails para el Contacto"
                                 >
                        <p:ajax event="rowEdit" listener="#{contact.onRowEditEmail}" 
                                update=":message-form:message"/>
                        <p:column headerText="Principal">
                            <h:panelGroup rendered="#{data.email.principal eq 'N'}">
                                <div class="form-group col">
                                    <div class="alert alert-secondary" role="alert" align="center">
                                        <h:outputText value="NO"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{data.email.principal eq 'S'}">
                                <div class="form-group col">
                                    <div class="alert alert-primary" role="alert" align="center">
                                        <h:outputText value="SÍ"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Tipo">
                            <h:outputText value="#{data.email.tipoEmail.codigo}"/>
                        </p:column>
                        <p:column headerText="Mail">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{data.email.email}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{data.email.email}">
                                    </h:inputText>
                                </f:facet>
                            </p:cellEditor>

                        </p:column>
                        <p:column headerText="Editar" style="width:50px" exportable="false">
                            <p:rowEditor/>
                        </p:column>
                        <!--p:column headerText="Tipo de Notificaciones" rendered="#{sessionData.user.perfiles.roleOper}">
                            <div align="center">
                                <p:commandButton icon="far fa-bell" styleClass="btn btn-primary"
                                                 actionListener="#{contact.filterContactoEmailNotificacion(data)}"
                                                 update="list-contact-form:form-data:modalNotificacionesEmail:data-list-contacto-email-notificacion"
                                                 onclick="$('#modalNotificacionesEmail').modal('show')"
                                                 title="Ver Notificaciones"> 
                                </p:commandButton>
                            </div>
                        </p:column-->
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>
            <!-- PAGINADOR DE DATOS -->
            <sepsa:paginator adapter="#{contact.personaContactoAdapter}" 
                             searchData="#{contact.personaContactoFilter}"
                             id="paginator"
                             updatePage=":list-contact-form:form-data:data-list-contacto-persona 
                             :list-contact-form:form-data:paginator:paginator-panel"/>

            <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
                <div align="center">
                    <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
                    <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
                </div>
            </p:confirmDialog>

            <!--sepsa:modal-panel id="modalNotificaciones" title="Tipo de Notificaciones" sizePanel="modal-xl">
                <f:facet name="content">
                    <p:dataTable value="#{contact.adapterContactoTelefonoNotificacion.data}"
                                 var="data"
                                 id="data-list-contacto-telefono-notificacion"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen notificaciones asociadas"
                                 >
                        <p:column headerText="ID Tipo Notificación">
                            <h:outputText value="#{data.idTipoNotificacion}"/>
                        </p:column>

                        <p:column headerText="Tipo Notificación">
                            <h:outputText value="#{data.tipoNotificacion}"/>
                        </p:column>
                        <p:column headerText="Estado">
                            <div align="center">
                                <h:panelGroup rendered="#{data.estado eq 'I'}">
                                    <p:commandLink styleClass="btn btn-success"
                                                   action="#{contact.editContactoTelefonoNotificacionAsociado(data)}"
                                                   update="list-contact-form:form-data:modalNotificaciones:data-list-contacto-telefono-notificacion :list-contact-form:form-data:msgs"
                                                   title="Activar">
                                        <i class="fas fa-bell"></i>&nbsp; ACTIVAR

                                    </p:commandLink>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{data.estado eq 'A'}">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   action="#{contact.editContactoTelefonoNotificacionAsociado(data)}"
                                                   update="list-contact-form:form-data:modalNotificaciones:data-list-contacto-telefono-notificacion :list-contact-form:form-data:msgs"
                                                   title="Activar">
                                        <i class="fas fa-bell-slash"></i>&nbsp;DESACTIVAR
                                    </p:commandLink>
                                </h:panelGroup>
                            </div>
                        </p:column>
                    </p:dataTable>
                </f:facet>
            </sepsa:modal-panel-->

            <!--sepsa:modal-panel id="modalNotificacionesEmail" title="Tipo de Notificaciones" sizePanel="modal-xl">
                <f:facet name="content">
                    <p:dataTable value="#{contact.adapterContactoEmailNotificacionAsociado.data}"
                                 var="data"
                                 id="data-list-contacto-email-notificacion"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen notificaciones asociadas"
                                 >

                        <p:column headerText="ID Tipo Notificación">
                            <h:outputText value="#{data.idTipoNotificacion}"/>
                        </p:column>
                        <p:column headerText="Tipo Notificación">
                            <h:outputText value="#{data.tipoNotificacion}"/>
                        </p:column>
                        <p:column headerText="Estado">
                            <div align="center">
                                <h:panelGroup rendered="#{data.estado eq 'I'}">
                                    <p:commandLink styleClass="btn btn-success"
                                                   action="#{contact.editContactoEmailNotificacionAsociado(data)}"
                                                   update="list-contact-form:form-data:modalNotificacionesEmail:data-list-contacto-email-notificacion :list-contact-form:form-data:msgs"
                                                   title="Activar">
                                        <i class="fas fa-bell"></i>&nbsp; ACTIVAR

                                    </p:commandLink>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{data.estado eq 'A'}">
                                    <p:commandLink styleClass="btn btn-danger"
                                                   action="#{contact.editContactoEmailNotificacionAsociado(data)}"
                                                   update="list-contact-form:form-data:modalNotificacionesEmail:data-list-contacto-email-notificacion :list-contact-form:form-data:msgs"
                                                   title="Activar">
                                        <i class="fas fa-bell-slash"></i>&nbsp;DESACTIVAR
                                    </p:commandLink>
                                </h:panelGroup>
                            </div>
                        </p:column>
                    </p:dataTable>
                </f:facet>
            </sepsa:modal-panel-->
            <sepsa:modal-panel id="modalCrearMail" title="Agregar Mail" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Tipo</label>
                                <h:selectOneMenu id="tipo" class="form-control" value="#{contact.emailCreate.idTipoEmail}">
                                    <f:selectItems value="#{contact.adapterTipoEmail.data}" var="te"
                                                   itemLabel="#{te.descripcion}" itemValue="#{te.id}"/>

                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.emailCreate.principal}" id="principal" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email</label>
                                <p:inputText styleClass="form-control"  id="email"
                                             value="#{contact.emailCreate.email}"/>
                            </div>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="button">
                    <p:commandButton id="btnModal" 
                                     onclick="$('#modalCrearMail').modal('hide')"
                                     actionListener="#{contact.createEmail()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update="list-contact-form:form-data:panelAcc:data-list-mails 
                                     :message-form:message
                                     :list-contact-form:form-data:modalCrearMail:email">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>

            <sepsa:modal-panel id="modalCrearTelefono" title="Agregar Teléfono" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h:panelGroup id="panel-tipo">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <h:selectOneMenu id="tipoTel" class="form-control" value="#{contact.telefonoCreate.idTipoTelefono}">
                                        <f:selectItems value="#{contact.adapterTipoTelefono.data}" var="tel"
                                                       itemLabel="#{tel.descripcion}" itemValue="#{tel.id}"/>

                                    </h:selectOneMenu>
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.telefonoCreate.principal}" id="principalTelefono" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Prefijo</label>
                                <p:inputText styleClass="form-control"  id="prefijo"
                                             value="#{contact.telefonoCreate.prefijo}"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Número</label>
                                <p:inputText styleClass="form-control"  id="numero"
                                             value="#{contact.telefonoCreate.numero}"/>
                            </div>
                        </div>
                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModal2"
                                     onclick="$('#modalCrearTelefono').modal('hide')"
                                     actionListener="#{contact.createTelefono()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update=":list-contact-form:form-data:panelAcc:data-list-telefonos 
                                     :message-form:message
                                     :list-contact-form:form-data:modalCrearTelefono:prefijo
                                     :list-contact-form:form-data:modalCrearTelefono:numero">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel>
            <!--sepsa:modal-panel id="modalCrearMailContacto" title="Agregar Mail" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Tipo</label>
                                <h:selectOneMenu id="tipoEm" class="form-control" value="#{contact.emailContactoCreate.idTipoEmail}">
                                    <f:selectItems value="#{contact.adapterTipoEmailContacto.data}" var="teCon"
                                                   itemLabel="#{teCon.descripcion}" itemValue="#{teCon.id}"/>

                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.emailContactoCreate.principal}" id="principalEmail" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.emailContactoCreate.email}"/>
                            </div>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="button">
                    <p:commandButton id="btnModal" 
                                     onclick="$('#modalCrearMailContacto').modal('hide')"
                                     actionListener="#{contact.createEmailContacto()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update=":message-form:message">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel-->

            <!--sepsa:modal-panel id="modalCrearTelefonoContacto" title="Agregar Teléfono" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h:panelGroup id="panel-tipo">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <h:selectOneMenu id="tipoTelCont" class="form-control" value="#{contact.telefonoContactoCreate.idTipo}">
                                        <f:selectItems value="#{contact.adapterTipoTelefonoContacto.data}" var="telCon"
                                                       itemLabel="#{telCon.tipo}" itemValue="#{telCon.id}"/>

                                    </h:selectOneMenu>
                                </div>
                            </h:panelGroup>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.telefonoContactoCreate.principal}" id="principalTelefonoContact" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Prefijo</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.telefonoContactoCreate.prefijo}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Número</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.telefonoContactoCreate.numero}"/>
                            </div>
                        </div>
                    </div>
                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModal2"
                                     onclick="$('#modalCrearTelefonoContacto').modal('hide')"
                                     actionListener="#{contact.createTelefonoContacto()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update=":message-form:message">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel-->
            <!--sepsa:modal-panel id="modalAgregarMailContacto" title="Agregar Mail" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Tipo</label>
                                <h:selectOneMenu id="tipo" class="form-control" value="#{contact.emailAgregar.idTipoEmail}">
                                    <f:selectItems value="#{contact.adapterTipoEmail.data}" var="te"
                                                   itemLabel="#{te.descripcion}" itemValue="#{te.id}"/>

                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.emailAgregar.principal}" id="principal" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Email</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.emailAgregar.email}"/>
                            </div>
                        </div>
                    </div>

                    <p:dataTable value="#{contact.adapterTipoNotificacion.data}"
                                 var="data"  rowKey="#{data.id}"
                                 selection="#{contact.listNotificacionMail}"
                                 id="data-list-tipo-notificacion-email"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen notificaciones"
                                 >

                        <p:column selectionMode="multiple"></p:column>

                        <p:column headerText="ID Tipo Notificación">
                            <h:outputText value="#{data.id}"/>
                        </p:column>

                        <p:column headerText="Tipo Notificación">
                            <h:outputText value="#{data.descripcion}"/>
                        </p:column>


                    </p:dataTable>

                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModal" 
                                     onclick="$('#modalAgregarMailContacto').modal('hide')"
                                     actionListener="#{contact.agregarEmailContacto()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update=":message-form:message">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel-->

            <!--sepsa:modal-panel id="modalAgregarTelefono" title="Agregar Teléfono" sizePanel="modal-xl">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h:panelGroup id="panel-tipo">
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <h:selectOneMenu id="tipoTel" class="form-control" value="#{contact.telefonoAgregar.idTipo}">
                                        <f:selectItems value="#{contact.adapterTipoTelefono.data}" var="tel"
                                                       itemLabel="#{tel.tipo}" itemValue="#{tel.id}"/>

                                    </h:selectOneMenu>
                                </div>
                            </h:panelGroup>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Principal</label>
                                <h:selectOneMenu value="#{contact.telefonoAgregar.principal}" id="principalTelefono" class="form-control">
                                    <f:selectItem itemLabel="SÍ" itemValue="S"/>
                                    <f:selectItem itemLabel="NO" itemValue="N"/>
                                    <p:ajax global="false"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Prefijo</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.telefonoAgregar.prefijo}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Número</label>
                                <p:inputText styleClass="form-control"  
                                             value="#{contact.telefonoAgregar.numero}"/>
                            </div>
                        </div>
                    </div>

                    <p:dataTable value="#{contact.adapterTipoNotificacionTelefono.data}"
                                 var="data"  rowKey="#{data.id}"
                                 selection="#{contact.listNotificacionTelefono}"
                                 id="data-list-tipo-notificacion-telefono"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 emptyMessage="No existen notificaciones"
                                 >

                        <p:column selectionMode="multiple"></p:column>

                        <p:column headerText="ID Tipo Notificación">
                            <h:outputText value="#{data.id}"/>
                        </p:column>

                        <p:column headerText="Tipo Notificación">
                            <h:outputText value="#{data.descripcion}"/>
                        </p:column>
                    </p:dataTable>

                </f:facet>

                <f:facet name="button">
                    <p:commandButton id="btnModal2"
                                     onclick="$('#modalAgregarTelefono').modal('hide')"
                                     actionListener="#{contact.agregarTelefono()}"
                                     class="btn btn-primary" 
                                     value="AGREGAR"
                                     update=":list-contact-form:form-data:data-list-telefonos 
                                       :message-form:message">
                    </p:commandButton>
                </f:facet>
            </sepsa:modal-panel-->

        </div>
    </div>
</ui:composition>
