<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Cliente</h5>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>ID:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{contratoDetalle.clienteFilter.idCliente}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>Razón Social:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{contratoDetalle.clienteFilter.razonSocial}"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label><b>RUC:</b></label>
                        <h:outputText styleClass="form-control" 
                                      value="#{contratoDetalle.clienteFilter.nroDocumento}"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>

    <h5 class="card-title">Servicios del Contrato</h5>
    <p:dataTable value="#{contratoDetalle.contratoFilter.servicios}"
                 var="servicio"
                 id="data-list-servicios"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Servicio">
            <h:outputText value="#{servicio.servicio}"/>
        </p:column>

        <p:column headerText="Producto">
            <h:outputText value="#{servicio.producto}"/>
        </p:column>


        <p:column headerText="Fecha Vto. Acuerdo">
            <h:outputText value="#{data.fechaVencimientoAcuerdo eq null ? '--':data.fechaVencimientoAcuerdo}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Monto Acuerdo">
            <h:outputText value="#{data.montoAcuerdo eq null ? '--':data.fechaVencimientoAcuerdo}">
                <f:convertNumber locale="es_PY"/>
            </h:outputText> 
        </p:column>

    </p:dataTable>

    <div class="row">
        <div class="form-group col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h:panelGroup>
                        <div class="d-inline-block">
                            <h5 class="card-title">Contrato <h:outputText value="#{contratoDetalle.id}"/>
                            </h5>
                        </div>

                        <div class="d-inline-block">
                            <div class="form-group col">

                                <h:panelGroup rendered="#{contratoDetalle.contratoFilter.estado eq 'Inactivo'}">
                                    <div class="form-group col">
                                        <div class="alert alert-danger" role="alert">
                                            <h:outputText value="#{contratoDetalle.contratoFilter.estado}"/>
                                        </div>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{contratoDetalle.contratoFilter.estado eq 'Activo'}">
                                    <div class="form-group col">
                                        <div class="alert alert-success" role="alert">
                                            <h:outputText value="#{contratoDetalle.contratoFilter.estado}"/>
                                        </div>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{contratoDetalle.contratoFilter.estado eq 'Pendiente'}">
                                    <div class="form-group col">
                                        <div class="alert alert-warning" role="alert">
                                            <h:outputText value="#{contratoDetalle.contratoFilter.estado}"/>
                                        </div>
                                    </div>
                                </h:panelGroup> 

                            </div>
                        </div>


                    </h:panelGroup>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">N° de Contrato</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.nroContrato}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Fecha Inicio</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.fechaInicio}" styleClass="form-control">
                                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                    </h:outputText>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Fecha Fin</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.fechaFin}" styleClass="form-control">
                                        <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
                                    </h:outputText>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Tipo Tarifa</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.tipoTarifa}"/>
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Firmado</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.firmado}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Documento Avalatorio</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.documentoAval}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Renovación Automática</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.renovacionAutomatica}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Débito Automático</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.debitoAutomatico}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-4">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Cobro Adelantado</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.cobroAdelantado}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="form-group row" >
                                <label class="col-sm-4 col-form-label">Observación</label>
                                <div class="col-sm-8">
                                    <h:outputText value="#{contratoDetalle.contratoFilter.observacion}" styleClass="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <h5 class="card-title">Descuentos</h5>
    <p:dataTable value="#{contratoDetalle.adapterDescuento.data}"
                 var="data"
                 id="data-list-descuento-contrato"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Desde">
            <h:outputText value="#{data.fechaDesde}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Hasta">
            <h:outputText value="#{data.fechaHasta}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Valor Descuento">
            <h:panelGroup rendered="#{data.porcentual eq 'No'}">
                <h:outputText value="#{data.valorDescuento}">
                    <f:convertNumber locale="es_PY"/>
                </h:outputText>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.porcentual eq 'Si'}">
                <h:outputText value="#{data.valorDescuento}"/>
                <h:outputText value="%"/>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Cadena">
            <h:outputText value="#{data.razonSocialCadena}"/>
        </p:column>

        <p:column headerText="Excedente">
            <h:outputText value="#{data.excedente}"/>
        </p:column>

        <p:column headerText="Estado">
            <h:panelGroup rendered="#{data.estado eq 'Inactivo'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Activo'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Inactivar">
            <div align="center">
                <p:commandButton icon="fas fa-ban" styleClass="btn btn-danger"
                                 disabled="#{data.estado eq 'Inactivo'}"
                                 actionListener="#{contratoDetalle.inactivarDescuento(data.id)}"
                                 update="list-contrato-detalle-form:form-data:data-list-descuento-contrato list-contrato-detalle-form:form-data:paginator:paginator-panel list-contrato-detalle-form:form-data:msgs"
                                 title="Inactivar"> 
                </p:commandButton>
            </div>

        </p:column>

    </p:dataTable>

    <!-- PAGINADOR DE DATOS -->
    <sepsa:paginator adapter="#{contratoDetalle.adapterDescuento}" 
                     searchData="#{contratoDetalle.descuentoFilter}"
                     id="paginator"
                     updatePage="list-contrato-detalle-form:form-data:data-list-descuento-contrato list-contrato-detalle-form:form-data:paginator:paginator-panel"/>
    <br/>

    <!-- PANEL PARA CREAR -->
    <ui:include src="descuento_create.xhtml"/>
</ui:composition>
