<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">


    <sepsa:create-panel id="create">

        <f:facet name="createBody" id="create-body">

            <h:panelGroup id="create-data">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Tipo Tarifa</label>

                            <p:selectOneMenu id="tipoTarifa" class="form-control" value="#{contrato.contratoCreate.idTipoTarifa}">
                                <f:selectItems value="#{contrato.adapterTipoTarifa.data}" var="tipoTar"
                                               itemLabel="#{tipoTar.descripcion}" itemValue="#{tipoTar.id}"></f:selectItems>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Concepto Factura</label>
                            <p:selectOneMenu id="conceptoFactura" class="form-control" value="#{contrato.contratoCreate.idConceptoFactura}">
                                <f:selectItems value="#{contrato.adapterConceptoFactura.data}" var="conceptoFac"
                                               itemLabel="#{conceptoFac.descripcion}" itemValue="#{conceptoFac.id}"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Producto</label>
                            <p:selectOneMenu id="producto" class="form-control" value="#{contrato.contratoCreate.idProducto}">
                                <f:selectItems value="#{contrato.adapterProductoContrato.data}" var="prod"
                                               itemLabel="#{prod.descripcion}" itemValue="#{prod.id}"/>
                                <p:ajax event="change" update="list-contrato-form:form-data:create:data-list-servicio-producto" listener="#{contrato.filterServicioProducto}" />
                            </p:selectOneMenu>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>N° Contrato</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{contrato.contratoCreate.nroContrato}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Fecha Inicio</label>
                            <p:calendar id="fechaInicioContrato" 
                                        value="#{contrato.contratoCreate.fechaInicio}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Fecha Fin</label>
                            <p:calendar id="fechaFinContrato" 
                                        value="#{contrato.contratoCreate.fechaFin}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Firmado</label>
                            <p:selectOneMenu value="#{contrato.contratoCreate.firmado}" id="firmado" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Documento Avalatorio</label>
                            <p:selectOneMenu value="#{contrato.contratoCreate.documentoAval}" id="docAval" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Renovación Automática</label>
                            <p:selectOneMenu value="#{contrato.contratoCreate.renovacionAutomatica}" id="renovacionAutomatica" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Débito Automático</label>
                            <p:selectOneMenu value="#{contrato.contratoCreate.debitoAutomatico}" id="debitoAutomatico" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Plazo Rescisión</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{contrato.contratoCreate.plazoRescision}"/>
                        </div>
                    </div>



                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Cobro Adelantado</label>
                            <p:selectOneMenu value="#{contrato.contratoCreate.cobroAdelantado}" id="cobroAdelantado" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label>Observación</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{contrato.contratoCreate.observacion}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label>Servicios del Producto</label>
                        <p:dataTable value="#{contrato.adapterServicio.data}"
                                     var="data"
                                     id="data-list-servicio-producto" rowKey="#{data.id}"
                                     selection="#{contrato.listSelectedServicios}"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No existen servicios asociados al producto seleccionado"
                                     >
                            <p:ajax event="rowSelectCheckbox" listener="#{contrato.onCheckServicio}" id="checkServicio" 
                                    update="list-contrato-form:form-data:create:data-list-servicios-crear"/>

                            <p:ajax event="rowUnselectCheckbox" listener="#{contrato.onUncheckServicio}" id="uncheckServicio"
                                    update="list-contrato-form:form-data:create:data-list-servicios-crear"/>

                            <p:column selectionMode="multiple"></p:column>

                            <p:column headerText="Servicio">
                                <h:outputText value="#{data.descripcion}"/>
                            </p:column>

                        </p:dataTable>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <label>Servicios Seleccionados</label>
                        <p:dataTable value="#{contrato.servicios}"
                                     var="data"
                                     id="data-list-servicios-crear"
                                     editable="true"
                                     paginator="false"
                                     tableStyle="table-layout: auto;" 
                                     tableStyleClass="table table-bordered table-hover"
                                     emptyMessage="No hay servicios seleccionados"
                                     >
                            <p:column headerText="Servicio">
                                <h:outputText value="#{data.servicio}"/>
                            </p:column>

                            <p:column headerText="Monto Minimo">
                                <p:selectOneMenu id="montoMinimo" class="form-control" value="#{contrato.idMontoMinimo}">
                                    <f:selectItem itemLabel="Ninguno" itemValue="#{null}"></f:selectItem>
                                    <f:selectItems value="#{contrato.getMontosMinimos(data.idServicio)}" var="monto"
                                                   itemLabel="#{monto.monto}" itemValue="#{monto.id}"/>
                                    <p:ajax event="change" listener="#{contrato.asignarMontoMinimo(data.idServicio)}" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column headerText="Fecha Vto. Acuerdo">
                                <p:calendar id="fechaVtoAcuerdo"
                                            value="#{contrato.fechaVtoAcuerdo}"
                                            locale="es" 
                                            pattern="dd/MM/yyyy"
                                            styleClass="p-cal calendarClass">
                                    <p:ajax event="dateSelect" listener="#{contrato.asignarFechaVto(data.idServicio)}" />
                                </p:calendar>
                            </p:column>

                            <p:column headerText="Monto Acuerdo">
                                <p:inputText styleClass="form-control"  
                                             value="#{contrato.monto}">
                                    <p:ajax event="blur" process="@form" listener="#{contrato.asignarMonto(data.idServicio)}" />
                                </p:inputText>

                            </p:column>

                        </p:dataTable>
                    </div>


                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="createBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{contrato.crearContrato()}"
                           update="@form list-contrato-form:form-data:msgs list-contrato-form:form-data:data-list-contrato">

                <i class="far fa-plus-square"></i>
                CREAR CONTRATO
            </p:commandLink>
        </f:facet>

    </sepsa:create-panel>

</ui:composition>