<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="msgs" showDetail="true"/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Datos Cliente</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label><b>ID:</b></label>
                        <h:inputText styleClass="form-control" 
                                     disabled="true"
                                     value="#{contrato.clienteFilter.idCliente}"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:panelGroup id="pnl-show" style="#{contrato.habilitarEdicionCliente eq false ?'display:inline':'display: none'}">
                        <div class="form-group">
                            <label><b>Razón Social:</b></label>
                            <h:inputText styleClass="form-control" 
                                         disabled="true"
                                         id="disabled-r-s"
                                         value="#{contrato.clienteFilter.razonSocial}"/>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="pnl-edit" style="#{contrato.habilitarEdicionCliente eq true ?'display:inline':'display: none'}">
                        <div class="form-group">
                            <label><b>Razón Social:</b></label>
                            <h:inputText id="razon-social"
                                         styleClass="form-control" 
                                         value="#{contrato.clienteFilter.razonSocial}"/>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:panelGroup id="pnl-edit3" style="#{contrato.habilitarEdicionCliente eq false ?'display:inline':'display: none'}">
                        <div class="form-group">
                            <label><b>RUC:</b></label>
                            <h:inputText styleClass="form-control" 
                                         disabled="true"
                                         value="#{contrato.clienteFilter.nroDocumento}"/>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="pnl-edit4" style="#{contrato.habilitarEdicionCliente eq true ?'display:inline':'display: none'}">
                        <div class="form-group">
                            <label><b>RUC:</b></label>
                            <h:inputText styleClass="form-control" 
                                         value="#{contrato.clienteFilter.nroDocumento}"/>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:panelGroup>
                        <label><b>Canal de Venta:</b></label><br/>
                        <p:autoComplete id="canalVentaContrato"
                                        cache="true" 
                                        disabled="#{contrato.habilitarEdicionCliente eq false}"
                                        cacheTimeout="30000" 
                                        completeMethod="#{contrato.completeQuery}"
                                        value="#{contrato.canalVenta}" 
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="canalDeVenta" 
                                        itemLabel="#{canalDeVenta.descripcion}" 
                                        itemValue="#{canalDeVenta}" 
                                        converter="canalVentaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{contrato.onItemSelectCanalVentaFilter}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:panelGroup>
                        <label><b>Naturaleza:</b></label>
                        <p:selectOneMenu id="naturaleza"
                                     value="#{contrato.clienteFilter.naturalezaCliente.id}"
                                     disabled="#{contrato.habilitarEdicionCliente eq false}"
                                     styleClass="form-control"
                                     >
                        <f:selectItem itemValue="1"
                                      itemLabel="Contribuyente">
                        </f:selectItem>
                        <f:selectItem itemValue="2"
                                      itemLabel="No Contribuyente">
                        </f:selectItem>
                        <f:selectItem itemValue="3"
                                      itemLabel="Extranjero">
                        </f:selectItem>
                        <f:selectItem itemValue="4"
                                      itemLabel="Entidad Pública">
                        </f:selectItem>
                         <p:ajax event="itemSelect" listener="#{contrato.onItemSelectNaturaleza}"/>
                    </p:selectOneMenu>
                    </h:panelGroup>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:panelGroup rendered="#{contrato.clienteFilter.naturalezaCliente.id eq '3'}">                 
                        <label><b>Pais (*)</b></label>
                        <p:selectOneMenu value="#{contrato.codigoPais}" styleClass="form-control" filter="true" filterMatchMode="contains">
                            <f:selectItems value="#{contrato.paisAdapter.data}" var="pais"
                                           itemLabel="#{pais.descripcion}" itemValue="#{pais.codigo}"/>
                        </p:selectOneMenu>
                     </h:panelGroup>
                </div>
                
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <h:panelGroup rendered="#{contrato.habilitarEdicionCliente eq false}">
                        <p:commandButton icon="far fa-edit" 
                                         styleClass="btn btn-warning"
                                         style="float:right;"
                                         id="habilitar-edit"
                                         action="#{contrato.habilitarEdicionClientePanel()}"
                                         title="Habilitar edición"
                                         update="@form"
                                         value="Habilitar"> 
                        </p:commandButton>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{contrato.habilitarEdicionCliente eq true}">
                        <p:commandButton icon="far fa-check-circle" 
                                         styleClass="btn btn-success"
                                         style="float:right;"
                                         id="edit-razon"
                                         title="Confirmar edición"
                                         action="#{contrato.editarContrato()}"
                                         update="@form"
                                         value="Confirmar"> 
                        </p:commandButton>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </div>
    <br/>


    <!--div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="card-title">Roles del Cliente</h5>
                    <p:dataTable value="#{contrato.adapterPersonaRol.data}"
                                 var="data"
                                 id="data-list-cliente-rol" 
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 >

                        <p:column headerText="Tiene">
                            <p:selectBooleanCheckbox value="#{data.tiene}" disabled="true" />
                        </p:column>

                        <p:column headerText="Rol">
                            <h:outputText value="#{data.rol}"/>
                        </p:column>

                        <p:column headerText="Estado">

                            <h:panelGroup rendered="#{data.estado eq 'Inactivo'}">
                                <div class="form-group col">
                                    <div class="alert alert-danger" role="alert">
                                        <h:outputText value="#{data.estado}"/>
                                    </div>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{data.estado eq 'Activo'}">
                                <div class="form-group col">
                                    <div class="alert alert-success" role="alert">
                                        <h:outputText value="#{data.estado}"/>
                                    </div>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                                <div class="form-group col">
                                    <div class="alert alert-warning" role="alert">
                                        <h:outputText value="#{data.estado}"/>
                                    </div>
                                </div>
                            </h:panelGroup>

                        </p:column>

                    </p:dataTable>
                </div>

                <div class="col-sm-4">
                    <h5 class="card-title">Negocios</h5>

                    <p:dataTable value="#{contrato.adaptadorClienteTipoNegocio.data}"
                                 var="data"
                                 id="data-list-cliente-tipo-negocio" 
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 >

                        <p:column headerText="Tiene">
                            <p:selectBooleanCheckbox value="#{data.tiene}" disabled="true" />
                        </p:column>

                        <p:column headerText="Tipo Negocio">
                            <h:outputText value="#{data.tipoNegocio}"/>
                        </p:column>

                        <p:column headerText="Principal">
                            <h:outputText value="#{data.principal}"/>
                        </p:column>

                    </p:dataTable>
                </div>
                <div class="col-sm-4">
                    <h5 class="card-title">Productos</h5>
                    <p:dataTable value="#{contrato.adapterClienteProducto.data}"
                                 var="data"
                                 id="data-list-cliente-producto"
                                 editable="true"
                                 paginator="false"
                                 tableStyle="table-layout: auto;" 
                                 tableStyleClass="table table-bordered table-hover"
                                 >
                        <p:column headerText="Tiene">
                            <p:selectBooleanCheckbox value="#{data.tiene}" disabled="true"/>
                        </p:column>

                        <p:column headerText="Producto">
                            <h:outputText value="#{data.producto}"/>
                        </p:column>

                        <p:column headerText="Facturable">
                            <h:outputText value="#{data.facturable}"/>
                        </p:column>

                    </p:dataTable>
                </div>
            </div>
        </div>
    </div-->

    <!-- PANEL PARA CREAR -->
    <!--ui:include src="contrato_create.xhtml"/-->

    <!--h5 class="card-title">Contratos</h5>
    <p:dataTable value="#{contrato.adapter.data}"
                 var="data"
                 id="data-list-contrato"
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 emptyMessage="No tiene contratos asociados"
                 >

        <p:column headerText="ID Contrato">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="N° Contrato">
            <h:outputText value="#{data.nroContrato}"/>
        </p:column>

        <p:column headerText="Fecha Inicio">
            <h:outputText value="#{data.fechaInicio}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Fecha Fin">
            <h:outputText value="#{data.fechaFin}">
                <f:convertDateTime pattern="dd/MM/yyyy" locale="es_PY"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Producto">
            <h:outputText value="#{data.producto}"/>
        </p:column>

        <p:column headerText="Estado">

            <h:panelGroup rendered="#{data.estado eq 'Inactivo'}">
                <div class="form-group col">
                    <div class="alert alert-danger" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Activo'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Pendiente'}">
                <div class="form-group col">
                    <div class="alert alert-warning" role="alert">
                        <h:outputText value="#{data.estado}"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Ver Contrato">
            <div align="center">
                <p:commandLink styleClass="btn btn-primary"
                               title="Ver más"
                               action="#{contrato.contratoDetalleURL(data.id)}"
                               >
                    <i class="fas fa-search"></i>
                </p:commandLink>
            </div>
        </p:column>

        <p:column headerText="Inactivar">
            <div align="center">
                <p:commandButton icon="fas fa-ban" styleClass="btn btn-danger"
                                 disabled="#{data.estado eq 'Inactivo'}"
                                 actionListener="#{contrato.inactivarContrato(data.id)}"
                                 update="list-contrato-form:form-data:data-list-contrato list-contrato-form:form-data:msgs"
                                 title="Inactivar"> 
                </p:commandButton>
            </div>

        </p:column>

    </p:dataTable-->

</ui:composition>
