<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">


    <sepsa:create-panel id="create" rendered="#{sessionData.user.perfiles.roleComAdm eq true or sessionData.user.perfiles.roleCom eq true}">

        <f:facet name="createBody" id="create-body">

            <h:panelGroup id="create-data">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Fecha Desde</label>
                            <p:calendar id="fechaDesdeDescuento" 
                                        value="#{contratoDetalle.descuentoCreate.fechaDesde}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Fecha Hasta</label>
                            <p:calendar id="fechaHastaDescuento" 
                                        value="#{contratoDetalle.descuentoCreate.fechaHasta}" 
                                        locale="es" 
                                        pattern="dd/MM/yyyy"
                                        styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Excedente</label>
                            <p:selectOneMenu value="#{contratoDetalle.descuentoCreate.excedente}" id="excedente" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Porcentual</label>
                            <p:selectOneMenu value="#{contratoDetalle.descuentoCreate.porcentual}" id="porcentual" class="form-control">
                                <f:selectItem itemLabel="Sí" itemValue="S"/>
                                <f:selectItem itemLabel="No" itemValue="N"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Motivo Descuento</label>

                            <p:selectOneMenu id="motivoDescuento" class="form-control" value="#{contratoDetalle.descuentoCreate.idMotivoDescuento}">
                                <f:selectItems value="#{contratoDetalle.adapterMotivoDescuento.data}" var="motivDesc"
                                               itemLabel="#{motivDesc.descripcion}" itemValue="#{motivDesc.id}"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Valor Descuento</label>
                            <p:inputText styleClass="form-control"  
                                         value="#{contratoDetalle.descuentoCreate.valorDescuento}"/>
                        </div>
                    </div>
                    
                    

                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="createBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{contratoDetalle.createDescuento()}"
                           update="@form list-contrato-detalle-form:form-data:msgs list-contrato-detalle-form:form-data:data-list-descuento-contrato list-contrato-detalle-form:form-data:paginator:paginator-panel">

                <i class="far fa-plus-square"></i>
                CREAR DESCUENTO
            </p:commandLink>
        </f:facet>

        <!--f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{client.clearFilter()}"
                           update="
                           :list-client-form:form-data:data-list-client :list-client-form:paginator:paginator-panel">
                
                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet-->

    </sepsa:create-panel>
    <sepsa:loading></sepsa:loading>

</ui:composition>