<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Cliente(*)</b></label>&nbsp;
                            <p:autoComplete id="cliente" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{estadoCuenta.completeQuery}"
                                            value="#{estadoCuenta.cliente}" 
                                            maxResults="10" 
                                            required="true"
                                            requiredMessage="Se debe seleccionar cliente"
                                            forceSelection="true"
                                            var="cli"
                                            itemLabel="#{cli.razonSocial}" 
                                            itemValue="#{cli}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{estadoCuenta.onItemSelectCliente}" />
                            </p:autoComplete>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label><b>Fecha Desde</b></label>
                                <br/>
                                <p:calendar
                                    value="#{estadoCuenta.parametro.fechaDesde}"
                                    required="true"
                                    requiredMessage="Se debe seleccionar Fecha desde"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label><b>Fecha Hasta</b></label>
                                <br/>
                                <p:calendar
                                    value="#{estadoCuenta.parametro.fechaHasta}"
                                    required="true"
                                    requiredMessage="Se debe seleccionar Fecha Hasta"
                                    locale="es" 
                                    pattern="dd/MM/yyyy"
                                    styleClass="p-cal calendarClass"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="text-right">
                                <p:commandButton value="DESCARGAR" 
                                                 ajax="false" 
                                                 styleClass="btn btn-primary"
                                                 onclick="PrimeFaces.monitorDownload(start, stop);" 
                                                 icon="fas fa-download">
                                    <p:fileDownload value="#{estadoCuenta.download()}"/>
                                </p:commandButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
