<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:form-panel id="dato-client" btnAtras="false">
        <f:facet name="controls">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos</h5>
                    <h:panelGroup id="personaPn1">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Tipo Persona</b></label>
                                <h:selectOneMenu value="#{misDatos.persona.idTipoPersona}" styleClass="form-control">
                                    <p:ajax update="client-form:form-data:dato-client:personaPn1"></p:ajax>
                                    <f:selectItem itemLabel="Fisica" itemValue="1"/>
                                    <f:selectItem itemLabel="Juridica" itemValue="2"/>
                                </h:selectOneMenu>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '1'}">
                                    <label><b>N° Documento (*)</b></label>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '2'}">
                                    <label><b>RUC (*)</b></label>
                                </h:panelGroup>
                                <p:inputText id="doc"
                                             styleClass="form-control" 
                                             value="#{misDatos.persona.nroDocumento}"
                                             ></p:inputText>
                            </div>
                            <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '1'}">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Nombre (*)</b></label>
                                    <p:inputText id="name"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.persona.nombre}"
                                                 ></p:inputText>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '1'}">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Apellido (*)</b></label>
                                    <p:inputText id="lastname"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.persona.apellido}"
                                                 ></p:inputText>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '2'}">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Razon Social (*)</b></label>
                                    <p:inputText id="raz"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.persona.razonSocial}"
                                                 ></p:inputText>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{misDatos.persona.idTipoPersona eq '2'}">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <label><b>Nombre Fantasía</b></label>
                                    <p:inputText id="nf"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.persona.nombreFantasia}"
                                                 ></p:inputText>
                                </div>
                            </h:panelGroup>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Telefono</b></label>
                                <div class="input-group mb-3">
                                    <p:inputText id="tel"  readonly="true"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.numerosTel}"
                                                 ></p:inputText>   
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalTelefono').modal('show')"
                                                         update=":client-form:form-data:modalTelefono"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label><b>Email</b></label>
                                <div class="input-group mb-3">
                                    <p:inputText id="email"  readonly="true"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.mails}"
                                                 ></p:inputText>
                                    <div class="input-group-append">
                                        <p:commandButton value="+" class="btn btn-outline-secondary" 
                                                         onclick="$('#modalEmail').modal('show')"
                                                         update=":client-form:form-data:modalEmail"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </div>
            <br></br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dirección</h5>
                    <hr></hr>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                            <label><b>Departamento (*)</b></label>
                            <p:selectOneMenu id="advanced" value="#{misDatos.idDepartamento}"
                                             panelStyle="width:180px" styleClass="form-control" effect="fade"
                                             filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                                <f:selectItems value="#{misDatos.adapterRefGeo.data}" var="ref"
                                               itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                                <p:ajax event="change" update="client-form:form-data:dato-client:advanced2 client-form:form-data:dato-client:advanced3" listener="#{misDatos.filterGeneral()}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Distrito (*)</b></label>
                            <p:selectOneMenu id="advanced2" value="#{misDatos.idDistrito}" 
                                             panelStyle="width:180px" styleClass="form-control" effect="fade"
                                             filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                                <f:selectItems value="#{misDatos.adapterRefGeoDistrito.data}" var="ref"
                                               itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>
                                <p:ajax event="change" update="client-form:form-data:dato-client:advanced3" listener="#{misDatos.filterCiudad()}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label><b>Ciudad (*)</b></label>
                            <p:selectOneMenu id="advanced3" value="#{misDatos.idCiudad}" 
                                             panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                             filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                                <f:selectItems value="#{misDatos.adapterRefGeoCiudad.data}" var="ref"
                                               itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <h:panelGroup id="coord">
                                <div class="form-group col-sm-12">
                                    <label><b>Direcci&oacute;n (*)</b></label>
                                    <p:inputText id="dir"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.direccion.direccion}"
                                                 ></p:inputText>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label><b>N° Direcci&oacute;n (*)</b></label>
                                    <p:inputText id="numD"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.direccion.numero}"
                                                 converterMessage="N° Dirección debe ser númerico">
                                        <f:convertNumber parent="#,###.###"/>
                                        <f:ajax></f:ajax></p:inputText>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label><b>Observaci&oacute;n</b></label>
                                    <p:inputText id="obs"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.direccion.observacion}"
                                                 ><f:ajax></f:ajax></p:inputText>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label><b>Latitud</b></label>
                                    <p:inputText id="lat" disabled="true"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.lat}"
                                                 widgetVar="lat"
                                                 ></p:inputText>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label><b>Longitud</b></label>
                                    <p:inputText id="lng" disabled="true"
                                                 styleClass="form-control" 
                                                 value="#{misDatos.lng}"
                                                 widgetVar="lng"
                                                 ></p:inputText>
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="col-sm-6">
                            <input id="address" class="form-control"/>
                            <p:gmap id="gmap" 
                                    center="#{misDatos.lat},#{misDatos.lng}" 
                                    zoom="15" 
                                    type="ROADMAP"  
                                    model="#{misDatos.draggableModel}" 
                                    widgetVar="geoMap" 
                                    style="width:98%;height:368px">

                                <p:ajax event="markerDrag" listener="#{misDatos.onMarkerDrag}" update="client-form:form-data:dato-client:dir client-form:form-data:dato-client:lat client-form:form-data:dato-client:lng" 
                                        oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                                <p:ajax event="geocode" listener="#{misDatos.onGeocode}" 
                                        update="client-form:form-data:dato-client:gmap client-form:form-data:dato-client:dir client-form:form-data:dato-client:lat client-form:form-data:dato-client:lng" oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                                <p:ajax event="reverseGeocode" listener="#{misDatos.onReverseGeocode}" 
                                        update="client-form:form-data:dato-client:gmap client-form:form-data:dato-client:dir client-form:form-data:dato-client:lat client-form:form-data:dato-client:lng" />
                            </p:gmap>
                        </div>
                    </div>
                </div>
            </div>
        </f:facet>

        <f:facet name="submitBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{misDatos.createClient()}"
                           update=":message-form:message
                           @form">
                <i class="fas fa-file-medical"></i>
                GUARDAR
            </p:commandLink>
        </f:facet>

        <!--f:facet name="clearBtn">
            <p:commandLink styleClass="btn btn-dark" 
                           action="#{client.clearForm()}"
                           update=":client-form:form-data:dato-client:personaPn1
                           :client-form:form-data:dato-client:dpto
                           :client-form:form-data:dato-client:distrito
                           :client-form:form-data:dato-client:ciudad
                           :client-form:form-data:dato-client:coord">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>

        </f:facet-->
    </sepsa:form-panel>

    <sepsa:loading></sepsa:loading>
    <sepsa:modal-panel id="modalTelefono" title="Telefono">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="tablas">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{misDatos.selectedTel}" styleClass="form-control">
                                            <f:selectItems value="#{misDatos.listTipoTelefono}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.codigo}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Prefijo</label>
                                        <p:inputText id="prefT"
                                                     styleClass="form-control" 
                                                     value="#{misDatos.prefijo}"
                                                     ></p:inputText>

                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Número</label>
                                        <p:inputText id="numT"
                                                     styleClass="form-control" 
                                                     value="#{misDatos.tel}"
                                                     ></p:inputText>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p:selectBooleanCheckbox value="#{misDatos.principal}">
                                        </p:selectBooleanCheckbox>&nbsp;<label>Principal</label>

                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <p:dataTable value="#{misDatos.listTelefono}" var="tel" 
                                     rows="3" reflow="true" 
                                     rendered="#{not empty misDatos.listTelefono}"
                                     id="tableTelf">
                            <p:column headerText="Tipo" >
                                <h:outputText value="#{tel.tipoTelefono.codigo}"/>
                            </p:column>
                            <p:column headerText="Prefijo" >
                                <h:outputText value="#{tel.prefijo}"/>
                            </p:column>
                            <p:column headerText="Número">
                                <h:outputText value="#{tel.numero}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton class="btn btn-danger" value="-"
                                                 actionListener="#{misDatos.delTelefono}"
                                                 update=":client-form:form-data:modalTelefono:tablas
                                                 :client-form:form-data:dato-client:tel">
                                    <f:param name="idTel" value ="#{tel.id}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsTel" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Agregar" 
                             actionListener="#{misDatos.addTelefono()}" 
                             update=":client-form:form-data:modalTelefono:tablas
                             :message-form:message
                             :client-form:form-data:dato-client:tel">
            </p:commandButton>
        </f:facet> 
    </sepsa:modal-panel>

    <sepsa:modal-panel id="modalEmail" title="Email">
        <f:facet name="content">
            <div class="col-sm-12">
                <div class="card">
                    <h:panelGroup id="datosEmail">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Tipo</label>
                                        <h:selectOneMenu value="#{misDatos.selectedEmail}" styleClass="form-control">
                                            <f:selectItems value="#{misDatos.listTipoEmail}" var="tt"
                                                           itemLabel="#{tt.id}" itemValue="#{tt.descripcion}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Email</label>
                                        <p:inputText id="email"
                                                     styleClass="form-control" 
                                                     value="#{misDatos.email}"
                                                     ></p:inputText>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p:selectBooleanCheckbox value="#{misDatos.principalEmail}"/>&nbsp;<label>Principal</label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <p:dataTable  value="#{misDatos.listEmails}" var="mail" reflow="true"
                                      rendered="#{not empty misDatos.listEmails}" rows="3">
                            <p:column headerText="Tipo" >
                                <h:outputText value="#{mail.codigoTipoEmail}"/>
                            </p:column>
                            <p:column headerText="Email" >
                                <h:outputText value="#{mail.email}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton class="btn btn-danger" value="-" 
                                                 action="#{misDatos.delMail}"
                                                 update=":client-form:form-data:modalEmail:datosEmail
                                                 :client-form:form-data:dato-client:email">
                                    <f:param name="idMail" value ="#{mail.id}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </div>
        </f:facet>
        <f:facet name="button">
            <p:growl id="msgsEmail" showDetail="true"/>
            <p:commandButton id="btnModal" class="btn btn-primary" value="Agregar" 
                             actionListener="#{misDatos.addMail()}" 
                             update=":client-form:form-data:modalEmail:datosEmail
                             :message-form:message
                             :client-form:form-data:dato-client:email">
            </p:commandButton>
        </f:facet>
    </sepsa:modal-panel>
</ui:composition>

