<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Crear Asociación</h5>
                    <div class="col-sm-4">
                        <label>Rol</label>

                        <p:selectOneMenu id="idRol" class="form-control" value="#{proveedorComprador.rolPersonaCreate.idRol}">
                            <f:selectItems value="#{proveedorComprador.adapterPersonaRol.data}" var="personaRol"
                                           itemLabel="#{proveedorComprador.getDescripcion(personaRol.idRol)}" itemValue="#{personaRol.idRol}"/>
                            <p:ajax global="false"/>
                        </p:selectOneMenu>

                        &nbsp;
                        <br/>
                        <p:commandLink styleClass="btn btn-primary"
                                       title="Siguiente"
                                       action="#{proveedorComprador.showPanel()}"
                                       update="list-proveedor-comprador-form:form-data:proveedores:panel-proveedores list-proveedor-comprador-form:form-data:compradores:panel-compradores"
                                       >
                            <i class="fa fa-forward"></i>
                            SIGUIENTE
                        </p:commandLink>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <sepsa:form-panel id="proveedores">
        <f:facet name="controls">
            <h:panelGroup id= "panel-proveedores" style="#{proveedorComprador.showProveedor eq true ?'display:inline':'display: none'}">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Datos</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Proveedores</label>
                                        <p:dataTable value="#{proveedorComprador.adapterPersonaRolCreate.data}"
                                                     var="data" rowKey="#{data.idPersona}"
                                                     selection="#{proveedorComprador.listSelectedPersonaProveedor}"
                                                     id="data-list-proveedor"
                                                     editable="true"
                                                     paginator="false"
                                                     >
                                            <p:column selectionMode="multiple"></p:column>

                                            <p:column headerText="Cliente">
                                                <h:outputText value="#{proveedorComprador.getPersona(data.idPersona)}"/>
                                            </p:column>

                                            <p:column headerText="Rol">
                                                <h:outputText value="#{proveedorComprador.getDescripcion(data.idRol)}"/>
                                            </p:column>

                                        </p:dataTable>
                                        <br/>
                                        <!-- PAGINADOR DE DATOS -->
                                        <sepsa:paginator adapter="#{proveedorComprador.adapterPersonaRolCreate}" 
                                                         searchData="#{proveedorComprador.personaShow}"
                                                         id="paginatorProveedores"
                                                         updatePage=":list-proveedor-comprador-form:form-data:proveedores:data-list-proveedor :list-proveedor-comprador-form:form-data:proveedores:paginatorProveedores:paginator-panel"/>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Productos</label>
                                        <p:dataTable value="#{proveedorComprador.adapterProductoProveedor.data}"
                                                     var="producto" rowKey="#{producto.id}"
                                                     selection="#{proveedorComprador.listSelectedProductoProveedor}"
                                                     id="data-list-producto-proveedor" 
                                                     editable="true"
                                                     paginator="false"
                                                     >
                                            <p:column selectionMode="multiple"></p:column>

                                            <p:column headerText="Descripción">
                                                <h:outputText value="#{producto.descripcion}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </div>
                                </div>
                                <br/>
                                <p:commandLink styleClass="btn btn-primary"
                                               title="Crear"
                                               action="#{proveedorComprador.createProveedorCompradorAsociacion()}"
                                               update="list-proveedor-comprador-form"
                                               >
                                    <i class="fas fa-file-medical"></i>
                                    CREAR


                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </f:facet>
    </sepsa:form-panel>





    <sepsa:form-panel id="compradores">
        <f:facet name="controls">
            <h:panelGroup  id= "panel-compradores" style="#{proveedorComprador.showComprador eq true ?'display:inline':'display: none'}">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Datos</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Compradores</label>
                                        <p:dataTable value="#{proveedorComprador.adapterPersonaRolCreate.data}"
                                                     var="data"
                                                     id="data-list-comprador" rowKey="#{data.idPersona}"
                                                     selection="#{proveedorComprador.listSelectedPersonaComprador}"
                                                     paginator="false"
                                                     >
                                            <p:column selectionMode="multiple"></p:column>

                                            <p:column headerText="Persona">
                                                <h:outputText value="#{proveedorComprador.getPersona(data.idPersona)}"/>
                                            </p:column>

                                            <p:column headerText="Rol">
                                                <h:outputText value="#{proveedorComprador.getDescripcion(data.idRol)}"/>
                                            </p:column>

                                        </p:dataTable>
                                        
                                        <br/>
                                        <!-- PAGINADOR DE DATOS -->
                                        <sepsa:paginator adapter="#{proveedorComprador.adapterPersonaRolCreate}" 
                                                         searchData="#{proveedorComprador.personaShow}"
                                                         id="paginatorCompradores"
                                                         updatePage=":list-proveedor-comprador-form:form-data:compradores:data-list-comprador :list-proveedor-comprador-form:form-data:compradores:paginatorCompradores:paginator-panel"/>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Productos</label>
                                        <p:dataTable value="#{proveedorComprador.adapterProductoComprador.data}"
                                                     var="data"
                                                     id="data-list-producto-comprador" rowKey="#{data.id}"
                                                     selection="#{proveedorComprador.listSelectedProductoComprador}"
                                                     paginator="false"
                                                     >
                                            <p:column selectionMode="multiple"> </p:column>

                                            <p:column headerText="Descripción">
                                                <h:outputText value="#{data.descripcion}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </div>

                                </div>
                                <br/>

                                <p:commandLink styleClass="btn btn-primary"
                                               title="Crear"
                                               action="#{proveedorComprador.createProveedorCompradorAsociacion()}"
                                               update="list-proveedor-comprador-form"
                                               >
                                    CREAR
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </div>


            </h:panelGroup>
        </f:facet>


    </sepsa:form-panel>
    <sepsa:loading></sepsa:loading>

</ui:composition>
