<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        <div class="card-footer text-right">
            <div class="col-xs-12">
                <div class="form-group-sm form-inline pull-right">
                    <h:selectOneMenu value="#{proveedorComprador.rows}" styleClass="form-control">
                        <f:selectItem itemLabel="10" itemValue="10"/>
                        <f:selectItem itemLabel="20" itemValue="20"/>
                        <f:selectItem itemLabel="50" itemValue="50"/>
                        <f:selectItem itemLabel="100" itemValue="100"/>
                        <f:selectItem itemLabel="1000" itemValue="1000"/>
                        <f:ajax event="change" render="list-proveedor-comprador-asociacion-form:form-data:data-list-proveedor-comprador-asociacion"
                                listener="#{proveedorComprador.loadProveedorComprador()}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p:dataTable value="#{proveedorComprador.adapterProveedorComprador.data}"
                 var="data"
                 id="data-list-proveedor-comprador-asociacion" 
                 editable="true"
                 paginator="false"
                 tableStyle="table-layout: auto;" 
                 tableStyleClass="table table-bordered table-hover"
                 >

        <p:column headerText="Proveedor">
            <h:outputText value="#{proveedorComprador.getPersona(data.idProveedor)}"/>
        </p:column>

        <p:column headerText="Comprador">
            <h:outputText value="#{proveedorComprador.getPersona(data.idComprador)}"/>
        </p:column>

        <p:column headerText="Producto">
            <h:outputText value="#{proveedorComprador.getDescripcionProducto(data.idProducto)}"/>
        </p:column>
        <p:column headerText="Estado">

            <h:panelGroup rendered="#{data.estado eq 'Activo'}">
                <div class="form-group col">
                    <div class="alert alert-success" role="alert">
                        <h:outputText value="Activo"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Inactivo'}">
                <div class="form-group col">
                    <div class="alert alert-dancer" role="alert">
                        <h:outputText value="Inactivo"/>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{data.estado eq 'Bloqueado'}">
                <div class="form-group col">
                    <div class="alert alert-dancer" role="alert">
                        <h:outputText value="Bloqueado"/>
                    </div>
                </div>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{data.estado eq 'No facturable'}">
                <div class="form-group col">
                    <div class="alert alert-dancer" role="alert">
                        <h:outputText value="No Facturable"/>
                    </div>
                </div>
            </h:panelGroup>
        </p:column>

        <p:column headerText="Eliminar">
            <div align="center">
                <p:commandLink styleClass="btn btn-danger"
                               title="Eliminar"
                               action="#{proveedorComprador.changeStatus(data)}"
                               update="list-proveedor-comprador-asociacion-form:form-data:data-list-proveedor-comprador-asociacion
                               list-proveedor-comprador-asociacion-form:form-data:msgs"
                               >
                    <i class="fa fa-times-circle"></i>
                    <p:confirm header="Confirmación" message="¿Está seguro de eliminar la asociación?"  />
                </p:commandLink>
            </div>
        </p:column>
    </p:dataTable>

    <p:confirmDialog showEffect="fade" hideEffect="fade" style="background-color: white;" global="true">
        <div align="center">
            <h:commandButton value="Si" type="button" styleClass="btn btn-primary ui-confirmdialog-yes"/>&nbsp;&nbsp;
            <h:commandButton value="No" type="button" styleClass="btn btn-danger ui-confirmdialog-no"/>
        </div>
    </p:confirmDialog>

</ui:composition>
