<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter">

        <f:facet name="filterBody" id="fiter-body">

            <h:panelGroup id="filter-data">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Proveedor</label>
                            <br/>
                            <!--p:inputText styleClass="form-control" 
                                         value="#{client.cliente.idCliente}"/-->
                            <p:autoComplete id="proveedor" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{client.completeQuery}"
                                            value="#{client.cliente}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="pro" 
                                            itemLabel="#{pro.razonSocial}" 
                                            itemValue="#{pro}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{proveedorComprador.onItemSelectProveedor}"/>
                            </p:autoComplete>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Comprador</label>
                            <br/>
                            <!--p:inputText styleClass="form-control"  
                                         value="#{client.cliente.razonSocial}"/-->
                            <p:autoComplete id="comprador" 
                                            cache="true" 
                                            cacheTimeout="30000" 
                                            completeMethod="#{client.completeQuery}"
                                            value="#{client.cliente}" 
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="com" 
                                            itemLabel="#{com.razonSocial}" 
                                            itemValue="#{com}" 
                                            converter="clientePojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{proveedorComprador.onItemSelectComprador}"/>
                            </p:autoComplete>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Producto</label>
                            <!--p:inputText styleClass="form-control" 
                                         value="#{client.cliente.nroDocumento}"/-->

                            <p:selectOneMenu id="producto" class="form-control" value="#{proveedorComprador.proveedorCompradorFilter.idProducto}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{proveedorComprador.adapterProductoFilter.data}" var="pro"
                                               itemLabel="#{pro.descripcion}" itemValue="#{pro.id}"/>
                                <p:ajax global="false"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{proveedorComprador.filter()}"
                           update="
                           :list-proveedor-comprador-asociacion-form:form-data:data-list-proveedor-comprador-asociacion :list-proveedor-comprador-asociacion-form:paginator:paginator-panel">

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{proveedorComprador.clearFilter()}"
                           update="
                           :list-proveedor-comprador-asociacion-form:form-data:data-list-proveedor-comprador-asociacion :list-proveedor-comprador-asociacion-form:paginator:paginator-panel">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>

</ui:composition>