<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <h:panelGroup id="datos-cliente">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del Cliente</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>ID: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{localDireccion.idCliente}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>Razon Social: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{localDireccion.clienteFilter.razonSocial}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label><b>RUC: </b></label>
                            <br/>
                            <h:outputText styleClass="form-control" value="#{localDireccion.clienteFilter.nroDocumento}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:panelGroup>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dirección</h5>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label><b>Departamento(*)</b></label>
                    <p:selectOneMenu id="advanced" value="#{localDireccion.idDepartamento}"
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Departamento" itemValue="#{null}"/>
                        <f:selectItems value="#{localDireccion.adapterRefGeo.data}" var="ref"
                                       itemLabel="#{ref.descripcion}" itemValue="#{ref.id}"/>

                        <p:ajax event="change" update="list-local-direccion-form:form-data:advanced2 list-local-direccion-form:form-data:advanced3" listener="#{localDireccion.filterGeneral()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Distrito(*)</b></label>
                    <p:selectOneMenu id="advanced2" value="#{localDireccion.idDistrito}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade"
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Distrito" itemValue="#{null}"/>
                        <f:selectItems value="#{localDireccion.adapterRefGeoDistrito.data}" var="ref1"
                                       itemLabel="#{ref1.descripcion}" itemValue="#{ref1.id}"/>
                        <p:ajax event="change" update="list-local-direccion-form:form-data:advanced3" listener="#{localDireccion.filterCiudad()}"/>
                    </p:selectOneMenu>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label><b>Ciudad(*)</b></label>
                    <p:selectOneMenu id="advanced3" value="#{localDireccion.idCiudad}" 
                                     panelStyle="width:180px" styleClass="form-control" effect="fade" 
                                     filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Seleccionar Ciudad" itemValue="#{null}"/>
                        <f:selectItems value="#{localDireccion.adapterRefGeoCiudad.data}" var="ref2"
                                       itemLabel="#{ref2.descripcion}" itemValue="#{ref2.id}"/>
                    </p:selectOneMenu>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <h:panelGroup id="coord">

                        <div class="form-group col-sm-12">
                            <label>Direccion(*)</label>
                            <p:inputText id="dir"
                                         styleClass="form-control" 
                                         value="#{localDireccion.direccionEdit.direccion}"
                                         ><f:ajax></f:ajax></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>N° Direccion(*)</label>
                            <p:inputText id="numD"
                                         styleClass="form-control" 
                                         value="#{localDireccion.direccionEdit.numero}"
                                         >
                                <f:convertNumber parent="#,###.###"/>
                                <f:ajax></f:ajax></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Observaci&oacute;n</label>
                            <p:inputText id="obs"
                                         styleClass="form-control" 
                                         value="#{localDireccion.direccionEdit.observacion}"
                                         ><f:ajax></f:ajax></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Latitud</label>
                            <p:inputText id="lat" disabled="true"
                                         styleClass="form-control" 
                                         value="#{localDireccion.lat}"
                                         widgetVar="lat"
                                         ></p:inputText>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Longitud</label>
                            <p:inputText id="lng" disabled="true"
                                         styleClass="form-control" 
                                         value="#{localDireccion.lng}"
                                         widgetVar="lng"
                                         ></p:inputText>
                        </div>
                    </h:panelGroup>
                </div>
                <div class="col-sm-6">
                    <input id="address" class="form-control"/>
                    <p:gmap id="gmap" center="#{localDireccion.lat},#{localDireccion.lng}" zoom="15" type="ROADMAP"  
                            model="#{localDireccion.draggableModel}" widgetVar="geoMap" style="width:98%;height:368px">

                        <p:ajax event="markerDrag" listener="#{localDireccion.onMarkerDrag}" update="list-local-direccion-form:form-data:coord" oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="geocode" listener="#{localDireccion.onGeocode}" update="list-local-direccion-form:form-data:gmap list-local-direccion-form:form-data:coord" oncomplete="PF('geoMap').reverseGeocode(PF('lat').jq.val(),PF('lng').jq.val());"/>
                        <p:ajax event="reverseGeocode" listener="#{localDireccion.onReverseGeocode}" update="list-local-direccion-form:form-data:gmap list-local-direccion-form:form-data:coord" />
                    </p:gmap>

                </div>

                <div class="col-sm-12" align="right">
                    <p:commandLink styleClass="btn btn-primary" 
                                   action="#{localDireccion.editDireccion()}"
                                   process="@this"
                                   update=":list-local-direccion-form:form-data:coord 
                                   :list-local-direccion-form:form-data:gmap 
                                   :message-form:message">
                        <i class="far fa-edit"></i>
                        EDITAR
                    </p:commandLink>
                </div> 
            </div>
        </div>

    </div>

</ui:composition>

