<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <div class="card">
        <div class="card-footer text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                         <h:commandLink class="btn btn-default" value="Descargar">
                             <i class="fa fa-file-excel-o" ></i>
                             <p:dataExporter type="xls" target="data-list-local" fileName="Reporte_lista_de_locales" />
                         </h:commandLink>
                     </div> -->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group row">
                        <label for="fil" class="col-sm-4 col-form-label">Filas</label>
                        <div class="col-sm-8">
                            <h:selectOneMenu value="#{localList.adapter.pageSize}" styleClass="form-control">
                                <f:selectItem itemLabel="10" itemValue="10"/>
                                <f:selectItem itemLabel="20" itemValue="20"/>
                                <f:selectItem itemLabel="50" itemValue="50"/>
                                <f:selectItem itemLabel="100" itemValue="100"/>
                                <f:selectItem itemLabel="1000" itemValue="1000"/>
                                <f:ajax event="change" render="local-list-form:form-data:data-list-local"
                                        listener="#{localList.filter()}"/>
                            </h:selectOneMenu>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <p:dataTable value="#{localList.adapter.data}"
                 var="data"
                 rowIndexVar="index"
                 id="data-list-local"
                 editable="true"
                 paginator="false"
                 emptyMessage="Lista vacia">

        <p:column headerText="ID">
            <h:outputText value="#{data.id}"/>
        </p:column>

        <p:column headerText="Descripción">
            <h:outputText value="#{data.descripcion}"/>
        </p:column>

        <p:column headerText="Activo">
            <div align="center">
                <h:panelGroup rendered="#{data.activo eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.activo eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>

        <p:column headerText="GLN">
            <h:outputText value="#{data.gln == null ? '--' : data.gln}"/>
        </p:column>

        <p:column headerText="ID Externo">
            <h:outputText value="#{data.idExterno == null ? '--' : data.idExterno}"/>
        </p:column>

        <p:column headerText="Externo">
            <div align="center">
                <h:panelGroup rendered="#{data.localExterno eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-primary" role="alert">
                            <h:outputText value="Si"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.localExterno eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-secondary" role="alert">
                            <h:outputText value="No"/>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </p:column>

        <p:column headerText="Observación">
            <h:outputText value="#{data.observacion == null ? '--' : data.observacion}"/>
        </p:column>

        <p:column headerText="Cliente">
            <h:outputText value="#{data.persona.nombre == null ? '--' : data.persona.nombre}"/>
        </p:column>

        <p:column headerText="Opciones">
            <div align="center">
                <p:commandLink styleClass="btn btn-info"
                               action="#{localList.editUrl(data.id)}">
                    <i class="fas fa-edit"></i>
                </p:commandLink>&nbsp;
                <p:commandLink styleClass="btn btn-primary"
                               action="#{localList.direccionURL(data.idPersona, data.idDireccion)}">
                    <i class="fas fa-map-marker-alt"></i>
                </p:commandLink>
                <!--h:commandLink styleClass="btn btn-primary"
                               title="Dirección"
                               action="/app/direccion/local-list-direccion"
                               >
                    <i class="fas fa-map-marker-alt"></i>
                    <f:param name="idCliente" value="#{data.idPersona}"/>
                    <f:param name="idDireccion" value="#{data.idDireccion}"/>
                    <f:param name="idLocal" value="#{data.id}"/>
                    <f:param name="faces-redirect" value="true"/>
                </h:commandLink-->
            </div>
        </p:column>
    </p:dataTable>
    <sepsa:loading></sepsa:loading>
</ui:composition>
