<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <sepsa:filter-panel id="filter" btnFilter="true">
        <f:facet name="filterBody">
            <h:panelGroup id="filter-data">
                <div class="row">
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Empresa</b></label>
                            <p:autoComplete cache="true" 
                                            rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                            cacheTimeout="30000" 
                                            completeMethod="#{loteListar.completeEmpresaQuery}"
                                            value="#{loteListar.empresaAutocomplete}"
                                            maxResults="10" 
                                            forceSelection="true"
                                            var="emp" 
                                            itemLabel="#{emp.descripcion}" 
                                            itemValue="#{emp}" 
                                            converter="empresaPojoConverter"
                                            size="25" 
                                            queryDelay="1000"
                                            dropdown="true">
                                <p:ajax event="itemSelect" listener="#{loteListar.onItemSelectEmpresa}"/>
                            </p:autoComplete>
                        </div>
                    </h:panelGroup>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Tipo Lote</b></label>
                            <p:selectOneMenu class="form-control" value="#{loteListar.loteFilter.idTipoLote}">
                                <f:selectItem itemLabel="Todos" itemValue=""/>
                                <f:selectItems value="#{loteListar.tipoLoteAdapter.data}" var="td"
                                               itemLabel="#{td.descripcion}" itemValue="#{td.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Fecha Inserción Desde</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{loteListar.loteFilter.fechaInsercionDesde}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label><b>Fecha Inserción Hasta</b></label>&nbsp;&nbsp;
                            <p:calendar 
                                value="#{loteListar.loteFilter.fechaInsercionHasta}"
                                locale="es" 
                                pattern="dd/MM/yyyy"
                                styleClass="p-cal calendarClass"/>
                        </div>
                    </div>

                </div>
            </h:panelGroup>
        </f:facet>

        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary" 
                           action="#{loteListar.filterLote()}"
                           update=":list-lote-form:form-data:data-list-lote
                           :list-lote-form:form-data:paginator:paginator-panel"
                           >

                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>

        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{loteListar.clear()}"
                           update="list-lote-form:form-data:data-list-lote
                           list-lote-form:form-data:paginator:paginator-panel
                           filter-data">

                <i class="fas fa-broom"></i>
                LIMPIAR  
            </p:commandLink>
        </f:facet>

    </sepsa:filter-panel>
</ui:composition>
