<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">

    <p:growl id="msgs" showDetail="true"/>
    <sepsa:loading></sepsa:loading>
    <h:panelGroup>

        <p:dataTable value="#{loteListar.adapterLote.data}"
                     var="data"
                     id="data-list-lote"
                     reflow="true"
                     editable="true"
                     paginator="false"
                     tableStyle="table-layout: auto;" 
                     tableStyleClass="table table-bordered table-hover"
                     emptyMessage="El cliente no posee ningún registro"
                     >
            <p:column headerText="ID">
                <h:outputText value="#{data.id}"/>
            </p:column>
            
            <p:column headerText="Tipo Lote">
                <h:outputText value="#{data.tipoLote}"/>
            </p:column>
            
            <p:column headerText="Empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}">
                <h:outputText value="#{data.empresa}"/>
            </p:column>

            <p:column headerText="Usuario">
                <h:outputText value="#{data.usuario}">
                </h:outputText>
            </p:column>

            <p:column headerText="Estado" style="width:120px">
                <h:panelGroup rendered="#{data.codigoEstado eq 'PENDIENTE'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Pendiente"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'PROCESADO'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Procesado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.codigoEstado eq 'EN_CURSO'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="En Curso"/>
                        </div>
                    </div>
                </h:panelGroup>
        </p:column>

            <p:column headerText="Fecha Inserción">
            <h:outputText id="fecha-insert" value="#{data.fechaInsercion eq null ? '--':data.fechaInsercion}">
                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
            </h:outputText>
            </p:column>
            
            <p:column headerText="Fecha Procesamiento">
            <h:outputText id="fecha-insert2" value="#{data.fechaProcesamiento eq null ? '--':data.fechaProcesamiento}">
                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY"/>
            </h:outputText>
            </p:column>
            
            <p:column headerText="Email">
                <h:outputText value="#{data.email}"/>
            </p:column>
            
            <p:column headerText="Nombre Archivo">
                <h:outputText value="#{data.nombreArchivo}"/>
            </p:column>
            
            <p:column headerText="Notificado">
                <h:panelGroup rendered="#{data.notificado eq 'N'}">
                    <div class="form-group col">
                        <div class="alert alert-warning" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Pendiente"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.notificado eq 'S'}">
                    <div class="form-group col">
                        <div class="alert alert-success" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Notificado"/>
                        </div>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{data.notificado eq 'E'}">
                    <div class="form-group col">
                        <div class="alert alert-danger" role="alert" align="center" style="width: 100%; padding-left:3px; position: relative; padding-right: 3px;">
                            <h:outputText value="Error"/>
                        </div>
                    </div>
                </h:panelGroup>
            </p:column>
            <p:column headerText="Resultado">
                <div align="center">
                    <p:commandButton id="download"
                                     styleClass="btn btn-primary"
                                     title="Descargar Resultado"
                                     process="@this"
                                     ajax="false"
                                     icon="fas fa-download"
                                     onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)"
                                     rendered="#{data.codigoEstado eq 'PROCESADO'}"
                                     >
                        <p:fileDownload value="#{loteListar.download(data)}" />
                    </p:commandButton>
                </div>
            </p:column>  
            <p:column headerText="Archivos de carga">
                <div align="center">
                    <p:commandButton id="downloadArchivo"
                                     title="Descargar Archivos"
                                     styleClass="btn btn-primary"
                                     ajax="false"
                                     onclick="PrimeFaces.monitorDownload(showStatus, hideStatus)"
                                     icon="fas fa-file">
                        <p:fileDownload value="#{loteListar.downloadArchivos(data)}" />
                    </p:commandButton>
                </div>
            </p:column>    
        </p:dataTable>        
        <br/>


        <!-- PAGINADOR DE DATOS -->
        <sepsa:paginator adapter="#{loteListar.adapterLote}" 
                         searchData="#{loteListar.loteFilter}"
                         id="paginator"
                         updatePage=":list-lote-form:form-data:data-list-lote :list-lote-form:form-data:paginator:paginator-panel"/>

    </h:panelGroup>

</ui:composition>
