<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sepsa="http://java.sun.com/jsf/composite/components">
    
    <sepsa:filter-panel id="filter">
        <f:facet name="filterBody" id="fiter-body">
            <h:panelGroup id="filter-panel">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Descripción</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{listarProcesos.procesoFilter.descripcion}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Código</b></label>
                        <p:inputText styleClass="form-control"
                                     value="#{listarProcesos.procesoFilter.codigo}">
                        </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label><b>Tipo De Proceso</b></label>
                            <p:selectOneMenu id="tipoProceso" class="form-control" value="#{listarProcesos.procesoFilter.idTipoProceso}">
                                <f:selectItem itemValue="#{null}" itemLabel="Todos" >
                                </f:selectItem>
                                <f:selectItems value="#{listarProcesos.tipoProcesoAdapter.data}" var="dato"
                                               itemLabel="#{dato.codigo}" itemValue="#{dato.id}"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <h:panelGroup id="empresa" rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}" 
                                  class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label><b>Empresa</b></label><br/>
                        <p:autoComplete cache="true"
                                        rendered="#{sessionData.user.codigoTipoEmpresa eq 'ADMIN'}"
                                        cacheTimeout="30000" 
                                        completeMethod="#{listarProcesos.completeEmpresaQuery}"
                                        value="#{listarProcesos.empresaAutocomplete}"
                                        maxResults="10" 
                                        forceSelection="true"
                                        var="emp" 
                                        itemLabel="#{emp.descripcion}" 
                                        itemValue="#{emp}" 
                                        converter="empresaPojoConverter"
                                        size="25" 
                                        queryDelay="1000"
                                        dropdown="true">
                            <p:ajax event="itemSelect" listener="#{listarProcesos.onItemSelectEmpresa}"/>
                        </p:autoComplete>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
        </f:facet>
        <br/>
        <f:facet name="filterBtn">
            <p:commandLink styleClass="btn btn-primary"
                           style="margin-right: 10px;"
                           action="#{listarProcesos.buscar()}"
                           update="list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-search"></i>
                BUSCAR
            </p:commandLink>
        </f:facet>
        <f:facet name="cleanBtn">
            <p:commandLink styleClass="btn btn-dark"
                           action="#{listarProcesos.limpiar()}"
                           update="list-form:filter:filter-panel
                           list-form:filter:empresa
                           list-form:form-data:data-list
                           list-form:paginator:paginator-panel">
                <i class="fas fa-broom"></i>
                LIMPIAR
            </p:commandLink>
        </f:facet>
        <br/>
    </sepsa:filter-panel>
</ui:composition>